body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 28px;
  line-height:1.4;
  background-color: #ebebee;
}

a {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

ul, ol, li {
  list-style: none outside none;
}

em, i {
  font-style: normal;
}

@fl: left;

@fr: right;

@color-ff: #fff;

@back-color: #fff;

@block: block;

@center: center;

.fl () {
  float: @fl;
}

.fr () {
  float: @fr;
}

.border-radius-als (@r) {
  -webkit-border-radius: @r;
  -moz-border-radius: @r;
  border-radius: @r;
}

.border-radius (@u: 0, @r: 0, @d: 0, @l: 0) {
  -webkit-border-radius: @u @r @d @l;
  -moz-border-radius: @u @r @d @l;
  border-radius: @u @r @d @l;
}

.border-radius-l-r(@l, @r) {
  -webkit-border-radius: @l @r 0 0;
  -moz-border-radius: @l @r 0 0;
  border-radius: @l @r 0 0;
}

.width (@w) {
  width: @w;
}

.height (@h) {
  height: @h;
}

.line-height (@lh) {
  line-height: @lh;
}

.padding (@t: 0, @r: 0, @b: 0, @l: 0) {
  padding: @t @r @b @l;
}

.padding-t (@t) {
  padding-top: @u;
}

.padding-r (@r) {
  padding-right: @r;
}

.padding-b (@b) {
  padding-bottom: @b;
}

.padding-l (@l) {
  padding-left: @l;
}

.padding-l-r (@l, @r) {
  padding-left: @l;
  padding-right: @r;
}

.padding-t-b (@t, @b) {
  padding-top: @t;
  padding-bottom: @b;
}

.padding-tb-lr(@tb, @lr) {
  padding: @tb @lr;
}

.margin (@t: 0, @r: 0, @b: 0, @l: 0) {
  margin: @t @r @b @l;
}

.margin-t (@t) {
  margin-top: @t;
}

.margin-r (@r) {
  margin-right: @r;
}

.margin-b (@b) {
  margin-bottom: @b;
}

.margin-l (@l) {
  margin-left: @l;
}

.margin-t-b (@t, @b) {
  margin-top: @t;
  margin-bottom: @b;
}

.margin-l-r (@l, @r) {
  margin-left: @l;
  margin-right: @r;
}

.back-color(@bc) {
  background-color: @bc;
}

.border (@w, @style, @color) {
  border: @w @style @color;
}

.border-t (@w, @style @color)
{
  border-top: @w @style @color
;
}

.border-b (@w, @style @color)
{
  border-bottom: @w @style @color
;
}

.border-t-b(@w, @style, @color-t, @color-b) {
  border-top: @w @style @color-t;
  border-bottom: @w @style @color-b;
}

.text-align (@p) {
  text-align: @p;
}

.position (@pos) {
  position: @pos;
}

.color(@color) {
  color: @color;
}

.voucher-list {
  .padding-l(30px);
  .back-color (#f9f9f9);

  & > div {
    .height(70px);
    .line-height(70px);
    .border-b (1px, solid, #e3e5ea);
    .padding-r(30px);

    .r-text {
      .fr();
    }
  }

  & > div:last-child {
    border-bottom: none;
  }
}

.my-voucher-title {
  .height(80px);
  .line-height(80px);
  .back-color(#fff);
  .padding-l-r(30px, 0);
  .border-t(1px, solid, #d8d8d8);
  .border-b(3px, solid, #ebebee);

  .title-text {
    .fl();
  }
}

.my-voucher-tab {
  .fr();

  & > div {
    .fl();
    .width(96px);
    .padding-l-r(16px, 16px);
    .text-align(center);
    background: url(../images/line-icon.png) no-repeat center right;

    &:last-child {
      background: none;
    }
  }

  .tab-text {

  }

  .select-li .tab-text {
    .display(block);
    .line-height(80px);
    .color(#fd4d4c);
    .border-b(4px, solid, #fd4d4c);
  }
}

.my-voucher-cont {
  .border-t(1px, solid, #d8d8d8);

  .empty-voucher {
    display: block;
    margin: 20px auto;
  }
}

.color-bg{
  background:url(../images/avail-ticket.png) no-repeat;
  background-size:100% 100%;
}

.my-voucher-cont-list {
  .position(relative);
  max-width: 658px;
  min-width: 318px;
  height:184px;
  margin: 20px auto;
  .border-radius-als(14px);
  overflow: hidden;

  .watermark {
    position: absolute;
    right: -15px;
    bottom: -15px;
  }

  .t-info {
    .height(96px);
    .color(#fff);
    .padding(20px, 20px, 0, 20px);
    .border-radius-l-r(14px, 14px);

    .title-info {
      .height(40px);
      .line-height(40px);
      .title-text {
        .fl();
        font-size:26px;
        font-weight: normal;
        max-width: 426px;
        text-overflow: ellipsis;
        height: 80px;
        overflow: hidden;
      }

      .money-text {
        .fr();
      }
    }

    .clear-info {
      .line-height(40px);
      font-size: 22px;
      .text {
        .fl();
      }

      .text-timer {
        position:absolute;
        top:100px;
        left:20px;
        font-size:18px;
        color:#c57400;
      }
    }

  }


  .b-info {
    .padding-l-r(20px, 20px);
    .color(#fff);
    font-size: 18px;

    .text{
      position:absolute;
      left:20px;
      bottom:3px;
      line-height:38px;
    }

    .btn-exchange {
      float: right;
      display:block;
      width:124px;
      height:0px;
      background:red;
    }
  }

}
.gray-bg{
  background:url(../images/unvail-ticket.png) no-repeat;
  background-size:100% 100%;
  .t-info{
    .clear-info {
      .text-timer {
        color:#999;
      }
    }
  }
}