{% extends '../../../lib/templates/wap_base.swig.html' %}

{% block title %}信息披露{% endblock %}

{% block head_javascripts %}
<script type='text/javascript' src="javascripts/echarts.common.min.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>
{% endblock %}

{% block content %}
<div id="header"></div>
<div class="informationDisclosureMobile">
    <div class="informationTabMobile">
        <div class="tab tabFirst active">平台运营信息</div>
        <div class="tab tabMiddle ">企业信息</div>
        <div class="tab tabLast ">专项报告</div>
    </div>
    <div class="infoConPartMobile infoConPartMobile1 show">
        <div class="infoMobileContent">
            <div class="infoConMobile">
                <div class="infoCell">
                    <div class="text">累计投资总额</div>
                    <div class="cash"><span></span>元</div>
                </div>
                <div class="infoCell">
                    <div class="text">累计赚取收益</div>
                    <div class="cash"><span></span>元</div>
                </div>
                <div class="infoCell">
                    <div class="text">累计回款本金</div>
                    <div class="cash"><span></span>元</div>
                </div>
                <div class="infoCell">
                    <div class="text">累计出借笔数</div>
                    <div class="cash"><span></span>笔</div>
                </div>
            </div>
            <div class="infoPromoteMobile"></div>
        </div>
        <div class="pieMobileContent">
            <div class="pieTopMobile">
                <div id="main1" style="width: 720px;height:630px;"></div>
                <div class="userNumber hidden">借款用户<span>390,468,280人</span></div>
                <div class="userCash hidden">人均累计融资金额<span>86.6万</span></div>
            </div>
            <div class="pieBottomMobile">
                <div id="main2" style="width: 720px;height:630px;"></div>
                <div class="userNumber hidden">借款用户<span></span></div>
                <div class="userCash hidden">人均累计融资金额<span></span></div>
            </div>
        </div>
        <div class="enduranceMobile">
            <div class="enduranceTitle">平台风险承受能力</div>
            <div class="enduranceContent">
                <div class="enduranceCell">
                    <div class="text">待偿金额<br>（元） </div>
                    <div class="cash"><span></span></div>
                </div>
                <div class="enduranceCell">
                    <div class="text">逾期金额<br>（元） </div>
                    <div class="cash"><span></span></div>
                </div>
                <div class="enduranceCell">
                    <div class="text">金额逾期率<br>（%） </div>
                    <div class="cash"><span></span></div>
                </div>
                <div class="enduranceCell">
                    <div class="text">项目逾期率<br>（%） </div>
                    <div class="cash"><span></span></div>
                </div>
                <div class="enduranceCell">
                    <div class="text">出借人本息损失<br>（元） </div>
                    <div class="cash"><span></span></div>
                </div>
            </div>
        </div>
        <div class="reportMobile">
            <div class="reportTitle">经审计的年度报表</div>
            <a class="reportBtn" href="https://static.9888.cn/pdf/2016report.pdf" target="_blank">立即查看</a>
        </div>
        <div class="infoTimeMobile">数据截止至 <span></span></div>
    </div>
    <div class="infoConPartMobile infoConPartMobile2">
        <div class="main">
            <div class="basicInfo clearfix">
                <div class="basicInfoTitle">
                    公司基本信息
                </div>
                <div class="basicInfoContent clearfix">
                    <div class="basicInfoContentL fl">
                        <p class="site">公司全称及简称：</p>
                        <p class="line">注册资本：</p>
                        <p class="line">实缴资本：</p>
                        <p class="adress">注册地址：</p>
                        <p class="line">成立时间：</p>
                        <p class="line">法定代表人：</p>
                        <p class="range">经营范围：</p>
                        <p class="line">联系方式：</p>
                        <p class="site">经营场所：</p>
                        <p class="case">资金存管情况：</p>
                        <p class="site siteLook">注册协议模板：</p>
                    </div>
                    <div class="basicInfoContentR fl">
                        <p class="rsite">北京凤凰信用管理有限公司（简称：凤凰信用）</p>
                        <p class="rline">5000万</p>
                        <p class="rline">5000万</p>
                        <p class="radress">北京市朝阳区朝阳门外大街18号11层1105内008号</p>
                        <p class="rline">2012年5月23日</p>
                        <p class="rline">康忠芹</p>
                        <p class="rrange">
                            企业信用征集、评定；企业信用管理咨询；经济贸易咨询；投资咨询；企业管理咨询；市场调查；投资管理；资产管理；软件开发；设计、制作、代理、发布广告；技术咨询；技术服务；委托生产电子产品、照相器材、计算机、软件及辅助设备；航空机票票务代理；经营电信业务；互联网信息服务；销售化工产品。（企业依法自主选择经营项目，开展经营活动；销售化工产品、“经营电信业务”；“互联网信息服务”以及依法须经批准的项目，经相关部门批准后依批准的内容开展经营活动；不得从事本市产业政策禁止和限制类项目的经营活动。）</p>
                        <p class="rline">400-0322-988</p>
                        <p class="rsite">北京朝阳区朝阳门外大街18号11层1105内008号</p>
                        <p class="rcase">
                            工场微金与徽商银行建立合作，由徽商银行提供资金存管服务，为平台、出借人、借款人和其他业务参与方分别开立独立的银行电子账户，每个主体各自资金存管在各自名下的账户中。可最大限度的保障出借人、借款人的资金安全。</p>
                        <p class="rline"><a class="rlineLook" target="_blank">点击查看</a></p>
                    </div>
                </div>
            </div>
            <!--网站平台信息模块-->
            <div class="webInfo">
                <div class="webInfoTitle">
                    公司网站平台信息
                </div>
                <div class="webInfoContent">
                    <div class="webInfoContentL fl">
                        <p class="line">网站或互联网平台地址：</p>
                        <p class="line">平台名称：</p>
                        <p class="line">平台上线运营时间：</p>
                        <p class="line">ICP备案号：</p>
                        <p class="line">经营性ICP许可证号：</p>
                        <p class="line">移动APP应用：</p>
                        <p class="line">全国公安网监备案：</p>
                    </div>
                    <div class="webInfoContentR fl">
                        <p class="rline">www.gongchangp2p.com</p>
                        <p class="rline">工场微金</p>
                        <p class="rline">2012年7月1日</p>
                        <p class="rline">京ICP备14029254号-1</p>
                        <p class="rline">京ICP证140736号</p>
                        <p class="rline">金融工场</p>
                        <p class="rline">京公网安备11010502031615号</p>
                    </div>
                </div>
            </div>

            <!--组织架构模块-->
            <div class="organization">
                <div class="orgTitle">
                    组织架构
                </div>
                <img src="images/org.jpg" alt="" class="orgPic">
            </div>
            <!--股东名单模块-->
            <div class="shareholder">
                <div class="shareTitle">
                    实际控股人与持股5%以上的股东名单
                </div>
                <div class="shareContent">
                    <img src="images/logo3.png" alt="" class="sharePic">
                    <p class="des">中國信貸科技控股有限公司</p>
                </div>
            </div>

            <!--董监高模块-->
            <div class="chairman">
                <div class="chairmanRight">
                    <div class="chairmanRightTitle">
                        董监高人员名单
                    </div>
                    <div class="chairmanRightTitleContent">
                        <div class="person clearfix first">
                            <div class="personUp">
                                <img src="images/men1.png" alt="" class="personPic fl">
                                <div class="personRTitle fl">
                                    <span class="name">康忠芹·法人</span>
                                    <span class="position">中國信貸科技副总裁</span>
                                </div>
                            </div>
                            <div class="personDown ">
                                <div class="personRContent">
                                    <p class="line">
                                        康忠芹女士，毕业于东北财经大学投资经济专业。先后在大开信托投资、亿达企业集团负责人力资源及投融资项目前期开发工作，资深人力资源管理师，具备独特的管理风格。自2011年涉足普惠金融以来，带领团队从应用ipc技术发展小微金融起步，发挥团队互联网科技优势，先后参与创建了网信集团、众筹网、一房集团、网信征信，在中國信貸科技的互联网金融发展历程中做出突出业绩。</p>
                                </div>
                            </div>
                        </div>


                        <div class="person clearfix first">
                            <div class="personUp">
                                <img src="images/men2.png" alt="" class="personPic fl">
                                <div class="personRTitle fl">
                                    <span class="name">魏薇·董事长</span>
                                </div>
                            </div>
                            <div class="personDown ">
                                <div class="personRContent second">
                                    <p class="line">
                                        毕业于中国人民大学。曾任北京联合开元投资担保有限公司副总经理和联合创业集团有限公司营运管理中心总经理。经过10余年金融行业管理岗位的历练，拥有丰富的P2P行业实战经验和全面而独到的行业视角及理念，是小微金融的领军人物，普惠金融体系的积极践行者。</p>
                                </div>
                            </div>
                        </div>

                        <div class="person clearfix first">
                            <div class="personUp">
                                <img src="images/men3.png" alt="" class="personPic fl">
                                <div class="personRTitle fl">
                                    <span class="name">崔海晨·监事</span>
                                    <span class="position"></span>
                                </div>
                            </div>
                            <div class="personDown ">
                                <div class="personRContent third">
                                    <p class="line">北京邮电大学软件工程硕士。2013年3月加入先锋金融集团，历任金融工场首席执行官、金融工场CTO、网信金融集团开发副总监等职。曾任宜信公司互联网技术总监，安博教育集团 （NYSE: AMBO）研发总监。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="person clearfix first">
                            <div class="personUp">
                                <img src="images/men6.png" alt="" class="personPic fl">
                                <div class="personRTitle fl">
                                    <span class="name">朱海涛</span>
                                    <span class="position">COO 首席运营官</span>
                                </div>
                            </div>
                            <div class="personDown ">
                                <div class="personRContent third">
                                    <p class="line">毕业于天津大学，曾就职于IBM(NYSE:IBM)研发中心，并在Tom网，安博教育（NYSE:AMBO)有多年技术研发管理工作经验。对互联网技术与互联网产品相结合，实践经验丰富，同时对互联网技术与互联网运营高度紧密结合的相关工作有着丰富经验。现任金融工场COO，负责金融工场整体网站的运营管理。</p>
                                </div>
                            </div>
                        </div>
                        <div class="person clearfix first">
                            <div class="personUp">
                                <img src="images/men4.png" alt="" class="personPic fl">
                                <div class="personRTitle fl">
                                    <span class="name">邹晓东</span>
                                    <span class="position">首席风险官</span>
                                </div>
                            </div>
                            <div class="personDown ">
                                <div class="personRContent third">
                                    <p class="line">毕业于东北财经大学，中国注册会计师（CICPA），英国特许公认会计师
                                        （FCCA），曾任普华永道中天会计师事务所审计经理，联合创业担保集团辽宁公司首席风险官，拥有多年的风险管理经验。</p>
                                </div>
                            </div>
                        </div>

                        <div class="person clearfix first">
                            <div class="personUp">
                                <img src="images/men7.png" alt="" class="personPic fl">
                                <div class="personRTitle fl">
                                    <span class="name">张锐</span>
                                    <span class="position">CTO 首席技术官</span>
                                </div>
                            </div>
                            <div class="personDown ">
                                <div class="personRContent third">
                                    <p class="line">
                                        毕业于青岛理工大学，曾任人人(NYSE:RENN)高级技术经理，先锋支付技术基础架构负责人，去哪儿(NYSE: QUNR)国际机票(供应链)技术负责人。现任金融工场CTO，负责金融工场互联网产品与技术团队。对大规模复杂在线交易系统架构设计及互联网产品技术团队管理具备丰富经验。</p>
                                </div>
                            </div>
                        </div>
                        <div class="person clearfix first">
                            <div class="personUp">
                                <img src="images/men8.png" alt="" class="personPic fl">
                                <div class="personRTitle fl">
                                    <span class="name">段炼</span>
                                    <span class="position">CMO 首席营销官</span>
                                </div>
                            </div>
                            <div class="personDown ">
                                <div class="personRContent third">
                                    <p class="line">
                                        毕业于北京交通大学，曾就职于中信国安集团和北京锐安科技有限公司，从事综合管理及互联网信息安全监管等相关工作，具备多年跨行业跨职能相关管理工作经验。对于营销管理、成本管理、团队管理具有丰富的工作经验，现任金融工场CMO,负责金融工场用户运营营销工作。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="infoConPartMobile infoConPartMobile3 ">
        <div class="auditReportMobile">
            <div class="audioMobile">
                <span>会计师事务所审计报告 </span>
                <div class="auditBtn auditBtn1">立即查看</div>
            </div>
            <div class="audioMobile">
                <span>信息系统安全等级测评报告  </span>
                <div class="auditBtn auditBtn3">立即查看</div>
            </div>
            <div class="audioMobile">
                <span>律师事务所合规报告  </span>
                <div class="auditBtn auditBtn2">立即查看</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}