
@fontSize40:40px;
@fontSize36:36px;
@fontSize32:32px;
@fontSize30:30px;
@fontSize28:28px;
@fontSize26:26px;
@fontSize24:24px;
@fontSize22:22px;


@color3:#333;
@color5:#555;
@color5c:#5c6993;
@color6:#6280a8;
@color66:#666;
@color8:#8494c7;
@color83:#8398db;
@color9:#97a7db;
@color99:#999;
@colorFf:#ffe65d;
@colorFcb:#fcbe6f;
@colorFc8:#fc8381;
@colorRed:#fd4d4c;
@colorWhite:#fff;
@colorF9:#f9f9f9;
@colorD8:#d8d8d8;
