.theme-product-item{
  display:block;
  width:179px;
  height:212px;
  padding-top:20px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
  text-align:center;
}
.theme-product-item:nth-child(4){
  border-right:none;
}
.theme-product-item:nth-child(8){
  border-right:none;
}
.theme-1{
  height:585px;
  padding-top:20px;
  margin-top:10px;
  background:#fff;
  border-top:1px solid #e1e1e1;
}
.activity-theme{
  display:block;
  width:680px;
  margin:0 20px;
}
.activity-theme img{
  width:680px;
  height:123px;
}
.theme-product-wrap{
  overflow:hidden;
}
.theme-product-item-name{
  display:block;
  font-size:24px;
  color:#333;
  margin-top:18px;
}
.theme-1-img{
  width:140px;
  height:140px;
}