.theme-3, .theme-4{
  margin-top:15px;
  background:#fff;
}
.theme3-top-product-list, .theme3-btm-product-list{
  overflow:hidden;
}
.theme3-top-product-item{
  display:block;
  width:319px;
  height:186px;
  padding-top:23px;
  padding-left:20px;
  padding-right:20px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
}
.theme3-top-product-info{
  float:left;
  max-width: 160px;
}
.theme3-product-img{
  width:150px;
  height:150px;
  float:right;
}
.theme3-top-product-title{
  font-size:26px;
  display:block;
  margin-top:20px;
  margin-bottom:10px;
}
.theme3-top-product-title-color1{
  color:#d54016;
  border-color:#d54016;
}
.theme3-top-product-title-color2{
  color:#e64267;
  border-color:#e64267;
}
.theme3-top-product-title-color3{
  color:#0072c1;
  border-color:#0072c1;
}
.theme3-top-product-title-color4{
  color:#7cbb17;
  border-color:#7cbb17;
}
.theme3-top-product-title-color5{
  color:#7e3d2e;
  border-color:#7e3d2e;
}
.theme3-top-product-title-color6{
  color:#d5233a;
  border-color:#d5233a;
}
.theme3-top-product-price{
  font-size:20px;
  color:#333;
  display:block;
  white-space: nowrap;
}
.product-purchase{
  display:block;
  width:107px;
  height:40px;
  line-height:40px;
  padding-left:13px;
  border-radius:20px;
  border-width:1px;
  border-style:solid;
  font-size:20px;
  margin-top:10px;
  position:relative;
}
.product-purchase .tri{
  display:block;
  width:0;
  height:0;
  border-width:6px 0 6px 6px;
  border-style:solid;
  position:absolute;
  top:14px;
  right:14px;
}
.tri-color1{
  border-color:transparent transparent transparent #d54016;
}
.tri-color2{
  border-color:transparent transparent transparent #e64267;
}
.tri-color3{
  border-color:transparent transparent transparent #0072c1;
}
.tri-color4{
  border-color:transparent transparent transparent #7cbb17;
}
.tri-color5{
  border-color:transparent transparent transparent #7e3d2e;
}
.tri-color6{
  border-color:transparent transparent transparent #d5233a;
}
.theme3-btm-product-item{
  width:179px;
  padding-top:12px;
  height:216px;
  float:left;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  text-align:center;
}
.theme3-btm-product-img, .theme4-top-product-img{
  width:150px;
  height:150px;
}
.theme3-btm-product-title{
  font-size:24px;
  color:#333;
  display:block;
  margin-top:10px;
}
