.theme-2{
  margin-top:15px;
  height:auto;
  background:#fff;
}
.product-img2{
  width:150px;
  height:150px;
  margin-left:24px;
}
.theme2-product-img{
  width:140px;
  height:140px;
  float:left;
}
.theme2-top-product-list{
  overflow:hidden;
}
.theme2-top-product-item{
  display:block;
  float:left;
  width:219px;
  height:244px;
  padding-left:20px;
  padding-top:30px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
}

.theme2-top-product-title{
  display:block;
  font-size:26px;
}
.theme2-top-product-title-color1{
  color:#e64267;
}
.theme2-top-product-title-color2{
  color:#d54016;
}
.theme2-top-product-title-color3{
  color:#67ad14;
}
.theme2-top-product-price{
  display:block;
  font-size:20px;
  color:#333;
  margin:10px 0 15px;
}
.theme2-btm-product-list{
  font-size:0;
  overflow:hidden;
}
.theme2-btm-product-item{
  display:block;
  width:339px;
  height:155px;
  padding-top:15px;
  padding-left:20px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
}
.theme2-btm-product-wrap{
  overflow:hidden;
}
.theme2-btm-product-info{
  float:left;
  margin-left:10px;
}
.theme2-btm-product-title{
  display:block;
  font-size:24px;
  color:#333;
  margin-top:42px;
  margin-bottom:10px;
}
.theme2-btm-product-price{
  font-size:20px;
  color:#999;
}
