.theme4-top-product-list{
  overflow:hidden;
}
.theme4-top-product-item{
  display:block;
  width:164px;
  padding-left:15px;
  padding-top:23px;
  padding-bottom:23px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
}
.theme4-top-product-title{
  display:block;
  font-size:26px;
  color:#ff597e;
}
.theme4-top-product-title-color1{
  color:#d54016;
}
.theme4-top-product-title-color2{
  color:#ff597e;
}
.theme4-top-product-title-color3{
  color:#0072c1;
}
.theme4-top-product-title-color4{
  color:#7cbb17;
}
.theme4-top-line-color1{
  background:#d54016;
}
.theme4-top-line-color2{
  background:#ff597e;
}
.theme4-top-line-color3{
  background:#0072c1;
}
.theme4-top-line-color4{
  background:#7cbb17;
}
.theme4-top-product-price{
  display:block;
  font-size:20px;
  color:#333;
  padding-top:10px;
  padding-bottom:10px;
  white-space: nowrap;
}
.horizon-line{
  display:block;
  width:43px;
  height:2px;
  margin-bottom:10px;
}
.theme4-btm-product-list{
  overflow:hidden;
}
.theme4-btm-left-product-item{
  width:179px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
}
.theme4-btm-product-img{
  width:150px;
  height:150px;
}
.theme4-btm-product-title{
  font-size:26px;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
}
.theme4-btm-product-title-color1{
  color:#7e3d2e;
}
.theme4-btm-product-title-color2{
  color:#d5233a;
}
.theme4-btm-product-title-color3{
  color:#e94124;
}
.tri-btm-color1{
  border-color:transparent transparent transparent #7e3d2e;
}
.tri-btm-color2{
  border-color:transparent transparent transparent #d5233a;
}
.tri-btm-color3{
  border-color:transparent transparent transparent #e94124;
}

.theme4-btm-product-price{
  font-size:20px;
  color:#333;
  display:block;
  margin-bottom:10px;
}
.theme4-btm-left-product-wrap{
  display:block;
  padding-top:14px;
  padding-left:18px;
  height:342px;
}
.theme4-btm-middle-top-product-wrap{
  overflow:hidden;
}
.theme4-btm-img-wrap{
  width:150px;
  float:left;
  margin-left:15px;
}
.theme4-btm-middle-top-info{
  float:left;
  margin-left:20px;
  margin-top:15px;
}
.theme4-btm-middle-product-wrap{
  float:left;
}
.theme4-btm-middle-product-item{
  display:block;
  width:359px;
  padding-top:14px;
  padding-bottom:14px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
}
.theme4-btm-right-product-wrap{
  float:left;
}
.theme4-btm-right-product-wrap a{
  display:block;
  text-align:center;
  width:179px;
  height:164px;
  padding-top:14px;
  text-align:center;
  border-bottom:1px solid #eee;
  border-right:1px solid #eee;
}