.hot-product-list {
    margin-top: 10px;
    height: 602px;
    padding-top: 26px;
    background: #fff;
    .hot-title {
        min-height: 30px;
        position: relative;

        .link-more {
            display: block;
            float: right;
            margin-right: 30px;
            font-size: 24px;
            color: #6faaf2;
        }
        .hot-title-img {
          width: 300px;
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -150px;
        }
    }
}

.hot-product-item {
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    width: 164px;
    height: 240px;
    padding-top: 20px;
    text-align: center;
}

.hot-product-item-bg-1 {
    background: url(../images/hot-bg-1.png) no-repeat;
}

.hot-product-item-bg-2 {
    background: url(../images/hot-bg-2.png) no-repeat;
}

.hot-product-item-bg-3 {
    background: url(../images/hot-bg-3.png) no-repeat;
}

.hot-product-item-bg-4 {
    background: url(../images/hot-bg-4.png) no-repeat;
}

.hot-product-item-bg-5 {
    background: url(../images/hot-bg-5.png) no-repeat;
}

.hot-product-item-bg-6 {
    background: url(../images/hot-bg-6.png) no-repeat;
}

.hot-product-item-bg-7 {
    background: url(../images/hot-bg-7.png) no-repeat;
}

.hot-product-item-bg-8 {
    background: url(../images/hot-bg-8.png) no-repeat;
}

.hot-img {
    width: 128px;
    height: 128px;
}

.hot-product-wrap {
    padding-left: 20px;
}

.hot-img-title {
    display: block;
    font-size: 24px;
    margin-top: 16px;
}

.hot-img-title-color-1 {
    color: #869610;
}

.hot-img-title-color-2 {
    color: #a15017;
}

.hot-img-title-color-3 {
    color: #5e5f61;
}

.hot-img-title-color-4 {
    color: #ff5e5e;
}

.hot-img-title-color-5 {
    color: #0073bd;
}

.hot-img-title-color-6 {
    color: #ff5e5e;
}

.hot-img-title-color-7 {
    color: #18acc8;
}

.hot-img-title-color-8 {
    color: #0073bd;
}

.hot-img-price {
    display: block;
    font-size: 20px;
    color: #666;
    margin-top: 10px;
    white-space: nowrap;
}
