{% extends '../../../lib/templates/main_base.swig.html' %}

{% block title %}徽商专题 - 金融工场{% endblock %}

{% block content %}
<div id="header"></div>
<div class="part1">
    <div class="part1-info">金融工场成立四年来，坚持合规自律开展平台业务。10月19日，金融工场以“银行直连”模式接入徽商银行资金存管，符合监管相关规定。不仅是平台合规自律的有力举措，也是平台各方面综合实力的体现。</div>
</div>
<div class="part2">
    <div class="huishang-title">
        <span>“直接存管”模式</span>
        <span class="btm-subtitle">引领行业合规先锋</span>
    </div>
    <div class="huishang-intro">接入徽商银行存管后，借款人、投资人将在徽商银行开设独立的银行电子账户，交易资金均根据用户指令通过该电子银行账户划拨，从源头上杜绝资金池以及资金占用风险的发生。徽商银行独立电子账户在借款人、平台、投资人之间建立安全屏障，实现投资者资金和平台自有资金的完全隔离。</div>
    <img src="images/part2.png"/>
    <a href="" class="checkOrig"></a>
</div>
<div class="part3"></div>
<div class="part4">
    <div class="huishang-title item-space">金融工场合规五步走</div>
    <div class="item item1 item-get"><img src="images/get.png"/></div>
    <div class="item item2 item-get"><img src="images/get.png"/></div>
    <div class="item item3 item-get"><img src="images/get.png"/></div>
    <div class="item item4 item-adjust"><img src="images/adjust.png"/></div>
    <div class="item item5 item-adjust"><img src="images/prepare.png"/></div>
    <a href="" class="part4-btn open-account">还未开户，立即开户</a>
    <a href="" class="part4-btn more">了解更多</a>
</div>
{% endblock %}