.input-field-container {
  margin-top: 24px;
  padding-left: 24px;
  background-color: #fff;
}

.input-field {
  position: relative;
  width: 100%;
  height: 88px;
  overflow: hidden;
  line-height: 88px;
  padding-right: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e5ea;
}

.input-field:last-child {
  border: none;
}

.input-field-name {
  float: left;
  color: #333;
  font-size: 30px;
}

.input-field-value {
  float: right;
  height: 88px;
  line-height: 88px;
  border: none;
  outline: none;
  font-size: 28px;
  text-align: right;
}

.date-mask {
  height: 88px;
  line-height: 88px;
  padding-right: 39px;
  background: url('../images/select/expand.png') #fff no-repeat right;
  font-size: 28px;
  text-align: right;
}
