.customer-info-container {
  margin-bottom: 141px;
}

.customer-info-grp {
  margin-top: 21px;
  padding-bottom: 30px;
  background-color: #fff;
}

.info-label {
  height: 90px;
  line-height: 90px;
  padding-left: 24px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 32px;
}

.info-item {
  box-sizing: border-box;
  display: table;
  width: calc(100% - 24px);
  height: 90px;
  margin-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #e3e5ea;
}

.info-item-type {
  float: left;
  height: 90px;
  line-height: 90px;
  color: #666;
  font-size: 30px;
}

.info-item-input {
  float: right;
  width: 510px;
  height: 90px;
  line-height: 90px;
  background-color: #fff;
  border: none;
  outline: none;
  color: #666;
  font-size: 30px;
  text-align: right;
}

.upload-img-item {
  padding: 36px 24px 0;
}

.img-upload-label {
  color: #666;
  font-size: 30px;
}

.img-upload-tip {
  color: #999;
  margin-bottom: 18px;
  font-size: 22px;
}

.upload-img-container {
  display: table;
  width: 100%;
}

.upload-img-left {
  display: table;
  float: left;
  width: 316px;
  height: 198px;
  border-radius: 12px;
  background: url('../images/customer-info/img-placeholder.png') #fff no-repeat center;
}

.upload-img-right {
  display: table;
  float: right;
  width: 316px;
  height: 198px;
  border-radius: 12px;
  background: url('../images/customer-info/img-placeholder.png') #fff no-repeat center;
}

.upload-img-display {
  width: 100%;
  height: 100%;
}

.upload-img-tip {
  display: table-cell;
  color: #666;
  vertical-align: middle;
  text-align: center;
  font-size: 22px;
}

.same-person-check {
  position: relative;
  padding-left: 39px;
  margin: 24px 0 0 24px;
  color: #666;
  font-size: 28px;
}

.fake-check-icon {
  position: absolute;
  top: 4px;
  left: 0;
  box-sizing: border-box;
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}

.checked {
  border: none;
  background: url('../images/policy-detail/check.png') #4aa1f9 no-repeat center;
}

.next-btn-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 45px 5px #f0f0f0;
}

.next-btn {
  margin: 22px 30px;
  height: 78px;
  background-color: #fd4d4c;
  color: #fff;
  font-size: 32px;
  line-height: 83px;
  text-align: center;
  border-radius: 5px;
}
