.order-Payment{
    background: #ebebee;
}
.payment-panel{
    height: 304px;
    border-top:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
    width: 100%;
    background: #fff;
    margin-top: 20px;
}
.payment-panel-text{
    font-size: 26px;
    color: #555;
    text-align: center;
    margin-top: 96px;
}
.payment-panel-money{
    font-size: 80px;
    color: #fd4d4c;
    text-align: center;
}
.payment-way-choose{
    /*height: 102px;
    width: 98%;*/
    color: #536f95;
    border-top:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
    font-size: 28px;
    padding: 50px 0 20px 0;
    padding-left: 30px;
}
.payment-wap-alipay{
    display: flex;
    padding: 30px 0;
    align-items: center;
    background: #fff;
}
.alipay{
    margin-left: 10px;
    width: 500px;
    margin-right: 10px;
}
.alipay-img{
    margin-left: 30px;
}
.alipay-title{
    font-size: 32px;
    color: #333;
}
.alipay-explain{
    font-size: 24px;
    color: #999;
}
.checked-btn{
    height: 36px;
    width: 36px;
}
.payment-btn{
    margin: 0 30px;
    height: 74px;
    border-radius: 4px;
    background: #fd4d4c;
    line-height: 74px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin-top: 32px;
}