// main style
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h3, p {
  margin: 0 auto;
  font-weight: normal;
}

html {
  height: 100%; // for image background-position
  min-height: 1140 / 40rem; // give background img more space not to collapse with text
}

body {
  height: 100%;
  background: #4a86e8 url("../images/bg.png") no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  font-family: "PingFangSC";
  text-align: center;
}

.follow-wx-wrap {
  position: absolute;
  top: 120 / 40rem;
  width: 100%;

  .success-info {

    text-shadow: 0 / 40rem 2 / 40rem 2 / 40rem rgba(74, 134, 232, 0.31);

    h3 {
      margin-bottom: 15 / 40rem;
      color: rgb(255, 205, 117);
      font-size: 54 / 40rem;
    }
    p {
      color: rgb(255, 255, 255);
      font-size: 36 / 40rem;
    }
  }

  .download-link-wrap {
    position: relative;
    top: -120 / 40rem;
    color: rgb(60, 121, 220);
    font-size: 28 / 40rem;

    .gift-container {
      img {
        width: 18rem;
      }
    }

    .download-btns {
      div {
        width: 530 / 40rem;
        height: 74 / 40rem;
        margin: 36 / 40rem auto;
        border-radius: 8 / 40rem;
        background-color: #fff;
        line-height: 74 / 40rem;
        border: 0;

        img {
          margin-right: 12 / 40rem;
        }
      }

      #ios {
        img {
          width: 0.9rem;
          vertical-align: text-bottom;
        }
      }
      #android {
        img {
          height: 1.2rem;
          vertical-align: middle;
        }
      }
    }
  }
}
