{% extends '../../../lib/templates/wap_base.swig.html' %}

{% block title %}工场微金用户服务协议{% endblock %}

{% block content %}

<div id="header"></div>

<div class="content">

    重要提示：<br/><br/>
    工场微金依据本协议的规定为您提供服务，本协议在您和工场微金之间具有合同上的法律效力。工场微金在此特别提醒您认真阅读、充分理解本协议各条款，特别是其中所涉及的免除或限制工场微金责任的条款、排除或限制您权利的条款等。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权使用工场微金于本协议下所提供的服务。您一经注册或使用工场微金服务即视为对本协议全部条款已充分理解并完全接受。
    <br/><br/><p style="width: 100%;text-align: center">工场微金用户服务协议</p>
    <br/><br/>欢迎阅读工场微金用户服务协议（以下简称“本协议”），北京凤凰信用管理有限公司作为工场微金平台（网址：www.gongchangp2p.com）（以下简称“平台”或“本平台”）的运营方依据本协议为您提供服务。
    <br/><br/>特别提醒：您成为平台用户前，必须阅读、同意并接受本协议中所含的所有条款和条件，包括以下明示载明的及因被提及而纳入的文件、条款和条件。
    <br/><br/>您申请注册为平台用户，表明您已经充分阅读、理解并无任何附加条件地接受了本协议中含有的所有条款和条件，包括本协议及其所援引的其他文件的条款内容及其法律含义。
    <br/><br/>一、用户资格
    <br/><br/>1.1 本平台的服务仅向法律规定的能够签订有法律约束力文件的个人、企业及其他组织提供并由其使用。
    <br/><br/>1.2 尽管有前述的规定，但本平台的服务不向以下用户提供：
    <br/><br/>（1）未满18周岁的自然人；
    <br/><br/>（2）没有非保本类金融产品投资经历或不熟悉互联网的投资人；
    <br/><br/>（3）被本平台中止或终止提供服务的用户。
    <br/><br/>1.3 若您不符合本协议规定的用户资格，请您切勿使用本平台的服务。
    <br/><br/>二、用户账户管理
    <br/><br/>2.1您在平台的注册账户仅限本人使用，不得出借或转让。请妥善保管用户名、密码等账户信息，因其泄露或被盗用所产生的任何损失，都由您自行承担。
    <br/><br/>2.2凡以您的注册账户登录实施的一切行为均视为您本人的行为，所产生的法律后果由您承担。您如发现存在账户被盗用或其他非法使用的情形，应立即以有效方式通知平台；同时，您理解平台对上述情形采取行动需要合理期限，在此之前，平台对非平台采取的任何非法使用行为所导致的损失不承担任何责任。
    <br/><br/>2.3发生下列情形之一的，平台有权基于独立判断，不经通知而单方暂停、中断或终止向您提供相关服务，且并不对因此产生的损失承担责任：
    <br/><br/>（1）平台认为您提供的个人资料不具有真实性、有效性或完整性，包括但不限于盗用他人证件信息注册及认证信息不匹配等；
    <br/><br/>（2）平台认为存在异常交易或交易可能涉嫌洗钱、套现、传销、恐怖活动等违法行为时；
    <br/><br/>（3）平台发现您使用非法或不正当的技术手段进行危害交易安全或影响公平交易的行为，包括但不限于篡改交易数据、窃取客户信息、窃取交易数据、通过平台攻击其他用户等；
    <br/><br/>（4）平台认为您的账户存在被盗用、冒用或其他风险时；
    <br/><br/>（5）平台认为您已经违反本协议中规定的相关规则或契约精神；
    <br/><br/>（6）平台为保障交易安全和公平而需要采取措施的其他情形。
    <br/><br/>2.4当签署本用户服务协议后，您即成为本平台用户，您同意并授权可将您的用户名、密码等注册信息、交易历史记录及其他信息同步更新到与本平台合作的门户网站、APP客户端或与本平台合作的各类应用上。注册成功后，您有权使用您在工场微金的用户名及密码登陆与本平台合作的门户网站、APP客户端或与本平台合作的各类应用。
    <br/><br/>三、服务和费用
    <br/><br/>3.1 服务
    <br/><br/>3.1.1 本平台所提供服务的宗旨：为所有有需求借款或出借且合法的企业及个人提供借款或出借的网络借贷信息中介服务。
    <br/><br/>3.1.2 借贷双方自行确认发布的信息，本网站对于信息情况不承担任何责任；对于本平台未参与的合同，双方发生纠纷的，与本平台无关，本平台不予以负责或赔偿任何损失。
    <br/><br/>3.1.3 对于本平台展示或推荐的具体交易项目，应与客户另行签订相关服务协议。一切权利与义务以相关服务协议为准，与本服务协议条款不发生任何关系。
    <br/><br/>3.1.4 在不违反适用法律的强制性规定的前提下，本平台向您提供的服务有可能会发生变更。
    <br/><br/>3.2 费用
    <br/><br/>3.2.1 除通过工场微金在线签署的电子合同另有约定外，您注册为工场微金网站用户并使用本平台所提供的服务是免费的。
    <br/><br/>3.2.2 尽管有前款约定，但平台保留在法律规定范围内按照运营战略自行发布收费标准与收费方式调整通知的权利。通知发布后，如您继续使用平台服务，视为您对该等通知内容予以认可并接受。
    <br/><br/>3.3 其他
    <br/><br/>3.3.1 您使用本平台所提供服务过程中的其他支出，包括但不限于网络使用费、通信费、资料快递费等，由您自行承担。
    <br/><br/>3.3.2 您因使用本平台所提供服务完成的交易而取得的收入，应当由您按照所适用法律规定承担相应的税费。
    <br/><br/>四、您的资料
    <br/><br/>4.1您的资料包括：您在注册或登录过程中、在任何公共信息区域（包括留言栏或反馈区）通过任何电邮形式或手机短信向平台或其他用户提供的任何资料。您对您的资料负全责，平台仅作为您在网上公布您资料的渠道。
    <br/><br/>4.2您应根据平台的要求提供真实、有效及完整的资料。资料不得具有欺诈性、虚假、不准确或具误导性；不得侵犯任何第三方著作权、专利权、商标权、商业秘密或其他专有权利或发表权或隐私权；不得违反任何适用的法律或法规；不得侮辱或者诽谤他人，不得有侵害他人合法权益的内容；不得有淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的内容；不得包含可能破坏、改变、删除、秘密截取、未经授权而接触或征用任何系统、数据或个人资料的任何病毒；不得带有特洛依木马、蠕虫、定时炸弹、删除蝇、 复活节彩蛋、间谍软件或其他破坏电脑的程序。
    <br/><br/>4.3为使平台能够有权使用您向平台提交的资料，您同意向平台授予非独占、永久、不可撤销、免使用费、 可分许可（通过多层许可的方式）的权利。平台将根据隐私条款使用您的资料。
    <br/><br/>4.4您有义务维持并更新您的资料，确保其为真实、有效及完整。若您提供任何错误、虚假、过期或不完整的资料，或者平台依其独立判断怀疑资料为错误、虚假、过期或不完整的，平台有权拒绝为您提供部分或全部功能服务并采取相应的处理措施。在此情况下，平台不承担任何责任，并且您同意负担因此所产生的直接或间接损失。
    <br/><br/>4.5如因您未及时更新基本资料，导致平台服务无法提供或提供时发生任何错误，平台亦不承担任何责任，所有后果应由您自行承担。
    <br/><br/> 4.6除本协议以外，您应同时遵守平台不时发布及更新的全部规则，包括但不限于公告及风险提示等。
    <br/><br/>五、进入和干扰
    <br/><br/>5.1 未经本平台明示或者书面准许，您不能为了任何目的使用任何机器人、蜘蛛软件、刷屏软件或其他自动方式进入网站。
    <br/><br/>5.2 此外，您同意您将不会：
    <br/><br/>(1) 进行任何对本平台内部结构造成或可能造成（按本平台自行酌情确定）不合理或不合比例的重大负荷的行为；
    <br/><br/>(2) 未经本平台和适当第三方（如适用）事先明示书面准许，对网站的任何内容（除您的资料以外）制作拷贝、进行复制、修改、制作衍生作品、分发或公开展示；
    <br/><br/>(3) 干扰或试图干扰网站的正常工作或网站上进行的任何活动；
    <br/><br/>六、欺诈
    <br/><br/>您在使用平台服务的过程中不得从事欺诈行为。若平台有合理理由怀疑您参与了与平台有关的欺诈活动时，平台可单方酌情决定采取中止或终止您的账户等处理措施，并不对因此给您造成的损失承担任何责任。
    <br/><br/>七、违约
    <br/><br/>在不限制其它救济的前提下，如发生以下情形，平台可能向您发出警告、中止或终止您用户资格并拒绝向您提供服务：
    <br/><br/>7.1您违反本协议或纳入本协议的文件；
    <br/><br/>7.2平台无法核验您向平台提供的资料或信息；
    <br/><br/>7.3您的行为可能对平台其他用户、平台合作方或平台造成损失或法律责任。
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
    <br/><br/>四、您的资料
</div>

{% endblock %}
