{% extends '../../../lib/templates/main_base.swig.html' %}

{% block head_javascripts %}
<script>
    var TEXT = [
        {
            group_title: '新手上路',
            group_items: [{
                topic_title: '注册登录',
                icon: 'user',
                topic_items: [{
                    q: '注册需要您提供哪些相关材料？',
                    a: '提供个人常用手机号，短信验证码提交通过后，设置用户名、密码即可注册。'
                }, {
                    q: '身份认证可以修改吗？',
                    a: '一个账号只可身份认证一次，一旦认证成功将无法修改。'
                }, {
                    q: '身份认证总是失败，该如何解决？',
                    a: '请检查身份证号和真实姓名是否匹配，输入是否正确。如输入正确但无法认证成功，请拨打客服电话 <a href="tel:400-0322-988" >400-0322-988</a> ，客服人员会审核您的身份信息后协助您完成身份认证操作。'
                }]
            }, {
                topic_title: '身份认证流程',
                icon: 'approve',
                topic_items: [{
                    q: '身份认证需要您提供哪些相关材料？',
                    a: '需提供您的有效身份证号，及真实姓名。提交后系统会进行核实，核实无误即可认证成功。'
                }, {
                    q: '身份认证可以修改吗？',
                    a: '一个账号只可身份认证一次，一旦认证成功将无法修改。'
                }, {
                    q: '身份认证总是失败，该如何解决？',
                    a: '请检查身份证号和真实姓名是否匹配，输入是否正确。如输入正确但无法认证成功，请拨打客服电话<a href="tel:400-0322-988" >400-0322-988</a>，客服人员会审核您的身份信息后协助您完成身份认证操作。'
                }]
            }, {
                topic_title: '绑定银行卡',
                icon: 'bind',
                topic_items: [{
                    q: '银行卡绑定过程需要提供哪些信息？',
                    a: '需要提供身份认证人的有效银行卡信息，包括行别、开户行网点名称、银行卡号。'
                }, {
                    q: '绑定银行卡失败，该如何解决？',
                    a: '目前合作第三方支付平台为易宝支付，只支持储蓄卡绑定，暂不支持信用卡绑定。如储蓄卡号，行别，开户姓名均正确但无法绑定成功，请拨打客服电话<a href="tel:400-0322-988">400-0322-988</a>，客服人员会协助您完成绑定操作。'
                }, {
                    q: '可以修改绑定银行卡吗？',
                    a: '目前只支持绑定一张银行卡，绑定成功后不可修改，如需更改绑定请拨打客服电话<a href="tel:400-0322-988">400-0322-988</a>，客服人员会协助您完成更换绑定操作。'
                }, {
                    q: '可以修改开户行名称吗？',
                    a: '如因开户行名称错误造成提现失败，可到“个人中心”-“安全中心”-“绑定银行卡”下进行开户行名称修改。'
                }]
            }, {
                topic_title: '还款方式及收益率计算',
                icon: 'interest',
                topic_items: [{
                    q: '（按天）一次性还本付息',
                    a: '按项目实际天数计算利息，项目到期日一次性将投资的本金和利息总额偿还给投资客户。'
                }, {
                    q: '收益如何计算？',
                    a: '项目总期限T天，项目年化收益率R，客户投资本金M：<br/> 到期回款本金：M；<br/> 到期回款利息：M*R*T/360'
                }, {
                    q: '案例：',
                    a: '某“易赚盈”项目期限30天，预期年化收益率12%，客户投资本金1,000,000元，那么：<br/> 到期回款本金=1,000,000元；<br/> 到期回款利息=1,000,000*12%*30/360=10000元；<br/> （注：具体情况按照每个项目的详细信息进行具体分析，最终解释权归金融工场所有。） '
                }, {
                    q: '按月付息到期还本',
                    a: '项目期间每月偿还一次利息，到期日一次性偿还本金和最后一期利息。'
                }, {
                    q: '收益如何计算？',
                    a: '项目总期限T个月，项目年化收益率R，客户投资本金M：<br/> 到期回款本金：M；<br/> 每月（末）回款利息：M*R/12 元； '
                }, {
                    q: '案例：',
                    a: '某“利随享”项目期限12个月，预期年化收益率14%，客户投资本金=1,000,000元，那么：<br/> 到期回款本金：1,000,000元；<br/> 每月回款利息：1,000,000*14%/12=11666.67元；<br/> （注：具体情况按照每个项目的详细信息进行具体分析，最终解释权归金融工场所有。） '
                }]
            }]
        }, {
            group_title: '我要投资',
            group_items: [{
                topic_title: '投资流程',
                icon: 'invest',
                topic_items: [{
                    q: '投资前需要做哪些必要操作？',
                    a: '投资前应完成以下操作内容：<br/> 1.注册账号并登录<br/> 2.进行实名认证<br/> 3.绑定银行卡<br/> 4.充值 '
                }, {
                    q: '投资金额是否有限制？',
                    a: '1.单笔投资金额不得低于标的限制的最低起投额<br/> 2.单笔投资金额不得大于标的剩余的可投金额<br/> 3.单笔投资导致标的所剩余的可投金额低于起投额时，不可投资，请尽量输入可直接满标的金额作为最后一笔投资。 '
                }, {
                    q: '投资时会有附加费用产生吗？',
                    a: '投资人在金融工场完成的每一笔投资，平台都不会收取任何附加费用。'
                }, {
                    q: '投资完后该如何查看我的回款状态？',
                    a: '请到“个人中心”-“我的投资”中查看投资记录以及回款计划。'
                }]
            }, {
                topic_title: '债权转让',
                icon: 'transfer',
                topic_items: [{
                    q: '什么是债权转让？',
                    a: '线上投资者由于流动性需求，对其已在我平台投资的项目发起债权转让申请，通过线上签订电子合同将原债权全部或部分转让给第三方。转让成功后，转让方获得扣减手续费后的本金和持有期利息，有效提高了我司项目的灵活性和高流动性。'
                }, {
                    q: '如何债权转让？',
                    a: '首先从平台账户“我的投资”列表中选择需要转出的项目，点击“投资的项目-XX项目”右下方蓝色的“债权转让”选项，链接到该笔债权的转让信息填报页面，根据页面提示发起债权转让申请。'
                }, {
                    q: '债权转让收益计算？',
                    a: '以原标还款方式为“一次性还本付息”模式的债权转让标为例：<br/> 假设：<br/> 1.    项目总期限＝T天，预期年化收益率=R，客户投资本金M元；<br/> 2.	客户在持有原标的第D天（已持有期限=D天）在平台发起债权转让：<br/><br/> 分析：原标剩余期限=T-D天，<br/><br/> 债转交易时收取转让方手续费C元；<br/> 转让方实收金额=转让时原标剩余价值-C；<br/> <br/> 到期日受让方回款本金=M元；<br/> 到期日受让方回款利息=M*R*T/360 元；'
                }, {
                    q: '案例：',
                    a: '1.“易车享”XX项目期限180天，预期年化收益率13%，客户投资本金1,000,000元；<br/> 2. 客户在持有债权30天时发起债权转让申请，原标剩余期限150天；<br/> <br/> 分析：转让时原标剩余价值=1,010,142.71元；<br/> 转让方手续费=10,000元；<br/> 转让方实收金额=1010142.71-10000=1,000,142.71元；<br/> <br/> 到期时受让方回款本金=1,000,000元；<br/> 到期时受让方回款利息=1,000,000*13%*180/360=65000元<br/> （注：具体情况按照每个项目的详细信息进行具体分析，最终解释权归金融工场所有。） '
                }]
            }]
        }, {
            group_title: '常见问题',
            group_items: [{
                topic_title: '违约金',
                icon: '',
                topic_items: []
            }, {
                topic_title: '红包',
                icon: '',
                topic_items: []
            }, {
                topic_title: '工豆',
                icon: '',
                topic_items: []
            }, {
                topic_title: '返现券',
                icon: '',
                topic_items: []
            }]
        }, {
            group_title: '了解项目品牌',
            group_items: [{
                topic_title: '易车享',
                icon: '',
                topic_items: []
            }, {
                topic_title: '利随享',
                icon: '',
                topic_items: []
            }, {
                topic_title: '友局贷',
                icon: '',
                topic_items: []
            }, {
                topic_title: '易赚盈',
                icon: '',
                topic_items: []
            }, {
                topic_title: '易收宝',
                icon: '',
                topic_items: []
            }, {
                topic_title: '埠贸通',
                icon: '',
                topic_items: []
            }]
        }, {
            group_title: '工分',
            group_items: [{
                topic_title: '工分',
                icon: '',
                topic_items: []
            }]
        }, {
            group_title: '会员等级',
            group_items: [{
                topic_title: '会员等级',
                icon: '',
                topic_items: []
            }]
        }
    ];
</script>
{% endblock %}

{% block title %}帮助中心{% endblock %}