body {
    background-color: #ebebee;
}

.top-nav {
    position: relative;
    width: 100%;
    height: 100px;

    .info {
        position: fixed;
        width: 100%;
        height: 100px;
        background-color: #fff;

        .back-btn {
            position: absolute;
            left: 0;
            right: 0;
            width: 80px;
            height: 100px;

            img {
                margin: 27px 0 0 14px;
            }
        }

        .title {
            line-height: 100px;
            text-align: center;
            font-size: 40px;
            color: #333;
        }

        .r-text {
            position: absolute;
            top: 8px;
            right: 0;
            width: 80px;
            color: #999;
            font-size: 28px;
            line-height: 100px;
            text-align: center;
        }
    }

}



.funds-flow {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;

    .title {
        height: 68px;
        padding: 0 35px;
        line-height: 68px;
        border-bottom: 1px solid #ebebee;
        background-color: #f9f9f9;
        color: #333;
        font-size: 28px;

        .see-text {
            float: right;
            color: #4aa1f9;
        }
    }

    .info {
        .paragraph {
            height: 116px;
            margin: 0 0 0 35px;
            padding-right: 26px;
            border-bottom: 1px solid #e3e5ea;

            .l {
                float: left;

                .info-title {
                    margin: 28px 0 0 0;
                    font-size: 32px;
                    line-height: 40px;
                    color: #333;
                }

                .text {
                    display: block;
                }

                .data-text {
                    font-size: 22px;
                    line-height: 30px;
                    color: #c8c8c8;
                    font-family: "HelveticaNeue-UltraLight";
                }
            }

            .r {
                float: right;

                .money-text {
                    line-height: 116px;
                    font-size: 32px;
                    color: #fd4d4c;
                }

                .c-4db94f {
                    color: #4db94f;
                }
            }
        }
    }
}