html,body{
  background-color:#ebebee;
}
.question-box {
  width: 100%;
  .question-img {
    width: 100%;
    img {
      width: 100%;
      display: block;
    }
  }
  .question-tip {
    padding: 20px 30px;
    background-color: #fff6c7;
    color: #6b4508;
    font-size: 26px;
    line-height: 32px;
    border-bottom: 1px solid #d8d8d8;
  }
  .question-ul {
    background-color:#fff;
    padding: 0 30px;
    .question-li {
      border-bottom: 1px solid #e3e5ea;
      .question {
        padding: 32px 0 30px;
        color: #333;
        font-size: 30px;
        max-height: 9999px;
      }
      .answer {
        .question-select {
          padding: 0 0 40px 62px;
          position: relative;
          line-height: 44px;
          max-height: 9999px;
          font-size:30px;
          color:#666;
          .select {
            position: absolute;
            top: 0;
            left: 0;
            width: 44px;
            height: 44px;
            background: url("../images/no-checked.png") no-repeat center;
            max-height: 9999px;
          }
          .select.checked {
            background: url("../images/checked.png") no-repeat center;
          }
        }
      }
    }
  }
  .foot-btn-box{
    background-color:#fff;
    padding:22px 30px;
    margin:20px 0 0;
    .foot-btn{
      max-height: 9999px;
      height:74px;
      line-height:74px;
      color:#FFF;
      font-size:32px;
      text-align: center;
      background-color:#fd4d4c ;
      border-radius:4px;
    }

  }
}
