.bg-logo {
    display: block;
    margin: 50px auto;
}

.form {
    display: block;
    margin: 30px auto;
    width: 400px;
    input {
        font-size: 24px;
        padding: 4px 8px;
        display: block;
        position: relative;
    }
}
