html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.bill-item{
  height:158px;
  background:#fff;
  overflow:hidden;
}
.bill-detail{
  float:left;
  margin-left:32px;
  margin-top:30px;
}
.pay-back-btn-wrap{
  float:right;
  margin-right:32px;

}
.bill-detail-wrap{
  overflow:hidden;
}
.bill-money{
  font-size:56px;
  color:#50ad9a;
  display:inline-block;
  float:left;
}
.bill-deadline{
  font-size:25px;
  color:#999;
}
.pay-back-btn{
  width:148px;
  height:68px;
  line-height:68px;
  background:#50ad9a;
  font-size:30px;
  color:#fff;
  border-radius:4px;
  text-align:center;
}
.data-box{
  margin-top:23px;
}
.no-data-img{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  display:none;
}
.bill-status{
  font-size:32px;
  color:#666;
  line-height:158px;
}
.bill-status img{
  margin-left:23px;
  margin-top:-6px;
}
.data-completion{
  font-size:25px;
  color:#999;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:25px;
}

