.protocol-article {
  padding: 30px;

  div {
    text-indent: 2em;
    font-size: 24px;
  }

  table {
    width: 100%;
    line-height: 2em;
      border-collapse: collapse;
    td {
      border: 1px solid black;
      padding: 8px;
    }
  }
}
