.protocol-article {
  padding: 34px;

  div {
    max-height:9999999px;
    text-indent: 2em;
    font-size: 30px;
    line-height:45px;
    text-align:justify;
  }

  table {
    width: 100%;
    line-height: 2em;
    font-size:26px;
      border-collapse: collapse;
    td {
      border: 1px solid black;
      padding: 8px;
    }
  }
}
.item-end{
  text-align:right!important;
}
body{
  background:#f0f0f0;
}
