html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.content-wrap{
  margin-top:20px;
}
.p1{
  height:100px;
  line-height:100px;
  background:#fff;
  font-size:32px;
  color:#333;
  padding-left:30px;
  max-height:999999px;
}
.p2{
  font-size:28px;
  line-height:40px;
  color:#333;
  max-height:999999px;
}
.p3{
  font-size:28px;
  line-height:40px;
  color:#666;
  max-height:999999px;
  margin-left:40px;
}
.p2-wrap{
  margin:24px 30px;
}
.qr{
  display:block;
  width:288px;
  height:288px;
  margin:30px auto;
}
.p3 span, .p2 a{
  display:inline-block;
  margin-left:40px;
  color:#6aa4f0;
}
.p4{
  margin-top:20px;
}

