html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.loan-num{
  height:170px;
  padding-top:30px;
  background:#fff;
  margin-top:25px;
  position:relative;
}
.loan-money{
  font-size:90px;

  text-align:center;
}
.overdue-color{
  color:#6aa4f0;
}
.pay-back-color{
  color:#666;
}
.loan-status1{
  text-align:center;
}
.loan-status2{
  text-align:center;
  font-size:25px;
  color:#666;
}
.loan-detail-box{
  margin-top:20px;
  background:#fff;
  padding-left:34px;
}
.loan-detail-box div{
  height:99px;
  line-height:99px;
  font-size:32px;
  color:#333;
  border-bottom:1px solid #f0f0f0;
}
.loan-detail-box div:last-child{
  border-bottom:none;
}
.loan-detail-box div span:nth-child(2){
  margin-right:34px;
  color:#333;
}
.loan-detail-box div span a{
  color:#6aa4f0;
}
.loan-detail-box div span:first-child{
  float:left;
}
.loan-detail-box div span:last-child{
  float:right;
}
.pay-back-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#6aa4f0;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:6px;
  margin:34px auto;
}
.deposit-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#ccc;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:6px;
  margin:34px auto;
}
.loan-money-title{
  font-size:27px;
  color:#999;
  text-align:center;
}
.icon1{
  width:147px;
  height:147px;
  background:url(../images/icon1.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.icon2{
  width:147px;
  height:147px;
  background:url(../images/icon2.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.icon3{
  width:147px;
  height:147px;
  background:url(../images/icon3.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.icon4{
  width:147px;
  height:147px;
  background:url(../images/icon4.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.icon5{
  width:147px;
  height:147px;
  background:url(../images/icon5.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.icon6{
  width:147px;
  height:147px;
  background:url(../images/icon6.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
