{% extends '../../../lib/templates/loan_base.swig.html' %}
{% block title %}关注下载{% endblock %}
{% block content %}
<div id="header"></div>
<div id="cnt">
    <div class="bg">
        <div class="qr-img">
            <img src="images/qr.jpg"/>
        </div>
    </div>
    <div class="tip">关注放心花微信公众号或使用APP可获得更高借款额度，且随时查看还款计划</div>
    <div class="download-btn-wrap">
        <a class="download-btn" id="ios-download"><img src="images/ios-icon.png"/>iOS客户端下载</a>
        <a class="download-btn" id="android-download"><img src="images/android-icon.png"/>Android客户端下载</a>
    </div>
</div>
{% endblock %}