.july-mobile-box {
    width: 100%;
    height: auto;
    background: #205494;
    font-size: 24px;
}

.m-banner {
    width: 100%;
    height: 660px;
    position: relative;
    background: url("../images/mobile/m-banner.png") no-repeat center bottom;
    margin-bottom: 70px;
}

.banner-item {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 85px;
    height: 128px;
}

.m-anchor-one {
    top: 230px;
    left: 233px;
    -webkit-animation: cloudMoveMobile 1.8s 0.2s infinite ease-in-out;
    -o-animation: cloudMoveMobile 1.8s 0.2s infinite ease-in-out;
    -ms-animation: cloudMoveMobile 1.8s 0.2s infinite ease-in-out;
    -moz-animation: cloudMoveMobile 1.8s 0.2s infinite ease-in-out;
    animation: cloudMoveMobile 1.8s 0.2s infinite ease-in-out;
}

.m-anchor-two {
    top: 235px;
    right: 157px;
    -webkit-animation: cloudMoveMobile 1.5s 0.2s infinite ease-in-out;
    -o-animation: cloudMoveMobile 1.5s 0.2s infinite ease-in-out;
    -ms-animation: cloudMoveMobile 1.5s 0.2s infinite ease-in-out;
    -moz-animation: cloudMoveMobile 1.5s 0.2s infinite ease-in-out;
    animation: cloudMoveMobile 1.5s 0.2s infinite ease-in-out;
}

.m-anchor-three {
    top: 335px;
    left: 97px;
    -webkit-animation: cloudMoveMobile 2s 0.2s infinite ease-in-out;
    -o-animation: cloudMoveMobile 2s 0.2s infinite ease-in-out;
    -ms-animation: cloudMoveMobile 2s 0.2s infinite ease-in-out;
    -moz-animation: cloudMoveMobile 2s 0.2s infinite ease-in-out;
    animation: cloudMoveMobile 2s 0.2s infinite ease-in-out;
}

.m-anchor-four {
    top: 415px;
    left: 287px;
    -webkit-animation: cloudMoveMobile 1.7s 0.4s infinite ease-in-out;
    -o-animation: cloudMoveMobile 1.7s 0.4s infinite ease-in-out;
    -ms-animation: cloudMoveMobile 1.7s 0.4s infinite ease-in-out;
    -moz-animation: cloudMoveMobile 1.7s 0.4s infinite ease-in-out;
    animation: cloudMoveMobile 1.7s 0.4s infinite ease-in-out;
}

.m-anchor-five {
    top: 377px;
    right: 135px;
    -webkit-animation: cloudMoveMobile 1.4s 0.3s infinite ease-in-out;
    -o-animation: cloudMoveMobile 1.4s 0.3s infinite ease-in-out;
    -ms-animation: cloudMoveMobile 1.4s 0.3s infinite ease-in-out;
    -moz-animation: cloudMoveMobile 1.4s 0.3s infinite ease-in-out;
    animation: cloudMoveMobile 1.4s 0.3s infinite ease-in-out;
}

.m-coupon {
    padding-bottom: 164px;
    height: 100%;
}

.m-c-title {
    text-align: center;
    width: 100%;
    height: auto;
}

.m-c-tips {
    width: 620px;
    height: 60px;
    margin: 20px auto 0;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 60px;
    background: url("../images/mobile/m-coupon-tipsbg.png") no-repeat center;
}

.m-c-text {
    width: 618px;
    height: 300px;
    background: url("../images/mobile/m-coupon-textbg.png") no-repeat center;
    margin: 66px auto 0;
    text-align: center;
}

.m-c-des {
    width: 596px;
    height: 163px;
    margin: 40px auto;
    background: url("../images/mobile/m-coupon-gui.png") no-repeat center;
}

.des-text {
    font-size: 26px;
    margin-top: 0;
    padding-top: 46px;
    color: #677ba8;
    padding-left: 52px;
}