.july-pc-box {
    width: 100%;
    height: auto;
    background: #205494;
    overflow: hidden;
}

.pc-banner {
    width: 1920px;
    height: 1090px;
    background: url("../images/pc/banner.jpg") no-repeat center;
    position: relative;
    left: 50%;
    top: -50px;
    margin-left: -960px;

}

.pc-banner-pics {
    width: 1000px;
    margin: 0 auto;
    height: 1000px;
    position: relative;

}

.anchor-item {
    width: 71px;
    height: 110px;
    display: block;
    position: absolute;
    cursor: pointer;
    -webkit-animation: cloudMovePC 1.5s 0.5s infinite ease-in-out;
    -o-animation: cloudMovePC 1.5s 0.5s infinite ease-in-out;
    -ms-animation: cloudMovePC 1.5s 0.5s infinite ease-in-out;
    -moz-animation: cloudMovePC 1.5s 0.5s infinite ease-in-out;
    animation: cloudMovePC 1.5s 0.5s infinite ease-in-out;
}

.anchor-one {
    top: 454px;
    left: 272px;
}

.anchor-two {
    top: 473px;
    left: 702px;
}

.anchor-three {
    top: 616px;
    left: 168px;
}

.anchor-four {
    top: 800px;
    left: 436px;
}

.anchor-five {
    top: 750px;
    right: 133px;
}

.anchor-item:hover {
    width: 80px;
    height: 124px;
    animation-play-state: paused;
}

.anchor-one:hover {
    width: 80px;
    height: 124px;
    top: 445px;
    left: 269px;
}

.anchor-two:hover {
    width: 80px;
    height: 124px;
    top: 467px;
    left: 697px;
}

.anchor-three:hover {
    width: 80px;
    height: 124px;
    top: 616px;
    left: 162px;
}

.anchor-four:hover {
    width: 80px;
    height: 124px;
    top: 800px;
    left: 432px;
}

.anchor-five:hover {
    width: 80px;
    height: 124px;
    top: 750px;
    right: 129px;
}

.pc-content {
    width: 1140px;
    margin: 0 auto;
}

.pc-coupon {
    width: 100%;
    height: 670px;
    margin-top: 80px;
}

.coupon-title {
    text-align: center;
    margin-bottom: 30px;
}

.coupon-des {
    height: 45px;
    font-size: 22px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
    background: url("../images/pc/bonus-des-bg.png") no-repeat center;
}

.coupon-code {
    width: 804px;
    height: 394px;
    margin: 0 auto;
    background: url("../images/pc/coupon-centent.png") no-repeat center;
    text-align: center;
}

.coupon-pic {
    margin-top: 45px;
}

.code-tips {
    height: 103px;
    text-align: center;
    position: relative;
    top: -84px;
}

.tips-text {
    position: absolute;
    top: 40px;
    left: 50%;
    font-size: 20px;
    color: #677ba8;
    margin-left: -160px;
}

.pc-welfare {
    margin-top: 150px;
}

.welfare-title {
    height: 230px;
    background: url("../images/pc/welfare-title-bg.png") no-repeat 10px -130px;
    text-align: center;
}

.welfare-tips {
    width: 804px;
    height: 45px;
    font-size: 20px;
    color: #fff;
    background: url("../images/pc/welfare-des-bg.png") no-repeat center;
    text-align: center;
    line-height: 45px;
    margin: 0 auto;
}

.welfare-one {
    width: 995px;
    height: 408px;
    margin: 100px auto 0;
    background: url("../images/pc/welfare-one-bg.png") no-repeat center;
}

.one-text {
    font-size: 18px;
    color: #fff;
    padding-top: 80px;
    text-align: center;
}

.one-link {
    display: inline-block;
    font-size: 18px;
    color: #3ab2ff;
    text-decoration: underline;
}

.welfare-two {
    width: 995px;
    height: 620px;
    margin: 100px auto 0;
    background: url("../images/pc/welfare-two-bg.png") no-repeat center;
}

.two-text {
    font-size: 18px;
    color: #fff;
    padding-top: 80px;
    text-align: center;
}

.common-text {
    margin-top: 362px;
    font-size: 19px;
    color: #fff;
}

.left-text {
    float: left;
    padding-left: 150px;
}

.right-text {
    float: right;
    padding-right: 150px;
}

.yellow-text {
    color: #ffe400;
}

.red-text {
    color: #f04460;
}

.welfare-three {
    width: 995px;
    height: 600px;
    margin: 100px auto 0;
    background: url("../images/pc/welfare-three-bg.png") no-repeat center;
    display: table;
}

.three-text {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
}

.bottom-text {
    font-size: 14px;
    color: #79b5ff;
    margin-top: 420px;
    text-align: center;
}

.pc-fight {
    width: 1157px;
    height: 530px;
    margin: 90px auto 0;
    background: url("../images/pc/fight-bg.png") no-repeat center;
    display: table;
}

.fight-data-box {
    width: 1138px;
    height: 158px;
    margin: 373px auto 0;
    /*display: table;*/
}

.data-item {
    width: 194px;
    height: 100%;
    margin-left: 30px;
    float: left;
    /*padding-top: 20px;*/
}

.itemdown-0 {
    color: #f3c000;
}

.itemdown-1 {
    color: #ff9154;
}

.itemdown-2 {
    color: #e76e9e;
}

.itemdown-3 {
    color: #b57ed7;
}

.itemdown-4 {
    color: #53be83;
}

.item-data-up {
    width: 100%;
    height: 61px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding-top: 5px;
}

.item-data-up .data-up-disability {
    line-height: 57px;
}

.item-data-down {
    font-size: 24px;
    text-align: center;
    height: 100px;
}

.item-up {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
    padding-top: 14px;
}

.item-down {
    font-size: 24px;
    text-align: center;
    height: 128px;
    line-height: 112px;
}

.separable-bonus {
    font-size: 14px;
    color: #966600;
}

.bonus-amount {
    font-size: 24px;
    color: #fff;
}

.username {
    font-size: 24px;
    padding: 3px 0;
}

.add-year {
    font-size: 14px;
    color: #6f95c4;
}

.year-amount {
    font-size: 20px;
    color: #fff;
}

.pc-bonus {
    width: 1140px;
    margin: 180px auto 30px;
    text-align: center;
    display: table;
    position: relative;
}

.bouns-tips {
    width: 804px;
    height: 45px;
    background: url("../images/pc/bonus-des-bg.png") no-repeat center;
    color: #fff;
    line-height: 45px;
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 170px;
}

.bonus-star {
    display: inline-block;
    width: 113px;
    height: 120px;
    background: url("../images/pc/bonus-star.png") no-repeat center;
    float: right;
    margin-right: 24px;
    cursor: pointer;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

.star-tips {
    display: none;
    width: 269px;
    height: 141px;
    background: url("../images/pc/bonus-star-des-bg.png") no-repeat center;
    position: absolute;
    top: 20px;
    right: -60px;
    font-size: 18px;
    color: #fff;
}

.star-tips-text {
    padding: 10px;
}

.bonus-star:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
}

.bonus-star:hover .star-tips {
    display: block;
    top: -120px;
}

.bonus-context {
    display: table;
}

.bonus-bottom {
    width: 575px;
    height: 140px;
    background: url("../images/pc/bonus-tips-fish.png") no-repeat center;
    margin: 0 auto;
    display: table;
}

.bonus-text {
    font-size: 16px;
    color: #677ba8;
    margin-top: 47px;
    display: table;
    margin-left: 20px;
    line-height: 24px;
}

.pc-rank {
    width: 847px;
    height: 625px;
    margin: 90px auto 0;
    display: table;
    background: url("../images/pc/rank-bg.png") no-repeat center;
}

.rank-content {
    width: 536px;
    height: 490px;
    margin: 93px auto 0;
}

.rank-name {
    height: 41px;
    line-height: 22px;
    font-size: 14px;
    color: #fff;
}

.name-item {
    display: inline-block;
}

.item-one {
    padding-left: 25px;
}

.item-two {
    padding-left: 55px;
}

.item-five {
    padding-left: 45px;
}

.item-three {
    padding-left: 39px;
}

.item-four {
    padding-left: 40px;
}

.rank-data {
    margin: 0 1px 0 6px;
    height: 388px;
    background-color: #fff;
}

.rank-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #4e548f;
}

.rank-even {
    background-color: #ececec;
}

.r-data-item {
    display: inline-block;
    text-align: center;
}

.rank-num {
    width: 70px;
}

.rank-username {
    width: 111px;
}

.rank-teamcount {
    width: 82px;
}

.rank-total {
    width: 140px;
}

.rank-bonus {
    width: 110px;
    color: #ff2f4c;
}

.empty-box {
    font-size: 24px;
    color: #7c9fc1;
    text-align: center;
    line-height: 388px;
}

.rank-tips {
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.pc-explain {
    width: 100%;
    height: 670px;
    background: url("../images/pc/bottom-sea-bg.png") no-repeat left 205px;
    background-size: 100%;
    margin-top: 80px;
}

.explain {
    width: 989px;
    height: 247px;
    padding: 30px 40px;
    margin: 0 auto;
    background-color: rgba(15, 71, 133, 0.5);
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    line-height: 22px;
}

.explain-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.explain-tips {
    margin-top: 30px;
}

.bottom-box {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
}

.log-box {
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding-top: 26px;
}

.bottom-btn {
    position: absolute;
    top: 0px;
    right: 200px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.pic-ship {
    position: absolute;
    top: -55px;
    left: 8%;
}

.invite-pc-after, .pc-invest, .pre-login, .invite-pc-pre {
    display: inline-block;
    cursor: pointer;
    width: 106px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #ff2f4c;
    border-radius: 20px;
    color: #fff;
    margin-right: 20px;
}

.color-yellow {
    font-size: 16px;
    color: #ffe400;
}

.pre-login {
    margin-left: 20px;
}

/*pc banner action*/
@keyframes cloudMovePC {
    0% {
        margin-top: 20px;
    }
    50% {
        margin-top: 13px;
    }
    100% {
        margin-top: 20px;
    }
}

