/*team pop start*/
.pop-team {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.content {
    width: 600px;
    height: 334px;
    background: url("../images/pop/m-team-bg.png") no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -167px;
    margin-left: -300px;
    font-size: 26px;
    color: #393939;
}

.pra {
    padding-left: 65px;
    padding-top: 140px;
    line-height: 36px;
}

.m-close {
    width: 91px;
    height: 91px;
    background: url("../images/pop/m-close.png") no-repeat center;
    position: absolute;
    bottom: -150px;
    left: 50%;
    margin-left: -45px;
}

/*team pop end*/

/*invite pop mobile start*/
.pop-invite-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}

.pop-m-invite {
    width: 656px;
    height: 699px;
    background: url("../images/mobile/m-invite-bg.png") no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -328px;
}

.pre-box {
    width: 516px;
    height: 400px;
    margin: 150px auto 0;
    font-size: 24px;
    color: #004179;
    text-align: center;
    line-height: 42px;
}

.log-btn {
    width: 250px;
    height: 60px;
    background: #f8544b;
    line-height: 60px;
    font-size: 28px;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    margin: 20px auto 70px;
    cursor: pointer;
}

.after-box {
    width: 458px;
    height: 390px;
    margin: 160px auto 0;
    font-size: 28px;
    color: #004179;
    text-align: center;
    line-height: 42px;
}

.m-gcm {
    width: 320px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    font-size: 50px;
    color: #555555;
    background: #ededed;
    border-radius: 4px;
    margin: 25px auto 85px;
}

.m-newer {
    font-size: 24px;
    color: #555555;
}

.more {
    display: block;
    width: 250px;
    height: 60px;
    background: #58b7ff;
    line-height: 60px;
    font-size: 28px;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    margin: 20px auto 0;
}

.m-close-btn {
    width: 91px;
    height: 91px;
    background: url("../images/pop/m-close.png") no-repeat center;
    position: absolute;
    bottom: -150px;
    left: 50%;
    margin-left: -45px;
}

.color-red {
    display: inline-block;
    color: #f8544b;
}

/*invite pop mobile end*/

/*activity start pop start*/
.pop_status_box {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.pop_status_text {
    width: 760px;
    height: 564px;
    left: 50%;
    top: 50%;
    margin-top: -282px;
    margin-left: -380px;
    position: absolute;
}

.pop_notbegun_text {
    background: url("../images/pop/m-notstarted.png") no-repeat center;
}

.pop_end_text {
    background: url("../images/pop/m-end.png") no-repeat center;
}

/*activity start pop end*/
/*pop-invite-pc start*/
.pop-invite-pc {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.pop-invite-pc-text {
    width: 758px;
    height: 435px;
    background: url(../images/pop/pop-invitebg.png) no-repeat center;
    position: absolute;
    top: 50%;
    margin-top: -217px;
    left: 50%;
    margin-left: -379px;
}

.nolog-box {
    width: 464px;
    height: 243px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #004179;
    padding-top: 100px;
    line-height: 28px;
}

.golog {
    width: 184px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #f8544b;
    border-radius: 4px;
    margin: 35px auto;
    cursor: pointer;
}

.tips {
    font-size: 14px;
}

.color-red {
    color: #f8544b;
}

.policy-link {
    display: block;
    font-size: 14px;
    color: #58b7ff;
}

.log-box {
    width: 600px;
    height: 240px;
    margin: 115px auto 0;
    font-size: 16px;
    color: #004179;
}

.order {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #3bb2ff;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.write-gcm {
    margin-bottom: 40px;
}

.gcm-text {
    display: inline-block;
    width: 136px;
    height: 38px;
    line-height: 38px;
    font-size: 24px;
    color: #555555;
    text-align: center;
    background: #ededed;
    border-radius: 4px;
    margin-left: 5px;
    padding-bottom: 2px;
}

.copy-box {
    margin-bottom: 40px;
}

.copy-tips {
    display: inline-block;
}

.copy-text {
    width: 540px;
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #555555;
    background: #ededed;
    border-radius: 4px;
    margin-left: 32px;
    margin-top: 5px;
    display: inline-block;
}

.copy-link {
    display: inline-block;
    width: 90px;
    height: 28px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    background: #f8544b;
    border-radius: 35px;
    margin-left: -2px;
    font-size: 14px;
    cursor: pointer;
    border: 0 none;
}

.logged-tips {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}

.color-red {
    color: #f8544b;
}

.logged-link {
    display: block;
    font-size: 14px;
    color: #58b7ff;
    text-align: center;
}

.close-btn {
    width: 59px;
    height: 59px;
    position: absolute;
    top: -50px;
    right: 25px;
    background: url("../images/pop/pop-close.png") no-repeat center;
    cursor: pointer;
}

/*pop-invite-pc end*/
