.cnt-container {
    position: relative;
    min-height: 100%;
    background-color: #eee;
    overflow: hidden;
}

.repayment-records-entry {
    position: fixed;
    top: 22px;
    right: 30px;
    color: #556bb8;
    font-size: 32px;
    z-index: 100;
}

.logo-container {
    position: relative;
    box-sizing: border-box;
    height: 303px;
    padding-top: 48px;
    background: #556bb8;
    color: #fff;
    font-size: 34px;
    text-align: center;
    overflow: hidden;
}

.logo-container img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 6px;
}

.bill-sum {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 140px;
    padding: 34px 0;
    background-color: #fff;
    text-align: center;
}

.loan-amount {
    box-sizing: border-box;
    float: left;
    width: calc(50% - 1px);
}

.vertical-line {
    float: left;
    width: 1px;
    height: 60px;
    background-color: #eee;
    margin: 14px 0;
}

.due-date {
    float: right;
    width: 50%;
}

.bill-sum-name {
    color: #999;
    font-size: 28px;
}

.bill-sum-value {
    color: #333;
    font-size: 36px;
}

.item-grp {
    padding-left: 30px;
    margin-top: 20px;
    background-color: #fff;
}

.item-grp:last-child {
    margin-bottom: 178px;
}

.item {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 99px;
    padding-right: 30px;
    border-bottom: 1px solid #eee;
    font-size: 32px;
}

.item:last-child {
    border: none;
}

.name {
    float: left;
    height: 98px;
    line-height: 98px;
    color: #666;
}

.value {
    float: right;
    height: 98px;
    line-height: 98px;
    color: #333;
}

.submit-btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, .2);
}

.submit-btn {
    display: block;
    height: 82px;
    line-height: 82px;
    margin: 22px 20px;
    background-color: #556bb8;
    border-radius: 5px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.status-bar {
    position: absolute;
    top: 25px;
    right: -70px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 240px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.status-bar-applying {
    composes: status-bar;
    background-color: #ffa366;
}

.status-bar-paying {
    composes: status-bar;
    background-color: #318de1;
}

.status-bar-paid {
    composes: status-bar;
    /* background-color: #ff4f5b; */
     background-color: #d8d8d8;
}

.status-bar-rejected {
    composes: status-bar;
    background-color: #d8d8d8;
}
