.bg {
    background: #3a4a79 url('../images/login-bg.jpg') no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    min-height: 100%;
    padding-top: 1px;
}

.title {
    display: block;
    font-size: 36px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
}

.logo {
    margin: 40px auto;
    display: block;
    width: 222px;
    height: 222px;
}

.form {
    position: relative;
    margin: 50px auto 20px;
    height: 80px;
    width: 600px;
}

.form input {
    width: 430px;
    height: 48px;
    padding: 20px 0;
    font-size: 28px;
    line-height: 48px;
    border: none;
    color: #fff;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    /*// -webkit-user-select: none; 不能添加这个属性, 会导致输入框无法输入*/
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    background: transparent;
    outline: none;
    border: none;
    position: relative;
    top: -3px;
}

.form input:focus {
    border: 0;
}

.form input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #6195a4;
}

.underline {
    position: relative;
    top: -20px;
    height: 15px;
    border: 1px solid #83d3c3;
    border-top: 0;
}

.icon-phone {
    display: block;
    height: 80px;
    width: 60px;
    float: left;
}

.icon-clear {
    display: block;
    height: 80px;
    width: 60px;
    float: right;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAeFBMVEUAAABjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqtjkqv57OP9AAAAJ3RSTlMA/OorBRIKXEc48FvFmzHj0Id3aGFTTiYe9dqPcOLWyrewo5N6fxpFsAmqAAABwUlEQVQ4y33U7bqqIBAF4EGRkC1qmalp3+297v8OD4/AKUibf8nLLExHikuUsm1lKehr5WPNMBerx3xN8f3ZIYfPe77k5BHAcWw7s8q7dpx/ys92DwC3IC2/AXhETbMCqD170RoossDVwJYvHHsL1G9SXMD2tFh7hosgXxp4uVgCmlwdTC6tlkk/uOATCr4OeYGTDZ/AUneXf+/iz/0LKcM076ig/RGS9OXSxEdqVNye0DdkVnrHfEt7yjsKv7ix0ruNv17gTkQJdhTK2NEOCVEH5BTK2FEOdCQBQZGMHAlAUoOK3uvHyMgRVWhM/pFiGTs6YmfgObyYKkCl4bWzgQ1OoTO5Jj2UJxPdgvHIbTaR5AwtpUAaOXPOQFrDBzSB+yGKZYPBpF5xi10sb7jOnLmp6L3zsncTxebQbMCve+ud89LPxy+GudUDyrYUz2De5VPYhgkeNnGApi+lMfT+LUK77lpg9xofVa65UtnR87eblCvOLPXBNiWXnFQmLNrIRhEzMbKPqO4CVJMI2FQBl+7zw8UApQ+ZexoHrQC29Imj7m4oUBXXa1EBht07Wq7+WeN/1c+evlQmp63W20lm0cI/luQr1zKaYywAAAAASUVORK5CYII=') no-repeat center;
}

.btn-submit {
    display: block;
    height: 74px;
    line-height: 74px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    background-color: #6ba4f0;
    border-radius: 5px;
    width: 600px;
    margin: 50px auto 0;
}

.download-entry {
    display: block;
    position: fixed;
    bottom: 70px;
    left: 60px;
    width: 600px;
    height: 74px;
    line-height: 74px;
    background-color: rgba(255, 255, 255, .05);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
}

.fake-entry-arrow {
    padding-left: 15px;
}

.entry-arrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 0 4px -4px;
    transform: rotate(45deg);
    border-top: 2px solid rgba(255, 255, 255, .8);
    border-right: 2px solid rgba(255, 255, 255, .8);
}

.entry-arrow-1 {
    composes: entry-arrow;
    -webkit-animation: entry-arrow-1 1s linear 0s infinite;
    animation: entry-arrow-1 1s linear 0s infinite;
}

.entry-arrow-2 {
    composes: entry-arrow;
    -webkit-animation: entry-arrow-2 1s linear 0s infinite;
    animation: entry-arrow-2 1s linear 0s infinite;
}

.entry-arrow-3 {
    composes: entry-arrow;
    -webkit-animation: entry-arrow-3 1s linear 0s infinite;
    animation: entry-arrow-3 1s linear 0s infinite;
}

@-webkit-keyframes entry-arrow-1 {
    0% { border-color: rgba(255, 255, 255, .8) }
    33.33% { border-color: rgba(255, 255, 255, .5) }
    66.67% { border-color: rgba(255, 255, 255, .15) }
    100% { border-color: rgba(255, 255, 255, .8) }
}

@keyframes entry-arrow-1 {
    0% { border-color: rgba(255, 255, 255, .8) }
    33.33% { border-color: rgba(255, 255, 255, .5) }
    66.67% { border-color: rgba(255, 255, 255, .15) }
    100% { border-color: rgba(255, 255, 255, .8) }
}

@-webkit-keyframes entry-arrow-2 {
    0% { border-color: rgba(255, 255, 255, .15) }
    33.33% { border-color: rgba(255, 255, 255, .8) }
    66.67% { border-color: rgba(255, 255, 255, .5) }
    100% { border-color: rgba(255, 255, 255, .15) }
}

@keyframes entry-arrow-2 {
    0% { border-color: rgba(255, 255, 255, .15) }
    33.33% { border-color: rgba(255, 255, 255, .8) }
    66.67% { border-color: rgba(255, 255, 255, .5) }
    100% { border-color: rgba(255, 255, 255, .15) }
}

@-webkit-keyframes entry-arrow-3 {
    0% { border-color: rgba(255, 255, 255, .5) }
    33.33% { border-color: rgba(255, 255, 255, .15) }
    66.67% { border-color: rgba(255, 255, 255, .8) }
    100% { border-color: rgba(255, 255, 255, .5) }
}

@keyframes entry-arrow-3 {
    0% { border-color: rgba(255, 255, 255, .5) }
    33.33% { border-color: rgba(255, 255, 255, .15) }
    66.67% { border-color: rgba(255, 255, 255, .8) }
    100% { border-color: rgba(255, 255, 255, .5) }
}
