body {
    margin: 0;
    padding: 0;
    background: #3a4a79 url('../images/login-bg.jpg') no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    min-height: 1000px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #6195a4;
}