
.data-list {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 20px;
}

.list-item {
    margin-left: 32px;
    padding: 20px 26px 20px 0;
    border-bottom: 1px solid #f0f0f0;
}

.list-item:last-child {
    border-bottom: none;
}

.red-status {
    overflow: hidden;
}

.red-status .status-text {
    color: #000;
    font-size: 32px;
    float: left;
}

.red-status .status-num {
    float: right;
    font-size: 36px;
    line-height: 100%;
    font-family: "Helvetica Neue";
}

.sub-red-status {
    overflow: hidden;
    color: #999;
    font-size: 27px;
}

.sub-red-status .sub-status-text {
    float: left;
}

.sub-red-status .status-time {
    float: right;
}

.data-completion {
    font-size: 32px;
    color: #999;
    text-align: center;
    margin-top: 52px;
}

.refresh {
    width: 440px;
    margin: 0 auto;
    overflow: hidden;
}

.logo-container {
    float: left;
    margin-right: 10px;
}

.right-text {
    margin-top: 14px;
    color: #aaa;
}

.refresh-text {
    font-size: 32px;
}

.refresh-time {
    font-size: 24px;
}

.no-data-box {
    text-align: center;
}

.no-data-img {
    margin-top: 200px;
}

.no-data-desc {
    font-size: 36px;
    margin-top: 20px;
}