

.details-entry {
    position: absolute;
    top: 28px;
    right: 34px;
    z-index: 101;
}

.details-entry-inIOS{
    position: absolute;
    top: 64px;
    right: 34px;
    z-index: 101;
}

.redbag-details-title{
    font-size: 28px;
    color: #6aa4f0;
}

.red-packet-area {
    width: 100%;
    height: 300px;
    padding-top: 80px;
    background: #44acf0;
    text-align: center;
    color: #fff;
}

.packet-title,
.packet-frozen {
    font-size: 28px;
    line-height: 60px;
}

.packet-frozen span {
    font-family: "Helvetica Neue";
}

.packet-num {
    font-size: 100px;
    line-height: 100%;
    font-family: "Helvetica Neue";
}

.withdraw-card {
    height: 100px;
    line-height: 100px;
    background: #fff;
    font-size: 28px;
    padding: 0 34px;
    overflow: hidden;
}

.card-title {
    float: left;
}

.card-branch {
    float: right;
}

.withdraw-btn {
    width: 654px;
    height: 84px;
    line-height: 84px;
    background: #6aa4f0;
    text-align: center;
    font-size: 34px;
    color: #fff;
    border-radius: 6px;
    margin: 30px auto 0;
}

.withdraw-gray-btn {
    width: 654px;
    height: 74px;
    line-height: 74px;
    background: #ccc;
    text-align: center;
    font-size: 30px;
    color: #fff;
    border-radius: 6px;
    margin: 30px auto 0;
}

.packet-tips {
    color: #999;
    padding: 0 34px;
    margin-top: 50px;
}

.packet-tips-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.packet-rule,
.packet-rule-item {
    font-size: 28px;
    line-height: 42px;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #999;
    margin-right: 10px;
    vertical-align: middle;
}

.packet-rule span {
    color: #6aa4f0;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.verify-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.verify-popup-wrap {
    width: 594px;
    padding: 34px;
    background: #fff;
    border-radius: 10px;
}

.verify-popup-title {
    font-size: 32px;
    color: #6aa4f0;
    text-align: center;
    margin-bottom: 15px;
}

.verify-popup-close {
    background: url(../images/close.jpg) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    top: 34px;
    right: 34px;
}

.verify-popup-tip {
    font-size: 24px;
    line-height: 38px;
    color: #666;
    margin-bottom: 25px;
}

.verify-input {
    width: 572px;
    padding-left: 20px;
    height: 64px;
    border: 1px solid #ebeaea;
    border-radius: 6px;
    background: #fafafa;
}

.sms-input {
    width: 400px;
    height: 64px;
    line-height: normal;
    font-size: 26px;
}

.btn-countdown {
    display: inline-block;
    width: 152px;
    font-size: 26px;
    color: #6aa4f0;
    text-align: center;
}

.btn-list {
    overflow: hidden;
}

.btn-list .confirm-btn {
    width: 278px;
    height: 78px;
    line-height: 78px;
    border: 1px solid #6aa4f0;
    background: #6aa4f0;
    text-align: center;
    font-size: 32px;
    color: #fff;
    border-radius: 6px;
    margin: 34px auto 0;
    float: right;
}

.btn-list .cancel-btn {
    width: 278px;
    height: 78px;
    line-height: 78px;
    border: 1px solid #6aa4f0;
    background: #fff;
    text-align: center;
    font-size: 32px;
    color: #6aa4f0;
    border-radius: 6px;
    margin: 34px auto 0;
    float: left;
}

.ios-space {
    height: 22px;
    background: #fff;
}