.result-wrap{
    margin-top:20px;
}
.wrap-box{
    background:#fff;
    padding:60px 0;
}
.success-icon, .fail-icon{
    text-align:center;
}
.loan-result1{
    margin-top:56px;
    width:100%;
    height:193px;
    position:relative;
}
.icon1{
    background:url(../images/icon-success.png) no-repeat;
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    left:117px;
}
.icon1-info{
    font-size:32px;
    color:#666;
    position:absolute;
    top:4px;
    left:188px;
}
.time1{
    font-size:27px;
    color:#999;
    position:absolute;
    top:50px;
    left:188px;
}
.line{
    width:0px;
    height:60px;
    border-top:1px dashed #ddd;
    position:absolute;
    top:50px;
    left:142px;
}
.icon2{
    width:18px;
    height:18px;
    border:1px solid #ddd;
    border-radius:50%;
    position:absolute;
    top:111px;
    left:132px;
}
.icon2-info{
    font-size:32px;
    color:#666;
    position:absolute;
    top:100px;
    left:188px;
}
.loan-result4{
    margin-top:56px;
    width:100%;
    height:110px;
    position:relative;
}
.icon5{
    width:50px;
    height:50px;
    background:url(../images/icon-fail.png) no-repeat;
    position:absolute;
    top:24px;
    left:117px;
}
.icon5-info{
    font-size:32px;
    color:#666;
    position:absolute;
    top:26px;
    left:188px;
}
.icon5-info-btm{
    font-size: 27px;
    color: #999;
    position: absolute;
    top: 78px;
    left: 189px;
}
.customer-service{
    text-align:center;
    background:#fff;
    line-height:108px;
    border-top:1px solid #f6f5f5;

}
.service-wrap{
    font-size:28px;
    color:#999;
}
.service-wrap a{
    color:#999;
}
.service-wrap img{
    margin-top:-7px;
    margin-right:20px;
}
.btn-wrap{
    padding-top:40px;
    padding-bottom:60px;
}
.credit-btn{
    width:654px;
    height:84px;
    line-height:84px;
    background:#6aa4f0;
    text-align:center;
    font-size:34px;
    color:#fff;
    border-radius:6px;
    margin:0 auto;
}