.cnt-container {
    min-height: 100%;
    background-color: #eee;
}

.result-container {
    box-sizing: border-box;
    /* padding: 70px 0; */
    /* margin-top: 24px; */
    text-align: center;
    width: 100%;
    height: 420px;
}

.success {
    composes: result-container;
    background: url('../images/repayment-fangxin-result/success.png')  no-repeat center center;
}

.fail {
    composes: result-container;
    background: url('../images/repayment-fangxin-result/fail.png')  no-repeat center center;
}

.waiting {
    composes: result-container;
    background: url('../images/repayment-fangxin-result/waiting.png')  no-repeat center center;
}

.title {
    color: #556bb8;
    font-size: 40px;
}

.info {
    margin-bottom: 24px;
    color: #666;
    font-size: 28px;
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}
.infoMoney{
    margin-top: 20px;
}
.payback-result-ing-tip{
  font-size:32px;
  line-height:48px;
  color:#666;
  text-align:center;
}
.payback-customer-service{
  font-size:32px;
  line-height:48px;
  color:#666;
  text-align:center;
}
.payback-customer-service img{
  margin-right:20px;
  margin-top:-10px;
}
.payback-customer-service a{
  color:#6aa4f0;
}
.info span {
    color:#6aa4f0;
}
.credit-btn{
  display:block;
  width:652px;
  border:1px solid #6aa4f0;
  height:84px;
  line-height:84px;
  text-align:center;
  font-size:34px;
  color:#6aa4f0;
  border-radius:6px;
  margin:34px auto;
}
.apply-btn{
  display: block;
  width:654px;
  height:84px;
  line-height:84px;
  background:#6aa4f0;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:6px;
  margin:34px auto;
}
.btn {
    display: block;
    width: 660px;
    height: 84px;
    line-height: 84px;
    margin: 30px auto;
    color: #fff;
    background: #44adf0;
    border-radius: 4px;
    font-size: 34px;
    text-align: center;
}
