.bg {
    min-height: 100%;
    background: #f0f0f0;
}

.repayment-content {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.item-self {
    width: 100%;
    /*height: 226px;*/
    background: #fff;
    margin-bottom: 20px;
    position: relative;
}

.top {
    /*height: 78px;*/
    padding: 20px 24px;
    overflow: hidden;
}

.top-left {
    float: left;
    margin-top: 6px;
}

.top-right {
    float: right;
    font-size: 36px;
    color: #6aa4f0;
}

.logo-text {
    font-size: 34px;
}

.status {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    width: 90px;
    height: 34px;
    background: #ff6f79;
    border-radius: 3px;
    line-height: 34px;
    text-align: center;
    margin-left: 12px;
    vertical-align: text-bottom;
}

.repay-btn {
    display: inline-block;
    width: 150px;
    height: 60px;
    border: 1px solid #6aa4f0;
    border-radius: 3px;
    line-height: 60px;
    text-align: center;
    margin-left: 20px;
    font-size: 30px;
}

.line {
    /*border: 1px solid #f3f2f2;
    margin-left: 32px;*/
    position: absolute;
    left: 32px;
    right: 0;
    height: 1px;
    background: #f3f2f2;
}

.bottom {
    overflow: hidden;
    /*padding: 22px 0;*/
    position: relative;
    height: 110px;
}

.time-limit,
.put-day,
.deadline {
    /*float: left;*/
    /*margin: 0 54px;*/
    position: absolute;
    top: 22px;
    text-align: center;
}

.time-limit {
    left: 30px;
    width: 100px;
}

.put-day {
    left: 220px;
    width: 200px;
}

.deadline {
    right: 30px;
    width: 200px;
}

.gap-line-left,
.gap-line-right {
    float: left;
    width: 1px;
    height: 46px;
    background: #f3f2f2;
    top: 34px;
    position: absolute;
}

.gap-line-left {
    left: 180px;
}

.gap-line-right {
    right: 265px;
}

.time-detail {
    font-size: 29px;
    margin: 0;
    /*margin-bottom: 16px;*/
    line-height: 32px;
}

.desc {
    font-size: 27px;
    color: #999;
    margin: 0;
    text-align: center;
}

.no-data {
    text-align: center;
    display: block;
    width: 362px;
    height: 296px;
    background: url(../images/no-data.png) no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.blank-text {
    font-size: 28px;
}