

.repayment {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    position: relative;
}
.repaymentBox{
    padding-bottom: 100px;
}
.banner {
    width: 100%;
    background: #44adf0;
    padding: 50px 0;
    text-align: center;
}
.banner img{
    width: 150px;
    height: 150px;
}
.banner span {
    display: block;
    font-size: 34px;
    color: #fff;
}

.amount {
    width: 100%;
    padding: 30px 0;
    background: #fff;
    display: table;
}

.money {
    float: left;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
}

.amountName {
    font-size: 24px;
    color: #999;
}

.amountMoney {
    border-right: 1px solid #eee;
}

.amountMoney .amountNum {
    font-size: 38px;
    color: #556bb8;
    margin-top: -8px;
}

.amoutLate .amountNum {
    font-size: 38px;
    color: #ff6f79;
    margin-top: -8px;
}

.amountPanel {
    margin-top: 20px;
    padding-left: 30px;
    font-size: 30px;
    color: #666666;
    background: #fff;
}

.amountItem {
    width: 100%;
    height: 96px;
    display: table;
    border-bottom: 1px solid #ebeaea;
    line-height: 96px;
}
.amountNoBorder{
    border-bottom: transparent;
}
.amountInput{
    width: 100%;
    display: table;
    border-bottom: transparent;
    background: #fff;
    line-height: 96px;
}

.itemName {
    float: left;
    height: 100px;
    line-height: 104px;
}

.itemTime {
    float: right;
    margin-right: 30px;
    color: #333;
    font-size: 34px;
    height: 100px;
    line-height: 104px;
}

.itemAlready {
    float: right;
    margin-right: 30px;
    color: #333;
    font-size: 32px;
}
.itemAlready span{
    display: inline-block;
    vertical-align: middle;
}
.itemAlready img {
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
}

.itemInput {
    float: left;
    font-size: 30px;
    width: 450px;
    margin: 0 32px 0 0;
    height: 32px;
    padding: 30px 0;
    line-height: 30px;
}

.itemAll {
    float: right;
    margin-right: 30px;
    font-size: 32px;
    color: #6aa4f0;
}

.amountBottom {
    width: 100%;
    background: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.submitBtn {
    width: 654px;
    height: 84px;
    border-radius: 4px;
    background: #6aa4f0;
    color: #fff;
    margin: auto;
    text-align: center;
    font-size: 34px;
    line-height: 84px;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.verify-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.verify-popup-wrap {
    width: 594px;
    padding: 34px;
    background: #fff;
    border-radius: 10px;
}

.verify-popup-title {
    font-size: 32px;
    color: #6aa4f0;
    text-align: center;
    margin-bottom: 15px;
}

.verify-popup-close {
    background: url(../images/close.jpg) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    top: 34px;
    right: 34px;
}

.verify-popup-tip {
    font-size: 24px;
    line-height: 38px;
    color: #666;
    margin-bottom: 25px;
}

.verify-input {
    width: 570px;
    padding-left: 20px;
    height: 64px;
    border: 1px solid #ebeaea;
    border-radius: 6px;
    background: #fafafa;
    display: table;
}

/* .verify-input input {
    width: 350px;
} */

.sms-input {
    width: 350px;
    height: 64px;
    line-height: normal;
    font-size: 26px;
    float: left;
}

.btn-countdown {
    display: inline-block;
    width: 152px;
    font-size: 26px;
    color: #6aa4f0;
    text-align: center;
    float: right;
    line-height: 68px;
}

.btn-list {
    overflow: hidden;
}

.btn-list .confirm-btn {
    width: 260px;
    height: 78px;
    line-height: 78px;
    border: 1px solid #6aa4f0;
    background: #6aa4f0;
    text-align: center;
    font-size: 32px;
    color: #fff;
    border-radius: 6px;
    margin: 34px auto 0;
    float: right;
}

.btn-list .cancel-btn {
    width: 260px;
    height: 78px;
    line-height: 78px;
    border: 1px solid #6aa4f0;
    background: #fff;
    text-align: center;
    font-size: 32px;
    color: #6aa4f0;
    border-radius: 6px;
    margin: 34px auto 0;
    float: left;
}
