.cnt-container {
    min-height: 100%;
    background-color: #eee;
}

.logo-container {
    box-sizing: border-box;
    height: 303px;
    padding-top: 48px;
    background: #556bb8;
    color: #fff;
    font-size: 34px;
    text-align: center;
}

.logo-container img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 6px;
}

.list {
    box-sizing: border-box;
    padding-left: 30px;
    margin: 30px 0;
    background-color: #fff;
}

.item {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 113px;
    padding-right: 30px;
    border-bottom: 1px solid #eee;
}

.time-amount-info {
    box-sizing: border-box;
    float: left;
    height: 112px;
    padding: 13px 0;
}

.amount {
    height: 50px;
    line-height: 50px;
    color: #556bb8;
    font-size: 36px;
}

.time {
    height: 40px;
    line-height: 30px;
    color: #aaa;
    font-size: 28px;
}

.card-info {
    float: right;
    height: 112px;
    line-height: 112px;
    color: #999;
    font-size: 28px;
}
