.cnt-container {
    min-height: 100%;
    background-color: #eee;
}

.result-container {
    box-sizing: border-box;
    padding: 57px 0 79px;
    margin-top: 23px;
    text-align: center;
}

.success {
    composes: result-container;
    background: url('../images/repayment-youyi-result/success.png') #fff no-repeat center 135px;
}

.fail {
    composes: result-container;
    background: url('../images/repayment-youyi-result/fail.png') #fff no-repeat center 135px;
}

.waiting {
    composes: result-container;
    background: url('../images/repayment-youyi-result/waiting.png') #fff no-repeat center 135px;
}

.title {
    color: #556bb8;
    font-size: 40px;
}

.info {
    line-height: 1.84;
    margin-top: 284px;
    color: #666;
    font-size: 28px;
}

.info span {
    color: #ff6f79;
}

.btn {
    display: block;
    width: 660px;
    height: 84px;
    line-height: 84px;
    margin: 30px auto;
    color: #fff;
    background: #556bb8;
    border-radius: 4px;
    font-size: 34px;
    text-align: center;
}
