.pwd-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    color: #fff;
    outline: none;
}

.send-tips {
    padding: 56px 30px 20px;
    line-height: 30px;
    font-size: 28px;
    color: #999;
}

.send-tips span {
    color: #6aa4f0;
}

.field-input {
    position: relative;
    height: 88px;
    line-height: 88px;
    background: white;
}

.field-input .v-line {
    position: absolute;
    left: 30px;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #ebeaea;
}

.field-input input {
    float: left;
    font-size: 28px;
    height: 88px;
    line-height: 88px;
    padding: 0;
    border: none;
    width: 450px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    /*// -webkit-user-select: none; 不能添加这个属性, 会导致输入框无法输入*/
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    background: transparent;
    outline: none;
    border: none;
    position: relative;
}

.btn-verify-code {
    position: absolute;
    top: 20px;
    right: 24px;
    width: 160px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #6aa4f0;
    color: #6aa4f0;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
}

.icon-phone {
    display: block;
    height: 80px;
    width: 60px;
    float: left;
}

.icon-lock {
    display: block;
    height: 80px;
    width: 60px;
    float: left;
}

.icon-eye {
    display: block;
    height: 80px;
    width: 60px;
    float: right;
    margin-right: 24px;
}

.icon-people {
    display: block;
    height: 80px;
    width: 60px;
    float: left;
}

.xuan-tian {
    float: right;
    margin-right: 24px;
    font-size: 28px;
    color: #ccc;
}

.protocol {
    width: 654px;
    margin: 20px auto 0;
    font-size: 27px;
    line-height: 46px;
    color: #999;
}

.protocol .check-btn {
    width: 34px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.protocol .checked-btn {
    width: 34px;
    height: 34px;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 50%;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAlCAMAAADyQNAxAAAAilBMVEUAAAChvuSDsOugvuWQtuh4q+17reyNtemVueebu+V1qe6IsumYuuabu+Wcu+WBr+uQtuiWueacu+WhvuSGseqHsuqUuOeZuuaZuuadvOWfveWeveWRt+eSt+eWueaau+ZqpPD///9spfC10vhwp++/2Pm81/iszfe41fixz/fH3fnD2/mixvZ4rfFNE0kEAAAAIHRSTlMABukXuvr2yZRb/Nt9YlLttotYC+HfonZrPjAosK6KamuQXNkAAAEFSURBVDjLlZTrkoIwDIWLFAEXV8G9X08LuLDq+7+ewFRjgFL5fjHMN+2ZNIngeFn0vd2+vH4IK360KGAIwsdxRxZgbNZDKVlhwIPfyxNijIBdu3vCOMWbIJ5ho8iukoSd1aeR1hoTLEzyJSb56awI0wRea9mOqiuTJG2k2CKVSuWULLRK6ogO7dsu3DdSDUMiPO2UIMU7lZlL+c2rU/iD+oOhIsnE/zVfJ6UuWt6TsKGzyla7SFXvkSjXodWYRLk8zbVW2oMjWb3+G4MkImG1151W0g+qfQyuleMdtrzV8hoD0nv7y92r6Yy+d8+Qex7jmbPt3hPunePeX/N3IbHLoi853KtnAo9/04+/looAAAAASUVORK5CYII=') no-repeat center;
    display: block;
    float: left;
    margin-top: 5px;
}

.protocol a {
    color: #6aa4f0;
}

.btn-submit {
    display: block;
    height: 74px;
    line-height: 74px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    background-color: #6ba4f0;
    border-radius: 5px;
    width: 600px;
    margin: 50px auto 0;
}
.space-wrap{
    height:50px;
}
.captcha-img img{
    width:200px;
    vertical-align:middle;
}