body {
	background-color: #f0f0f0;
}

.user-about-us-cnt {
  .bg {
    display: block;
    width: 100%;
  }
}


.about-us-list {
	background-color: #fff;
	.li {
		padding: 0 30px;
		height: 90px;

		.l, .r {
			float: left;
			.icon {
				float: left;
				width: 45px;
				height: 90px;
				margin: 0 10px 0 0;
				background: url(../images/wx-icon.png) no-repeat center;
				background-size: 100%;
			}

			.text {
				line-height: 90px;
				font-size: 28px;
			}
		}


		.r {
			float: right;
			.icon {
				float: right;
				margin: 0 0 0 10px;
				background: url(../images/arrow-r-icon.png) no-repeat center;
				background-size: 80%;
			}

		}

	}
}
