{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": "eslint:recommended",
    "plugins": [ "react", "promise" ],
    "rules": {
        "no-extra-parens": ["warn"],
        "array-callback-return": ["warn"],
        "block-scoped-var": ["warn"],
        "default-case": ["warn"],
        "no-eq-null": ["warn"],
        "no-eval": ["error"],
        "no-lone-blocks": ["warn"],
        "no-loop-func": ["error"],
        "no-throw-literal": ["warn"],
        "no-useless-escape": ["warn"],
        "no-undef-init": ["warn"],
        "no-undef": ["off"],
        "no-unused-vars": ["off"],
        "no-multiple-empty-lines": ["warn"],
        "no-nested-ternary": ["warn"],
        "linebreak-style": [ "error", "unix" ],
        "indent": [ "warn", 4 ]
    },
    "env": {}
}