// vars and mixins
@follow-wx-wrap--height: 87px;
@user-info-display-wrap--height: 100px;


// main style
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // no highlight when tapping
}

body {
  background-color: #ececec;
  font-size: 22.5px;
}

.bank-item {
  display:block;
  margin-top: 24px;

  &:last-child {
    margin-bottom: 48px;
  }

  .bank-logo-container {
    position: relative;
    height: 99px;
    padding-left: 36px;
    background-color: #fff;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .bank-open-area {
    padding: 10px 35px;
    background-color: #fafafa;
    color: #999;
    line-height: 1.55;
  }
}
