body {
	background-color: #f0f0f0;
}

.user-FAQ-cnt {
	margin: 100px 0 120px 0; 
}

.user-FAQ-list {
	padding: 0 0 0 30px;
	background-color: #fff;
	
	.li {
		min-height: 86px;
		border-bottom: 1px solid #ebeaea;
		
		.text {
			margin: 0;
			line-height: 86px;
			font-size: 28px;
		}
	}
}
