.recordsPanel {
    height: 100%;
    display: table;
    background-color: #ebebee;
    font-family: 'PingFangSC-Regular, sans-serif';
    overflow: hidden;
    width: 100%;
    position: relative;
}

.colorRed {
    color: #fd4d4c;
}

.reserveItem {
    width: 100%;
    min-height: 360px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fff;
    color: #555;
    font-size: 32px;
    margin-top: 20px;
}

.cancelstyle {
    width: 100%;
    min-height: 360px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fff;
    color: #ccc;
    font-size: 32px;
    margin-top: 20px;
}

.cancelstyle .colorRed {
    color: #ccc;
}

.itemHeader {
    width: 690px;
    height: 90px;
    line-height: 90px;
    padding-left: 30px;
    border-bottom: 1px solid #d8d8d8;
    background-color: #f9f9f9;
}

.itemHeaderLeft {
    float: left;
    font-size: 36px;
}

.itemHeaderRight {
    float: right;
}

.infoContainer {

}

.infoItem {
    width: 690px;
    margin-left: 30px;
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid #e3e5ea;
    display: table;
    font-size: 32px;
}

.infoItem:last-child {
    border-bottom: 0 none;
}

.infoItemLeft {
    float: left;
}

.itemHeaderRight {
    float: right;
    font-size: 36px;
    margin-right: 30px;
}

.cancelBtn {
    width: 143px;
    height: 54px;
    background-color: #fd4d4c;
    border-radius: 4px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 18px;
}

.protocolLook {
    color: #4aa1f9;
}

.emptyPanel {
    height: 100%;
    text-align: center;
    font-size: 28px;
    color: #8591b3;
}

.emptyPanel img {
    margin-bottom: 10px;
    margin-top: 150px;
}

.reloadBtn{
    width: 48px;
    height: 48px;
    position: fixed;
    top:20px;
    right: 20px;
    background: url("../../images/reserve/records/gold_reload.png") no-repeat center;
    z-index: 99;
}

.reloadBtnIos{
    width: 48px;
    height: 48px;
    position: fixed;
    top: 60px;
    right: 20px;
    background: url('../../images/reserve/records/gold_reload.png') no-repeat center;
    z-index: 99;
}