body {
  background-color: #ebebee;
}

.nav-block {
  height: 101px;
}

.from-block {
  margin: 20px 0 20px 0;
  padding:  0 0 0 34px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;

  .input-block {
    height: 96px;
    border-bottom: 1px solid #d8d8d8;
    font-size: 32px;

    .icon {
      float: left;
      width: 50px;
      height: 50px;
      margin: 25px 0 0 0;
      background: url(../images/icon.png) no-repeat;
    }

    .name-icon {
      background-position: -10px -10px;
    }

    .number-icon {
      background-position: -86px -8px;
    }

    .id-icon {
      background-position: -160px -7px;
    }

    .phone-n-icon {
      background-position: -6px -83px;
    }

    .text-block {
      height: 40px;
      padding: 33px 20px 0 60px;

      .text {
        display: block;
        height: 40px;
        line-height: 40px;
      }

      .name-text,
      .number-text,
      .phone-n-text {
        color: #999;
      }

      input {
        float: left;
        width: 100%;
        height: 40px;
        margin-top: -4px;
        font-size: 32px;
        border: none;
        outline:none;
        line-height:normal;
      }
    }


    .bank-name {
      float: right;
      line-height: 96px;
      margin-right:30px;
    }

    .bank-logo {
      float: left;
      line-height: 96px;
      padding-right: 30px;

      .bank-text {
        float: left;
      }

      .img img {
        float: left;
        width: 66px;
        height: 66px;
        margin: 18px 0 0 15px;
        border-radius: 50%;
      }
    }

    .r-icon {
      float: right;
      margin: 30px 20px 0 0;
    }

  }

  .code-block {
    border-bottom: none;

    .input {
      float: left;
      width: 384px;
      padding: 28px 0 0 0;

      input {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 32px;
        border: none;
        outline:none;
      }
    }

    .btn-code {
      float: right;
      padding: 0 30px 0 0;
      line-height: 96px;
      color: #d4d4d4;
      .line {
        float: left;
        width: 1px;
        height: 34px;
        margin: 33px 32px 0 0;
        background-color: #d8d8d8;
      }

      .timing-text {
        color: #4aa1f9;
      }
    }
  }
}



.btn-area {
  margin: 0 30px;
}


.ui-btn {
  height: 84px;
  line-height: 84px;
  text-align: center;
  color: #fff;
  font-size: 36px;
  border-radius: 5px;
}

.ui-red-btn {
  background-color: #fd4d4c;
}



.text-area {
  padding: 50px 30px;
  font-size: 28px;
  line-height: 40px;
  color: #999;

  .text {
    color: #4aa1f9;
  }
}



.select-bank-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #ebebee;
}

.select-bank-content-block {
  * {
    margin: 0;
    padding: 0;
  }

  margin: 20px 0 0 0;
  border-bottom: 1px solid #d8d8d8;

  .select-list {

  }

  .select-list {
    .title-text {
      height: 68px;
      padding: 0 30px;
      line-height: 68px;
      font-size: 28px;
      background-color: #f9f9f9;
      border-top: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
    }

    .list {
      background-color: #fff;

      li {
        height: 98px;
        margin: 0 0 0 30px;
        border-bottom: 1px solid #d8d8d8;
        list-style: none;

        .info-block {
          font-size: 30px;

          span {
            float: left;
          }

          .text {
            line-height: 98px;
          }

          .img {
            margin: 30px 0 0 10px;
          }
        }

        .logo-img {
          float: left;
          width: 60px;
          height: 60px;
          margin: 21px 10px 0 0;
        }
      }

      li:last-child {
        border-bottom: none;
      }

      .last-li {
        border-bottom: none;
      }
    }
  }
}


.prompt-block {
  padding: 25px 55px;

  .text {
    .circular {
      float: left;
      width: 12px;
      height: 12px;
      margin: 16px 0 0 0;
      background-color: #999;
      border-radius: 50%;
    }

    .prompt-text {
      padding: 0 0 0 20px;
      line-height: 46px;
      font-size: 28px;
      color: #999;
    }
  }
}


.top-nav {
  position: relative;
  width: 100%;
  height: 100px;

  .info {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #fff;

    .back-btn {
      position: absolute;
      left: 0;
      right: 0;
      width: 80px;
      height: 100px;

      img {
        margin: 27px 0 0 14px;
      }
    }

    .title {
      line-height: 100px;
      text-align: center;
      font-size: 40px;
      color: #333;
    }

    .r-text {
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      color: #999;
      font-size: 28px;
      line-height: 100px;
      text-align: center;
    }
  }

}


.ui-prompt {
  min-height: 520px;
  padding: 0 70px 50px;
  text-align: center;

  .img {
    padding: 100px 0 20px;
  }

  .title {
    padding: 0 0 10px 0;
    font-size: 44px;
    line-height: 50px;
    color: #5799e8;
  }

  .ui-prompt-text {
    font-size: 30px;
    line-height: 40px;
    color: #a9b1b5;
  }
}


.old-user-from {
  margin-bottom: 20px;
}

.old-user-prompt-text {
  padding: 10px 35px 30px;
  color: #999;
  line-height: 40px;
  font-size: 28px;


  .c {
    color: #4aa1f9;
  }
}

.agree-text {
  margin: 50px 0 0 0;
}

.succeed-open .ui-prompt .title {
  font-size: 56px;
  line-height: 60px;
}

.succeed-open .ui-prompt .ui-prompt-text {
  line-height: 50px;
  font-size: 42px;
  color: #5799e8;
}