.m-bottom {
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
}

.m_bottom_close {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 45px;
    width: 60px;
    height: 60px;
}
.logged-des {
    width: 90%;
    margin: 20px auto;
}

.logged-text, .pre-text {
    width: 592px;
    margin: 0 auto;
}

.howinvite-pre, .howinvite-after, .pre-golog, .after-invest {
    width: 216px;
    height: 50px;
    background-color: #ff3d4b;
    line-height: 50px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    color: #fff;
}

.pre-golog {
    margin-right: 60px;
}

.howinvite-after {
    margin-right: 60px;
}

.pre-des {
    margin: 35px 0;
}