.bottom-box {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
}

.log-box {
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding-top: 26px;
}

.bottom-btn {
    position: absolute;
    top: 0px;
    right: 200px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.pic-ship {
    position: absolute;
    top: -55px;
    left: 8%;
}

.invite-pc-after, .pc-invest, .pre-login, .invite-pc-pre {
    display: inline-block;
    cursor: pointer;
    width: 106px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #ff2f4c;
    border-radius: 20px;
    color: #fff;
    margin-left: 20px;
}

.color-yellow {
    font-size: 16px;
    color: #ffe400;
}

.pre-login {
    margin-left: 20px;
}
.ladder{
    width: 660px;
    margin: auto;
}
table{
    width:100%;
    text-align:center;
    border-collapse:collapse;
    border-spacing:1;
    border-spacing:0; 
}
thead{
    width: 100%;
    height: 60px;
    background: #666;
}
td{
    height: 60px;
    line-height: 60px;
}