.pop-invite-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100
}

.pop-m-invite {
    width: 720px;
    height: 505px;
    background: url("../images/pop-invest/mobileBg.png") no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.pre-box {
    width: 516px;
    height: 400px;
    margin: 150px auto 0;
    font-size: 24px;
    color: #004179;
    text-align: center;
    line-height: 42px;
}

.log-btn {
    width: 250px;
    height: 60px;
    background: #4a9fe7;
    line-height: 60px;
    font-size: 28px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    margin: 20px auto 70px;
    cursor: pointer;
}

.after-box {
    width: 458px;
    height: 390px;
    margin: 90px auto 0;
    font-size: 28px;
    color: #004179;
    text-align: center;
    line-height: 42px;
}

.m-gcm {
    width: 320px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    font-size: 50px;
    color: #555555;
    background: #ededed;
    border-radius: 4px;
    margin: 10px auto 10px;
}

.m-newer {
    font-size: 24px;
    color: #555555;
}

.more {
    display: block;
    width: 250px;
    height: 60px;
    background: #58b7ff;
    line-height: 60px;
    font-size: 28px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    margin: 10px auto 0;
}

.m-close-btn {
    width: 70px;
    height: 70px;
    background: transparent;
    position: absolute;
    top:28px;
    right:30px;
}

.color-red {
    display: inline-block;
    color: #f8544b;
}


.pop-invite-pc {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.pop-invite-pc-text {
    width: 786px;
    height: 505px;
    background: url('../images/pop-invest/pcBg.png') no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -217px;
    left: 50%;
    margin-left: -379px;
}

.nolog-invest {
    width: 464px;
    height: 243px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #913e30;
    padding-top: 100px;
    line-height: 28px;
}

.golog {
    width: 184px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #25a2ea;
    border-radius: 4px;
    margin: 35px auto;
    cursor: pointer;
}

.tips {
    font-size: 14px;
    color: #064277;;
}

.color-red {
    color: #f8544b;
}

.policy-link {
    display: block;
    font-size: 14px;
    color: #58b7ff;
}

.log-invest {
    width: 600px;
    height: 240px;
    margin: 115px auto 0;
    font-size: 16px;
    color: #913e30;
}

.order {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #913e30;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.write-gcm {
    margin-bottom: 40px;
}

.gcm-text {
    display: inline-block;
    width: 136px;
    height: 38px;
    line-height: 38px;
    font-size: 24px;
    color: #555555;
    text-align: center;
    background: #ededed;
    border-radius: 4px;
    margin-left: 5px;
    padding-bottom: 2px;
}

.copy-box {
    margin-bottom: 40px;
}

.copy-tips {
    display: inline-block;
}

.copy-text {
    width: 590px;
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #555555;
    background: #ededed;
    border-radius: 4px;
    margin-top: 5px;
    display: inline-block;
}

.copy-link {
    display: inline-block;
    width: 90px;
    height: 28px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    background: #2daef9;
    border-radius: 4px;
    margin-left: -2px;
    font-size: 14px;
    cursor: pointer;
    border: 0 none;
}

.logged-tips {
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
    color: #064277;
}

.color-red {
    color: #f8544b;
}

.logged-link {
    display: block;
    font-size: 14px;
    color: #58b7ff;
    text-align: center;
}

.close-btn {
    width: 59px;
    height: 59px;
    position: absolute;
    top: 32px;
    right: 30px;
    background: transparent;
    cursor: pointer;
}