{% extends '../../../lib/templates/wap_base.swig.html' %}

{% block head_javascripts %}
<script>
    var TEXT = [
        {
            group_title: '了解项目品牌',
            group_items: [{
                topic_title: '消费贷',
                icon: 'brand',
                topic_items: [{
                    q: '什么是消费贷？',
                    a: '“消费贷”系列项目是金融工场（www.9888.cn）推出的一款面向广大消费群体提供消费分期金融服务的产品。项目多为网信奇点、首山资产等资产提供方推荐。借款人资金多用于满足个人消费需求。本项目由金融工场向交易双方提供方便快捷的借贷信息撮合及居间服务，借款人和出借人通过金融工场平台直接签订法律协议，明确双方的权利义务关系。本项目由大型担保公司或国内有资质的资产管理公司为借款人提供连带责任保证担保或作为债权资产回购方，如果借款人未按时履行还款义务，则由担保方履行担保责任或由资产回购方回购债权人持有的债权，以保证投资人的本金及收益安全。'
                }, {
                    q: ' 如果借款人无力还款，如何保障投资人的本金及收益安全？',
                    a: '如果借款人未按期还款，由担保机构履行担保责任代为清偿借款,或由资产回购方回购债权人持有债权，以保证投资人的本金及收益安全。担保机构或资产收购方负责借款追偿，催收工作。'
                }, {
                    q: '消费贷项目线上都需要签哪些合同？',
                    a: '消费贷项目一般为个人直接融资项目，签订的合同及签署主体如下(仅供参考，以实际签署合同为准)：<br/>（1） 借款合同：出借人、借款人、平台方<br/>（2） 委托担保合同：借款人、担保公司<br/>（3） 保证合同：出借人、担保公司<br/>（4） 借款人咨询服务协议：借款人、咨询方、平台方<br/>（5） 出借人咨询服务协议：出借人、咨询方、平台方<br/>'
                }]
            }
            ]
        },
        {
            group_title: '新手上路',
            group_items: [{
                topic_title: '注册登录',
                icon: 'user',
                topic_items: [{
                    q: '注册需要您提供哪些相关材料？',
                    a: '提供个人常用手机号，短信验证码提交通过后，设置用户名、密码即可注册。'
                }, {
                    q: '身份认证可以修改吗？',
                    a: '一个账号只可身份认证一次，一旦认证成功将无法修改。'
                }, {
                    q: '身份认证总是失败，该如何解决？',
                    a: '请检查身份证号和真实姓名是否匹配，输入是否正确。如输入正确但无法认证成功，请拨打客服电话 <a href="tel:400-0322-988" >400-0322-988</a> ，客服人员会审核您的身份信息后协助您完成身份认证操作。'
                }]
            }, {
                topic_title: '身份认证流程',
                icon: 'approve',
                topic_items: [{
                    q: '身份认证需要您提供哪些相关材料？',
                    a: '需提供您的有效身份证号，及真实姓名。提交后系统会进行核实，核实无误即可认证成功。'
                }, {
                    q: '身份认证可以修改吗？',
                    a: '一个账号只可身份认证一次，一旦认证成功将无法修改。'
                }, {
                    q: '身份认证总是失败，该如何解决？',
                    a: '请检查身份证号和真实姓名是否匹配，输入是否正确。如输入正确但无法认证成功，请拨打客服电话<a href="tel:400-0322-988" >400-0322-988</a>，客服人员会审核您的身份信息后协助您完成身份认证操作。'
                }]
            }, {
                topic_title: '绑定银行卡',
                icon: 'bind',
                topic_items: [{
                    q: '银行卡绑定过程需要提供哪些信息？',
                    a: '需要提供身份认证人的有效银行卡信息，包括发卡行、银行卡号。'
                }, {
                    q: '绑定银行卡失败，该如何解决？',
                    a: '目前徽商银行只支持储蓄卡绑定，暂不支持信用卡和存折绑定。如储蓄卡号、发卡行、开户姓名均正确但无法绑定成功，请拨打客服电话400-0322-988，客服人员会协助您完成绑定操作。'
                }, {
                    q: '可以修改开户行名称吗？',
                    a: '目前只支持绑定一张银行卡，若账户中无余额、无待收时，可在“个人中心”-“我的信息”-“绑定银行卡”下进行修改；若账户中有余额和待收时，则不可以进行银行卡开户支行的修改。'
                }]
            }, {
                topic_title: '还款方式及收益率计算',
                icon: 'interest',
                topic_items: [{
                    q: '（按天）一次性还本付息',
                    a: '按项目实际天数计算利息，项目到期日一次性将投资的本金和利息总额偿还给投资客户。'
                }, {
                    q: '收益如何计算？',
                    a: '项目总期限T天，项目年化收益率R，客户投资本金M：<br/> 到期回款本金：M；<br/> 到期回款利息：M*R*T/360'
                }, {
                    q: '案例：',
                    a: '某“易赚盈”项目期限30天，预期年化收益率12%，客户投资本金1,000,000元，那么：<br/> 到期回款本金=1,000,000元；<br/> 到期回款利息=1,000,000*12%*30/360=10000元；<br/> （注：具体情况按照每个项目的详细信息进行具体分析，最终解释权归金融工场所有。） '
                }, {
                    q: '按月付息到期还本',
                    a: '项目期间每月偿还一次利息，到期日一次性偿还本金和最后一期利息。'
                }, {
                    q: '收益如何计算？',
                    a: '项目总期限T个月，项目年化收益率R，客户投资本金M：<br/> 到期回款本金：M；<br/> 每月（末）回款利息：M*R/12 元； '
                }, {
                    q: '案例：',
                    a: '某“利随享”项目期限12个月，预期年化收益率14%，客户投资本金=1,000,000元，那么：<br/> 到期回款本金：1,000,000元；<br/> 每月回款利息：1,000,000*14%/12=11666.67元；<br/> （注：具体情况按照每个项目的详细信息进行具体分析，最终解释权归金融工场所有。） '
                }]
            }]
        }, {
            group_title: '我要投资',
            group_items: [{
                topic_title: '投资流程',
                icon: 'invest',
                topic_items: [{
                    q: '投资前需要做哪些必要操作？',
                    a: '投资前应完成以下操作内容：<br/> 1.注册账号并登录<br/> 2.开通徽商存管账户<br/> 3.设置交易密码<br/> 4.充值 '
                }, {
                    q: '投资金额是否有限制？',
                    a: '1.单笔投资金额不得低于标的限制的最低起投额<br/> 2.单笔投资金额不得大于标的剩余的可投金额<br/> 3.单笔投资导致标的所剩余的可投金额低于起投额时，不可投资，请尽量输入可直接满标的金额作为最后一笔投资。 '
                }, {
                    q: '投资时会有附加费用产生吗？',
                    a: '投资人在金融工场完成的每一笔投资，平台都不会收取任何附加费用。'
                }, {
                    q: '投资完后该如何查看我的回款状态？',
                    a: '请到“个人中心”-“我的投资”中查看投资记录以及回款计划。'
                }]
            }, {
                topic_title: '资金管理',
                icon: 'zjcg',
                topic_items: [{
                    q: '通过网银支付是否安全？',
                    a: '用户充值、投资和提现操作均通过徽商银行存管系统的网上支付服务完成，保障交易安全，您可放心交易。'
                }, {
                    q: '充值应注意的问题',
                    a: '1）请注意您的银行卡充值限额，以免造成充值失败；<br>2）如果充值金额没有及时到账，请拨打客服电话400-0322-988，客服人员会协助你解决；<br>3）对充值后无投资的提现，收取0.4%的手续费。'
                }, {
                    q: '充值有时间限制吗？',
                    a: '没有时间限制，用户7*24小时均可通过徽商银行资金存管系统充值。'
                }, {
                    q: '如何充值？',
                    a: '徽商银行针对移动端提供了快捷充值方式进行账户充值。'
                }, {
                    q: '港澳台等特殊用户怎么充值？',
                    a: '特殊用户是指大陆境外的港澳台用户，以及因户口动迁等原因导致无法线上进行身份验证开户的用户。徽商银行资金存管上线前已注册并有资金记录行为的特殊用户可以正常进行充值、投资、提现，未注册的新特殊用户，抱歉暂不能为您提供服务。'
                }, {
                    q: '用户提现条件是什么? 有什么限制?',
                    a: '已注册、已开户（已绑卡）、已设置交易密码的用户，可以进行提现。个人用户提现和机构提现，单日最高提现次数为10次，总提现金额最高不超过1000万，单笔最高提现金额最高不超过1000万元。单月笔数和总金额不做限制。'
                },{
                    q: '用户提现方式有哪些？',
                    a: '根据提现金额和到账时间，提现分为实时提现和大额提现两种方式。实时提现：10万及以下的提现，工作日及节假日7*24小时实时到账。大额提现：10万及以上的大额提现，在工作日5*8小时（9:00-17:00）到账，最快30分钟内到账，实际到账时间以发卡行为准。大额提现需填写开户支行。'
                },{
                    q: '提现收手续费吗？怎么收取？',
                    a: '（1）用户在金融工场有过一笔投资后，提现免收手续费；<br>（2）充值后无投资的提现，收取0.4%的手续费；<br>（3）手续费在进行提现交易时实时收取。'
                }]
            }, {
                topic_title: '债权转让',
                icon: 'transfer',
                topic_items: [{
                    q: '什么是债权转让？',
                    a: '线上投资者由于流动性需求，对其已在我平台投资的项目发起债权转让申请，通过线上签订电子合同将原债权全部或部分转让给第三方。转让成功后，转让方获得扣减手续费后的本金和持有期利息，有效提高了我司项目的灵活性和高流动性。'
                }, {
                    q: '如何债权转让？',
                    a: '首先从平台账户“我的投资”列表中选择需要转出的项目，点击“投资的项目-XX项目”右下方蓝色的“债权转让”选项，链接到该笔债权的转让信息填报页面，根据页面提示发起债权转让申请。'
                }, {
                    q: '债权转让收益计算？',
                    a: '以原标还款方式为“一次性还本付息”模式的债权转让标为例：<br/> 假设：<br/> 1.    项目总期限＝T天，预期年化收益率=R，客户投资本金M元；<br/> 2.	客户在持有原标的第D天（已持有期限=D天）在平台发起债权转让：<br/><br/> 分析：原标剩余期限=T-D天，<br/><br/> 债转交易时收取转让方手续费C元；<br/> 转让方实收金额=转让时原标剩余价值-C；<br/> <br/> 到期日受让方回款本金=M元；<br/> 到期日受让方回款利息=M*R*T/360 元；'
                }, {
                    q: '案例：',
                    a: '1.“易车享”XX项目期限180天，预期年化收益率13%，客户投资本金1,000,000元；<br/> 2. 客户在持有债权30天时发起债权转让申请，原标剩余期限150天；<br/> <br/> 分析：转让时原标剩余价值=1,010,142.71元；<br/> 转让方手续费=10,000元；<br/> 转让方实收金额=1010142.71-10000=1,000,142.71元；<br/> <br/> 到期时受让方回款本金=1,000,000元；<br/> 到期时受让方回款利息=1,000,000*13%*180/360=65000元<br/> （注：具体情况按照每个项目的详细信息进行具体分析，最终解释权归金融工场所有。） '
                }]
            }]
        }, {
            group_title: '徽商银行资金存管',
            group_items: [{
                topic_title: '徽商银行资金存管',
                icon: 'hscg',
                topic_items: [{
                    q: '什么是徽商银行资金存管？',
                    a: '用户在金融工场的交易资金通道，将由第三方支付托管账户全面迁移至徽商银行资金存管系统。接入徽商银行存管后，借款人、投资人将在徽商银行开设独立的银行电子账户，交易资金均根据用户指令通过该电子银行账户划拨，从源头上杜绝资金池以及资金占用风险的发生。徽商银行独立电子账户在借款人、平台、投资人之间建立安全屏障，实现投资者资金和平台自有资金的完全隔离。'
                }, {
                    q: '老用户怎么升级徽商银行存管？',
                    a: '1）点击“个人中心”-“开通银行存管账户”滚动公告<br/> 2）开通徽商账户<br/> 3）设置交易密码<br> 4）完成升级 '
                }]
            }, {
                topic_title: '余额收益',
                icon: 'yesy',
                topic_items: [{
                    q: '什么是余额收益？',
                    a: '余额收益是用户徽商存管电子账户的可用余额所产生的利息收益，该收益按照徽商银行定期存款利率或活期存管利率“靠档计息”规则，当资金变动日终时进行计算，用户可在个人中心查询。'
                }, {
                    q: '如何计算存款利息？',
                    a: '徽商直销银行自动靠档计息业务开通了三个月、六个月、一年、两年、三年、五年6个档位。靠档计息账户在进行提前支取时，存款利率按照满足存期要求的最大靠档利率计算。<br>举例：<br>支取靠档计息存款资金时，存期为7个月，则结息靠入整存整取六个月的档位，存款利息=靠档账户支取金额×7个月×六个月定存利率。<br>支取靠档计息存款资金时，存期为50天，则结息无法靠档，根据活期利率结息，存款利息=靠档账户支取金额×50天×活期利率。'
                }]
            }]
        }, {
            group_title: '常见问题',
            group_items: [{
                topic_title: '会员等级',
                icon: 'hydj',
                topic_items: [{
                    q: '什么是会员等级',
                    a: '会员等级是金融工场为广大用户提供的高阶服务，共有5个等级，每一等级都有专属的特权奖励。'
                },{
                    q: '怎么查看我的会员等级',
                    a: '在个人中心，点击头像即可查看当前会员等级。'
                },{
                    q: '什么是贡献值',
                    a: '贡献值是衡量会员等级的标准，在会员等级页面，用户可点击“查看升级攻略 ”了解贡献值的详情。'
                }]
            },{
                topic_title: '工分',
                icon: 'gf',
                topic_items: [{
                    q: '什么是工分',
                    a: '工分是金融工场对用户的回馈奖励，可用于豆哥商城兑换各种商品以及参与相关活动。'
                },{
                    q: '如何获取奖励工分',
                    a: '投资、签到可获得相应工分奖励，投资债权转让标、机构专区标除外。'
                },{
                    q: '工分用途',
                    a: '工分可用于兑换豆哥商城商品；用于参与指定活动。'
                }]
            },{
                topic_title: '返现券',
                icon: 'fxq',
                topic_items: [{
                    q: '什么是返现券？',
                    a: '返现券是金融工场发放给用户的福利，投资时可勾选使用。'
                },{
                    q: '返现券如何使用？',
                    a: '投资时可勾选使用，投资成功后，以现金方式返还到您的平台账户中，到账即可提现。'
                },{
                    q: '返现券会过期吗？',
                    a: '返现券有有效期，请在有效期内投资使用。'
                }]
            },{
                topic_title: '返息券',
                icon: 'fanxq',
                topic_items: [{
                    q: '什么是返息券？',
                    a: '返息券是金融工场新推出的一种活动优惠券，可用于增加工友投资收益。'
                },{
                    q: '返息券如何使用？',
                    a: '投资时可勾选使用，投资成功后，以工豆形式返到工场工豆账户内，工豆可投资使用，工豆有效期30天。投资时，返现券与返息券可以同时勾选，叠加使用。'
                },{
                    q: '返息券会过期吗？',
                    a: '返息券有有效期，请在有效期内投资使用。'
                }]
            },{
                topic_title: '工豆',
                icon: 'gdou',
                topic_items: [{
                    q: '什么是工豆？',
                    a: '工豆是金融工场发放给用户的虚拟货币，不可提现，投资时可抵现金使用。'
                },
				{
                    q: '如何获取工豆？',
                    a: '活动期间投资可得。'
                },
				{
                    q: '工豆该如何使用？',
                    a: '不可提现，投资时可抵现金使用。'
                },
				{
                    q: '工豆会过期吗？',
                    a: '工豆有有效期，请在有效期内投资使用。'
                }]
            }, {
                topic_title: '红包',
                icon: 'hbao',
                topic_items: [
				{
                    q: '什么是红包？',
                    a: '红包是金融工场回馈新老工友的一种福利形式，包括工豆红包和返现券红包。红包须通过微信进行分享及领取。工豆红包领取后，红包金额自动转化为带有效期的等价工豆，仅可在投资时使用，不可提现；返现券红包领取后，红包金额自动转化为带有最小投标金额和可投资期限等限制条件的等价返现券，返现券可在投资时使用，投标成功后，获得相应的返现现金。'
                },
				{
                    q: '如何获取红包？',
                    a: '1.活动期间投资可得。2.签到有几率获得。'
                },
				{
                    q: '如何抢红包？',
                    a: '可在微信中，从好友发给您的链接，朋友圈好友分享的链接中进行抢红包操作，抢到的红包金额会存到您输入的手机号所对应的账户中，投资即可使用。'
                },
				{
                    q: '如何发红包给好友？',
                    a: '可到“个人中心”-“我的红包”-“送出的红包”中点击发红包分享给微信好友或分享到朋友圈。'
                },
				{
                    q: '红包会过期吗？',
                    a: '抢到的红包有有效期，请在有效期内投资使用。'
                }
				]
            },{
                topic_title: '违约金',
                icon: 'wyj',
                topic_items: [{
                    q: '什么是违约金？',
                    a: '违约金是正常还款下，除应还本息之外，补充分配给投资人的金额。'
                },
				{
                    q: '违约金分类',
                    a: '违约金分为逾期违约金和提前还款违约金'
                },
				{
                    q: '何时分配逾期违约金？',
                    a: '由第三方担保机构提供本金利息保证的项目，逾期时首先由担保机构及时代偿，担保机构代偿失效时，将会产生逾期违约金。'
                },
				{
                    q: '何时分配提前还款违约金？',
                    a: '提前还款是每个借款人可享的权利，为保障投资人利益，借款人提前还款后，需缴纳提前还款违约金，由金融工场分配给投资人作为投资损失补偿。'
                }]
            }]
        }, {
            group_title: '了解项目品牌',
            group_items: [{
                topic_title: '易车享',
                icon: 'ycx',
                topic_items: [{
                    q: '什么是易车享',
                    a: '由金融工场（www.9888.cn）推出的汽车行业供应链金融债权转让项目。该项目的债权转让方为上海锋之行汽车金融信息服务有限公司（以下简称"第一车贷"），出让资产为针对优质汽车经销商的供应链融资业务债权。本项目由金融工场向交易双方提供方便快捷的投融资服务，债权转让人和债权受让人（投资人）通过金融工场平台直接签订法律协议，明确双方的权利义务关系，并同时约定债权转让人在债权回购条件成就时向债权受让人履行回购义务，并由国内大型担保公司为投资人提供连带责任保证担保，以保证投资人的本金及收益安全。'
                },{
                    q: '易车享项目是如何对车辆进行抵押或质押的？',
                    a: '易车享项目中所有车辆均抵押或质押给第一车贷，车辆权证及钥匙由第一车贷保管，第一车贷通过GPS对抵押车辆进行实时监管，并由专人每日现场盘点。所有汽车经销商被第一车贷监管的车辆价值均能够覆盖投资人本息的120%以上。'
                },{
                    q: '如果原始债务人无力还款，如何处置所抵押车辆保障投资人的本金及收益安全？',
                    a: ' 如果借款人出现逾期或坏账，对该借贷行为担保的担保机构对每笔借款提供连带责任担保，贷款到期后，借款人出现任何问题，担保机构即会启动代偿机制，按照《保证合同》约定向投资人偿付所有剩余本金及利息。然后担保机构自行负责之后的追偿，催收工作。'
                },{
                    q: '易车享项目线上都需要签哪些合同？',
                    a: '易车享项目为债权转让项目，签订的合同及签署主体如下：<br/>资产收益权转让协议》：转让方、受让方、平台方<br/>《委托担保合同》：转让方、担保方<br/>保证合同》：受让方、担保方<br/>《转让方咨询服务协议》：转让方、咨询方、平台方<br/>《受让方咨询服务协议》：受让方、咨询方、平台方'
                }]
            }, {
                topic_title: '利随享',
                icon: 'lsx',
                topic_items: [{
                    q: '什么是利随享',
                    a: '利随享系列项目是由金融工场（www.9888.cn）推出的一种直接融资项目，项目多为东方信贷、联创集团、盈华集团等大型优质项目提供方推荐，借款人为企业或个人，资金多用于企业经营资金周转及个人消费。本项目由金融工场向交易双方提供方便快捷的投融资服务，借款人和出借人（投资人）通过金融工场平台直接签订法律协议，明确双方的权利义务关系。本项目大多由借款方提供房产作为抵押或由自然人或企业提供反担保，此外，本项目由大型融资性担保公司或国内大型金融机构为投资人提供连带责任保证担保，以保证投资人的本金及收益安全。'
                },{
                    q: '如果借款人无力还款，如何保障投资人的本金及收益安全？',
                    a: ' 如果借款人出现逾期或坏账，对该借贷行为担保的担保机构对每笔借款提供连带责任担保，贷款到期后，借款人出现任何问题，担保机构即会启动代偿机制，按照《保证合同》约定向投资人偿付所有剩余本金及利息。然后担保机构自行负责之后的追偿，催收工作。'
                },{
                    q: '利随享项目线上都需要签哪些合同？',
                    a: '利随享项目一般为个人或企业直接融资项目，签订的合同及签署主体如下：<br/> （1）《借款合同》：出借人、借款人、平台方<br/> （2）《委托担保合同》：借款人、担保公司<br/> （3）《保证合同》：出借人、担保公司<br/> （4）《保证反担保合同》：担保公司、反担保人<br/> （5）《借款人咨询服务协议》：借款人、咨询方、平台方<br/> （6）《出借人咨询服务协议》：出借人、咨询方、平台方'
                },]
            }, {
                topic_title: '友居贷',
                icon: 'yjd',
                topic_items: [{
                    q: '什么是友居贷？',
                    a: '"友居贷"系列项目是由金融工场（www.9888.cn）推出的针对拥有资金需求的优质借款人个人房产抵押类融资服务，项目合作方为深圳壹房壹贷信息技术服务有限公司（简称"第一房贷"），融资所得资金一般用于个人消费及经营性资金周转，借款申请人需提供符合要求的房产(包括商品房、经济适用房及允许上市交易的公房等)作为抵押物，属于风险较低的抵押类贷款业务。本项目由金融工场向交易双方提供方便快捷的投融资服务，借款人和出借人通过金融工场平台直接签订法律协议，明确双方的权利义务关系。此外，项目由国内大型担保公司为投资人提供连带责任保证担保，保证投资人本金及收益安全。'
                },{
                    q: '友居贷项目是将房产抵押给谁？',
                    a: '友居贷项目中所抵押房产均抵押给担保公司。<strong class="line-down">&nbsp;</strong>'
                },{
                    q: '如果借款人无力还款，如何处置所抵押房产保障投资人的本金及收益安全？',
                    a: ' 如果借款人出现逾期或坏账，对该借贷行为担保的担保机构对每笔借款提供连带责任担保，贷款到期后，借款人出现任何问题，担保机构即会启动代偿机制，按照《保证合同》约定向投资人偿付所有剩余本金及利息。然后担保机构自行负责之后的追偿，催收工作。'
                },{
                    q: '友居贷项目线上都需要签哪些合同？',
                    a: '友居贷项目一般为个人直接融资项目，签订的合同及签署主体如下：<br/> （1）《借款合同》：出借人、借款人、平台方<br/> （2）《委托担保合同》：借款人、担保公司<br/> （3）《保证合同》：出借人、担保公司<br/> （4）《保证反担保合同》：担保公司、反担保人<br/> （5）《借款人咨询服务协议》：借款人、咨询方、平台方<br/> （6）《出借人咨询服务协议》：出借人、咨询方、平台方'
                }]
            }, {
                topic_title: '易赚盈',
                icon: 'yzy',
                topic_items: [{
                    q: '什么是易赚盈？',
                    a: '易赚盈系列项目是由"金融工场"平台（www.9888.cn）推出，针对合格小额贷款公司的优质债权资产而设计的一款B2C债权转让项目。该项目的原始债权人均为经过严格挑选的优质小贷公司，本项目资产均经过专业风控团队的严格审核。转让方为国内知名保理公司，转让方委托代理人在金融工场平台进行债权转让项目发布。本项目由原始债权人（小贷公司）及转让方（保理公司）双重承诺债权回购保证项目本息安全。'
                },{
                    q: '如果借款人无力还款，如何保障投资人的本金及收益安全？',
                    a: '如果在原始债权到期日，借款人无力还款，保理公司作为转让人、小贷公司作为原始债权人会在不晚于债权到期日之日起两个工作日内回购其所转让的债权资产，回购价格为与受让方所受让债权对应的借款本息金额，回购款用于支付投资人的本金及利息收益。'
                },{
                    q: '易赚盈项目线上都需要签哪些合同？',
                    a: '易赚盈项目为资产收益权转让项目，签订的合同及签署主体如下：<br/> （1）《资产收益权转让协议》：转让方、受让方、平台方<br/> （2）《转让方咨询服务协议》：转让方、咨询方、平台方<br/> （3）《受让方咨询服务协议》：受让方、咨询方、平台方'
                }]
            }, {
                topic_title: '易收宝',
                icon: 'ysb',
                topic_items: [{
                    q: '什么是易收宝？',
                    a: '"易收宝"系列项目是由金融工场（www.9888.cn）推出的针对企业优质应收账款而设计的一种资产收益权转让类融资服务。项目合作方上海外滩网信互联网金融信息服务有限公司，挑选优质项目推荐至金融工场，项目所出让应收账款均经过上海外滩网信公司专业风控团队严格审核的企业优质资产。金融工场平台向应收账款出让人和应收账款受让人（投资人）提供方便快捷的投融资服务，交易双方通过平台直接签订法律协议，明确双方的权利义务关系。同时，本项目由国内大型金融机构为投资人提供连带责任保证担保，保障投资人本金及收益安全。'
                },{
                    q: '什么是应收账款？',
                    a: '应收账款是指权利人因提供一定的货物、服务或设施等而获得的要求义务人付款的权利，包括现有的和未来的金钱债权及其产生的收益。'
                },{
                    q: '如果借款人无力还款，如何处置所抵押房产保障投资人的本金及收益安全？',
                    a: ' 如果借款人出现逾期或坏账，对该借贷行为担保的担保机构对每笔借款提供连带责任担保，贷款到期后，借款人出现任何问题，担保机构即会启动代偿机制，按照《保证合同》约定向投资人偿付所有剩余本金及利息。然后担保机构自行负责之后的追偿，催收工作。'
                }]
            }, {
                topic_title: '埠贸通',
                icon: 'bmt',
                topic_items: [{
                    q: '什么是埠贸通？',
                    a: '埠贸通系列是由金融工场（www.9888.cn）推出的一款供应链金融项目。金融工场联合国内知名电商平台重点布局海外商品资源、跨境供应链、保税区仓储等资源，实现物流、资金流、信息流的“三位一体”，为供应链中的核心企业及其上下游提供全方位的金融服务。 借款人是为国内知名电商平台跨境商品提供货源的贸易经销商，资金多用于企业经营资金的周转。 该项目以融资方的贸易应收账款作为还款来源， 还款方的信誉和经营状况良好，有效保障投资人的资金安全。 本项目由金融工场向交易双方提供方便快捷的投融资居间服务， 借款人和出借人（投资人）通过金融工场平台直接签订法律协议，明确双方的权利义务关系。本项目由国内大型金融机构为出借人债权提供连带责任保证担保， 并由自然人和/或企业提供反担保，以保证投资人的本金及收益安全。'
                },{
                    q: '什么是供应链金融？',
                    a: '供应链金融是把供应链上的核心企业及相关的上下游配套企业作为一个整体，以产业链为依托、以交易环节为重点、以资金调配为主线、以风险管理为保证、以实现共赢为目标，实现对物流、资金流、信息流的控制，通过对产业链中生产、加工、组装、分销等过程的对接和整合，为供应商、制造商、分销商、零售商、消费者提供全方位的企业融资等服务。'
                },{
                    q: '如果借款人无力还款，如何保障投资人的本金及收益安全？',
                    a: '如果借款人出现逾期或坏账，对该借贷行为担保的担保机构对每笔借款提供连带责任担保。贷款到期后，借款人出现任何问题，担保机构即会启动代偿机制，按照保证合同等法律文件的约定向投资人履行担保责任，然后担保机构自行负责之后的追偿、催收工作。'
                },
				{
                    q: '埠贸通项目线上投资都需要签署哪些合同？',
                    a: '埠贸通项目属于供应链金融类项目，签订的合同及签署主体如下：<br/> (1) 《借款合同》：出借人、借款人、平台方<br/> (2) 《委托担保合同》：借款人、担保公司<br/> (3) 《保证合同》：出借人、担保公司<br/> (4) 《保证反担保合同》：担保公司、反担保人<br/> (5) 《借款人咨询服务协议》：借款人、咨询方、平台方<br/> (6) 《出借人咨询服务协议》：出借人、咨询方、平台方'
                }]
            }]
        }
    ];
</script>
{% endblock %}

{% block title %}帮助中心{% endblock %}