{% extends '../../../lib/templates/wap_base.swig.html' %}

{% block title %}APP下载 - 金融工场{% endblock %}

{% block content %}
<div id="header"></div>
<img src="images/img_thumb.jpg">

<br/>
<a href="http://app.9888.cn/download/apk">
    <img src="images/btn_android.png"></a>
<br/>
<a href="https://itunes.apple.com/cn/app/jin-rong-gong-chang/id939125881?mt=8">
    <img src="images/btn_ios.png"></a>
<br/>

<div class="hr"></div>

<img src="images/1.jpg">
<div class="big-text">随手投资，小钱尽享高收益</div>
<div class="small-text">100元起投，年化收益高达12%</div>

<div class="hr"></div>

<img src="images/2.jpg">
<div class="big-text">邀亲友，一起分享财富</div>
<div class="small-text">用工场码邀亲友注册、投资<br/>双方均可获得高额返利</div>

<div class="hr"></div>

<img src="images/3.jpg">
<div class="big-text">投资收益看得见，一键提现</div>
<div class="small-text">随时查看余额、收益、回款、欠款等信息<br/>更可以直接用手机提现</div>

<div class="hr"></div>

<img src="images/4.jpg">
<div class="big-text">多重安全防控，投资更安心</div>
<div class="small-text">实名认证、动态口令、手势密码、安全证书等<br/>多种安全手段，确保资金和隐私安全</div>

<div class="hr"></div>

<a href="http://app.9888.cn/download/apk">
    <img src="images/btn_android.png"></a>

<a href="https://itunes.apple.com/cn/app/jin-rong-gong-chang/id939125881?mt=8">
    <img src="images/btn_ios.png"></a>

<div class="copyright">©2016 金融工场版权所有</div>

{% endblock %}