html,
body {
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.bill-header {
    width: 100%;
    display: table;
    background: white;
}

.billTitle {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    color: #333;
    background: #fff;
}

.ui-tab-block {
    background: #fff;
    overflow: hidden;
}

:global .ui-tab-li {
    width: 25%;
    float: left;
    display: block;
}

:global .text {
    display: block;
    width: 88px;
    height: 72px;
    margin: 0 auto;
    line-height: 72px;
    text-align: center;
    font-size: 27px;
    color: #999;
    border-bottom: 2px solid #fff;
}

:global .active.ui-tab-li .text {
  color: #649cfe;
  border-bottom: 2px solid #649cfe;
}

.billContainer {
    margin-bottom: 150px;
    margin-top: 20px;
    background-color: #fff;
}

.billContainer-weixin {
    padding-top: 94px;
    margin-bottom: 150px;
}

.list_li {
    display: block;
    height: 156px;
    background: #fff;
    margin-left: 30px;
    border-bottom: 1px solid #ebeaea;
    overflow: hidden;
    &:last-child {
        border-bottom: 1px solid transparent;
    }
}

.list-img {
    width: 113px;
    height: 113px;
    float: left;
    margin-right: 24px;
    margin-top: 24px;
}

.list-img img {
    width: 113px;
    height: 113px;
}

.list-content {
    float: left;
    margin-top: 38px;
}

.apply-num {
    font-size: 32px;
    line-height: 100%;
    color: #333;
    margin-bottom: 16px;
}

.apply-duration {
    font-size: 30px;
    line-height: 100%;
    color: #999;
}

.apply-status-wrap {
    float: right;
    margin-right: 30px;
    margin-top: 46px;
}

.apply-status {
    font-size: 27px;
    line-height: 100%;
    text-align: right;
    margin-bottom: 22px;
}

.bill-1-color {
    color: #649cfe;
}

.bill-2-color {
    color: #fc816f;
}

.bill-3-color {
    color: #f5313f;
}

.bill-4-color {
    color: #999;
}

.apply-time {
    font-size: 25px;
    line-height: 100%;
    color: #999;
}

.no-data {
    display: block;
    width: 362px;
    height: 296px;
    background: url('../images/bills/no-data.png') no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
