.bottom-nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  width: 720px;
  height: 111px;
  bottom: -1px;
  background: #393f5a;
  z-index: 100;
}

.nav-li {
  display: block;
  float: left;
  width: 20%;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.egg {
  position: absolute;
  top: -22px;
  left: 50%;
  width: 140px;
  height: 100px;
  margin-left: -70px;
  border-radius: 50%;
  background-color: #393f5a;
  overflow: hidden;
  z-index: -1;
}

:global .active {
  color: #77a4ea;
}

:global .nav-icon {
  display: block;
  height: 51px;
  margin: 10px 0;
  background-position: center;
  background-repeat: no-repeat;
}

:global .nav-icon-loan {
  background-image: url('../images/bottom-nav-bar/loan.png');
}
:global .active .nav-icon-loan {
  background-image: url('../images/bottom-nav-bar/loan-active.png');
}

:global .nav-icon-bill {
  background-image: url('../images/bottom-nav-bar/bill.png');
}
:global .active .nav-icon-bill {
  background-image: url('../images/bottom-nav-bar/bill-active.png');
}

:global .nav-icon-promote {
  background-image: url('../images/bottom-nav-bar/promote.png');
}
:global .active .nav-icon-promote {
  background-image: url('../images/bottom-nav-bar/promote-active.png');
}

:global .nav-icon-market {
  background-image: url('../images/bottom-nav-bar/market.png');
}
:global .active .nav-icon-market {
  background-image: url('../images/bottom-nav-bar/market-active.png');
}

:global .nav-icon-user {
  background-image: url('../images/bottom-nav-bar/user.png');
}
:global .active .nav-icon-user {
  background-image: url('../images/bottom-nav-bar/user-active.png');
}
