
.fake-body {
  height: 100%;
  background-color: #ececec;
}

.banner {
  width:100%;
  height: 306px;
  background:#44adf0;
  display: block;
}

.top-info {
  display: block;
  position: relative;
  height: 484px;
  text-align: center;
  color: #fff;
  background-color: #44adf0;
}

.top-info .logo {
  padding: 50px 0 0 0;
}

.top-info .title {
  padding: 10px 0 12px 0;
  font-size: 40px;
  line-height: 50px;
}

.top-info .subtitle {
  padding: 20px 0;
  font-size: 30px;
  line-height: 40px;
}

.top-info .tag {
  height: 30px;
  margin: 4px 0 0 0;
}

.top-info .tag img {
  margin-right: 10px;
}

.top-info img:last-child {
  margin-right: 0;
}

.top-info .next {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 60px;
  height: 60px;
  margin: -40px 0 0 0;
  background: url(../images/next.png) no-repeat center;
}

.borrow-money-list {
  position: relative;
  height: 110px;
  margin: 0 0 20px 0;
  padding: 19px 30px;
  background-color: #fff;
}
.borrow-money-list .icon-block {
  float: left;
  margin: 0 20px 0 0;
}
.borrow-money-list .icon-block img {
  width: 113px;
  height: 113px;
  float: left;
}

.info {
  padding: 16px 0;
}

.info .t {
  min-height: 36px;
}

.info .t .title-text {
  float: left;
  padding: 0 10px 0 0;
  line-height: 36px;
  font-size: 32px;
  color: #333;
}

.info .t .tag img {
  float: left;
  margin: 0 10px 0 0;
}

.info.t .tag img:last-child {
  margin-right: 0;
}

.info .b {
  padding-right: 70px;
}

.info .b .text {
  font-size: 26px;
  color: #999;
  line-height: 60px;
}

.info .next {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 0;
  background: url(../images/next-a.png) no-repeat center;
}

.other-products-list {
  margin-bottom: 144px;
}

.other-products-item {
  width: 100%;
  height: 140px;
  background-color: #fff;
}

.other-products-item .product-icon {
  float: left;
  position: relative;
  width: 120px;
  height: 100%;
  margin-left: 21px;
  margin-right: 10px;
}

.other-products-item .product-icon img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.other-products-item .product-title {
  float: left;
  padding: 24px 0;
}

.product-1st-title {
  color: #333;
  font-size: 30px;
  margin-bottom: 10px;
}

.product-2nd-title {
  color: #999;
  font-size: 26px;
}
