::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #6799b0;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6799b0;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6799b0;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #6799b0;
}

.fake-body {
  height: 100%;
  background-color: #ececec;
}

input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  background: transparent;
  outline: none;
  border: none;
}

.login-cnt {
  padding: 0 30px;
}

.top {
  position: relative;
  height: 50px;
  margin: 20px 0 50px;
}

.top .icon {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 50px;
  height: 50px;
  background: url('../images/login/arrow-icon.png') no-repeat center;
  background-size: 24px auto;
}

.top .title {
  display: block;
  font-size: 36px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.get-name-phone {
  padding: 30px 0;
  text-align: center;
  line-height: 30px;
  font-size: 28px;
  color: #fff;
}

.get-name-phone .phone-text {
  padding: 0 10px 0 0;
  color: #fce87c;
}

.logo {
  margin: 0 auto;
  width: 214px;
  height: 214px;
  overflow: hidden;
}

.from-cnt {
  margin: 22px 0 0 0;
  height: 88px;
}

.from-cnt .from {
  margin: -12px 0 0 -1px;
  height: 78px;
  background-color: #3a4a79;
}

.from-cnt .from .icon {
  float: left;
  width: 40px;
  height: 88px;
  margin: 0 0 0 10px;
  background: url('../images/login/s-icon.png') no-repeat center;
  background-size: 24px auto;
}

.from-cnt .from .input {
  padding: 0 50px 0 70px;
}

.from-cnt .from .input input {
  width: 100%;
  height: 48px;
  padding: 20px 0;
  font-size: 28px;
  line-height: 48px;
  border: none;
  color: #fff;
  background: none;
}

.from-cnt .from .pwd-icon {
  float: right;
  width: 50px;
  height: 88px;
  margin-top: -84px;
  background: url('../images/login/pwd-icon.png') no-repeat center;
  background-size: 29px auto;
  margin-right: 16px;
}

.from-cnt .from .pwd-icon1 {
  float: right;
  width: 50px;
  height: 88px;
  margin-top: -84px;
  background: url('../images/login/n.png') no-repeat center;
  background-size: 32px auto;
  margin-right: 16px;
}

.from-cnt .form-border {
  position: relative;
  top: -10px;
  height: 15px;
  border: 1px solid #83d3c3;
  border-top: 0;
}

.register-login-btn {
  margin: 40px 0 0 0;
  display: block;
}

.ui-btn {
  height: 74px;
  line-height: 74px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  background-color: #6ba4f0;
  border-radius: 5px;
}

.forget-pwd-link {
  padding: 20px 0;
}

.forget-pwd-link a {
  float: right;
  line-height: 30px;
  font-size: 26px;
  color: #6ba4f0;
}
