html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.agreement{
  width:654px;
  margin:30px auto 0;
}
.agreement div{
  font-size:24px;
  line-height:42px;
  color:#666;
  text-indent: 2em;
  max-height:999999px;
}

