.bg {
    background: #00a8e5 url('../images/mobile/bg.png') no-repeat center 718px;
}

.get-treasure-btn {
    position: fixed;
    z-index: 999;
    top: 320px;
    right: 40px;
    width: 140px;
    height: 152px;
    background: url('../images/mobile/get-treasure-btn-bg.png');
}

.intro {
    box-sizing: border-box;
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px 32px;
    background-color: #00a8e5;
    color: #fff;
    z-index: 99999;
}

.hide-intro {
    position: absolute;
    top: 0;
    right: 0;
    width: 134px;
    height: 134px;
    background: url('../images/mobile/intro-back-bg.png');
}

.hide-intro span {
    margin: 24px 0 0 69px;
    color: #fff;
    font-size: 24px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.intro-title {
    margin-top: 14px;
    font-size: 26px;
    line-height: 91px;
}

.intro-list {
    margin: 0;
    padding: 0 0 0 24px;
    font-size: 24px;
    line-height: 1.5;
}

.banner {
    position: relative;
    height: 388px;
    background: url('../images/mobile/banner.png') no-repeat;
}

.show-intro {
    position: absolute;
    top: 0;
    right: 0;
    width: 134px;
    height: 134px;
    background: url('../images/mobile/intro-bg.png');
}

.show-intro span {
    margin: 27px 0 0 38px;
    color: #fff;
    font-size: 24px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.invest-entry {
    height: 233px;
    border: 1px solid transparent;
    background: url('../images/mobile/invest-entry-bg.png') no-repeat center;
    text-align: center;
}

.invest-tip {
    margin-top: 68px;
    color: #555;
    font-size: 24px;
}

.invest-entry-btn {
    width: 241px;
    height: 61px;
    line-height: 61px;
    margin: 30px auto 0;
    background: url('../images/mobile/invest-entry-btn-bg.png') no-repeat center;
    color: #fff;
    font-size: 30px;
}

.treasure-info {
    color: #fff;
    font-size: 24px;
}

.treasure-requirement {
    color: #3b7e04;
    font-size: 20px;
}

.treasure-box-1 {
    position: relative;
    height: 269px;
    margin-top: 84px;
}

.treasure-box-1 .treasure-info {
    position: absolute;
    top: 0;
    left: 318px;
}

.treasure-box-1 .treasure-requirement {
    position: absolute;
    left: 232px;
    bottom: 0;
}

.treasure-box-1 .treasure-box {
    position: absolute;
    width: 249px;
    height: 174px;
    left: 190px;
    bottom: 48px;
}

.treasure-box-1-close {
    composes: treasure-box-1;
}

.treasure-box-1-close .treasure-info {
    display: none;
}

.treasure-box-1-close .treasure-box {
    background: url('../images/mobile/box-1-close.png');
}

.treasure-box-1-open {
    composes: treasure-box-1;
}

.treasure-box-1-open .treasure-box {
    background: url('../images/mobile/box-1-open.png');
}

.treasure-box-2 {
    position: relative;
    height: 300px;
    margin-top: 90px;
}

.treasure-box-2 .treasure-info {
    position: absolute;
    top: 0;
    right: 138px;
}

.treasure-box-2 .treasure-requirement {
    position: absolute;
    right: 108px;
    bottom: 0;
}

.treasure-box-2 .treasure-box {
    position: absolute;
    width: 202px;
    height: 191px;
    right: 115px;
    bottom: 54px;
}

.treasure-box-2-close {
    composes: treasure-box-2;
}

.treasure-box-2-close .treasure-info {
    display: none;
}

.treasure-box-2-close .treasure-box {
    background: url('../images/mobile/box-2-close.png');
}

.treasure-box-2-open {
    composes: treasure-box-2;
}

.treasure-box-2-open .treasure-box {
    background: url('../images/mobile/box-2-open.png');
}

.treasure-box-3 {
    position: relative;
    height: 313px;
    margin-top: 113px;
}

.treasure-box-3 .treasure-info {
    position: absolute;
    top: 0;
    left: 213px;
}

.treasure-box-3 .treasure-requirement {
    position: absolute;
    left: 158px;
    bottom: 0;
}

.treasure-box-3 .treasure-box {
    position: absolute;
    width: 278px;
    height: 202px;
    left: 118px;
    bottom: 48px;
}

.treasure-box-3-close {
    composes: treasure-box-3;
}

.treasure-box-3-close .treasure-info {
    display: none;
}

.treasure-box-3-close .treasure-box {
    background: url('../images/mobile/box-3-close.png');
}

.treasure-box-3-open {
    composes: treasure-box-3;
}

.treasure-box-3-open .treasure-box {
    background: url('../images/mobile/box-3-open.png');
}

.treasure-box-4 {
    position: relative;
    height: 352px;
    margin-top: -30px;
}

.treasure-box-4 .treasure-info {
    position: absolute;
    top: 0;
    right: 114px;
}

.treasure-box-4 .treasure-requirement {
    position: absolute;
    right: 94px;
    bottom: 0;
}

.treasure-box-4 .treasure-box {
    position: absolute;
    width: 258px;
    height: 217px;
    right: 105px;
    bottom: 54px;
}

.treasure-box-4-close {
    composes: treasure-box-4;
}

.treasure-box-4-close .treasure-info {
    display: none;
}

.treasure-box-4-close .treasure-box {
    background: url('../images/mobile/box-4-close.png');
}

.treasure-box-4-open {
    composes: treasure-box-4;
}

.treasure-box-4-open .treasure-box {
    background: url('../images/mobile/box-4-open.png');
}

.treasure-box-5 {
    position: relative;
    height: 364px;
    margin-top: 130px;
}

.treasure-box-5 .treasure-info {
    position: absolute;
    top: 0;
    right: 185px;
}

.treasure-box-5 .treasure-requirement {
    position: absolute;
    right: 148px;
    bottom: 0;
    color: #cd6f0a;
}

.treasure-box-5 .treasure-box {
    position: absolute;
    width: 312px;
    height: 264px;
    right: 75px;
    bottom: 54px;
}

.treasure-box-5-close {
    composes: treasure-box-5;
}

.treasure-box-5-close .treasure-info {
    display: none;
}

.treasure-box-5-close .treasure-box {
    background: url('../images/mobile/box-5-close.png');
}

.treasure-box-5-open {
    composes: treasure-box-5;
}

.treasure-box-5-open .treasure-box {
    background: url('../images/mobile/box-5-open.png');
}

.treasure-box-6 {
    position: relative;
    height: 333px;
    margin-top: 90px;
}

.treasure-box-6 .treasure-info {
    position: absolute;
    top: 0;
    left: 241px;
}

.treasure-box-6 .treasure-requirement {
    position: absolute;
    left: 229px;
    bottom: 0;
    color: #cd6f0a;
}

.treasure-box-6 .treasure-box {
    position: absolute;
    width: 258px;
    height: 213px;
    left: 223px;
    bottom: 54px;
}

.treasure-box-6-close {
    composes: treasure-box-6;
}

.treasure-box-6-close .treasure-info {
    display: none;
}

.treasure-box-6-close .treasure-box {
    background: url('../images/mobile/box-6-close.png');
}

.treasure-box-6-open {
    composes: treasure-box-6;
}

.treasure-box-6-open .treasure-box {
    background: url('../images/mobile/box-6-open.png');
}

.skeleton-bg {
    position: absolute;
    width: 197px;
    height: 97px;
    left: 119px;
    bottom: 10px;
    background: url('../images/mobile/skeleton.png');
}

.treasure-box-7 {
    position: relative;
    height: 372px;
    margin-top: 84px;
}

.treasure-box-7 .treasure-info {
    position: absolute;
    top: 0;
    right: 64px;
}

.treasure-box-7 .treasure-requirement {
    position: absolute;
    right: 172px;
    bottom: 0;
    color: #cd6f0a;
}

.treasure-box-7 .treasure-box {
    position: absolute;
    width: 286px;
    height: 242px;
    right: 75px;
    bottom: 48px;
}

.treasure-box-7-close {
    composes: treasure-box-7;
}

.treasure-box-7-close .treasure-info {
    display: none;
}

.treasure-box-7-close .treasure-box {
    background: url('../images/mobile/box-7-close.png');
}

.treasure-box-7-open {
    composes: treasure-box-7;
}

.treasure-box-7-open .treasure-box {
    background: url('../images/mobile/box-7-open.png');
}

.foot {
    margin-top: 139px;
    height: 133px;
    line-height: 153px;
    background: url('../images/mobile/foot-bg.png');
    color: #fff;
    font-size: 26px;
    text-align: center;
}

.invest-info-placeholder {
    height: 140px;
}

.invest-info {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    padding: 36px;
    background-color: rgba(1, 14, 31, .5);
    color: #fff;
    font-size: 26px;
    text-align: center;
}

.invest-info span {
    color: #ffff00;
}

.pop-mask {
    position: fixed;
    z-index: 9999;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: rgba(9, 24, 61, .6);
}

.pop {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.address-pop {
    composes: pop;
    width: 657px;
    height: 574px;
    padding: 217px 112px;
    background: url('../images/mobile/pop-bg.png');
    color: #ff4b46;
    font-size: 36px;
    text-align: center;
}

.company-pop {
    composes: pop;
    width: 656px;
    height: 434px;
    padding: 150px 112px;
    background: url('../images/mobile/company-pop-bg.png');
    color: #ff4b46;
    font-size: 36px;
    text-align: center;
}

.address-pop {
    padding: 0;
}

.address-pop-disabled {
    composes: address-pop;
}

.address-pop-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
    height: 85px;
}

.address-pop-title {
    line-height: 133px;
    color: #ff4b46;
    font-size: 36px;
    text-align: center;
}

.input-item {
    display: table;
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
}

.item-name {
    float: left;
    width: 200px;
    line-height: 40px;
    color: #d36c00;
    font-size: 20px;
    text-align: right;
}

.item-value {
    box-sizing: border-box;
    float: left;
    width: 400px;
    height: 40px;
    line-height: 24px;
    padding: 8px;
    outline: none;
    border: 1px solid #ffe6b6;
    border-radius: 4px;
    color: #555;
    font-size: 20px;
}

.address-pop-disabled .item-value {
    background-color: transparent;
    border: none;
}

.address-item-value {
    composes: item-value;
    height: 84px;
    /*font-size: 30px;*/
}

.submit-btn {
    width: 263px;
    height: 68px;
    line-height: 68px;
    margin: 30px auto;
    background: url('../images/mobile/submit-btn-bg.png');
    color: #fff;
    font-size: 32px;
    text-align: center;
    white-space: pre-wrap;
}

.disabled-submit-btn {
    composes: submit-btn;
    background: url('../images/mobile/disabled-submit-btn-bg.png');
}

.address-pop .tip {
    color: #d36c00;
    font-size: 18px;
    text-align: center;
}