/*领取奖品弹窗*/
.pop-price {
    width: 133px;
    height: 142px;
    position: fixed;
    top: 52%;
    right: 190px;
    cursor: pointer;
    background: url("../images/pc/getprice.png") no-repeat center;
    background-size: 100%;
}

.bg {
    width: 100%;
    height: 2406px;
    background: url("../images/pc/banner.jpg") no-repeat center;
    background-size: cover;
    display: table;
    font-family: 'microsoft yahei';
    padding-bottom: 300px;
    position: relative;
    overflow: hidden;
}

.goInvest {
    width: 562px;
    height: 170px;
    background: url("../images/pc/investbg.png") no-repeat center;
    background-size: 100%;
    margin: 550px auto 0;
    text-align: center;
}

.invest-text {
    font-size: 16px;
    color: #555;
    padding: 50px 0 30px 0;
}

.btn_invest {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    width: 200px;
    height: 45px;
    background: url("../images/pc/btn-invest.png") no-repeat center;
    background-size: 100%;
    margin: 0 auto;
    line-height: 45px;
    border-radius: 40px;
}

.roadbg {
    width: 1110px;
    height: 1845px;
    margin: 0 auto;
    background: url("../images/pc/roadbg.png") no-repeat center;
    background-size: contain;
    margin-top: 300px;
    position: relative;
}

.gift1 {
    width: 436px;
    height: 330px;
    background: url("../images/pc/seabg1.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    top: -282px;
    left: 15px;
}

.gift1 .wrapper-close {
    padding: 102px 0 0 152px;
    position: relative;
}

.gift1 .wrapper-on {
    padding: 65px 0 0 116px;
    position: relative;
}

.gift1_on {
    width: 204px;
    height: 144px;
    background: url("../images/pc/gift1_on.png") no-repeat center;
    background-size: 100%;
}

.des {
    font-size: 14px;
    color: #fff;
}

.gift1 .des {
    padding-left: 108px;
}

.gift2 .des, .gift3 .des, .gift6 .des {
    padding-left: 50px;
    line-height: 42px;
}

.gift4 .des, .gift7 .des {
    padding-left: 20px;
    line-height: 42px;
}

.gift5 .des {
    padding-left: 76px;
    line-height: 42px;
}

.gift1_close {
    width: 172px;
    height: 129px;
    background: url("../images/pc/gift1_close.png") no-repeat center;
    background-size: 100%;
}

.gift1 .wrapper-close:hover {
    padding: 68px 0 0 116px;
}

.gift1 .wrapper-close:hover .gift1_close {
    width: 204px;
    height: 144px;
    background: url("../images/pc/gift1_on.png") no-repeat center;
    background-size: 100%;
}

.price_tips {
    position: absolute;
    width: 368px;
    height: 115px;
    background: url("../images/pc/tipsbg.png") no-repeat center;
    background-size: 100%;
    display: none;
    font-size: 16px;
    color: #555;
    line-height: 30px;
    padding: 25px 18px 0 20px;
    text-align: center;
}

.wrapper-on .price_tips {
    display: block;
}

.price1_tips, .price1-close-tips {
    top: -72px;
    left: 42px;
}

.gift2 .price1-close-tips, .gift3 .price1-close-tips {
    top: -118px;
    left: -120px;
}

.gift4 .price1-close-tips, .gift5 .price1-close-tips, .gift6 .price1-close-tips {
    top: -128px;
    left: -120px;
}

.gift7 .price1-close-tips {
    top: -132px;
    left: -70px;
}

.gift2 {
    width: 418px;
    height: 244px;
    background: url("../images/pc/seabg2.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    top: 155px;
    right: 237px;
}

.gift2 .wrapper-on {
    margin: -61px 0 0 180px;
    position: relative;
}

.gift2_on {
    width: 166px;
    height: 157px;
    background: url("../images/pc/gift2_on.png") no-repeat center;
    background-size: 100%;
}

.gift2_close {
    width: 169px;
    height: 146px;
    background: url("../images/pc/gift2_close.png") no-repeat center;
    background-size: 100%;
}

.gift2 .wrapper-close {
    margin: -14px 0 0 173px;
    position: relative;
}

.gift2 .wrapper-close:hover {
    margin: -67px 0 0 176px;
    position: relative;
}

.gift2 .wrapper-close:hover .gift2_close {
    width: 166px;
    height: 157px;
    background: url("../images/pc/gift2_on.png") no-repeat center;
    background-size: 100%;
}

.gift34 {
    width: 950px;
    height: 750px;
    background: url("../images/pc/seabg34.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    top: 296px;
    left: 45px;
}

.gift3_on {
    width: 195px;
    height: 146px;
    background: url("../images/pc/gift3_on.png") no-repeat center;
    background-size: 100%;
}

.gift3 .wrapper-on {
    margin: 141px 0 0 180px;
    position: relative;
}

.gift3 .wrapper-close {
    margin: 193px 0 0 185px;
    position: relative;
    width: 220px;
    height: auto;
}

.gift3_close {
    width: 174px;
    height: 138px;
    background: url("../images/pc/gift3_close.png") no-repeat center;
    background-size: 100%;
}

.gift3 .wrapper-close:hover {
    margin: 143px 0 0 163px;
}

.gift3 .wrapper-close:hover .gift3_close {
    width: 195px;
    height: 146px;
    background: url("../images/pc/gift3_on.png") no-repeat center;
    background-size: 100%;
}

.gift4_on {
    width: 189px;
    height: 163px;
    background: url("../images/pc/gift4_on.png") no-repeat center;
    background-size: 100%;
}

.gift4 .wrapper-on {
    margin: -96px 0 0 578px;
    position: relative;
}

.gift4 .wrapper-close {
    margin: -40px 0 0 590px;
    position: relative;
}

.gift4_close {
    width: 178px;
    height: 149px;
    background: url("../images/pc/gift4_close.png") no-repeat center;
    background-size: 100%;
}

.gift4 .wrapper-close:hover {
    margin: -96px 0 0 574px;
}

.gift4 .wrapper-close:hover .gift4_close {
    width: 189px;
    height: 163px;
    background: url("../images/pc/gift4_on.png") no-repeat center;
    background-size: 100%;
}

.gift4 .term {
    padding-left: 614px;
}

.gift5 {
    width: 740px;
    height: 400px;
    background: url("../images/pc/seabg5.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    bottom: 475px;
    right: -139px;
}

.gift5_on {
    width: 201px;
    height: 177px;
    background: url("../images/pc/gift5-on.png") no-repeat center;
    background-size: 100%;
}

.gift5 .wrapper-on {
    margin: 41px 0 0 381px;
    position: relative;
}

.gift5 .wrapper-close {
    margin: 109px 0 0 377px;
    position: relative;
}

.gift5_close {
    width: 175px;
    height: 151px;
    background: url("../images/pc/gift5_close.png") no-repeat center;
    background-size: 100%;
}

.gift5 .wrapper-close:hover {
    margin: 41px 0 0 384px;
}

.gift5 .wrapper-close:hover .gift5_close {
    width: 201px;
    height: 177px;
    background: url("../images/pc/gift5-on.png") no-repeat center;
    background-size: 100%;
}

.gift5 .term {
    padding-left: 374px;
    color: #cd6f0a;
}

.gift6 {
    width: 516px;
    height: 242px;
    background: url("../images/pc/seabg6.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    bottom: 172px;
    left: 50px;
}

.gift6_on {
    width: 185px;
    height: 158px;
    background: url("../images/pc/gift6_on.png") no-repeat center;
    background-size: 100%;
}

.gift6 .wrapper-on {
    margin: -117px 0 0 199px;
    position: relative;
}

.gift6 .wrapper-close {
    margin: -67px 0 0 212px;
    position: relative;
}

.gift6_close {
    width: 178px;
    height: 149px;
    background: url("../images/pc/gift6_close.png") no-repeat center;
    background-size: 100%;
}

.gift6 .wrapper-close:hover {
    margin: -118px 0 0 200px;
}

.gift6 .wrapper-close:hover .gift6_close {
    width: 185px;
    height: 158px;
    background: url("../images/pc/gift6_on.png") no-repeat center;
    background-size: 100%;
}

.gift6 .term {
    padding-left: 219px;
    color: #cd6f0a;
}

.gift7 {
    width: 558px;
    height: 236px;
    background: url("../images/pc/seabg7.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    bottom: -170px;
    right: 174px;
}

.gift7_on {
    width: 227px;
    height: 200px;
    background: url("../images/pc/gift7_on.png") no-repeat center;
    background-size: 100%;
}

.gift7 .wrapper-on {
    margin: -123px 0 0 258px;
    position: relative;
}

.gift7 .wrapper-close {
    margin: -60px 0 0 253px;
    position: relative;
}

.gift7_close {
    width: 197px;
    height: 178px;
    background: url("../images/pc/gift7_close.png") no-repeat center;
    background-size: 100%;
}

.gift7 .wrapper-close:hover {
    margin: -124px 0 0 260px;
}

.gift7 .wrapper-close:hover .gift7_close {
    width: 227px;
    height: 200px;
    background: url("../images/pc/gift7_on.png") no-repeat center;
    background-size: 100%;
}

.gift7 .term {
    padding-left: 275px;
    color: #cd6f0a;
}

.term {
    padding: 15px 0 0 171px;
    font-size: 14px;
    color: #3b7e04;
}

.gift2 .term {
    padding-left: 180px;
    padding-top: 27px;
}

.gift3 .term {
    padding: 15px 0 0 206px;
}

.color-red {
    font-size: 16px;
    color: #fd4d4c;
}

.intro {
    width: 100%;
    height: 400px;
    background: #0897da;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    display: table;
}

.intro .text {
    width: 1140px;
    margin: 40px auto 0;

}

.text .title {
    font-size: 26px;
    margin-bottom: 30px;
}

.wrapper-close .des {
    display: none;
}

.wrapper-close:hover .des {
    display: block;
}

.color-yellow {
    color: #ffff00;
}

.cantopen {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    font-size: 14px;
    color: #fff;
}
