html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.loan-num{
  height:170px;
  padding-top:30px;
  background:#fff;
  margin-top:25px;
}
.loan-money{
  font-size:90px;

  text-align:center;
}
.overdue-color{
  color:#50ad9a;
}
.pay-back-color{
  color:#666;
}
.loan-status1{
  text-align:center;
}
.loan-status2{
  text-align:center;
  font-size:25px;
  color:#666;
  display:none;
}
.loan-detail-box{
  margin-top:20px;
  background:#fff;
  padding:0 32px;
  border-top:1px solid #f0f0f0;
}
.loan-detail-box div{
  height:99px;
  line-height:99px;
  font-size:32px;
  color:#333;
  border-bottom:1px solid #f0f0f0;
}
.loan-detail-box div span a{
  color:#50ad9a;
}
.loan-detail-box div span:first-child{
  float:left;
}
.loan-detail-box div span:last-child{
  float:right;
  color:#666;
}
.pay-back-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:36px auto 0;
}
