.invest-stats-grp {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 121px;
    margin: 20px 0;
    background-color: #fff;
}

.invest-stats {
    float: left;
    width: 329px;
    height: 120px;
    margin-left: 30px;
}

.invest-stats-name {
    margin-top: 27px;
    color: #999;
    font-size: 24px;
}

.invest-stats-value {
    color: #fd4d4c;
    font-size: 32px;
}

.invest-stats-value::before {
    content: '￥';
}

.vertical-line {
    float: left;
    width: 1px;
    height: 62px;
    margin: 29px 0;
    background-color: #eee;
}

.sort-tab {
    position: sticky;
    top: 88px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.sort-type {
    display: inline-block;
    width: 33.3%;
    height: 90px;
    color: #555;
    font-size: 28px;
    text-align: center;
}

.sort-type-name {
    box-sizing: border-box;
    display: inline-block;
    height: 90px;
    line-height: 90px;
    padding: 0 12px;
    border-bottom: 3px solid transparent;
}

.sort-type-name-active {
    composes: sort-type-name;
    border-bottom: 3px solid #fd4d4c;
}

.sort-btn {
    box-sizing: border-box;
    display: inline-block;
    width: 24px;
    height: 90px;
    line-height: 90px;
    vertical-align: middle;
}

.sort-asc {
    display: block;
    height: 38px;
    margin-bottom: 9px;
    background: url('../../images/stats/sort-icon.png') no-repeat center bottom;
}

.sort-asc-active {
    composes: sort-asc;
    background: url('../../images/stats/sort-icon-active.png') no-repeat center bottom;
}

.sort-des {
    display: block;
    height: 43px;
    background: url('../../images/stats/sort-icon.png') no-repeat center bottom;
    transform: rotate(0.5turn);
}

.sort-des-active {
    composes: sort-des;
    background: url('../../images/stats/sort-icon-active.png') no-repeat center bottom;
}

.investor-list {
    box-sizing: border-box;
    padding-left: 30px;
    background-color: #fff;
}

.investor-item {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 128px;
    padding-right: 64px;
    background: url('../../images/stats/entry-btn.png') no-repeat 645px;
}

.left-info {
    float: left;
    height: 127px;
}

.left-top-info {
    height: 60px;
    line-height: 96px;
    color: #555;
    font-size: 32px;
}

.left-bottom-info {
    line-height: 2.2;
    color: #999;
    font-size: 24px;
}

.right-info {
    float: right;
    height: 127px;
    text-align: right;
}

.right-top-info {
    height: 60px;
    line-height: 96px;
    color: #fd4d4c;
    font-size: 32px;
}

.right-bottom-info {
    line-height: 2.2;
    color: #999;
    font-size: 24px;
}

.end-of-item-info {
    margin: 20px 0;
    color: #999;
    font-size: 28px;
    text-align: center;
}

.empty-info {
    position: fixed;
    width: 100%;
    height: calc(100% - 338px);
    background: url('../../images/stats/empty-bg.png') no-repeat center;
}