body{
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  overflow-x: hidden;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.aisidiContainer{
  width: 100%;
  height: auto;
  font-size: 0.16rem;
  .aisidiTop{
    width: 100%;
    height:0.84rem;
    background: url("../images/top@ldy.jpg") no-repeat center;
    background-size: 100%;
  }
  .banner{
    width: 100%;
    height: 4.18rem;
    background: url("../images/banner2@ldy.jpg") no-repeat center;
    background-size: 100%;
  }
  .registerForm{
    width: 100%;
    height: auto;
    background-color: #be0d78;
    .formBox{
      width: 6.7rem;
      background-color: #fff;
      margin: 0 auto;
      border-radius: 5px;
      .topPic{
        width: 100%;
        height: 1rem;
        background: url("../images/a2@ldy.png") no-repeat center;
        background-size: 100%;
      }
      .formContainer{
        padding: 4% 40px 18px;
        .inputBox{
          margin-bottom: 24px;
          height: 48px;
          line-height: 48px;
          position: relative;
          .inputs{
            height: 48px;
            font-size: 19px;
            width: 96%;
            padding-left: 4%;
            display: block;
            background-color: #fff;
            border: 1px solid #d8d8d8;
            -webkit-border-radius: 4px;
          }
        }
        .registerButton{
          display: block;
          width: 100%;
          text-align: center;
          -webkit-border-radius: 3px;
          color: #fff;
          background: #fd4d4c;
          height: 50px;
          line-height: 50px;
          font-size: 20px;
        }
        .tips{
          padding: 12px 0 0;
          font: 15px/1.5 "microsoft yahei";
          text-align: center;
          color: #ccc;
        }
      }
    }
    .wrap{
      width: 6.7rem;
      margin: 0 auto;
      border-radius: 5px;
      font: 15px/3.5 "microsoft yahei";
      color: #fff;
      text-align: center;
      .wrapLink{
        color: #ffe700;
        text-align: center;
      }
    }
  }
  .box2{
    width: 100%;
    height: 4.58rem;
    padding-top: 0.79rem;
    .title{
      width: 3.74rem;
      height: 0.77rem;
      padding: 0 1.72rem 0.43rem 1.74rem;
      background: url("../images/feature-logo.png") no-repeat center;
      background-size: 56%;
      margin-bottom:0.5rem;
    }
    .contentbox{
      width:6.32rem;
      height: 1.96rem;
      padding: 0 .4rem 0.63rem 0.48rem;
      .bottom{
        margin-bottom: 0.36rem;
      }
      .line{
        width: 100%;
        height: 0.8rem;
        .c-left{
          width: 0.86rem;
          height: 0.8rem;
          background: url("../images/feature_icon1.jpg") no-repeat center;
          background-size: 100%;
          float: left;
        }
        .c-lefts{
          width: 0.86rem;
          height: 0.8rem;
          background: url("../images/feature_icon2.png") no-repeat center;
          background-size: 100%;
          float: left;
        }
        .c-right{
          width: 5.16rem;
          height: 0.8rem;
          padding-left: 0.3rem;
          float: right;
          color: #999;
          font-size: 16px;
        }
      }

    }
  }
  .box3{
    .box31{
      padding: 0% 24%;
      img{
        width: 100%;
        height: auto;
        vertical-align: top;
      }
    }
    .box32{
      padding-top: 5%;
      img{
        width: 100%;
        height: auto;
        vertical-align: top;
      }
    }
    .box33{
      padding: 1% 3.4% 0;
      .box-left{
        float: left;
        width: 50%;
        text-align: center;
        color: #666;
        font: 12px/1.2 "microsoft yahei";
        .number{
          font: 18px/1.2 "microsoft yahei";
          color: #ef758a;
        }
      }
    }
  }
  .box4{
    margin-top: 5%;
    .box42{
      .fl{
        float: left;
      }
      .fr{
        float: right;
      }
      .btm{
        padding: 0 0 5%;
        width: 50%;
        text-align: center;
        .btm-img {
          width: 54%;
          margin: 0 auto;
          img{
            width: 100%;
            vertical-align: top;

          }
        }
      }
    }
  }
}
