body {
  background-color: #ebebee;
}

a {
  text-decoration: none;
}

.help-wrap {
  background: #fff;
  padding-left: 30px;
  margin-top: 20px;
  border-top: 1px solid #d8d8d8;
}

.help-item {
  display: block;
  height: auto;
  line-height: 88px;
  border-bottom: 1px solid #e3e5ea;
  overflow: hidden;
  .ans {
    font-size: 28px;
    float: left;
    line-height: 50px;
    padding: 20px 0;
  }
}

.item-title {
  font-size: 28px;
  color: #999;
  float: left;
  line-height: 50px;
  padding: 20px 0;
  width: 600px;
  &.ask {
    color: #000;
  }
}

.help-img {
  width: 80px;
  height: 80px;
  float: right;
  border-radius: 50%;
  margin-right: 23px;
  margin-top: 10px;
}
