.totalCount {
    width: 100%;
    height: 316px;
    background: #877be7;
    font-size: 80px;
    color: #fff;
    text-align: center;
    margin-top: -1px;
    display: table;
}

.bg {
    width: 100%;
    height: 40px;
    background: url("../../images/bills/bills/totalCountBg.png") no-repeat center bottom;
    margin-top: -40px;
}

.totalNum {
    margin-top: 80px;
}

.totalTips {
    font-size: 22px;
    color: #c7c0ff;
}

.totalInfo {
    width: 100%;
    height: 80px;
    padding: 50px 0;
    background: #ffffff;
    display: table;
    font-size: 50px;
    color: rgba(135, 123, 231, 0.9);
    margin-top: -1px;
}

.totalInfoLeft, .totalInfoRight {
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;
}

.totalInfoLeft {
    width: 49%;
    border-right: 1px solid #e8e7f0;
}

.infoDes {
    font-size: 22px;
    color: #888888;
}