{% extends '../../../lib/templates/loan_base.swig.html' %}
{% block title %}邀请好友{% endblock %}
{% block content %}
 <div class="invite-bg">
     <div class="get-btn">马上领钱</div>
     <div class="tabs">
         <span class="rule-btn selected"></span>
         <span class="invite-btn"></span>
     </div>
 </div>
<div id="tab-content">
    <div class="tab-content-item">
        <div class="tab-content-item-wrap1">
            <div class="rule-item">1、活动期间，若被邀请人首次投资选择债权转让项目，则该被邀请的好友不计入邀请人奖励统计；且投资人投资债权转让项目，该笔投资不享受活动福利；</div>
            <div class="rule-item">2、非等额标包括还款方式为一次性还本付息、按月付息到期还本和按天一次性还本付息的一次性还本标；等额标包括还款方式为按月等额还款和按季等额还款标。</div>
            <div class="rule-item">2、非等额标包括还款方式为一次性还本付息、按月付息到期还本和按天一次性还本付息的一次性还本标；等额标包括还款方式为按月等额还款和按季等额还款标。</div>
        </div>

    </div>
    <div class="tab-content-item" style="display:none;">
        <div class="tab-content-item-wrap2">
            <div class="invite-item">
                <span class="phone-num">1861***1234</span>
                <span class="invite-status">注册成功</span>
                <span class="invite-date">2017-01-28</span>
            </div>
            <div class="invite-item">
                <span class="phone-num">1861***1234</span>
                <span class="invite-status">注册成功</span>
                <span class="invite-date">2017-01-28</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
