html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.result-box{
  padding-top:66px;
  background:#fff;
  margin-top:20px;
}
.loan-result1{
  margin-top:56px;
  width:100%;
  height:193px;
  position:relative;
  display:none;
}
.loan-result2{
  margin-top:56px;
  width:100%;
  height:233px;
  position:relative;
  display:none;
}
.loan-result3{
  margin-top:56px;
  width:100%;
  height:233px;
  position:relative;
  display:none;
}
.loan-result4{
  margin-top:56px;
  width:100%;
  height:193px;
  position:relative;
}
.icon1{
  background:url(../images/icon-success.png) no-repeat;
  width:50px;
  height:50px;
  position:absolute;
  top:0;
  left:117px;
}
.icon1-info{
  font-size:32px;
  color:#666;
  position:absolute;
  top:10px;
  left:188px;
}
.icon2{
  width:18px;
  height:18px;
  border:1px solid #ddd;
  border-radius:50%;
  position:absolute;
  top:101px;
  left:132px;
}
.icon2-info{
  font-size:32px;
  color:#666;
  position:absolute;
  top:94px;
  left:188px;
}
.line{
  width:1px;
  height:50px;
  background:#ddd;
  position:absolute;
  top:50px;
  left:142px;
}
.line2{
  width:1px;
  height:85px;
  background:#ddd;
  position:absolute;
  top:50px;
  left:142px;
}
.service-wrap{
  font-size:27px;
  color:#999;
  text-align:center;
  height:112px;
  line-height:112px;
  width:654px;
  border-top:1px dashed #ddd;
  margin:0 auto;
}
.service-wrap a{
  color:#50ad9a;
}
.service-wrap img{
  margin-top:-7px;
  margin-right:20px;
}
.icon3{
  background:url(../images/icon-success.png) no-repeat;
  width:50px;
  height:50px;
  position:absolute;
  top:87px;
  left:117px;
}
.icon3-info{
  position:absolute;
  top:94px;
  left:188px;
}
.icon3-info-top{
  font-size:32px;
  color:#666;
}
.icon3-info-btm{
  font-size:27px;
  color:#999;
}
.credit-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:37px auto 0;
  display:none;
}
.apply-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:37px auto 0;
}
.success-result-for-jrgc{
  display:none;
}
.success-icon{
  display:none;
}
.icon4{
  background:url(../images/icon-fail.png) no-repeat;
  width:50px;
  height:50px;
  position:absolute;
  top:0;
  left:117px;
}
.icon4-info{
  position:absolute;
  top:10px;
  left:188px;
}
.icon4-info-top{
  font-size:32px;
  color:#666;
}
.icon4-info-btm{
  font-size:27px;
  color:#999;
}
.icon5{
  width:18px;
  height:18px;
  border:1px solid #ddd;
  border-radius:50%;
  position:absolute;
  top:135px;
  left:132px;
}
.icon5-info{
  font-size:32px;
  color:#666;
  position:absolute;
  top:126px;
  left:188px;
}
