body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,b {
    margin: 0; padding: 0;}
body, html{position:relative;margin:0 auto;background-color:#ebebee;}
.clearfix{zoom:1}
.clearfix:after{content:"";display:block;clear:both}
a:active,a:focus{outline:0;}
a{text-decoration: none;}
input[type="submit"], input[type="text"], input[type="tel"], input[type="number"], input[type="button"], input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  line-height: normal;
}

input, label, button, textarea, select {
  border: medium none;
  font-family: "Microsoft YaHei", Arial, Helvetica, simhei, sans-serif;
}

input:focus {
  outline: 0;
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
}




.inld{
    z-index: 1;
    position: relative;
    margin: 0 auto;
    padding: 49px 0 0;
    box-sizing: border-box;
}

.eri{
    width: 92%;
    margin: 0 auto;
}

.dream{
    height: 82px;
    line-height: 82px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    background: white;
}

.fc{
    display: inline-block;
    float: left;
    margin-top: 23px;
    margin-left: 21px;
    margin-right: 19px;
}

.kgt{
    color: #999999;
    font-size: 32px;
}

.drm{
    margin-top: 20px;
}

.good{
    color: #cccccc;
    font-size: 32px;
}

.icno{
    margin-top: 27px;
}

.qing{
    margin-top: 21px;
}

.shyan{
    float: left;
    width: 64%;
    height: 82px;
    line-height: 82px;
    background: white;
    border: 1px solid #d8d8d8;
    border-radius: 8px; 
}

.mzysq{
    padding-left: 21px;
    font-size: 36px;
    color: #cccccc;
}

.miaoh{
    float: right;
    width: 32%;
    height: 84px;
    line-height: 84px;
    background: #8296af;
    border-radius: 8px;
    text-align: center;
    color: white; 
    font-size: 28px;
}

.voice{
    font-size: 28px;
    color: #999999;
    margin-top: 9px;
}

.geanc{
    color: #4aa1f9;
}

.trade{
    height: 83px;
    line-height: 83px;
    color: white;
    font-size: 36px;
    text-align: center;
    background: #fd4d4c;
    margin-top: 46px;
    border-radius: 6px;
}

.put{
    width: 88%;
    display: inline-block;
    font-size: 32px;
}











































