body {
	background-color: #ececec;
}


.borrow-money-list {
	position: relative;
	height: 138px;
	padding: 32px 30px;
	background-color: #40a4ef;

	.icon-block {
		float: left;
		margin: 0 20px 0 0;	
		img {
			float: left;
		}
	}

	.info {
		.t {

			.title-text {
				display: block;
				padding: 0 10px 0 0 ;
				line-height: 42px;
				font-size: 38px;
				color: #fff;
			}

			.text {
				font-size: 26px;
				line-height: 52px;
				color: #fff;
			}
		
		}

		.b {
			padding: 4px 15px 0 0;
			.tag {

				img {
					float: left;
					margin: 0 10px 0 0;
				}

				img:last-child {
					margin-right: 0;	
				}
			}

		}
	}

}


.borrow-money-detail-data {
	height: 136px;
	margin: 0 0 20px 0;
	background-color: #fff;
	display: -moz-box; 
	display: -webkit-box;
	display: -o-box;
	display: box; 



	.list {
		width: 100%;
		height: 82px;
		margin: 28px 0;
		text-align: center;
		border-right: 1px solid #ececec;
		-webkit-box-flex: 1; 
		   -moz-box-flex: 1; 
				box-flex: 1;

		.name-text {
			font-size: 26px;
			line-height: 40px;
			color: #333;
		}

		.data-text {
			font-size: 26px;
			line-height: 40px;
			color: #999;

			img {
				position: relative;
				top: 5px;
				left: 4px;
			}
		}

		&:last-child {
			border-right: none;
		}
	}
}

.datail-list {
	margin-bottom: 20px;
	background-color: #fff;
	
	.title {
		padding: 0 15px;
		height: 76px;
		background-color: #f9f9f9;

		.icon {
			float: left;
			width: 50px;
			height: 76px;
			margin: 0 8px 0 0;
		}
		
		.text {
			line-height: 76px;
			font-size: 26px;
		}
	}

	.info-block {
		height: 100px;

	}
}




































































