html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.header{
  width:100%;
  height:100px;
  line-height:100px;
  background:#fff;
  font-size:36px;
  color:#333;
  text-align:center;
}
.loan-num{
  width:100%;
  height:288px;
  padding-top:110px;
  background:#50ad9a;
}
.max-loan-title{
  font-size:25px;
  color:#fff;
  text-align:center;
  margin-bottom:10px;
}
.max-loan-money{
  font-size:104px;
  color:#fff;
  text-align:center;
}
.loan-info{
  width:654px;
  height:178px;
  padding-top:204px;
  margin:-92px auto 0;
  background:#fff;
  border-radius:20px;
}
.credit-money-title, .loan-duration-title{
  display:block;
  font-size:24px;
  color:#999;
  text-align:center;
  margin-bottom:20px;
}
.credit-money-num, .loan-duration-num{
  display:block;
  font-size:60px;
  color:#999;
  text-align:center;
}
.credit-money,.loan-duration{
  width:50%;
  float:left;
}
.credit-lines{
  overflow:hidden;
}
.loan-info-items{
  position:relative;
}
.vertical-line{
  display:block;
  width:1px;
  height:77px;
  background:#ebeaea;
  position:absolute;
  top:20px;
  left:50%;
}
.loan-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:37px auto 0;
  display:none;
}
.loan-tip{
  font-size:27px;
  color:#999;
  margin-top:20px;
  text-align:center;
}
.credit-btn{
  overflow:hidden;
  width:654px;
  margin:37px auto 0;
}
.credit-improvement-btn{
  width:308px;
  border:1px solid #50ad9a;
  border-radius:8px;
  height:82px;
  line-height:82px;
  text-align:center;
  font-size:34px;
  color:#50ad9a;
  float:left;
}
.credit-apply-btn{
  width:308px;
  border:1px solid #50ad9a;
  background:#50ad9a;
  border-radius:8px;
  height:82px;
  line-height:82px;
  text-align:center;
  font-size:34px;
  color:#fff;
  float:right;
}
