@import "./common.less";
html,body{
  margin: 0;
  background-color: #ebebee;
}
a, input,ul,li,p {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
  margin: 0;
  padding: 0;
  list-style: none ;
}
.container{
  width: 100%;
  height: 100%;
}
