.bg {
    background: #f0f0f0;
    height: 100%;
}

.banner {
    display: block;
    height: 300px;
    width: 100%;
}

.panel-title {
    padding: 27px;
    color: #666;
    font-size: 30px;
    background: white;
}

.icon-money {
    position: relative;
    top: 4px;
    margin-right: 12px;
}

.icon-recommended {
    position: relative;
    top: 4px;
    margin-right: 12px;
}

.product {
    height: 170px;
    position: relative;
    color: #666;
    font-size: 26px;
    background: white url("../images/home/next-icon.png") no-repeat 660px center;
}

.product .bottom-line {
    width: 690px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    background: #eeeeee;
}


.product-logo {
    position: absolute;
    top: 35px;
    left: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #eee;
}

.product-title {
    color: #333333;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 150px;
}

.product-limit {
    color: #6aa4f0;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 280px;
}

.product-expire {
    position: absolute;
    top: 95px;
    left: 150px;
}

.product-interest {
    position: absolute;
    top: 95px;
    left: 280px;
}

.product-timing {
    position: absolute;
    top: 95px;
    left: 460px;
}

.sep-line {
    height: 20px;
}

.sp-item {
    background: white url("../images/home/next-icon.png") no-repeat 660px center;
    box-sizing: border-box;
    padding-top: 1px;
    position: relative;
    height: 160px;
}

.sp-logo {
    margin: 20px 20px 0 20px;
    float: left;
    width: 114px;
    height: 114px;
}

.sp-t-a {
    color: #333;
    font-size: 33px;
    margin-top: 30px;
}

.sp-t-b {
    color: #999;
    font-size: 30px;
    margin-top: 14px;
}

.ft-links {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.ft-links a {
    font-size: 28px;
    color: #666;
}

.ft-links span {
    display: inline-block;
    width: 1px;
    height: 26px;
    background: #ccc;
    margin: 0 37px;
    vertical-align: text-bottom;
}

.company-info {
    text-align: center;
    font-size: 22px;
    color: #999;
    line-height: 30px;
}