.bg {
    background: #f0f0f0;
    min-height: 100%;
}

.banner {
    display: block;
    height: 300px;
    width: 100%;
}

.panel-title {
    padding: 27px;
    color: #666;
    font-size: 30px;
    background: white;
}

.icon-money {
    position: relative;
    top: 6px;
    margin-right: 12px;
}

.icon-recommended {
    position: relative;
    top: 6px;
    margin-right: 12px;
}

.product {
    display: block;
    height: 170px;
    position: relative;
    color: #666;
    font-size: 24px;
    background: white url("../images/home/next-icon.png") no-repeat 672px center;
}

.product .bottom-line {
    width: 690px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    background: #eeeeee;
}

.product-logo {
    position: absolute;
    top: 35px;
    left: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.product-title {
    color: #333333;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 150px;
}

.product-limit {
    color: #6aa4f0;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 280px;
}

.product-expire {
    position: absolute;
    top: 95px;
    left: 150px;
}

.product-interest {
    position: absolute;
    top: 95px;
    left: 280px;
}

.product-timing {
    position: absolute;
    top: 95px;
    left: 486px;
}

.sep-line {
    height: 20px;
}

.sp-item {
    background: white url("../images/home/next-icon.png") no-repeat 660px center;
    box-sizing: border-box;
    padding-top: 1px;
    position: relative;
    height: 160px;
}

.sp-logo {
    margin: 20px 20px 0 30px;
    float: left;
    width: 100px;
    height: 100px;
}

.sp-t-a {
    color: #333;
    font-size: 30px;
    margin-top: 30px;
}

.sp-t-b {
    color: #999;
    font-size: 24px;
    margin-top: 10px;
}

.ft-links {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.ft-links a {
    font-size: 28px;
    color: #666;
}

.ft-links span {
    display: inline-block;
    width: 1px;
    height: 26px;
    background: #ccc;
    margin: 0 37px;
    vertical-align: text-bottom;
}

.company-info {
    text-align: center;
    font-size: 22px;
    color: #999;
    line-height: 30px;
}

.enable-youyi {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.4) url("../images/home/bingo-bg.png") no-repeat center 30%;
}

.enable-youyi .text-a {
    margin-top: 525px;
    color: #fe5756;
    font-size: 50px;
}

.enable-youyi .text-b {
    margin-top: 20px;
    font-size: 30px;
    color: #666666;
    line-height: 52px;
}

.enable-youyi .btn-close {
    display: block;
    left: 50%;
    width: 58px;
    height: 58px;
    margin: 185px auto 0;
    background: transparent url("../images/home/bingo-close.png") no-repeat center;
}