html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'San Francisco', 'PingFang SC', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    background: transparent;
    outline: none;
    border: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
    border: none;
}
