body {
    background-color: #ececec
}

.borrow-money-list {
    position: relative;
    height: 138px;
    padding: 32px 30px;
    background-color: #40a4ef
}

.borrow-money-list .icon-block {
    background: #fff;
    border-radius: 50%;
    margin: 0 20px 0 0
}

.borrow-money-list .icon-block,.borrow-money-list .icon-block img {
    float: left;
    width: 136px;
    height: 136px
}

.borrow-money-list .info .t .title-text {
    display: block;
    padding: 0 10px 0 0;
    line-height: 42px;
    font-size: 38px;
    color: #fff
}

.borrow-money-list .info .t .text {
    font-size: 26px;
    line-height: 52px;
    color: #fff
}

.borrow-money-list .info .b {
    padding: 4px 15px 0 0
}

.borrow-money-list .info .b .tag img {
    float: left;
    margin: 0 10px 0 0;
    height: 34px
}

.borrow-money-list .info .b .tag img:last-child {
    margin-right: 0
}

.borrow-money-detail-data {
    height: 136px;
    margin: 0 0 20px;
    background-color: #fff;
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: box
}

.borrow-money-detail-data .list {
    width: 100%;
    height: 82px;
    margin: 28px 0;
    text-align: center;
    border-right: 1px solid #ececec;
    -webkit-box-flex: 1;
    box-flex: 1
}

.borrow-money-detail-data .list .name-text {
    font-size: 26px;
    line-height: 40px;
    color: #333
}

.borrow-money-detail-data .list .data-text {
    font-size: 26px;
    line-height: 40px;
    color: #999
}

.borrow-money-detail-data .list .data-text img {
    position: relative;
    top: 0px;
    left: 4px
}

.borrow-money-detail-data .list:last-child {
    border-right: none
}

.datail-list {
    margin-bottom: 20px;
    background-color: #fff;
}

.datail-list .title {
    padding: 0 15px;
    height: 76px;
    background-color: #f9f9f9
}

.datail-list .title .icon {
    float: left;
    width: 50px;
    height: 76px;
    margin: 23px 0 0 20px;
}
.datail-list .title .text {
    line-height: 76px;
    font-size: 32px;
    color: #333
}

.datail-list .info-block {
    padding:20px 30px;
    font-size: 22px;
    line-height: 40px;
    color: #666;
    text-align:left;
}

.datail-list:last-child {
    margin-bottom: 150px
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2)
}

.footer .btn {
    margin: 22px 30px;
    height: 83px;
    color: #fff;
    font-size: 30px;
    line-height: 83px;
    text-align: center;
    background-color: #6aa4f0;
    border-radius: 5px
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0
}

.detail-pop {
    width: 594px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.pop-title {
    font-size: 36px;
    color: #6aa4f0;
    line-height: 100%;
    text-align: center;
    margin-bottom: 32px
}

.pop-item-name {
    color: #666;
    float: left
}

.pop-item-name,.pop-item-num {
    font-size: 32px;
    line-height: 100%
}

.pop-item-num {
    color: #6aa4f0;
    float: right
}

.pop-item-wrap {
    overflow: hidden;
    margin-bottom: 12px
}

.pop-item-desc {
    font-size: 27px;
    line-height: 100%;
    color: #999
}

.pop-item {
    margin-bottom: 42px
}

.know-btn {
    display: block;
    width: 584px;
    height: 84px;
    line-height: 84px;
    background: #6aa4f0;
    font-size: 34px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto
}

.pop-close {
    width: 23px;
    height: 23px;
    background: url(../images/loan-fq-index/close.jpg) no-repeat;
    position: absolute;
    top: 30px;
    right: 30px
}

.pop-tip {
    font-size: 28px;
    line-height: 100%;
    color: #666;
    text-align: center;
    margin-bottom: 30px
}
