
.cnt-container {
    background-color: #f0f0f0;
    min-height: 100%;
}
.loan-box{
    width:100%;
    padding-top:80px;
    height:280px;
    background:#556bb8;
}
.icon{
    display:inline-block;
    background:url(../images/loan-youyi-index/icon.png) no-repeat;
    width:27px;
    height:28px;
    margin-right:20px;
}
.available-loan-num{
    font-size:90px;
    line-height:100%;
    color:#fff;
    text-align:center;
    margin-bottom:14px;
}
.loan-title{
    font-size:24px;
    line-height:100%;
    color:#8da0e2;
    text-align:center;
}
.loan-tip{
    font-size:24px;
    line-height:100%;
    color:#fff;
    text-align:center;
    margin-top:70px;
}
.loan-info{
    width:100%;
    height:98px;
    padding-top:25px;
    background:#fff;
    overflow:hidden;
}
.loan-info-left{
    width:50%;
    float:left;
}
.loan-info-right{
    width:50%;
    float:left;
}
.loan-info-num{
    font-size:38px;
    line-height:100%;
    text-align:center;
    color:#556bb8;
    margin-bottom:10px;
}
.loan-info-num span{
    font-size:30px;
}
.loan-info-title{
    font-size:24px;
    line-height:100%;
    color:#999999;
    text-align:center;
    position:relative;
}
.loan-info-container{
    position:relative;
}
.vertical-line{
    width:1px;
    height:68px;
    background:#f5f4f4;
    position:absolute;
    top:28px;
    left:50%;
}
.btn-container{
    width:100%;
    background:#fff;
    position:fixed;
    bottom:0;
}
.btn{
    width:660px;
    height:83px;
    line-height:83px;
    text-align:center;
    font-size:34px;
    color:#fff;
    background:#556bb8;
    border-radius:4px;
    margin:22px auto;
}
.btn-gray{
    width:660px;
    height:83px;
    line-height:83px;
    text-align:center;
    font-size:34px;
    color:#fff;
    background:#ccc;
    border-radius:4px;
    margin:22px auto;
}
.mask{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
}
.popup{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:600px;
    background:#fff;
    border-radius:10px;
    padding:30px;
}
.popup-tip{
    font-size:30px;
    line-height:50px;
    color:#666;
    text-align:center;
}
.popup-btn{
    width:100%;
    height:83px;
    line-height:83px;
    text-align:center;
    font-size:34px;
    color:#fff;
    background:#6aa4f0;
    border-radius:4px;
    margin:20px auto 0;
}
.btn-tip{
    font-size:24px;
    color:#999;
    text-align:center;
    margin-top:20px;
}
.tip{
    display:inline-block;
    width:30px;
    height:30px;
    background:url(../images/loan-youyi-index/tip.jpg) no-repeat;
    position:absolute;
    top:-3px;
}