.set-cash-card-cnt {
  margin: 20px 0 120px
}

.ui-froms {
  margin: 0 0 22px;
  padding: 0 0 0 34px;
  background-color: #fff
}

.ui-froms .list {
  height: 88px;
  border-bottom: 1px solid #ebeaea
}

.ui-froms .list .text {
  float: left;
  font-size: 28px;
  color: #333;
  line-height: 88px
}

.ui-froms .list .input {
  padding: 0 30px 0 150px;
  text-align: right;
  font-size: 28px
}

.ui-froms .list .input input {
  width: 100%;
  line-height: normal;
  height: 88px;
  padding: 0;
  border: none;
  text-align: right;
  font-size: 28px
}

.ui-froms .list .input .input-text {
  line-height: 88px;
  color: #666
}

.ui-froms .list .list-bank-li {
  margin-left: -30px;
  height: 60px;
  padding: 0 30px;
  line-height: 60px;
  background-color: #fafafa
}

.ui-froms .list .list-bank-li .prompt-text {
  float: left;
  color: #6aa4f0;
  font-size: 24px
}

.ui-froms .list .list-bank-li .prompt-text img {
  position: relative;
  margin: 0 0 0 5px;
  top: 0px
}

.ui-froms .list .list-bank-li .bank {
  float: right;
  font-size: 24px
}

.ui-froms .list .list-bank-li .bank .logo-icon {
  float: left;
  margin: 15px 5px 0 0;
  width: 36px;
  height: 36px
}

.ui-froms .list:last-child {
  border-bottom: none
}

.ui-froms .prompt-list {
  height: 148px
}

.clause {
  padding: 0 30px
}

.clause .icon {
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid #ebeaea;
  margin: 0 5px 0 0;
  border-radius: 50%;
  background-color: #fff
}

.clause .select-icon {
  background: #6aa4f0 url("../images/loan-youyi-card-add/d.png") no-repeat 50%
}

.clause .text {
  line-height: 32px;
  font-size: 24px;
  color: #666
}

.clause .text a {
  color: #6aa4f0
}

.next-btn {
  margin: 30px 0 0;
  padding: 0 30px
}

.ui-btn {
  height: 74px;
  line-height: 74px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  background-color: #6aa4f0;
  border-radius: 5px
}

.withhold-server {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0
}

.withhold-server .title-nav {
  position: relative;
  height: 100px;
  background-color: #fff
}

.withhold-server .title-nav .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: url("../images/loan-youyi-card-add/arrow-icon.png") no-repeat 50%;
  background-size: 18px auto
}

.withhold-server .title-nav .title-text {
  font-size: 30px;
  line-height: 100px;
  text-align: center
}

.withhold-server-cnt {
  margin: 30px 0 0;
  padding: 0 30px;
  background-color: #fff
}

.withhold-server-cnt .title {
  padding: 50px 0 40px;
  line-height: 40px;
  font-size: 32px;
  text-align: center;
  color: #50ad9a
}

.withhold-server-cnt .text {
  padding: 0 0 20px;
  color: #666;
  line-height: 40px;
  font-size: 24px;
  text-indent: 2em
}

.withhold-server-cnt .text .q {
  text-indent: 0;
  line-height: 40px
}

.mask{
  width:100%;
  height:100%;
  background:rgba(0,0,0,.7);
  position:fixed;
  top:0;
  left:0;
  z-index:100;
}
.verify-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.verify-popup-wrap {
  width: 594px;
  padding: 34px;
  background: #fff;
  border-radius: 10px;
}

.verify-popup-title {
  font-size: 32px;
  color: #6aa4f0;
  text-align: center;
  margin-bottom: 15px;
}

.verify-popup-close {
  background: url(../images/loan-youyi-card-add/close.jpg) no-repeat;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  position: absolute;
  top: 34px;
  right: 34px;
}

.verify-popup-tip {
  font-size: 24px;
  line-height: 38px;
  color: #666;
  margin-bottom: 25px;
}

.verify-input {
  width: 562px;
  padding: 0 0 0 30px;
  height: 64px;
  line-height: 64px;
  border: 1px solid #ebeaea;
  border-radius: 6px;
  background: #fafafa;
  overflow: hidden;
  font-size: 0;
  position: relative;
}

.sms-input {
  width: 530px;
  height: 64px;
  line-height: 64px;
  font-size: 26px;
  float: left;
}

.btn-countdown {
  position: absolute;
  top: 0;
  right: 20px;
  display: block;
  font-size: 26px;
  line-height: 64px;
  color: #6aa4f0;
}

.confirm-btn {
  width: 100%;
  height: 74px;
  line-height: 74px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  border-radius: 4px;
  margin: 34px auto 0;
  background:#6aa4f0;
}


