body {
    margin: 0;
    font-family: San Francisco,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
}

a,a:active {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    outline: 0
}

body,html {
    background-color: #f0f0f0
}

* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

img {
    vertical-align: middle
}

.header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #fff;
    font-size: 36px;
    color: #333;
    text-align: center
}

.ad {
    width: 720px;
    height: 226px;
    background: #42d1f5
}

.ad a {
    display: block;
    width: 100%;
    height: 100%
}

.loan-num-wrap {
    width: 100%;
    height: 398px;
    padding-top: 100px;
    background: #44adf0
}

.app-loan-num {
    width: 100%;
    height: 248px;
    padding-top: 60px;
    background: #42d1f5
}

.max-loan-title {
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px
}

.max-loan-title img {
    margin-right: 7px;
    margin-top: -5px
}

.max-loan-money {
    font-size: 110px;
    line-height: 100%;
    color: #fff;
    text-align: center
}

.money-empty {
    font-size: 88px;
    margin-bottom: 10px
}

.loan-info {
    width: 654px;
    height: 382px;
    margin: -73px auto 0;
    background: #fff;
    border-radius: 20px;
    position: relative
}

.credit-money-title,.loan-duration-title {
    display: block;
    font-size: 24px;
    color: #999;
    text-align: center
}

.credit-money-num,.loan-duration-num {
    display: block;
    font-size: 54px;
    line-height: 100%;
    color: #666;
    text-align: center;
    margin-bottom: 10px
}

.credit-money,.loan-duration {
    width: 50%;
    float: left
}

.credit-lines {
    overflow: hidden
}

.loan-info-items {
    position: relative
}

.vertical-line {
    display: block;
    width: 1px;
    height: 107px;
    background: #ebeaea;
    position: absolute;
    top: 0;
    left: 50%
}

.loan-btn {
    display: block;
    width: 654px;
    height: 74px;
    line-height: 74px;
    background: #6aa4f0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    border-radius: 4px;
    margin: 30px auto 20px
}

.loan-tip {
    font-size: 27px;
    color: #999;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 150px
}

.credit-btn {
    overflow: hidden;
    width: 654px;
    margin: 37px auto 0
}

.credit-improvement-btn {
    color: #6aa4f0;
    float: left
}

.credit-apply-btn,.credit-improvement-btn {
    display: block;
    width: 308px;
    border: 1px solid #6aa4f0;
    border-radius: 6px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    font-size: 34px
}

.credit-apply-btn {
    background: #6aa4f0;
    color: #fff;
    float: right
}

.slider-area {
    left: 23px
}

.no-slider-bar,.slider-area {
    width: 608px;
    position: absolute;
    top: 73px
}

.no-slider-bar {
    left: 16px
}

.start-point {
    background: url(../images/fxh/progress_bar_starting.jpg) no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 0
}

.end-point,.start-point {
    width: 50px;
    height: 50px;
    position: absolute
}

.end-point {
    background: url(../images/fxh/progress_bar_ending.png) no-repeat;
    background-size: 100% 100%;
    top: -1px;
    right: 0
}

.start-point-num {
    left: 0
}

.end-point-num,.start-point-num {
    font-size: 25px;
    color: #aaa;
    position: absolute;
    top: 60px
}

.end-point-num {
    right: 0
}

.slider-area-wrap {
    position: absolute;
    top: 16px;
    left: 0
}

.lineDivWrap {
    position: relative;
    height: 14px;
    border-top: 1px solid #ebeaea;
    border-bottom: 1px solid #ebeaea;
    width: 608px
}

.lineDiv-bar {
    background: #f5b774;
    border-radius: 8px
}

.lineDiv,.lineDiv-bar {
    height: 16px;
    width: 608px;
    position: absolute;
    top: 0;
    left: 0
}

.lineDiv .minDiv {
    background: url(../images/fxh/progress_bar_current.png) no-repeat;
    width: 65px;
    height: 65px;
    background-size: 100% 100%;
    position: absolute;
    top: -25px;
    left: 550px;
    z-index: 1
}

.credit-improvement-tip {
    text-decoration: underline;
    color: #fff
}

.pop-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background: rgba(0,0,0,.3)
}

.pop-panel {
    position: absolute;
    width: 586px;
    padding: 34px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    border-radius: 12px
}

.pop-title {
    font-size: 36px;
    color: #6aa4f0;
    text-align: center
}

.pop-close {
    display: block;
    width: 46px;
    height: 46px;
    font-weight: 700;
    position: absolute;
    top: 34px;
    right: 34px;
    font-size: 30px;
    color: #bbb
}

.pop-content {
    color: #666;
    margin-top: 30px;
    margin-bottom: 30px
}

.pop-cancel,.pop-content {
    font-size: 30px;
    text-align: center
}

.pop-cancel {
    width: 246px;
    color: #6aa4f0;
    border: 1px solid #6aa4f0;
    float: left;
    border-radius: 4px
}

.pop-cancel,.pop-confirm {
    height: 74px;
    line-height: 74px
}

.pop-confirm {
    font-size: 34px;
    color: #fff;
    background: #6aa4f0;
    float: right;
    display: inline-block;
    width: 273px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #6aa4f0;
    text-decoration: none
}
.slider-wrap{
    height:209px;
    position:relative;
    top:80px;
    left:20px;
}