.cnt-container {
    background-color: #f0f0f0;
    min-height: 100%;
}
.wrap-box{
    background:#fff;
    padding-top:60px;
    margin-top:20px;
}
.loan-result1{
    margin-top:56px;
    width:100%;
    height:213px;
    position:relative;
}
.loan-result2{
    margin-top:56px;
    width:100%;
    height:233px;
    position:relative;
}
.loan-result3{
    margin-top:56px;
    width:100%;
    height:243px;
    position:relative;
}
.loan-result4{
    margin-top:56px;
    width:100%;
    height:233px;
    position:relative;
}
.icon1{
    background:url(../images/icon-success.png) no-repeat;
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    left:117px;
}
.icon1-info{
    font-size:32px;
    color:#666;
    position:absolute;
    top:4px;
    left:188px;
}
.icon2{
    width:18px;
    height:18px;
    border:1px solid #ddd;
    border-radius:50%;
    position:absolute;
    top:101px;
    left:132px;
}
.icon2-info{
    font-size:32px;
    color:#666;
    position:absolute;
    top:94px;
    left:188px;
}
.line{
    width:1px;
    height:50px;
    background:#ddd;
    position:absolute;
    top:50px;
    left:142px;
}
.line2{
    width:1px;
    height:85px;
    background:#ddd;
    position:absolute;
    top:50px;
    left:142px;
}
.service-wrap{
    width:100%;
    font-size:27px;
    color:#999;
    text-align:center;
    position:fixed;
    bottom:70px;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.service-wrap a{
    color:#6aa4f0;
}
.service-wrap img{
    display:inline-block;
    vertical-align: text-bottom;
    margin-right:20px;
}
.icon3{
    background:url(../images/loan-youyi-result/icon-success.png) no-repeat;
    width:50px;
    height:50px;
    position:absolute;
    top:87px;
    left:117px;
}
.icon3-info{
    position:absolute;
    top:94px;
    left:188px;
}
.icon3-info-top{
    font-size:32px;
    color:#666;
}
.icon3-info-btm{
    font-size:27px;
    color:#999;
}
.icon4{
    background:url(../images/icon-success.png) no-repeat;
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    left:117px;
}
.icon4-info{
    position:absolute;
    top:4px;
    left:188px;
}
.icon4-info-top{
    font-size:32px;
    color:#666;
}
.icon4-info-btm{
    font-size:27px;
    color:#999;
}
.icon5{
    width:50px;
    height:50px;
    background:url(../images/loan-youyi-result/icon-fail.png) no-repeat;
    position:absolute;
    top:87px;
    left:117px;
}
.icon5-info{
    font-size:32px;
    color:#666;
    position:absolute;
    top:126px;
    left:188px;
}
.icon5-info-btm{
    font-size: 27px;
    color: #999;
    position: absolute;
    top: 178px;
    left: 189px;
}
.loan-result{
    width:100%;
    height:100%;
    background:#f0f0f0;
    position:absolute;
    top:0;
    left:0;
    right:0;
}

.img-size{
    display:block;
    width:330px;
    height:210px;
    margin:0 auto;
}
.btn{
    width:660px;
    height:83px;
    line-height:83px;
    text-align:center;
    font-size:34px;
    color:#fff;
    background:#556bb8;
    border-radius:4px;
    margin:22px auto;
}

.dis{
    display:none;
}



