body {
    background: #f0f0f0;
}

.input-num-ios::-webkit-input-placeholder {
    font-size: 30px;
    color: #ccc;
    line-height:54px;
}

.input-num-android::-webkit-input-placeholder {
    font-size: 30px;
    color: #ccc;
    line-height:54px;
}

.cnt-container {
    background-color: #f0f0f0;
    min-height: 100%;
}

.loan-container {
    background: #fff;
    margin-top: 20px;
}

.loan-input-num {
    height: 119px;
    border-bottom: 1px solid #ebeaea;
    overflow: hidden;
    margin-left: 30px;
}

.input-title {
    font-size: 30px;
    color: #666;
    display: inline-block;
    margin-top: 52px;
}

.input-num-android {
    width: 400px;
    height: 54px;
    line-height: 54px;
    text-align: right;
    font-size: 54px;
    color: #556bb8;
    margin-top: 20px;
    margin-right: 30px;
}

.input-num-ios {
    width: 400px;
    height: 54px;
    line-height: 54px;
    text-align: right;
    font-size: 54px;
    color: #556bb8;
    margin-top: 12px;
}

.loan-num-wrap {
    font-size: 30px;
    color: #000;
    float: right;
}

.loan-info-item {
    height: 99px;
    border-bottom: 1px solid #ebeaea;
    line-height: 99px;
    margin-left: 30px;
    overflow: hidden;
}

.loan-info-item-without-border {
    height: 99px;
    line-height: 99px;
    margin-left: 30px;
    overflow: hidden;
}

.loan-info-item:last-child {
    border-bottom: none;
}

.loan-info-title {
    font-size: 30px;
    color: #666;
    float: left;
    position: relative;
}

.loan-info-right {
    font-size: 30px;
    float: right;
    margin-right: 30px;
}

.has-input {
    color: #000;
}

.has-not-input {
    color: #999;
}

.loan-bank-info {
    font-size: 30px;
    color: #000;
    float: right;
    margin-right: 30px;
}

.arrow {
    display: inline-block;
    background: url(../images/loan-youyi-form/arrow.jpg) no-repeat;
    width: 18px;
    height: 34px;
    vertical-align: middle;
    margin-left: 15px;
}

.tip {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/loan-youyi-form/tip.jpg) no-repeat;
    position: absolute;
    top: 35px;
    left: 95px;
}

.agreement-issue {
    overflow: hidden;
    width: 660px;
    margin: 20px auto 0;
}

.unchecked-box {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    background: #fff;
}

.checked-box {
    display: block;
    width: 36px;
    height: 36px;
    background: url(../images/loan-youyi-form/checked.png) no-repeat;
    float: left;
    margin-top: 5px;
}

.check-item {
    width: 606px;
    float: right;
    font-size: 28px;
    line-height: 46px;
    color: #999;
}

.check-item a {
    color: #6aa4f0;
}

.btn-container {
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
}

.btn {
    width: 660px;
    height: 83px;
    line-height: 83px;
    text-align: center;
    font-size: 34px;
    color: #fff;
    border-radius: 4px;
    margin: 22px auto;
}

.gray {
    background: #ccc;
}

.purple {
    background: #556bb8;
}

.blue {
    background: #6aa4f0;
}

.btn-tip {
    font-size: 24px;
    color: #999;
    text-align: center;
    margin-top: 22px;
}

.mask1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.mask2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.mask3 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}

.popup-tip {
    font-size: 30px;
    line-height: 50px;
    color: #666;
    text-align: center;
}

.popup-btn {
    width: 100%;
    height: 83px;
    line-height: 83px;
    text-align: center;
    font-size: 34px;
    color: #fff;
    background: #6aa4f0;
    border-radius: 4px;
    margin: 22px auto 0;
}

.detail-pop {
    width: 660px;
    padding-top: 30px;
    border-radius: 20px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notice-pop {
    width: 660px;
    border-radius: 12px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.item-wrap {
    width: 583px;
    border-radius: 10px;
    margin: 0 auto;
}

.item-list {
    width: 450px;
    font-size: 30px;
    color: #999;
    line-height: 45px;
    margin: 0 auto;
}

.item-left {
    display: inline-block;
    width: 200px;
    padding-left: 50px;
    text-align: left;
}

.item-right {
    display: inline-block;
    width: 200px;
    color: #6aa4f0;
    text-align: left;
}

.know-btn {
    width: 583px;
    height: 84px;
    line-height: 84px;
    background: #6aa4f0;
    text-align: center;
    font-size: 34px;
    color: #fff;
    border-radius: 6px;
    margin: 25px auto 34px;
}

.close-icon {
    background: url(../images/loan-youyi-form/close.jpg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 34px;
    right: 34px;
}

.notice-title {
    font-size: 32px;
    color: #6aa4f0;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.item-title {
    font-size: 32px;
    color: #6aa4f0;
    margin-bottom: 15px;
    text-align: center;
}

.notice-content {
    font-size: 24px;
    line-height: 38px;
    text-indent: 2em;
    color: #666;
    width: 583px;
    margin: 0 auto;
}

.notice-btn {
    width: 583px;
    height: 84px;
    line-height: 84px;
    background: #6aa4f0;
    text-align: center;
    font-size: 32px;
    color: #fff;
    border-radius: 6px;
    margin: 24px auto 34px;
}

.verify-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.verify-popup-wrap {
    width: 594px;
    padding: 34px;
    background: #fff;
    border-radius: 10px;
}

.verify-popup-title {
    font-size: 32px;
    color: #6aa4f0;
    text-align: center;
    margin-bottom: 15px;
}

.verify-popup-close {
    background: url(../images/loan-youyi-form/close.jpg) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    top: 34px;
    right: 34px;
}

.verify-popup-tip {
    font-size: 24px;
    line-height: 38px;
    color: #666;
    margin-bottom: 25px;
}

.verify-input {
    width: 532px;
    padding: 0 30px;
    height: 64px;
    line-height: 64px;
    border: 1px solid #ebeaea;
    border-radius: 6px;
    background: #fafafa;
    overflow: hidden;
    font-size: 0;
}

.sms-input {
    width: 350px;
    height: 64px;
    line-height: 64px;
    font-size: 26px;
}

.btn-countdown {
    display: inline-block;
    width: 152px;
    font-size: 26px;
    line-height: 64px;
    color: #6aa4f0;
    text-align: right;
}

.confirm-btn {
    width: 100%;
    height: 74px;
    line-height: 74px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    border-radius: 4px;
    margin: 34px auto 0;
}

.overdue-wrap {
    padding-bottom: 20px;
    background: #F0F0F0;
}

.overdue-tip {
    height: 70px;
    line-height: 70px;
    padding-right: 30px;
    background: #fafafa;
    font-size: 24px;
    color: #999;
    text-align: right;
}

.overdue-btn {
    color: #6aa4f0;
}

.err-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.err-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}

.err-popup-tip {
    font-size: 30px;
    line-height: 50px;
    color: #666;
    text-align: center;
}

.err-popup-btn {
    width: 100%;
    height: 83px;
    line-height: 83px;
    text-align: center;
    font-size: 34px;
    color: #fff;
    background: #6aa4f0;
    border-radius: 4px;
    margin: 22px auto 0;
}