.cnt-container {
  background-color: #f0f0f0;
  min-height: 100%;
}
.auth-title{
  font-size:26px;
  color:#999;
  padding-left:30px;
  margin:20px 0;
}
.auth-box{
  padding:0 30px;
  height:120px;
  line-height:120px;
  background:#fff;
  margin-bottom:20px;
  overflow:hidden;
}
.auth-item{
  float:left;
  font-size:28px;
  color:#666;
}
.auth-status{
  float:right;
  font-size:30px;
  color:#333;
}
.icon-img{
  margin-right:20px;
}
.fail-color{
  color:#ccc;
}