.success-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
    text-align: center;
}

.success-container {
    position: fixed;
    width: 100%;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
}

.close-icon {
    position: fixed;
    top: 0;
    left: 0;
    width: 88px;
    height: 88px;
    background: #fff url('../images/mortgage-success/close.png') no-repeat center;
    z-index: 999;
}

.success-tip-1 {
    margin-bottom: 36px;
    color: #333;
    font-size: 48px;
}

.success-tip-2 {
    margin-top: 27px;
    color: #666;
    font-size: 32px;
}

.success-tip-2 span {
    color: #6aa4f0;
}
