/*  input-field--width: 598px;
    input-field--height: 74px; */

.cnt-container {
    background-color: #f0f0f0;
    min-height: 100%;
}

.banner {
    box-sizing: border-box;
    height: 150px;
    padding-top: 24px;
    background: url('../images/mortgage-outside-apply/banner.jpg');
    color: #fff;
}

.banner-title {
    margin-left: 96px;
    font-size: 50px;
}

.banner-sub-title {
    margin: 6px 0 0 120px;
    font-size: 24px;
}

.item-grp-name {
    margin-left: 20px;
    height: 60px;
    line-height: 60px;
    color: #999;
    font-size: 26px;
}

.item-grp {
    box-sizing: border-box;
    padding-left: 20px;
    background-color: #fff;
}

.item-grp:last-child {
    margin-bottom: 150px;
}

.input-item {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 99px;
    border-bottom: 1px solid #eee;
    padding-right: 20px;
}

.input-item:last-child {
    border-bottom: none;
}

.item-name {
    float: left;
    height: 99px;
    line-height: 99px;
    color: #666;
    font-size: 28px;
}

.input-item input, .input-item select {
    box-sizing: border-box;
    float: right;
    width: 450px;
    height: 99px;
    line-height: 99px;
    color: #333;
    font-size: 28px;
    text-align: right;
}

.input-item input::-webkit-input-placeholder {
    color: #999;
}

.input-item select {
    padding-right: 30px;
    background: url('../images/mortgage-outside-apply/expand.png') no-repeat right;
    direction: rtl;
}

.super-align-char {
    font-size: 18px;
    vertical-align: super;
}

.submit-btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, .2);
}

.submit-btn {
    display: block;
    height: 82px;
    line-height: 82px;
    margin: 22px 20px;
    background-color: #ccc;
    border-radius: 5px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.leave-catch {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 101;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 10000;
}

.pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 586px;
    padding: 34px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
}

.pop-content {
    margin: 30px auto 54px;
    color: #666;
    font-size: 30px;
}

.pop-btn-cancel, .pop-btn-confirm {
    width: 273px;
    height: 74px;
    line-height: 74px;
    border: 1px solid #6aa4f0;
    border-radius: 4px;
    font-size: 30px;
}

.pop-btn-cancel {
    float: left;
    color: #6aa4f0;
}

.pop-btn-confirm {
    float: right;
    width: 246px;
    color: #fff;
    background: #6aa4f0;
}
