.clearfix::after{
  display: block;
  clear: both;
  content: '';
  visibility:hidden;
  height:0;
}
.clearfix{
  zoom: 1;
}


.fl{
  float: left;
}
.fr{
  float: right;
}
.con{
  width: 100%;
  font-family: "Microsoft YaHei", Arial, Helvetica, simhei, sans-serif;
  .main{
    color: #333;
    width: 100%;
    .basicInfo{
      width: 100%;
      //height:69px;
      border-bottom: 1px solid #eaeaea;
      display: table;
      .basicInfoTitle{
        width: 95.8%;
        height:69px;
        font-size: 28px;
        font-weight: 700;
        line-height: 69px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding-left: 4.2%;
      }
      .basicInfoContent{
        width: 100%;
        height: 1340px;
        margin: 0 auto;
        padding: 50px 0;
        .basicInfoContentL{
          width: 192px;
          height: 1136px;
          .line{
            width: 192px;
            height: 30px;
            line-height: 40px;
            font-size: 24px;
            padding-left: 30px;
          }
          .range{
            width: 192px;
            height: 510px;
            font-size: 24px;
            padding-left: 30px;
            line-height: 40px;
          }
          .adress,.site{
            width: 192px;
            height: 60px;
            font-size: 24px;
            line-height: 40px;
            padding-left: 30px;
          }
          .case{
            width: 192px;
            height: 156px;
            font-size: 24px;
            line-height: 40px;
            padding-left: 30px;

          }
        }
        .basicInfoContentR{
          width: 504px;
          height: 1136px;
          .rline{
            width: 478px;
            height: 30px;
            line-height: 40px;
            font-size: 24px;
            padding-right: 30px;
            padding-left: 40px;
          }
          .rrange{
            width: 478px;
            height: 510px;
            font-size: 24px;
            line-height: 40px;
            padding-right: 30px;
            padding-left: 40px;
          }
          .radress,.rsite{
            width: 472px;
            height: 60px;
            font-size: 24px;
            line-height: 40px;
            padding-right: 30px;
            padding-left: 40px;
          }
          .rcase{
            width: 478px;
            height: 156px;
            font-size: 24px;
            line-height: 40px;
            padding-right: 30px;
            padding-left: 40px;
          }
        }
      }
    }
    .webInfo{
      width: 100%;
      height:69px;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      display: table;
      .webInfoTitle{
        width: 95.8%;
        height:69px;
        font-size: 28px;
        font-weight: 700;
        line-height: 69px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding-left: 4.2%;
      }
      .webInfoContent{
        width: 100%;
        height: 440px;
        margin: 0 auto;
        padding: 50px 0;
        .webInfoContentL{
          width: 264px;
          height: 440px;
          .line{
            width: 264px;
            height: 30px;
            line-height: 30px;
            font-size: 24px;
            padding-left: 30px;
          }
        }
        .webInfoContentR{
          width: 360px;
          height: 440px;
          padding-left: 30px;
          .rline{
            width: 360px;
            height: 30px;
            line-height: 30px;
            font-size: 24px;
            padding-left: 30px;
          }
        }
      }
    }
    .organization{
      width: 100%;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      .orgTitle{
        width: 95.8%;
        height:69px;
        font-size: 28px;
        font-weight: 700;
        line-height: 69px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding-left: 4.2%;
      }
      .orgPic{
        display: block;
        width: 712px;
        height: 620px;
        margin: 50px auto;
      }
    }
    .shareholder{
      width: 100%;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      .shareTitle{
        width: 95.8%;
        height:69px;
        font-size: 28px;
        font-weight: 700;
        line-height: 69px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding-left: 4.2%;
      }
      .shareContent{
        margin: 50px 0;
        .sharePic{
          width: 177px;
          height: 58px;
          margin: 0 auto;
          display: block;
        }
        .des{
          width: 288px;
          height: 30px;
          font-size: 24px;
          line-height: 30px;
          margin: 0 auto;
          color: #999;
          padding-top: 10px;
        }
      }
    }
    .chairman{
      .chairmanRight{
        width: 100%;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        .chairmanRightTitle{
          width: 95.8%;
          height:69px;
          font-size: 28px;
          font-weight: 700;
          line-height: 69px;
          margin: 0 auto;
          background-color: #f9f9f9;
          padding-left: 4.2%;
        }
        .chairmanRightTitleContent{
          width: 100%;
          margin: 0 auto;
          .person{
            width: 100%;
            //height: 528px;
            .personUp{
              padding-top: 40px;
              width: 100%;
              height: 145px;
              .personPic{
                display: block;
                width: 120px;
                height: 120px;
                padding-left: 30px;
              }
              .personRTitle{
                width: 200px;
                height: 120px;
                font-size:24px;
                padding-left: 40px;
                .name{
                  font-size:28px;
                  display: block;
                  color: #333;
                  line-height: 70px;
                }
                .position{
                  color: #71b5fb;
                  display: block;
                }
              }
            }
            .personDown{
              .personRContent{
                color: #999;
                width: 660px;
                height: 280px;
                font-size:24px;
                margin: 0 auto;
                line-height: 40px;
                border-bottom: 1px dashed #eaeaea;
                padding-bottom: 40px;
              }
              .second{
                height: 220px;
              }
              .third{
                height: 190px;
              }
            }
          }
        }
      }
    }
  }
}
