html, body {
  margin: 0;
  background-color:#ebebee;
}
a {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
.hot-activity{
.hot-li{
  background-color:#fff;
  margin:0 auto 10px;
  border-bottom:1px solid #d8d8d8;
  .hot-banner {
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }
  .hot-all{
    display: block;
    height:64px;
    line-height:64px;
    font-size:28px;
    text-align: center;
    color:#4aa1f9;
  }
    .hot-list{
      display:table;
      width:680px;
      height:212px;
      padding:20px 21px 3px;
      overflow: hidden;
      a{
        float:left;
        height:212px;
        width:212px;
        &:nth-child(2){
          margin:0 21px;
        }
        img{
          height:210px;
          width:210px;
          border:1px solid #eee;
        }
      }
    }
  }
}


