body {
	background-color: #f0f0f0;
}

.user-FAQ-cnt {
	margin: 20px 0 120px 0; 
}

.user-FAQ-list {
	padding: 0 0 0 30px;
	background-color: #fff;
	
	.li {
		min-height: 86px;
		border-bottom: 1px solid #ebeaea;

		.title-li {
			position: relative;
			.text {
				margin: 0;
				padding: 20px 70px 20px 0;
				line-height: 46px;
				font-size: 28px;
			}

			.icon {
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				width: 60px;
				height: 86px;
				background: url(../images/arrow-r-icon.png) no-repeat center;
				background-size: 50%;
				transform: rotate(-90deg);	
			}

			.arrow-d {
				transform: rotate(90deg);	
			}
		}
		

		.detail-text {
			margin-top: -20px;
			padding: 0 30px 0 0;

			.text {
				padding: 0 30px 0 0;
				line-height: 30px;
				text-indent: 2em;
				color: #999;
				font-size: 14px;
			}
		}
	}
}
