body {
	background-color: #f0f0f0;
}

.user-FAQ-cnt {
	margin: 20px 0 120px 0;
}

.user-FAQ-list {
	background-color: #fff;

	.li {
		min-height: 86px;
		border-bottom: 1px solid #ebeaea;

		.title-li {
			position: relative;
			.text {
				margin: 0;
				padding: 20px 70px 20px 34px;
				line-height: 46px;
				font-size: 28px;
        max-height:99999px;
			}

			.icon {
				position: absolute;
				right: 20px;
				top: 0;
				display: block;
				width: 60px;
				height: 86px;
				background: url(../images/arrow-r-icon.png) no-repeat center;
				background-size: 50%;
				transform: rotate(-90deg);
			}

			.arrow-d {
				transform: rotate(90deg);
			}
		}


		.detail-text {
			margin-top: -20px;
			padding: 20px 0;
      background:#fafafa;
			.text {
				padding: 0 34px 0 34px;
				line-height: 40px;
				text-indent: 2em;
				color: #999;
				font-size: 24px;
        max-height:99999px;
			}
		}
	}
}
