body {
  background-color: #ebebee;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
.shopping-item{
  overflow:hidden;
  padding:30px;
  background:#fff;
  margin-top:15px;
  border-top:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
}
.checked-icon{
  width:50px;
  height:50px;
  float:left;
  margin-top:67px;
  margin-right:20px;
}
.unchecked-circle{
  display:block;
  width:50px;
  height:50px;
  background:url(../images/unchecked.jpg) no-repeat;
}
.checked-circle{
  display:block;
  width:50px;
  height:50px;
  background:url(../images/checked.jpg) no-repeat;
}
.total-unchecked-circle{
  display:inline-block;
  width:50px;
  height:50px;
  background:url(../images/unchecked.jpg) no-repeat;
  margin-top:17px;
}
.total-checked-circle{
  display:inline-block;
  width:50px;
  height:50px;
  background:url(../images/checked.jpg) no-repeat;
  margin-top:17px;
}
.product-img{
  width:180px;
  height:180px;
  float:left;
  margin-right:20px;
}
.product-img img{
  width:180px;
  height:180px;
}
.product-item{
  float:left;
  width:330px;
}
.product-name{
  font-size:26px;
  width:330px;
  height:70px;
  overflow:hidden;
  text-overflow:ellipsis;
  color:#333;
  text-align:justify;
}
.product-price{
  font-size:28px;
  color:#fd4d4c;
  margin-top:5px;
  margin-bottom:5px;
}
.detail-num-change {
  float: left;
  display: table;
  padding: 6px 0 0;
  div {
    float: left;
    height: 52px;
    width: 52px;
    line-height: 68px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    font-size: 28px;
    color: #555;
  }
  .plus {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    background-image: url(../images/blue-plus.png);
    background-size:100% 100%;
    &.gray {
      background-image: url(../images/gray-plus.png);
    }
  }
  .minus {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    background-image: url(../images/blue-minus.png);
    background-size:100% 100%;
    &.gray {
      background-image: url(../images/gray-minus.png);
    }
  }
  .input-num {
    height: 52px;
    line-height: 52px;
    width: 100px;
    text-align: center;
    input {
      display: block;
      height: 48px;
      line-height: 48px;
      width: 100px;
      border: none;
      background-color: #fff;
      text-align: center;
      color: #333;
      font-size: 32px;
    }
  }
}
.product-delete{
  float:right;
  background:url(../images/delete.jpg) no-repeat;
  width:50px;
  height:50px;
  margin-top:127px;
}
.calculation-bar{
  overflow:hidden;
  height:86px;
  background:#fff;
  padding:0 30px;
}
.all-chosen{
  float:left;
}
.chosenTip{
  float:right;
  margin-left:20px;
  font-size:28px;
  color:#555;
  line-height:86px;
}
.all-price{
  float:right;
  font-size:28px;
  color:#555;
  line-height:86px;
}
.total-price{
  color:#fd4d4c;
}
.pay-bar{
  width:720px;
  padding-top:22px;
  height:106px;
  position:fixed;
  bottom:0;
  background:#fff;
  box-shadow: 0 -5px 10px 0 rgba(50,50,50,.1);
}
.pay-btn{
  display:block;
  width: 660px;
  height:84px;
  background:#fd4d4c;
  font-size: 36px;
  color:#fff;
  line-height:84px;
  text-align:center;
  border-radius:4px;
  margin:0 auto;
}
.shopping-cart{
  margin-bottom:148px;
}