html,body {
  background-color: #ebebee;
  overflow-x:hidden;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
.shopping-item{
  overflow:hidden;
  padding:30px;
  background:#fff;
  margin-top:15px;
  border-top:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
}
.checked-icon{
  width:50px;
  height:50px;
  float:left;
  margin-top:67px;
  margin-right:20px;
}
.unchecked-circle{
  display:block;
  width:50px;
  height:50px;
  background:url(../images/unchecked.jpg) no-repeat;
}
.checked-circle{
  display:block;
  width:50px;
  height:50px;
  background:url(../images/checked.jpg) no-repeat;
}
.total-unchecked-circle{
  display:inline-block;
  width:50px;
  height:50px;
  background:url(../images/unchecked.jpg) no-repeat;
  margin-top:25px;
}
.total-checked-circle{
  display:inline-block;
  width:50px;
  height:50px;
  background:url(../images/checked.jpg) no-repeat;
  margin-top:25px;
}
.product-img{
  width:180px;
  height:180px;
  float:left;
  margin-right:20px;
}
.product-img img{
  width:180px;
  height:180px;
}
.product-item{
  float:left;
  width:330px;
}
.product-name{
  font-size:26px;
  width:330px;
  height:70px;
  overflow:hidden;
  text-overflow:ellipsis;
  color:#333;
  line-height: 32px;
}
.product-price{
  font-size:28px;
  color:#fd4d4c;
  margin-top:5px;
  margin-bottom:5px;
}
.detail-num-change {
  float: left;
  display: table;
  padding: 6px 0 0;
  div {
    float: left;
    height: 52px;
    width: 52px;
    line-height: 68px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    font-size: 28px;
    color: #555;
  }
  .plus {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    background-image: url(../images/blue-plus.png);
    background-size:100% 100%;
    &.gray {
      background-image: url(../images/gray-plus.png);
    }
  }
  .minus {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    background-image: url(../images/blue-minus.png);
    background-size:100% 100%;
    &.gray {
      background-image: url(../images/gray-minus.png);
    }
  }
  .input-num {
    height: 52px;
    line-height: 52px;
    width: 100px;
    text-align: center;
    input {
      display: block;
      height: 48px;
      line-height: 48px;
      width: 100px;
      border: none;
      background-color: #fff;
      text-align: center;
      color: #333;
      font-size: 32px;
    }
  }
}
.product-delete{
  float:right;
  background:url(../images/delete.jpg) no-repeat;
  width:50px;
  height:50px;
  margin-top:127px;
}
.calculation-bar{
  overflow:hidden;
  height:86px;
  background:#fff;
  padding:0 30px;
}
.all-chosen{
  position:relative;
  left:30px;
  top:0px;
}
.chosenTip{
  font-size:28px;
  color:#555;
  position:absolute;
  top:0px;
  left:70px;
}
.all-price{
  float:left;
  font-size:28px;
  color:#555;
  line-height: 98px;
  margin-left:30px;
}
.total-price{
  color:#fd4d4c;
}
.pay-bar{
  width:720px;
  height:106px;
  position:fixed;
  bottom:99px;
  background:#fff;
  box-shadow: 0 -5px 10px 0 rgba(50,50,50,.1);
}
.pay-btn{
  display: block;
  width: 220px;
  height: 102px;
  background: #fd4d4c;
  font-size: 36px;
  color: #fff;
  line-height: 96px;
  text-align: center;
  float: right;
  margin-right: 0px;
}
.shopping-cart{
  margin-bottom:245px;
  margin-top:115px;
}
.fixed-nav{
  background:url(../images/fixed-nav.png) no-repeat;
  width:720px;
  height:143px;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
}
.fixed-nav a.fixed-nav-link{
  display:block;
  background:url(../images/nav.png) no-repeat;
  position:absolute;
}
.fixed-nav a.fixed-nav-link1{
  width:43px;
  height:70px;
  background-position:0 0;
  top:60px;
  left:51px;
}
.fixed-nav a.fixed-nav-link1.active{
  background-position:0 -70px;
}
.fixed-nav a.fixed-nav-link2{
  width:42px;
  height:70px;
  background-position:-145px 0;
  top:60px;
  left:195px;
}
.fixed-nav a.fixed-nav-link2.active{
  background-position:-145px -70px;
}
.fixed-nav a.fixed-nav-link3{
  width:65px;
  height:70px;
  background-position:-422px 0;
  top:60px;
  left:472px;
}
.fixed-nav a.fixed-nav-link3.active{
  background-position:-422px -70px;
}
.fixed-nav a.fixed-nav-link4{
  width:87px;
  height:70px;
  background-position:-560px 0;
  top:60px;
  left:610px;
}
.fixed-nav a.fixed-nav-link4.active{
  background-position:-560px -70px;
}
.backToIndex{
  display:block;
  width:96px;
  height:96px;
  position:absolute;
  top:31px;
  left:312px;
}
.cart-header{
   width:100%;
   height:100px;
   line-height:100px;
   background:#fff;
   position:fixed;
   top:0;
   border-bottom: 1px solid #d8d8d8;
   font-size: 36px;
   color: #000;
   text-align: center;
 }
.app-cart-header{
  width:100%;
  height:122px;
  line-height:152px;
  background:#fff;
  position:fixed;
  top:0px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 36px;
  color: #000;
  text-align: center;
}
.cart-title{
  font-size:36px;
  color:#000;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
.empty-cart-icon{
  background:url(../images/empty.png) no-repeat;
  width:219px;
  height:212px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
