
.auth-info {
    height: 78px;
    line-height: 78px;
    margin-left: 34px;
    color: #666;
    font-size: 26px;
}

.auth-phone {
    color: #6ba4f0;
}

.cooperation-logo-container {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 330px;
    padding: 90px 136px;
    background: url('../images/authorize/cooperation-icon.png') #fff no-repeat center;
}

.third-party-logo {
    float: left;
    width: 150px;
    height: 150px;
    background: url('../images/authorize/daiba-logo.png') transparent no-repeat center;
}

.fxh-logo {
    float: right;
    width: 150px;
    height: 150px;
    background: url('../images/authorize/fxh-logo.png') transparent no-repeat center;
}

.input-field-grp {
    background-color: #fff;
    padding-left: 34px;
    border-top: 1px solid #eee;
}

.input-field {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 88px;
    line-height: 88px;
    padding-right: 34px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.input-field:last-child {
    border: none;
}

.captcha-icon {
    float: left;
    width: 48px;
    height: 88px;
    background: url('../images/authorize/captcha-icon.png') transparent no-repeat left;
}

.sms-icon {
    float: left;
    width: 48px;
    height: 88px;
    background: url('../images/authorize/sms-icon.png') transparent no-repeat left;
}

.captcha-input, .sms-input {
    box-sizing: border-box;
    float: left;
    width: 300px;
    height: 87px;
    padding: 29px 0;
    line-height: 29px;
    color: #333;
    font-size: 28px;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

.captcha-img-container {
    float: right;
    width: 200px;
    height: 88px;
}

.captcha-img-container img {
    width: 100%;
    vertical-align: middle;
}

.sms-btn {
    float: right;
    height: 88px;
    line-height: 88px;
    color: #6ba4f0;
    font-size: 28px;
}

.submit-btn {
    width: 656px;
    height: 73px;
    line-height: 73px;
    margin: 32px auto;
    background-color: #6ba4f0;
    border-radius: 6px;
    color: #fff;
    font-size: 32px;
    text-align: center;
}
