body {
    background: #f0f0f0;
}

.info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.info-text {
    color: #333;
    font-size: 30px;
    text-align: center;
}
