
.banner {
    box-sizing: border-box;
    width: 100%;
}

.loan-product-container {
    box-sizing: border-box;
    height: 424px;
    padding: 27px 0 42px;
    background-color: #fff;
}

.product-title {
    box-sizing: border-box;
    margin: 0 0 21px 27px;
    color: #666;
    font-size: 30px;
}

.product-title-icon {
    box-sizing: border-box;
    margin-right: 12px;
    vertical-align: sub;
}

.loan-product-card {
    box-sizing: border-box;
    float: left;
    width: 50%;
    text-align: center;
}

.loan-product-card:first-child {
    box-sizing: border-box;
    border-right: 1px solid #ececec;
}

.loan-product-logo {
    box-sizing: border-box;
    display: block;
    width: 132px;
    height: 132px;
    margin: 0 auto 18px;
}

.loan-product-name {
    box-sizing: border-box;
    color: #333;
    font-size: 33px;
    margin-bottom: 9px;
}

.loan-product-amount {
    box-sizing: border-box;
    color: #999;
    font-size: 27px;
    margin-bottom: 10px;
}

.loan-product-label {
    box-sizing: border-box;
    display: inline-block;
    height: 36px;
    line-height: 32px;
    padding: 0 6px;
    border-radius: 2px;
    font-size: 24px;
    margin: 0 6px;
}

.loan-product-label img {
    box-sizing: border-box;
    vertical-align: middle;
}

.loan-product-label span {
    box-sizing: border-box;
    vertical-align: middle;
}

.sub-product-container {
    box-sizing: border-box;
    margin: 20px 0 144px;
    padding-top: 27px;
    background-color: #fff;
}

.sub-product-item {
    box-sizing: border-box;
    height: 158px;
    padding: 22px 0 22px 0;
    border-bottom: 1px solid #ececec;
    margin-left: 27px;
}

.sub-product-item:last-child {
    box-sizing: border-box;
    border-bottom: none;
}

.sub-product-logo-container {
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 123px;
    height: 114px;
    margin-right: 20px;
}

.sub-product-logo {
    box-sizing: border-box;
    position: absolute;
    width: 114px;
    height: 114px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.sub-product-title {
    box-sizing: border-box;
    float: left;
    width: 450px;
}

.sub-product-1st-title {
    color: #333;
    font-size: 33px;
    margin: 10px 0;
    box-sizing: border-box;
}

.sub-product-2nd-title {
    color: #999;
    font-size: 30px;
}

.next-icon-container {
    float: right;
    width: 75px;
    height: 100%;
    background: url('../images/jrgc/next-icon.png') no-repeat;
    background-position: center;
}

.close-icon-container {
    position: absolute;
    width: 66px;
    height: 66px;
    top: 0;
    right: 0;
    background-color: transparent;
    z-index: 9999;
}