.header-placeholder {
    height: 88px;
    display: block;
}

.header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    line-height: 88px;
    background-color: #fff;
    text-align: center;
    font-size: 36px;
    color: #333;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.btn {
    display: block;
    float: left;
    width: 80px;
    height: 88px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.btn-back {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAvCAMAAADKIyriAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAXVBMVEUAAABTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5UAAADt3LwOAAAAHXRSTlMAHofKYTZiyzQ3KpMz9K2WEURUElNSBW7MZUOs8IRJRR4AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAXElEQVQ4y+3JyQ5AUBAEwPbs+76b//9NwtH0iYSIuhagsYztqAFXNh4d8emIoSMWneCFE/6DiA7iY5LzIKWDbK+8UKoUftVDV994zQeuvXgdvx70BtAb1cI0LwYrVNwl2vWPSWoAAAAASUVORK5CYII=');
}

.btn-close {
    left: 80px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAoCAMAAABKKxPSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAYFBMVEUAAABTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5UAAAApLADtAAAAHnRSTlMAIGlLATv0sQZCq6g6rrYHVvwhsnBEV1C3ystDak1AkkaTAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAANZJREFUOMuN1WkPgjAMBuCqHAoCwrzR/v+fCcQ5dvRgX2DpE5Kl7wrAbn/IQF95gVgeJXGq6jNAg/NqO55desRiAIMyXBjiFW69CO+/8sO90dAWTQYitKVn5+9SGDIWxoyBKSMhxQhIswRyLII8C6DEPCgzB18Kc1BjPhTZChXmXLvtcwr0z9Gqx33LV2HtgngV/GZJMGgWD6OecjBpPQ2JhFCQDFIKmbzFkI1lCIX0+lAMuS2WGYxyyN1cM0os/3Oy0dJr5+4yx40Y3rGq8/kxfL4b/gsTau460bwH9cgAAAAASUVORK5CYII=');
}

.btn:first-child {
  left: 0;
}

.sub-title {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 26px;
    right: 20px;
    height: 88px;
    color: #333;
}
