html, body {
  background-color: #ebebee;
}
#cnt{padding:0 0 138px;}
.question-box {
  width: 100%;
  .question-img {
    width: 100%;
    img {
      width: 100%;
      display: block;
    }
  }
  .question-tip {
    padding: 20px 30px;
    background-color: #fff6c7;
    color: #6b4508;
    font-size: 26px;
    line-height: 32px;
    border-bottom: 1px solid #d8d8d8;
  }
  .question-ul {
    background-color: #fff;
    padding: 0 30px;
    .question-li {
      border-bottom: 1px solid #e3e5ea;
      .question {
        padding: 32px 0 30px;
        color: #333;
        font-size: 30px;
        max-height: 9999px;
      }
      .answer {
        .question-select {
          padding: 0 0 40px 62px;
          position: relative;
          line-height: 44px;
          max-height: 9999px;
          font-size: 30px;
          color: #666;
          .select {
            position: absolute;
            top: 0;
            left: 0;
            width: 44px;
            height: 44px;
            background: url("../images/no-checked.png") no-repeat center;
            max-height: 9999px;
          }
          .select.checked {
            background: url("../images/checked.png") no-repeat center;
          }
        }
      }
    }
  }
  .foot-btn-box {
    position: fixed;
    left:0;
    bottom:0;
    box-sizing: border-box;
    width:100%;
    background-color: #fff;
    padding: 22px 30px;
    .foot-btn {
      max-height: 9999px;
      height: 74px;
      line-height: 74px;
      color: #FFF;
      font-size: 32px;
      text-align: center;
      background-color: #fd4d4c;
      border-radius: 4px;
    }

  }
}

.question-result {
  .result-top {
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    padding: 0 0 18px;
    margin-bottom: 20px;
    .result-img {
      width: 100%;
      padding: 42px 0 18px;
      img {
        width: 100%;
      }
    }
    .result-score {
      height: 72px;
      line-height: 72px;
      font-size: 60px;
      color: #3f3e41;
      max-height: 9999px;
    }
    .result-text1 {
      line-height: 50px;
      font-size: 30px;
      color: #2e2d33;
      max-height: 9999px;
    }
    .result-text2 {
      line-height: 80px;
      font-size: 60px;
      color: #fd4d4c;
      max-height: 9999px;
    }
  }

  .result-cnt {
    padding: 0 30px 30px;
    background-color: #fff;
    .text1 {
      padding: 25px 0 7px;
      font-size: 26px;
      color: #333;
      line-height: 36px;
      max-height: 9999px;
    }
    .text2 {
      font-size: 26px;
      color: #666;
      line-height: 40px;
      max-height: 9999px;
    }
    .text3 {
      padding: 25px 0 7px;
      font-size: 26px;
      color: #333;
      line-height: 36px;
      max-height: 9999px;
    }
    .text4 {
      padding: 0 0 10px;
      font-size: 26px;
      color: #666;
      line-height: 40px;
      max-height: 9999px;
    }
    .list-box {
      margin:0 auto;
      border:1px solid #e3e5ea;
      text-align: center;
      .li-head {
        width:100%;
        background-color:#a0b6d5 ;
        font-size:28px;
        height:68px;
        line-height:68px;
        color:#fff;
        display: table;
        .li-l {
          float:left;
          width:50%;
          border-right:1px solid #d8d8d8;
          box-sizing:border-box;
        }
        .li-r {
          width:50%;
          float:left;
        }
      }
      .li {
        width:100%;
        background-color:#fff;
        font-size:26px;
        height:66px;
        line-height:66px;
        color:#555;
        display: table;
        .li-l {
          float:left;
          width:50%;
          border-right:1px solid #d8d8d8;
          box-sizing:border-box;
        }
        .li-r {
          width:50%;
          float:left;
        }
      }
    }
  }
  .foot-btn-box {
    position: fixed;
    box-sizing: border-box;
    left:0;
    bottom:0;
    width:100%;
    background-color: #fff;
    padding: 22px 30px;
    .foot-btn {
      max-height: 9999px;
      height: 74px;
      line-height: 74px;
      color: #FFF;
      font-size: 32px;
      text-align: center;
      background-color: #fd4d4c;
      border-radius: 4px;
    }

  }
}

