body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,b {
    margin: 0; padding: 0;list-style: none;}
body, html{position:relative;margin:0 auto;background-color:#ebebee;}
.clearfix{zoom:1}
.clearfix:after{content:"";display:block;clear:both}
a:active,a:focus{outline:0;}
a{text-decoration: none;}
input[type="submit"], input[type="text"], input[type="tel"], input[type="number"], input[type="button"], input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  line-height: normal;
}

input, label, button, textarea, select {
  border: medium none;
  font-family: "Microsoft YaHei", Arial, Helvetica, simhei, sans-serif;
}

input:focus {
  outline: 0;
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
}




.select-bank{
    top: 0px;
    bottom: 0;
    width: 100%;
    
    .search{
       width: 90%;
       height: 81px;
       line-height: 81px;
       border:1px solid #dddddd;
       border-radius: 6px;
       background: white; 
       position: fixed;
       top: 136px;
       left: 4%;
       z-index: 10;
    }
    
    img{
        display: inline-block;
        vertical-align: middle;
    }
    
    .suo{
         margin-left: 26px;
    }
    
    .hunt{
        width: 76%;
        display: inline-block;
        vertical-align: middle;
        font-size: 32px;
        color: #cccccc;
        text-indent: 30px;
    }
    
    .list{
        width: 100%;
        position: absolute;
        top: 258px;
        z-index: 6;
        background: white;
    }
  
    .list li{
        width: 95%;
        height: 98px;
        line-height: 98px;
        border-bottom: 1px solid #e3e5ea;
        margin-left: 4%;
    }
    
    .list li a{
        color: #555555;
        font-size: 32px;
    }
    
    .list img{
        float: right;
        margin-top: 36px;
        margin-right: 35px;
    }
    
    .false{
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 17px;
    }
    
}





















































