html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.header{
  height:100px;
  line-height:100px;
  background:#fff;
  text-align:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
}
.title{
  font-size:36px;
  color:#333;
}
.arrow-left{
  background:url(../images/arrow-left.jpg) no-repeat;
  width:19px;
  height:34px;
  position:absolute;
  top:34px;
  left:33px;
}
.history-bill{
  font-size:32px;
  color:#50ad9a;
  position:absolute;
  top:0px;
  right:33px;
}
.transfer-box{
  width:100%;
  height:325px;
  padding-top:102px;
  background:#50ad9a;
  margin-bottom:23px;
}
.transfer-title{
  font-size:25px;
  color:#fff;
  text-align:center;
}
.transfer-money{
  font-size:102px;
  color:#fff;
  text-align:center;
}
.transfer-lines{
  overflow:hidden;
  margin-top:35px;
}
.return-money, .return-date{
  width:50%;
  float:left;
}
.return-money-title, .return-date-title{
  font-size:24px;
  color:#fff;
  display:block;
  text-align:center;
  margin-bottom:15px;
}
.return-money-num, .return-date-day{
  font-size:40px;
  color:#fff;
  display:block;
  text-align:center;
}
.loan-info{
  position:relative;
}
.vertical-line{
  width:1px;
  height:77px;
  background:#8ec5ba;
  position:absolute;
  top:3px;
  left:50%;
}
.bill-item{
  height:158px;
  background:#fff;
  overflow:hidden;
}
.bill-detail{
  float:left;
  margin-left:32px;
  margin-top:30px;
}
.pay-back-btn-wrap{
  float:right;
  margin-right:32px;
  margin-top:44px;
}
.bill-detail-wrap{
  overflow:hidden;
}
.bill-money{
  font-size:56px;
  color:#50ad9a;
  display:inline-block;
  float:left;
}
.bill-status{
  display:inline-block;
  background:url(../images/overdue.jpg) no-repeat;
  width:102px;
  height:46px;
  float:left;
  margin-top:7px;
  margin-left:22px;
}
.bill-deadline{
  font-size:25px;
  color:#999;
}
.pay-back-btn-status1{
  width:148px;
  height:66px;
  line-height:66px;
  border:1px solid #50ad9a;
  font-size:30px;
  color:#50ad9a;
  border-radius:4px;
  text-align:center;
}
.pay-back-btn-status2{
  width:148px;
  height:66px;
  line-height:66px;
  border:1px solid #50ad9a;
  background:#50ad9a;
  font-size:30px;
  color:#fff;
  border-radius:4px;
  text-align:center;
}
.data-box{
  margin-bottom:133px;
  margin-top:100px;
}
.no-data-img{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
