body {
  background-color: #ebebee;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
.order-status{
  width:720px;
  height:119px;
  padding-top:253px;
  background:url(../images/order-success.png) no-repeat;
  margin-top:20px;
}
.pay-tip{
  text-align:center;
  font-size:24px;
  color:#555;
}
.pay-price{
  text-align:center;
  font-size:24px;
  color:#555;
  margin-top:8px;
}
.pay-price span{
  font-size:32px;
  color:#fd4d4c;
}
.order-products{
  width:690px;
  padding-left:30px;
  margin-top:20px;
  background:#fff;
  border-top:1px solid #d8d8d8;
}
.order-item{
  height:87px;
  overflow:hidden;
  line-height:87px;
  font-size:26px;
  color:#555;
  border-bottom:1px solid #e3e5ea;
}
.order-item-name{
  float:left;
}
.order-item-amount{
  float:right;
  padding-right:30px;
}
.pay-way{
  margin-top:20px;
  background:#fff;
}
.pay-item{
  padding:25px 30px;
  border-bottom:1px solid #e3e5ea;
  overflow:hidden;
}
.pay-icon{
  width:68px;
  float:left;
  margin-right:20px;
}
.pay-name{
  float:left;
}
.pay-check{
  float:right;
  background:url(../images/unchecked.jpg) no-repeat;
  width:50px;
  height:50px;
  margin-top:9px;
  &.active{
    background:url(../images/checked.jpg) no-repeat;
  }
}
.pay-title{
  font-size:28px;
  color:#333;
}
.pay-subtitle{
  font-size:22px;
  color:#999;
}
.pay-bar{
  width:720px;
  padding-top:20px;
  height:95px;
  position:fixed;
  bottom:0;
  background:#fff;
  box-shadow: 0 -5px 10px 0 rgba(50,50,50,.1);
}
.pay-btn{
  display:block;
  width: 660px;
  height:74px;
  background:#fd4d4c;
  font-size: 32px;
  color:#fff;
  line-height:74px;
  text-align:center;
  border-radius:4px;
  margin:0 auto;
}
.order-payment{
  margin-bottom:135px;
}