{% extends '../../../lib/templates/loan_base.swig.html' %}
{% block title %}邀请好友{% endblock %}
{% block content %}
<div class="invite-bg">
    <div class="tabs">
        <span class="rule-btn">放心花</span>
    </div>
</div>
<div id="tab-content">
    <div class="tab-content-item">
        <div class="tab-content-item-wrap1">
            <div class="rule-item">放心花是由香港上市公司——中国信贷科技控股有限公司(Credit
                China，股票代码:08207.HK)战略控股的金融工场全新推出的基于移动端的现金借贷平台，主要为用户提供短期的小额急借的现金借贷服务。用户通过授信认证获得授信额度，在额度内随时可进行借款，借款额度在500元~10000元之间。操作简单、方便快速、急速到账，做年轻人专属的手机钱包。
            </div>
        </div>
    </div>
</div>
<div class="mask">
    <img src="images/invite-tip.png"/>
</div>
{% endblock %}
