.bg {
    min-height: 100%;
    background: #4a86e8 url(../images/bg.jpg) no-repeat;
    background-size: 100% auto;
    box-sizing: border-box;
    padding-top: 1px;
    padding-bottom: 1px;
}

.form {
    position: relative;
    width: 14.55rem;
    margin: 12rem auto 1rem;
}

.field {
    position: relative;
    width: 100%;
    height: 1.9rem;
    margin-bottom: .7rem;
    border: 1px solid hsla(0, 0%, 100%, .4);
    border-radius: .2rem;
    background-color: rgba(254, 254, 255, .08);
}

.field .icon {
    position: absolute;
    display: block;
    left: .5em;
    top: .5em;
}

.field input {
    display: block;
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 2rem;
    padding-left: 0;
    background-color: transparent;
    color: #fff;
    font-size: .7rem;
}

.field input::-webkit-input-placeholder {
    color: rgb(139, 183, 254);
}

.captcha-img {
    width: 3rem;
    height: 1rem;
    position: absolute;
    right: .4rem;
    top: .4rem;
    display: block;
}

.sms-code {
    display: block;
    font-size: .7rem;
    line-height: 1.8rem;
    color: #d6e2ff;
    text-align: right;
    position: absolute;
    right: .4rem;
    top: .1rem;
}
.toggle-password{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.875rem;
    height: 1.8rem;
}
.toggle-password-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: .8rem;
}

.btn-register {
    width: 100%;
    color: #fff;
    font-size: .7rem;
    font-family: PingFang;
    text-align: center;
    height: 1.9rem;
    line-height: 1.9rem;
    margin-bottom: .8rem;
    border: none;
    border-radius: .2rem;
    background-color: #ff5f9a;
    display: block;
}

.btn-login {
    width: 100%;
    color: #fff;
    font-size: .7rem;
    text-align: center;
    display: block;
    margin-bottom: 2em;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 18rem;
    height: 37.5rem;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
    text-align: center;
}

.pop-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14.65rem;
    padding: .85rem;
    background: #fff;
    border-radius: .3rem;
}

.registered-tip {
    margin: 1.25rem auto;
    font-size: .75rem;
    color: #666;
}

.mask-close-icon {
    position: absolute;
    top: .85rem;
    right: .85rem;
    width: .575rem;
    height: .575rem;
    z-index: 9999;
}

.mask-opts {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0;
    overflow: hidden;
}

.mask-close {
    display: inline-block;
    width: 6.15rem;
    height: 1.85rem;
    line-height: 1.85rem;
    font-size: .75rem;
    float: left;
    border: 1px solid #6aa4f0;
    border-radius: 4px;
    color: #6aa4f0;
}

.mask-to-next {
    display: block;
    position: relative;
    overflow: hidden;
    float: right;
    background-color: #6aa4f0;
    border-radius: 4px;
    color: #fff;
    width: 6.15rem;
    height: 1.85rem;
    line-height: 1.85rem;
    font-size: .75rem;
}

.veri-code-info {
    display: table;
    width: 50%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: .6rem;
    font-size: .7rem;
    font-family: PingFang;
    line-height: 1.8rem;
    color: #d6e2ff;
    text-align: right;
}