.bg {
    text-align: center;
    padding-top: 1px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    background: #4a86e8 url(../../images/outside/show-weixin/bg.png) no-repeat;
    background-size: 100% auto;
    background-position: bottom;
}

.success-info {
    text-shadow: 0 0.05rem 0.05rem rgba(74, 134, 232, .31);
}

.success-info h3 {
    margin-bottom: .375rem;
    color: #ffcd75;
    font-size: 1.35rem;
}

.success-info p {
    color: #fff;
    font-size: .9rem;
}

.gift {
    width: 100%;
    position: relative;
    top: -2rem;
}

.text-big {
    margin-bottom: .45rem;
    font-size: 1rem;
    color: white;
}

.text-small {
    color: #8ab4fb;
    font-size: .7rem;
    line-height: 1.5;
}