// vars and mixins
@follow-wx-wrap--height: 87px;
@user-info-display-wrap--height: 100px;

// containing block should better be a positioned element
.center-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.right-align-container {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

// main style
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // no highlight when tapping
}

html {
  height: 100%;
  min-height: 1000px;
}

body {
  height: 100%;
  background-color: #f0f0f0;
  font-size: 30px;
}

.avator-card {
  width: 100%;
  background-color: #44adf0;
  padding: 64px 0;
  text-align: center;

  .avatar-container {
    width: 156px;
    height: 156px;
    margin: 0 auto;
  }

  .masked-phone-num {
    color: #fff;
    font-size: 32px;
    margin-top: 18px;
  }
}

.follow-wx-entry-wrap {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: @follow-wx-wrap--height;
  background-color: #3ba1e9;
  vertical-align: middle;

  .left-icon-container {
    display: inline-block;
    position: relative;
    width: 114px;
    height: 100%;

    img {
      .center-element;
    }
  }

  span {
    display: inline-block;
    height: 100%;
    color: #fff;
    line-height: @follow-wx-wrap--height;
  }

  .right-align-container {

    .next-icon-container {
      position: relative;
      width: 60px;
      height: 100%;

      img {
        .center-element;
      }
    }
  }
}

.bill-entry-wrap {
  width: 100%;

  .bill-label {
    height: 66px;
    line-height: 75px;
    padding-left: 35px;
    background-color: #f9f9f9;
    color: #333;
  }

  .bill-type-wrap {
    display: inline-flex;
    width: 100%;
    height: 153px;
    background-color: #fff;
    color: #666;

    ul {
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        width: 25%;
        list-style: none;
        text-align: center;

        img {
          display: block;
          margin: 20px auto 5px;
        }
      }
    }
  }
}

.info-display-block {
  width: 100%;
  margin: 21px 0;
  background-color: #fff;

  .user-info-display-wrap {
    display: inline-flex;
    position: relative;
    margin-left: 35px;
    width: calc(~"100% - 18px");
    height: @user-info-display-wrap--height;
    background-color: #fff;
    border-bottom: 1px solid #ebeaea;
    vertical-align: middle;

    &:last-child {
      border: none;
    }

    .info-icon-container {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 100%;
      margin-right: 18px;

      img {
        .center-element;
      }
    }

    .info-name {
      display: inline-block;
      height: 100%;
      color: #666;
      line-height: @user-info-display-wrap--height;
    }

    .right-align-container {

      .info-content {
        display: inline-block;
        height: 100%;
        color: #333;
        line-height: @user-info-display-wrap--height;
      }

      .right-arrow-container {
        display: inline-block;
        position: relative;
        width: 96px;
        height: 100%;

        .fake-arrow {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 10px;
          width: 25px;
          height: 25px;
          margin: auto;
          border-top: 3px solid #ccc;
          border-left: 3px solid #ccc;
          transform: rotate(135deg);
        }
      }
    }
  }
}
