.display {
    padding: 0 10px 30px;
    p {
        line-height: 24px;
        font-size: 17px;
    }
    span {
        font-size: 17px;
    }
}

h2 {
    font-size: 26px;
    text-align: center;
}

.date {
    float: right;
}
