.display {
    padding: 0 10px 30px;
    color: #555;
    margin-top: 40px;
    h2 {
        font-size: 30px;
        text-align: center;
        color: #333;
    }
    .notice {
        line-height: 46px;
        font-size: 22px;
        text-indent: 2em;
    }
    .signature,
    .last-time {
        float: right;
        font-size: 32px;
        margin: 0;
    }
    .last-time {
        clear: right;
    }
}
