.display {
    padding: 0 10px 30px;
    .notice {
        line-height: 46px;
        font-size: 22px;
        text-indent: 2em;
    }
}

h2 {
    font-size: 26px;
    text-align: center;
    color: #343434;
}

.signature,
.last-time {
    float: right;
    font-size: 32px;
    margin: 0;
}

.last-time {
    clear: right;
}
