@colorWhite: #fff;
@colorBlue: #5b6993;
@colorCircle: #243771;
@colorFont: #a6c2fe;
@colorRed: #fb6456;

@fontSize20: 20px;
@fontSize24: 24px;
@fontSize26: 26px;
@fontSize28: 28px;
@fontSize30: 30px;
@fontSize36: 36px;
@fontSize40: 40px;
@fontSize48: 48px;
.show {
  display: block !important;
}

.informationDisclosureMobile {
  width: 100%;
  .informationTabMobile {
    width: 682px;
    height: 72px;
    line-height: 72px;
    margin: 16px auto 50px;
    font-size: @fontSize28;
    color: @colorBlue;
    .tab {
      width: 224px;
      text-align: center;
      float: left;
      border: 2px solid @colorBlue;
      cursor: pointer;
    }
    .tabFirst {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .tabMiddle {
      border-left: transparent;
      border-right: transparent;
    }
    .tabLast {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .active {
      background: @colorBlue;
      color: @colorWhite;
    }
  }
  .infoConPartMobile {
    display: none;
  }
  .infoConPartMobile1 {
    width: 100%;
    height: 884px;
    background: url("../images/infoBg.jpg") no-repeat;
    padding-top: 48px;
    .infoMobileContent {
      .infoConMobile {
        height: 678px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        align-content: space-around;
        justify-content: space-around;
        flex-flow: row wrap;
        .infoCell {
          width: 315px;
          height: 315px;
          border-radius: 50%;
          background: @colorCircle;
          position: relative;
          .text {
            position: absolute;
            top: 100px;
            width: 315px;
            text-align: center;
            color: @colorFont;
            font-size: @fontSize24;
          }
          .cash {
            position: absolute;
            top: 150px;
            width: 315px;
            text-align: center;
            font-size: @fontSize48;
          }
          &:first-child {
            .cash {
              color: #fe8482;
            }
          }
          &:nth-child(2) {
            .cash {
              color: #a195cd;
            }
          }
          &:nth-child(3) {
            .cash {
              color: #56d9e1;
            }
          }
          &:nth-child(4) {
            .cash {
              color: #61cdfd;
            }
          }
        }
      }
      .infoTimeMobile {
        width: 100%;
        text-align: center;
        font-size: @fontSize24;
        color: @colorWhite;
        margin: 20px 0 20px;
      }
      .infoPromoteMobile {
        width: 100%;
        text-align: center;
        color: #c1adf1;
        font-size: @fontSize20;
      }
    }
    .pieMobileContent {
      margin-top: 110px;
      width: 100%;
      text-align: center;
      .userNumber {
        font-size: @fontSize24;
        color: @colorBlue;
        margin-top: -80px;
        span {
          font-size: @fontSize30;
        }
      }
      .userCash {
        font-size: @fontSize24;
        color: @colorBlue;
        margin-top: 10px;
        margin-bottom: 60px;
        span {
          font-size: @fontSize30;
        }
      }
    }
    .enduranceMobile {
      width: 100%;
      height: 622px;
      background: url("../images/infoBg.jpg") no-repeat;
      background-position: 0 -200px;
      padding-top: 46px;
      .enduranceTitle {
        width: 100%;
        text-align: center;
        font-size: @fontSize36;
        color: @colorWhite;
      }
      .enduranceContent {
        height: 500px;
        margin-top: 46px;
        padding: 0 15px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-around;
        .enduranceCell {
          height: 220px;
          width: 220px;
          border-radius: 50%;
          background: @colorCircle;
          position: relative;
          .text {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 45px;
            font-size: @fontSize24;
            color: @colorFont;
          }
          .cash {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 120px;
            font-size: @fontSize40;
          }
          &:first-child {
            .cash {
              color: #fbc066;
            }
          }
          &:nth-child(2) {
            .cash {
              color: #fe8482;
            }
          }
          &:nth-child(3) {
            .cash {
              color: #56d9e1;
            }
          }
          &:nth-child(4) {
            .cash {
              color: #61cdfd;
            }
          }
          &:nth-child(5) {
            .cash {
              color: #a195cd;
            }
          }
        }
      }
    }
    .reportMobile {
      width: 100%;
      text-align: center;
      height: 250px;
      .reportTitle {
        font-size: @fontSize36;
        color: @colorBlue;
        margin: 50px 0;
      }
      .reportBtn {
        display: block;
        width: 220px;
        height: 60px;
        margin:0 auto 50px;
        line-height: 60px;
        background: @colorRed;
        text-align: center;
        color: @colorWhite;
        font-size: @fontSize26;
        border-radius: 4px;
      }
    }
  }
  .clearfix::after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
  }
  .clearfix {
    zoom: 1;
  }

  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .infoConPartMobile2 {
    width: 100%;
    font-family: "Microsoft YaHei", Arial, Helvetica, simhei, sans-serif;
    overflow: hidden;
    .main {
      color: #333;
      width: 100%;
      .basicInfo {
        width: 100%;
        //height:69px;
        //border-bottom: 1px solid #eaeaea;
        display: table;
        .basicInfoTitle {
          width: 95.8%;
          height: 69px;
          font-size: 28px;
          font-weight: 700;
          line-height: 69px;
          margin: 0 auto;
          background-color: #f9f9f9;
          padding-left: 4.2%;
          border: 1px solid #e2e2e2;
          border-right: transparent;
          border-left: transparent;
        }
        .basicInfoContent {
          width: 100%;
          height: 1340px;
          margin: 0 auto;
          padding: 40px 0;
          .basicInfoContentL {
            width: 192px;
            height: 1136px;
            .line {
              width: 192px;
              height: 30px;
              line-height: 40px;
              font-size: 24px;
              padding-left: 30px;
            }
            .range {
              width: 192px;
              height: 510px;
              font-size: 24px;
              padding-left: 30px;
              line-height: 40px;
            }
            .adress, .site {
              width: 192px;
              height: 60px;
              font-size: 24px;
              line-height: 40px;
              padding-left: 30px;
            }
            .case {
              width: 192px;
              height: 156px;
              font-size: 24px;
              line-height: 40px;
              padding-left: 30px;

            }
          }
          .basicInfoContentR {
            width: 504px;
            height: 1136px;
            .rline {
              width: 478px;
              height: 30px;
              line-height: 40px;
              font-size: 24px;
              padding-right: 30px;
              padding-left: 40px;
            }
            .rrange {
              width: 478px;
              height: 510px;
              font-size: 24px;
              line-height: 40px;
              padding-right: 30px;
              padding-left: 40px;
            }
            .radress, .rsite {
              width: 472px;
              height: 60px;
              font-size: 24px;
              line-height: 40px;
              padding-right: 30px;
              padding-left: 40px;
            }
            .rcase {
              width: 478px;
              height: 156px;
              font-size: 24px;
              line-height: 40px;
              padding-right: 30px;
              padding-left: 40px;
            }
          }
        }
      }
      .webInfo {
        width: 100%;
        height: 69px;
        //border-bottom: 1px solid #eaeaea;
        display: table;
        .webInfoTitle {
          width: 95.8%;
          height: 69px;
          font-size: 28px;
          font-weight: 700;
          line-height: 69px;
          margin: 0 auto;
          background-color: #f9f9f9;
          padding-left: 4.2%;
          border: 1px solid #e2e2e2;
          border-right: transparent;
          border-left: transparent;
        }
        .webInfoContent {
          width: 100%;
          height: 440px;
          margin: 0 auto;
          padding: 50px 0;
          .webInfoContentL {
            width: 264px;
            height: 440px;
            .line {
              width: 264px;
              height: 30px;
              line-height: 30px;
              font-size: 24px;
              padding-left: 30px;
            }
          }
          .webInfoContentR {
            width: 360px;
            height: 440px;
            padding-left: 30px;
            .rline {
              width: 360px;
              height: 30px;
              line-height: 30px;
              font-size: 24px;
              padding-left: 30px;
            }
          }
        }
      }
      .organization {
        width: 100%;
        //border-bottom: 1px solid #eaeaea;
        .orgTitle {
          width: 95.8%;
          height: 69px;
          font-size: 28px;
          font-weight: 700;
          line-height: 69px;
          margin: 0 auto;
          background-color: #f9f9f9;
          padding-left: 4.2%;
          border: 1px solid #e2e2e2;
          border-right: transparent;
          border-left: transparent;
        }
        .orgPic {
          display: block;
          width: 712px;
          height: 620px;
          margin: 50px auto;
        }
      }
      .shareholder {
        width: 100%;
        //border-bottom: 1px solid #eaeaea;
        .shareTitle {
          width: 95.8%;
          height: 69px;
          font-size: 28px;
          font-weight: 700;
          line-height: 69px;
          margin: 0 auto;
          background-color: #f9f9f9;
          padding-left: 4.2%;
          border: 1px solid #e2e2e2;
          border-right: transparent;
          border-left: transparent;
        }
        .shareContent {
          margin: 50px 0;
          .sharePic {
            width: 177px;
            height: 58px;
            margin: 0 auto;
            display: block;
          }
          .des {
            width: 288px;
            height: 30px;
            font-size: 24px;
            line-height: 30px;
            margin: 0 auto;
            color: #999;
            padding-top: 10px;
          }
        }
      }
      .chairman {
        .chairmanRight {
          width: 100%;
          border-top: 1px solid #eaeaea;
          border-bottom: 1px solid #eaeaea;
          .chairmanRightTitle {
            width: 95.8%;
            height: 69px;
            font-size: 28px;
            font-weight: 700;
            line-height: 69px;
            margin: 0 auto;
            background-color: #f9f9f9;
            padding-left: 4.2%;
            border: 1px solid #e2e2e2;
            border-right: transparent;
            border-left: transparent;
          }
          .chairmanRightTitleContent {
            width: 100%;
            margin: 0 auto;
            .person {
              width: 100%;
              //height: 528px;
              .personUp {
                padding-top: 40px;
                width: 100%;
                height: 125px;
                .personPic {
                  display: block;
                  width: 120px;
                  height: 120px;
                  padding-left: 30px;
                }
                .personRTitle {
                  width: 200px;
                  height: 120px;
                  font-size: 24px;
                  padding-left: 40px;
                  .name {
                    font-size: 28px;
                    display: block;
                    color: #333;
                    line-height: 70px;
                  }
                  .position {
                    color: #71b5fb;
                    display: block;
                    width: 240px;
                  }
                }
              }
              .personDown {
                .personRContent {
                  color: #999;
                  width: 660px;
                  height: 280px;
                  font-size: 24px;
                  margin: 0 auto;
                  line-height: 40px;
                  border-bottom: 1px dashed #eaeaea;
                  padding-bottom: 40px;
                }
                .second {
                  height: 200px;
                }
                .third {
                  height: 170px;
                }
              }
            }
          }
        }
      }
    }
  }
  .infoConPartMobile3{
    width: 100%;
    text-align: center;
    .auditReportMobile{
      margin: 80px 0;
      .audioMobile{
        color: #4b4c4d;
        font-size: @fontSize24;
        margin-bottom: 30px;
        span{
          text-align: right;
          width: 300px;
          display: inline-block;
        }
        .auditBtn{
          display: inline-block;
          width: 220px;
          height: 60px;
          margin-left: 20px;
          background: @colorRed;
          text-align: center;
          line-height: 60px;
          color: @colorWhite;
          border-radius: 4px;
        }
      }

    }
  }
}