{% extends '../../../lib/templates/wap_base.swig.html' %}

{% block title %}HOME{% endblock %}

{% block content %}
<div id="header"></div>
<div id="cnt"></div>

<div class="bottom-link">
    <a href="http://www.9888.cn/top/index.do?pc=1">PC首页</a>
    <a href="http://bbs.9888.cn/">工友之家</a>
    <a href="/static/wap/app-download/index.html">下载APP</a>
    <a href="/static/wap/about-us/index.html">关于我们</a>
</div>
<div style="width: 90%; margin: 10px auto; height: 1px; background: #d8d8d8"></div>
<div class="copyright"> &copy;2016 金融工场版权所有</div>
<div class="company">北京凤凰信用管理有限公司</div>

<a class="app-download-link" href="/static/wap/app-download/index.html"></a>

<form style="display: none" id="form" method="post" action="/mpwap/newPrdClaims/getDetail.shtml">
    <input name="id" id="prdID"/>
</form>

{% endblock %}