.header {
    width: 100%;
    display: table;
    height: 88px;
    background: #fff;
}

.btnBack {
    display: block;
    float: left;
    width: 80px;
    height: 88px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAvCAMAAADKIyriAAAANlBMVEUAAAChZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV4laCSdAAAAEXRSTlMANVOWEcuHY/JDHq2sk24qBSwN9qcAAABOSURBVDjL7dQ5EoAwDMXQHyDOwur7XxaG2uoZJmpfL4V1yyWW5E8FxTOKG4p3lDTkk3KiaEdRRdH60rwE1JxtGvYLu9gOoWWhwb/aVk03h7wUJoaUshAAAAAASUVORK5CYII=') no-repeat center;
}

.tabs {
    height: 56px;
    border: 1px solid #9b5b54;
    float: left;
    position: absolute;
    top: 15px;
    left: 80px;
    border-radius: 8px;
    display: table;
    overflow: hidden;
}

.tab {
    width: 149px;
    height: 56px;
    border-right: 1px solid #9b5b54;
    float: left;
    text-align: center;
    line-height: 56px;
    font-size: 28px;
    color: #9b5b54;
}

.tabActive {
    color: #fff;
    background: #9b5b54;
}

.tab:last-child {
    border: transparent;
}

.allChart {
    width: 100%;
    height: 400px;
    background: #fff;
}

.chartWrapper {
    width: 100%;
    height: 320px;
}

.chartTab {
    width: 90%;
    height: 50px;
    display: table;
    margin: 10px auto 0;
    font-size: 20px;
    color: #555;
    text-align: center;
}

.chartTabItem {
    float: left;
    width: 12%;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
    margin-left: 30px;
}

.chartTabActive {
    border: 1px solid #9b5b54;
    border-radius: 10px;
    color: #9b5b54;
}

.allData {
    width: 100%;
    height: 240px;
    border-top: 1px solid #e3e5ea;
    background: #fff;
    margin-bottom: 20px;
}

.dataLine {
    width: 660px;
    margin: 0 30px;
    border-bottom: 1px solid #e3e5ea;
    height: 119px;
    display: table;
}

.lastLine {
    border-bottom: 0 none;
}

.lineItem {
    width: 49%;
    height: 60px;
    margin: 30px 0;
    float: left;
    border-right: 1px solid #e3e5ea;
}

.lineItem:last-child {
    width: 46%;
    border-right: 0 none;
    padding-left: 30px;
}

.name {
    font-size: 24px;
    color: #999;
}
.name span{
    font-size: 22px;
}

.count {
    font-size: 32px;
    color: #555;
    margin-top: 10px;
}

.users {
    width: 100%;
    height: auto;
}

.userItem {
    width: 100%;
    background: #fff;
}

.userItem:last-child {
    border-bottom: 1px solid #e3e5ea;
}

.itemDetail {
    width: 660px;
    border-bottom: 1px solid #e3e5ea;
    height: 74px;
    padding: 30px 30px 30px 0;
    margin-left: 30px;
}

.detailLine {
    width: 100%;
    display: table;
}

.detailLeft {
    float: left;
    font-size: 32px;
    color: #555;
}

.detailRight {
    float: right;
    font-size: 32px;
    color: #fd4d4c;
}

.userDes, .userDate {
    font-size: 24px;
    color: #999;
}

.detailLine:last-child {
    margin-top: 10px;
}


