.bg{
    width:100%;
    height: 100%;
    background: #e9eaee;
}
.set{
    margin: 20px 0 50px;
    width: 100%;
    height: 100%;
    background: #fff;
}
.set-item{
    margin-left: 30px;
    padding: 30px 0;
    border-bottom: 1px solid #e3e5ea;
    display: table;
}
.set-item img{
    display: inline-block;
    vertical-align: middle;
}
.set-item span{
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    color: #555;
    margin-left: 10px;
}
.loginName{
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    color: #999;
    border: transparent;
    margin-left: 280px;
    text-align: right;
    outline: none;
    width: 260px;
}
.gcm{
    margin-left: 260px;
}
.gcm img{
    margin-left: 20px;
    margin-top: -4px;
}
.set-item:nth-child(2){
    border: transparent;
}
.exit{
    width: 660px;
    height: 74px;
    margin: auto;
    text-align: center;
    line-height: 74px;
    color: #fff;
    background: #c6815f;
    font-size: 32px;
    border-radius: 8px;
}
.pop-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.pop{
    width: 529px;
    height: 422px;
    background: url('../../images/user/setting/pop-bg.png') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.reminder{
    position: absolute;
    font-size: 32px;
    color: #333;
    width: 100%;
    text-align: center;
    top: 20px;
}
.text{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 126px;;
    font-size: 30px;
    color: #555;
}
.exitBtn{
    width: 470px;
    height: 66px;
    position: absolute;
    left: 25px;
    top: 220px;
    text-align: center;
    line-height: 66px;
    color: #fff;
    background: #fd4d4c;
    font-size: 28px;
    border-radius: 8px;
}
.close{
    position: absolute;
    bottom: 0;
    left: 240px;
    width: 54px;
    height: 54px;
    background:transparent;
}