{% extends '../../../lib/templates/main_base.swig.html' %}

{% block title %}邀请返利{% endblock %}

{% block content %}

<div id="header"></div>
<!--/* 遮罩层 - start */-->
<div class="shade" id="shade" style="display: none;">
    <div class="close" onclick="javascript:this.parentNode.style.display='none'"></div>
    <div class="detail">
        <p>1、邀请返现券对应使用条件：最短投资标的期限、最低投资金额、有效期。可在“我的工场 - 优惠券”中查看返现券明细；</p>
        <p>2、邀请返现券不可抵现金，不可转让，不能用于投资债权转让项目；</p>
        <p>3、除特殊说明外，每次投标可使用多张返现券。投资时请务必勾选“使用返现券”，投资成功即返对应现金至金融工场账户，返还的现金可用于继续投资或提现；</p>
        <p>
            4、金融工场有权随时随机抽查邀请人推荐注册客户的真实性，一旦发现一例造假和欺骗行为，则立即终止邀请人和被邀请人的全部活动参加资格，回收已发放返现券并清除邀请人和被邀请人账户信息，并保留追究由此给金融工场带来的一切损失的权利；</p>
        <p>5、本活动最终解释权归金融工场所有，详情可致电客服热线咨询：400-0322-988。</p>
    </div>
</div>
<!--/* 遮罩层 - end */-->

<!--/* 遮罩层2 - start */-->
<div class="cover2" id="cover2" style="display: none;">
    <div class="bg"></div>
    <div class="modal">
        <div class="close2" onclick="javascript:this.parentNode.parentNode.style.display='none'"></div>
        <a href="">
            <img src="./images/not_bind_account.png">
        </a>
    </div>
</div>
<!--/* 遮罩层2 - end */-->

<!--/* 遮罩层 3 - start */-->
<div class="shade" id="cover3" style="display: none;">
    <img src="./images/share.png" alt=""
         onclick="document.getElementById('cover3').style.display='none'"/>
</div>
<!--/* 遮罩层3 - end */-->

<div class="li_wx">
    <div class="top"><img src="./images/conTop.png" alt=""/></div>
    <div class="topList">
        <img src="./images/conCont1.png" alt=""/>
        <p>
            <span>好友填写邀请码<br><em>成功注册</em></span>
            <span>好友首次投资<br><em>满5000元</em></span>
            <span>邀请人立获<br><em>50奖励</em></span>
        </p>
        <img src="./images/conCont2.png" alt=""/>
    </div>
    <div class="bot">
        <div>邀请一名好友首投满<em>5000元</em>，“我”获<em>50元</em>返现券</div>
        <div>邀请了N名好友首投<em>5000元</em>，“我”获<em>50*N元</em>返现券</div>
        <div>邀请越多赚越多，<em>不设上限</em>，看看你人脉有多广！</div>
    </div>
    <div class="botBut">
        <a onClick="invite()" style="display: none"><img src="./images/conContbut.png" alt=""/></a>
        <a class="but" style="position: fixed;right: 60px;bottom: 60px;top: auto;">
            <img onclick="document.getElementById('shade').style.display='block'"
                 src="./images/conContbut-2.png" alt=""/></a>
    </div>
</div>

<script>
    function invite() {
    }
</script>
{% endblock %}