body {
	background-color: #f0f0f0;
}

.my-cnt {
	margin-bottom: 120px;
}

.my-nav {
	height: 90px;
	font-size: 36px;
	line-height: 90px;
	text-align: center;
	background-color: #fff;
}

.more-list {
	margin: 20px 0 0 0;
	padding: 0 0 0 30px;
	background-color: #fff;
	
	.list {
		.list-cnt {
			height: 36px;
			padding: 26px 30px 26px 0;

			border-bottom: 1px solid #ebeaea;

			.icon {
				float: left;
				width: 36px;
				height: 36px;
				margin: 0 10px 0 0 ;
				background-size: 38px auto;
			}

			.text {
				color: #333;
				font-size: 28px;
			}

			.about-icon {
				background: url(../images/about-icon.png) no-repeat center;
				background-size: 29px auto;
			}
			
			.faq-icon {
				background: url(../images/faq-icon.png) no-repeat center;
				background-size: 34px auto;
			}

			.arrow-icon {
				float: right;
				width: 36px;
				height: 36px;
				background: url(../images/arrow-r-icon.png) no-repeat center;
				background-size: 30px auto;	
			}

		}	
	}
}



.more-btn {
	margin: 30px 0 0 0;
	padding: 0 30px;
}

.ui-btn {
	height: 74px;
	line-height: 74px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	background-color: #50ad9a;
	border-radius: 5px;
}


