*{padding:0;margin:0}
img{vertical-align: top;}
html,body{
  overflow-x:hidden;
  font-family:Microsoft YaHei,Arial,Sans;
}
.part1{width:720px;height:410px;background:url(../images/part1.jpg) no-repeat;}
.part2{width:720px;height:121px;padding-top:486px;background:url(../images/part2.jpg) no-repeat;}
.part3{width:720px;height:880px;background:url(../images/part3.jpg) no-repeat;}
.part4{width:720px;height:90px;padding-top:4778px;background:url(../images/part4.jpg) no-repeat;margin-bottom:50px;}
.part2 a{display:inline-block;width:220px;height:60px;line-height:60px;text-align:center;font-size:28px;color:#fff;border-radius:4px;background:#fb6456;}
.open-account-btn{margin-left:80px;}
.register-btn{margin-left:120px;}
.part4 a{margin: 0 auto;display:block;width:640px;height:60px;line-height:60px;text-align:center;font-size:28px;color:#fff;border-radius:4px;background:#fb6456;}