{% extends '../../../lib/templates/main_base.swig.html' %}

{% block title %}徽商专题 - 金融工场{% endblock %}

{% block content %}
<div id="header"></div>
<div class="part1"></div>
<div class="part2">
    <!--<a href="" class="open-account-btn">立即开通</a><a href="" class="register-btn">立即注册</a>-->
</div>
<div class="part3"></div>
<div class="part4">
    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MjQwMjcyNA==&mid=507798953&idx=1&sn=0006f42843ae70330cc3abda372cab19&chksm=3d1619e20a6190f4579ba8aed7f5f907f33156612b" class="enter-guide">点击进入详细操作指南</a>
</div>
{% endblock %}