*{padding:0;margin:0}
img{vertical-align: top;}
body {
  background-color: #c6f2ff;
}
html,body{
  overflow-x:hidden;
}
.information{
  width:680px;
  margin-left:20px;
  margin-top:34px;
  margin-bottom:40px;
}
.info-title{
  font-size:28px;
  color:#566c7a;
  margin-bottom:10px;
}
.info-item{
  font-size:22px;
  color:#566c7a;
  line-height:38px;
  max-height:99999999px;
}
.confirm-register-btn{
  display:block;
  width:600px;
  height:75px;
  text-align:center;
  line-height:75px;
  background:#fc6455;
  border-radius: 4px;
  font-size:30px;
  color:#fff;
  margin:23px auto 0;
}
.register{
  background:url(../images/bg5.png) no-repeat;
  width:680px;
  height:291px;
  padding-top:130px;
  margin:0 auto;
}
.register-tip{
  font-size:26px;
  line-height:44px;
  color:#555;
  width:600px;
  margin:0 auto;
  text-align:justify;
}
