*{padding:0;margin:0}
img{vertical-align: top;}
body {
  background-color: #c6f2ff;
}
html,body{
  overflow-x:hidden;
}
.information{
  width:680px;
  margin-left:20px;
  margin-top:34px;
  margin-bottom:40px;
}
.info-title{
  font-size:28px;
  color:#566c7a;
  margin-bottom:10px;
}
.info-item{
  font-size:22px;
  color:#566c7a;
  line-height:38px;
  max-height:99999999px;
}
.confirm-register-btn{
  display:block;
  width:100%;
  height:75px;
  text-align:center;
  line-height:75px;
  background:#fc6455;
  border-radius: 4px;
  font-size:30px;
  color:#fff;
  margin:23px auto 0;
}
.register{
  background:url(../images/bg5.png) no-repeat;
  width:680px;
  height:870px;
  padding-top:130px;
  margin:0 auto;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  .applyfor{
    width: 70%;
    margin: 0 auto;
    .phone{
      color: #555;
      width: 100%;
      height: 55px;
      font-size: 28px;
      margin-bottom: 20px;
      position: relative;
      .phonecompellation{
        width: 20%;
        padding-left: 16px;
        display: inline-block;
        position: relative;
      }
      .phonestar{
        display: inline-block;
        width: 10%;
        color: red;
        font-size: 30px;
        margin-left: -18px;
        position: relative;
      }
      .phoneframe{
        //display: inline-block;
        float: right;
        width: 61%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #c3c3c3;
        border-radius: 4px;
        font-size: 28px;
        padding-left: 30px;
        background-color: #eaeaea;
      }
    }
    .name{
      width: 100%;
      height: 55px;
      font-size: 28px;
      margin-bottom: 20px;
      position: relative;
      color: #555;
      .compellation{
        width: 12%;
        padding-left: 47px;
        display: inline-block;
        position: relative;
      }
      .star{
        display: inline-block;
        width: 10%;
        color: red;
        font-size: 30px;
        margin-left: -10px;
        position: relative;
      }
      .frame{
        //display: inline-block;
        float: right;
        width: 61%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #c3c3c3;
        border-radius: 4px;
        font-size: 28px;
        padding-left: 30px;
        background-color: #eaeaea;

      }
    }
    .namePart,.mailPart{
      color: #555;
      width: 100%;
      height: 55px;
      font-size: 28px;
      margin-bottom: 20px;
        label{
          width: 22%;
          padding-left: 47px;
        }
        span{
          display: inline-block;
          width: 8%;
          color: red;
          font-size: 30px;
        }
      #applyName,#mailPart{
        display: inline-block;
        width: 61%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #c3c3c3;
        border-radius: 4px;
        font-size: 28px;
        padding-left: 30px;
        background-color: #eaeaea;


      }
      #mailPart{
        background-color: #fff;
      }
    }
    .phoneNumberPart,.wechatNumberPart{
      color: #555;
      width: 100%;
      height: 55px;
      font-size: 28px;
      margin-bottom: 20px;
        label{
          width: 20%;
          padding-left: 20px;
        }
        span{
          display: inline-block;
          width: 8%;
          color: red;
          font-size: 30px;
        }
        #phoneNumber,#wechatNumber{
          display: inline-block;
          width: 61%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #c3c3c3;
          border-radius: 4px;
          font-size: 28px;
          padding-left: 30px;
          background-color: #eaeaea;
        }
        #wechatNumber{
          background-color: #fff;
        }
    }

    .cityPart{
      color: #555;
      width: 100%;
      height: 55px;
      font-size: 28px;
      margin-bottom: 20px;
      label{
        width: 20%;
      }
      span{
        display: inline-block;
        width: 6%;
        color: red;
        font-size: 30px;
      }
      #cityPart{
        display: inline-block;
        width: 61%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #c3c3c3;
        border-radius: 4px;
        font-size: 28px;
        padding-left: 30px;

      }
    }
  }
  .Comments{
    width: 70%;
    margin: 0 auto;
    height: 240px;
    margin-top: 80px;
    .commentsTitle{
      margin-bottom: 10px;
    }
    .commentContent{
      font-size: 20px;
      color: #999;
      .line{
        margin: 5px 0;
      }
    }
  }
}
.register-tip{
  font-size:26px;
  line-height:44px;
  color:#555;
  width:600px;
  margin:0 auto;
  text-align:justify;
}
