{% extends '../../../lib/templates/wap_base.swig.html' %}
{% block content %}
<div class="bg1">
   <div class="bg1-intro">放心花主要为用户提供短期的小额急借的现金借贷服务。用户通过授信认证获得授信额度，在额度内随时可进行借款，借款额度在500元~10000元之间。操作简单、方便快速、急速到账，做年轻人专属的手机钱包。</div>
    <div class="instruction-tap"></div>
</div>
<div class="bg2">
    <div class="title"><img src="images/title1.png"/></div>
    <div class="bg2-box">
        <div class="bg2-item bg2-item1">
            <div class="cash-coupon">
                <div class="cash-coupon-wrap">
                    <div class="cash-top-num"><span class="cash-num">5</span>元</div>
                    <div class="cash-btm-title">返现券</div>
                </div>
            </div>
            <div class="bg2-tip">成功邀请好友<br/><span>在放心花实名</span></div>
        </div>
        <div class="bg2-item bg2-item2">
            <div class="cash-coupon">
                <div class="cash-coupon-wrap">
                    <div class="cash-top-num"><span class="cash-num">20</span>元</div>
                    <div class="cash-btm-title">返现券</div>
                </div>
            </div>
            <div class="bg2-tip">成功邀请好友<br/><span>在放心花借款</span></div>
        </div>
        <div class="bg2-box-tip">邀请越多，奖励越多哦~</div>
    </div>
</div>
<div class="bg3">
    <div class="title"><img src="images/title2.png"/></div>
    <div class="bg3-box">
        <div class="sub-title-bg">累计邀友实名<span>额外送</span></div>
        <div class="bg3-item-wrap">
            <div class="bg3-item bg3-item1">
                <div class="coin-coupon">
                    <div class="coin-coupon-wrap">
                        <div class="coin-top-num"><span class="coin-num">10</span>元</div>
                        <div class="coin-btm-title">返现券</div>
                    </div>
                </div>
                <div class="bg3-tip">邀请<span>5~9名</span>好友实名</div>
            </div>
            <div class="bg3-item bg3-item2">
                <div class="coin-coupon">
                    <div class="coin-coupon-wrap">
                        <div class="coin-top-num"><span class="coin-num">20</span>元</div>
                        <div class="coin-btm-title">返现券</div>
                    </div>
                </div>
                <div class="bg3-tip">邀请<span>≥10名</span>好友实名</div>
            </div>
        </div>
        <div class="sub-title-bg">累计邀友借款<span>额外送</span></div>
        <div class="bg3-eve-wrap">
            <div class="bg3-eve bg3-eve1">
                <div class="eve-coupon">
                    <div class="eve-coupon-wrap">
                        <div class="eve-top-num"><span class="eve-num">50</span>元</div>
                        <div class="eve-btm-title">返现券</div>
                    </div>
                </div>
                <div class="bg3-eve-tip">邀请<span>3~4名</span>好友实名</div>
            </div>
            <div class="bg3-eve bg3-eve2">
                <div class="eve-coupon">
                    <div class="eve-coupon-wrap">
                        <div class="eve-top-num"><span class="eve-num">100</span>元</div>
                        <div class="eve-btm-title">返现券</div>
                    </div>
                </div>
                <div class="bg3-eve-tip">邀请<span>5~9名</span>好友实名</div>
            </div>
            <div class="bg3-eve bg3-eve3">
                <div class="eve-coupon">
                    <div class="eve-coupon-wrap">
                        <div class="eve-top-num"><span class="eve-num">150</span>元</div>
                        <div class="eve-btm-title">返现券</div>
                    </div>
                </div>
                <div class="bg3-eve-tip">邀请<span>≥10名</span>好友实名</div>
            </div>
            <div class="bg3-eve bg3-eve4">
                <div class="eve-coupon">
                    如果成功邀请<span>100名好友</span>借款就可获得上万元返现券奖励哦！
                </div>
                <div class="bg3-eve-tip">温馨提示</div>
            </div>
        </div>
        <div class="bg3-btm-tip">所有邀请的好友需<span>在放心花进行实名</span>才有奖励哦</div>
    </div>
</div>
<div class="bg4">
    <div class="title"><img src="images/title3.png"/></div>
    <div class="bg4-box">
        <div class="bg4-tip">首页点击<span>放心花</span>菜单立即参与</div>
    </div>
</div>
<div class="btm-link">
    <a class="invite-btn">立即邀请</a>
</div>
<div class="mask">
   <div class="pop">
       <div class="close"></div>
       <div class="pop-title">活动时间</div>
       <div class="pop-item">一周，上线时间待定</div>
       <div class="pop-title">奖励说明</div>
       <div class="pop-item">举个栗子：成功邀请10名好友在放心花借款一共可获=10*5（邀请实名奖励）+10*20（邀请借款奖励）+20（实名额外送）+150（借款额外送）=420元返现券。</div>
       <div class="pop-title">返现券奖励</div>
       <div class="pop-item">所有返现券奖励均为金融工场平台返现券，邀请实名奖励及邀请借款奖励可以同时参加，每人邀请实名返现券奖励上限80元，邀请借款奖励不设上限。</div>
       <div class="pop-title">奖励发放</div>
       <div class="pop-item">活动结束后7个工作日内发放至邀请人的工场账户。放心花有权随时随机查找邀请人所推荐好友真实性，一经发现存在造假及欺骗行为取消所有奖励。</div>
       <div class="pop-contact">本活动最终解释权归放心花所有，活动详情致电</div>
       <div class="pop-contact">客服热线：4001020066</div>
   </div>
</div>
{% endblock %}
{% block extra_javascripts %}
<script src="javascripts/jquery-2.1.4.min.js"></script>
{% endblock %}
