
@fontSize50:90px;
@fontSize40:40px;
@fontSize36:36px;
@fontSize32:32px;
@fontSize30:30px;
@fontSize28:28px;
@fontSize26:26px;
@fontSize24:24px;


@color3:#333;
@color4:#43717f;
@color5:#555;
@color6:#6280a8;
@color7:#708d96;
@colorRed:#fd4d4c;
@colorRedF:#ff6a6a;
@colorRedF3:#ff3b3a;
@colorBlue:#4ca5e9;
@colorWhite:#fff;
@colorF9:#f9f9f9;
@colorE:#efefef;
