@import "./common.less";
html,body{
  margin: 0;
  background-color: #ebebee;

}
a, input,ul,li,p,span{
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
  margin: 0;
  padding: 0;
  list-style: none ;
}
.headerCon{
  width: 100%;
  height: 80px;
  background: #fff;
  line-height: 80px;
  text-align: center;
  position: relative;
  img{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
  .headerConText{
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 36px;
    margin: auto;
    color: @color3;
  }
  .headerRule{
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: @color3;
    font-size: @fontSize28;
  }
}
.register{
  width: 100%;
  height: 1140px;
  background: url('../images/registerbg.png') no-repeat;
  position: relative;
  .registerFirst{
    display: block;
    width: 100%;
    padding-top: 1px;
    text-align: center;
    .firstBigText{
      font-size: @fontSize32;
      color: @color4;
      span,p{
        display: inline-block;
        color: @colorRedF;
        font-size: @fontSize36;
        padding: 0 1px;
      }
    }
    .firstSmallText{
      font-size: @fontSize28;
      color: @color7;
      margin: 30px 0;
    }
    .firstBtn{
      font-size: @fontSize24;
      width: 210px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      background: @colorBlue;
      margin: auto;
      border-radius: 48px;
      color: @colorWhite;
      span{
        display: block;
        .firstArrow{
          display: inline-block;
          vertical-align: middle;
          margin-top: -4px;
        }
      }
    }
  }
  .firstBigText{
    font-size: @fontSize32;
    color: @color4;
    span,p{
      display: inline-block;
      color: @colorRedF;
      font-size: @fontSize36;
      padding: 0 1px;
    }
  }
  .registerFirstTop{
    position: relative;
    .firstMedal{
      display: block;
      height: 272px;
      margin: 110px auto 40px;
    }
    .registerScore{
      position: absolute;
      left: 36%;
      top: 72px;
      width: 200px;
      text-align: center;
      font-size: @fontSize50;
      color: @colorRedF3;
      animation: scoreMove 0.8s ease-in  both;
    }
    @keyframes scoreMove {
      0%{
        top: 72px;
        opacity: 1;
      }
      95%{
        opacity: 1;
      }
      100%{
        top:-200px;
        opacity: 0;
      }
    }
    .registerText{
      position: absolute;
      width: 276px;
      height: 60px;
      text-align: center;
      left: 30%;
      bottom: 10px;
      font-size: 40px;
      color: @colorWhite;
    }
  }
  .registerAlready{
    display: block;
    padding-top: 1px;
    text-align: center;
    .alreadyTop{
      color: @color7;
      font-size: @fontSize28;
      margin-bottom: 24px;
    }
    .alreadyFooter{
      margin-top: 28px;
      color: @color7;
      font-size: @fontSize26;
    }
  }
}
.notice{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 2;
  .close{
    width: 58px;
    height: 58px;
    position: absolute;
    top: 20px;
    right: 30px;
    background: url('../images/close.png');
  }
  .noticeText{
    width: 652px;
    margin: auto;
    text-align: left;
    padding-top: 98px;
  }
  p{
    font-size: @fontSize30;
    color: @colorE;
    line-height: 44px;
  }
  p:nth-child(1){
    width: 160px;
    margin: auto;
    font-size: @fontSize40;
    margin-bottom: 60px;
  }
}