body {
  font: 28px/1.4"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  margin: 0;
  background-color: #ebebee;
}

a {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

ul, ol, li {
  list-style: none outside none;
}

em, i {
  font-style: normal;
}

@fl: left;

@fr: right;

@color-ff: #fff;

@back-color: #fff;

@block: block;

@center: center;

@c-d8d8d8: #d8d8d8;

.fl () {
  float: @fl;
}

.fr () {
  float: @fr;
}

.border-radius-als (@r) {
  -webkit-border-radius: @r;
  -moz-border-radius: @r;
  border-radius: @r;
}

.border-radius (@u: 0, @r: 0, @d: 0, @l: 0) {
  -webkit-border-radius: @u @r @d @l;
  -moz-border-radius: @u @r @d @l;
  border-radius: @u @r @d @l;
}

.border-radius-l-r(@l, @r) {
  -webkit-border-radius: @l @r 0 0;
  -moz-border-radius: @l @r 0 0;
  border-radius: @l @r 0 0;
}

.width (@w) {
  width: @w;
}

.height (@h) {
  height: @h;
}

.line-height (@lh) {
  line-height: @lh;
}

.padding (@t: 0, @r: 0, @b: 0, @l: 0) {
  padding: @t @r @b @l;
}

.padding-t (@t) {
  padding-top: @t;
}

.padding-r (@r) {
  padding-right: @r;
}

.padding-b (@b) {
  padding-bottom: @b;
}

.padding-l (@l) {
  padding-left: @l;
}

.padding-l-r (@l, @r) {
  padding-left: @l;
  padding-right: @r;
}

.padding-t-b (@t, @b) {
  padding-top: @t;
  padding-bottom: @b;
}

.padding-tb-lr(@tb, @lr) {
  padding: @tb @lr;
}

.margin (@t: 0, @r: 0, @b: 0, @l: 0) {
  margin: @t @r @b @l;
}

.margin-t (@t) {
  margin-top: @t;
}

.margin-r (@r) {
  margin-right: @r;
}

.margin-b (@b) {
  margin-bottom: @b;
}

.margin-l (@l) {
  margin-left: @l;
}

.margin-t-b (@t, @b) {
  margin-top: @t;
  margin-bottom: @b;
}

.margin-l-r (@l, @r) {
  margin-left: @l;
  margin-right: @r;
}

.back-color(@bc) {
  background-color: @bc;
}

.border (@w, @style, @color) {
  border: @w @style @color;
}

.border-t (@w, @style @color)
{
  border-top: @w @style @color
;
}

.border-b (@w, @style @color)
{
  border-bottom: @w @style @color
;
}

.border-t-b(@w, @style, @color-t, @color-b) {
  border-top: @w @style @color-t;
  border-bottom: @w @style @color-b;
}

.text-align (@p) {
  text-align: @p;
}

.position (@pos) {
  position: @pos;
}

.display (@p) {
  display: @p;
}

.color(@color) {
  color: @color;
}

.clear-fix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.nav-title {
  .position(relative);
  .height(98px);
  .back-color(#fff);
  .border-b (1px, solid, @c-d8d8d8);

  .back-btn {
    .position(absolute);
    left: 16px;
    top: 26px;
  }

  .title {
    .text-align(center);
    font-size: 34px;
    .line-height(98px);
  }

}

.ui-tab {
  .height(84px);
  .back-color(#fff);

  & > div {
    .height(87px);
    .border-b (1px, solid, @c-d8d8d8);
  }

  .btn-tab {
    .fl();
    .width(25%);
    .text-align(center);
    .line-height(84px);
    background: no-repeat top right;

    &:last-child {
      background: none;
    }

    .tab-text {
      display: inline-block;
      padding:0 12px;
    }

  }

  .btn-tab.select-li {
    .tab-text {
      .color(#fd4d4c);
      .border-b(4px, solid, #fd4d4c);
    }
  }
}

.order-area {
}

.no-commodity-block {
  .margin-t(50px);
  .line-height(40px);
  .text-align(center);
}

.order-block {
  .border-t-b (1px, solid, #d8d8d8, #d8d8d8);
  .back-color(#fff);
  .margin-t-b(20px, 20px);

  .title-block {
    .height(70px);
    .padding-l-r(30px, 30px);
    .back-color(#f9f9f9);
    .border-b(1px, solid, #efefef);
    .line-height(70px);

    .time-text {
      .color(#999);
    }

    .ship-text {
      .fr();
    }
  }

  .info-block {
    .padding-l(20px);
    .padding-t(30px);

    .t-info {
      .commodity-img,
      .commodity-img img {
        .fl();
        .width(180px);
        .height(180px)
      }

      .commodity-info {
        .padding-b(30px);
        .padding-l-r(200px, 20px);
        .border-b(1px, solid, #efefef);

        .commodity-name {
          .height(80px);
          h2 {
            .line-height(40px);
            .color(#000);
            font-size: 30px;
            font-weight: normal;
          }
        }

        .tag-block {
          .height(68px);

          .text {
            .fl();
            .height(28px);
            .padding-l-r(10px, 10px);
            .margin-r(5px);
            .line-height(32px);
            .color(#6280a8);
            .border(2px, solid, #6280a8);
            font-size: 18px;
            .border-radius(4px, 4px, 4px, 4px);
          }
        }

        .commodity-number {
          .line-height(36px);
          .color(#999);

          .number-text {
            .fr();
          }
        }
      }

    }

    .commodity-total {
      float:left;
      .text-align(left);
      .height(84px);
      .line-height(84px);
      .padding-r(20px);

      .commodity-text {
        .margin-r(60px);
      }
    }
  }
}
.commodity-wrap{
  overflow:hidden;
}
.link-btn{
  float:right;
  display:inline-block;
  width:111px;
  height:38px;
  border:1px solid #fd4d4c;
  border-radius:3px;
  line-height:38px;
  text-align:center;
  color:#fd4d4c;
  font-size:24px;
  margin-top: 21px;
  margin-right:30px;
}