html, body {
  margin: 0;
  background-color:#ebebee;
}
a {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
.footPrint-clear{
  position: fixed;
  top:0;
  right:30px;
  height:100px;
  line-height:100px;
  font-size:28px;
  color:#555;

}
.footPrint-ul{
  .footPrint-data{
    padding:0 30px;
    height:42px;
    line-height:42px;
    font-size:24px;
    color:#999;
    border-bottom:1px solid #d8d8d8;
  }
  .footPrint-li{
    position: relative;
    padding:30px 126px 30px 30px;
    background-color:#fff;
    border-bottom:1px solid #d8d8d8;
    background-color:#fff;
    .footPrint-del{
      position: absolute;
      top:80px;
      right:28px;
      width:50px;
      height:50px;
      background: url("../images/ico-footprint-del.png") no-repeat 2px 2px;
    }
    .footPrint-a{
      display: table;
      width:100%;
      .footPrint-img{
        float: left;
        width:150px;
        height:150px;
      }
      .footPrint-detail{
        float: left;
        width:370px;
        padding:19px 0 0 18px;
        .footPrint-title{
          padding: 0 0 12px 0;
          height:64px;
          line-height:32px;
          overflow: hidden;
          color:#333;
          font-size:26px;
        }
        .footPrint-pay{
          font-size:28px;
          color:#fd4d4c;
          .footPrint-mark{
            font-size:22px;
          }
        }
      }


    }
  }


}
