html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
input{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout:none;
  background:transparent;
  outline:none;
  border:none;
}
.transfer-box{
  width:100%;
  height:325px;
  padding-top:102px;
  background:#50ad9a;
}
.transfer-title{
  font-size:25px;
  color:#fff;
  text-align:center;
}
.transfer-money{
  font-size:102px;
  color:#fff;
  text-align:center;
}
.transfer-lines{
  overflow:hidden;
  margin-top:35px;
}
.return-money, .return-date{
  width:50%;
  float:left;
}
.return-money-title, .return-date-title{
  font-size:24px;
  color:#fff;
  display:block;
  text-align:center;
  margin-bottom:15px;
}
.return-money-num, .return-date-day{
  font-size:40px;
  color:#fff;
  display:block;
  text-align:center;
}
.loan-info{
  position:relative;
}
.vertical-line{
  width:1px;
  height:77px;
  background:#8ec5ba;
  position:absolute;
  top:3px;
  left:50%;
}
.transfer-tip{
  height:70px;
  line-height:70px;
  font-size:27px;
  color:#999;
  padding-left:32px;
}
.transfer-tip a{
  color:#50ad9a;
}
.loan-fee{
  height:100px;
  line-height:100px;
  background:#fff;
  padding-left:32px;
  font-size:32px;
  color:#666;
  position:relative;
}
.loan-right-arrow{
  display:block;
  font-size:32px;
  color:#50ad9a;
  position:absolute;
  top:0px;
  right:32px;
}
.agreement-issue{
  overflow:hidden;
  width:654px;
  margin:20px auto 0;
}
.unchecked-box{
   display:block;
   width:34px;
   height:34px;
   border:1px solid #ccc;
   border-radius:50%;
   float:left;
   margin-top:5px;
 }
.checked-box{
  display:block;
  width:36px;
  height:36px;
  background:url(../images/checked.png) no-repeat;
  float:left;
  margin-top:5px;
}
.check-item{
  width:606px;
  float:right;
  font-size:27px;
  line-height:46px;
  color:#999;
}
.check-item a{
  color:#50ad9a;
}
.confirm-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:37px auto 0;
}
.mask{
  width:100%;
  height:100%;
  background:rgba(0,0,0,.7);
  position:absolute;
  top:0;
  left:0;
  z-index:10;
}
.detail-pop{
  width:654px;
  height:388px;
  padding-top:67px;
  border-radius:20px;
  background:#fff;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.notice-pop{
  width:654px;
  border-radius:20px;
  background:#fff;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.item-wrap{
  width:583px;
  border:1px solid #eee;
  border-radius:10px;
  margin:0 auto;
  overflow:hidden;
}
.item-list{
  width:291px;
  height:78px;
  float:left;
  font-size:23px;
  color:#999;
  line-height:78px;
  text-align:center;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
}
.item-list:nth-child(2), .item-list:nth-child(4), .item-list:nth-child(6){
  border-right:none;
}
.item-list:nth-child(5), .item-list:nth-child(6){
  border-bottom:none;
}
.item-list:nth-child(3), .item-list:nth-child(4){
  background:#f9f9f9;
}
.item-left{
  display:inline-block;
  width:162px;
  text-align:right;
  margin-right:12px;
}
.item-right{
  color:#50ad9a;
}
.know-btn{
  width:583px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:35px auto 0;
}
.close-icon{
  background:url(../images/close.jpg) no-repeat;
  width:20px;
  height:20px;
  position:absolute;
  top:22px;
  right:22px;
}
.notice-title{
  font-size:32px;
  color:#50ad9a;
  margin-top:30px;
  margin-bottom:15px;
  text-align:center;
}
.notice-content{
  font-size:24px;
  line-height:38px;
  text-indent:2em;
  color:#666;
  width:583px;
  margin:0 auto;
}
.notice-btn{
  width:583px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:15px auto 30px;
}
.verify-popup{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.verify-popup-wrap{
  width:594px;
  padding:30px;
  background:#fff;
  border-radius:10px;
}
.verify-popup-title{
  font-size:32px;
  color:#50ad9a;
  text-align:center;
  margin-bottom:15px;
}
.verify-popup-close{
  background:url(../images/close.jpg)  no-repeat;
  width:20px;
  height:20px;
  background-size:100% 100%;
  position:absolute;
  top:20px;
  right:20px;
}
.verify-popup-tip{
  font-size:24px;
  line-height:38px;
  color:#666;
  text-indent:2em;
  margin-bottom:20px;
}
.verify-input{
  width:572px;
  padding-left:20px;
  height:64px;
  border:1px solid #ebeaea;
  border-radius:8px;
  background:#fafafa;
}
.sms-input{
  width:400px;
  height:64px;
  line-height:normal;
  font-size:26px;
}
.btn-countdown{
  display:inline-block;
  width:152px;
  font-size:26px;
  color:#50ad9a;
  text-align:center;
}
.confirm-btn{
  width:594px;
  height:74px;
  line-height:74px;
  background:#50ad9a;
  text-align:center;
  font-size:32px;
  color:#fff;
  border-radius:8px;
  margin:20px auto 0;
}
.dis{
  display:none;
}
.result-box{
  padding-top:100px;
  margin-top:20px;
}
.wrap-box{
  background:#fff;
  padding-top:100px;
}
.loan-result1{
  margin-top:56px;
  width:100%;
  height:193px;
  position:relative;
}
.loan-result2{
  margin-top:56px;
  width:100%;
  height:233px;
  position:relative;
}
.loan-result3{
  margin-top:56px;
  width:100%;
  height:233px;
  position:relative;
}
.loan-result4{
  margin-top:56px;
  width:100%;
  height:193px;
  position:relative;
}
.icon1{
  background:url(../images/icon-success.png) no-repeat;
  width:50px;
  height:50px;
  position:absolute;
  top:0;
  left:117px;
}
.icon1-info{
  font-size:32px;
  color:#666;
  position:absolute;
  top:10px;
  left:188px;
}
.icon2{
  width:18px;
  height:18px;
  border:1px solid #ddd;
  border-radius:50%;
  position:absolute;
  top:101px;
  left:132px;
}
.icon2-info{
  font-size:32px;
  color:#666;
  position:absolute;
  top:94px;
  left:188px;
}
.line{
  width:1px;
  height:50px;
  background:#ddd;
  position:absolute;
  top:50px;
  left:142px;
}
.line2{
  width:1px;
  height:85px;
  background:#ddd;
  position:absolute;
  top:50px;
  left:142px;
}
.service-wrap{
  font-size:27px;
  color:#999;
  text-align:center;
  height:112px;
  line-height:112px;
  width:654px;
  border-top:1px dashed #ddd;
  margin:0 auto;
}
.service-wrap a{
  color:#50ad9a;
}
.service-wrap img{
  margin-top:-7px;
  margin-right:20px;
}
.icon3{
  background:url(../images/icon-success.png) no-repeat;
  width:50px;
  height:50px;
  position:absolute;
  top:87px;
  left:117px;
}
.icon3-info{
  position:absolute;
  top:94px;
  left:188px;
}
.icon3-info-top{
  font-size:32px;
  color:#666;
}
.icon3-info-btm{
  font-size:27px;
  color:#999;
}
.credit-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:37px auto 0;
}
.apply-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:37px auto 0;
}
.success-result-for-jrgc{
}
.success-icon{
}
.icon4{
  background:url(../images/icon-fail.png) no-repeat;
  width:50px;
  height:50px;
  position:absolute;
  top:0;
  left:117px;
}
.icon4-info{
  position:absolute;
  top:10px;
  left:188px;
}
.icon4-info-top{
  font-size:32px;
  color:#666;
}
.icon4-info-btm{
  font-size:27px;
  color:#999;
}
.icon5{
  width:18px;
  height:18px;
  border:1px solid #ddd;
  border-radius:50%;
  position:absolute;
  top:135px;
  left:132px;
}
.icon5-info{
  font-size:32px;
  color:#666;
  position:absolute;
  top:126px;
  left:188px;
}
.loan-result{
  width:100%;
  height:100%;
  background:#f0f0f0;
  position:absolute;
  top:0;
  left:0;
  right:0;
}
.header{
  height:100px;
  line-height:100px;
  background:#fff;
  text-align:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:10;
}
.title{
  font-size:36px;
  color:#333;
}
.arrow-left{
  background:url(../images/arrow-left.jpg) no-repeat;
  width:19px;
  height:34px;
  position:absolute;
  top:34px;
  left:33px;
}
.wrong-tip{
  font-size:24px;
  color:red;
}
