*{margin: 0; padding: 0;}
.clearfix{zoom:1}
.clearfix:after{content:"";display:block;clear:both}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{font-family:'微软雅黑'; font-weight: normal;list-style: none;}
a{text-decoration: none; cursor: pointer;}

body,html{
    background: #ebebee;
    position: relative;
}


.percbox{
    height: 313px;
    background: #fd4d4c;
    position: relative;
    top: 101px;
}

.wrap{
    width: 93%;
    margin: 0 auto;
    padding-top: 20px;
}

.sign{
    width: 33%;
    float: left;
}

.tack{
    text-align: left;
    font-size: 24px;
    color: white;
    margin-top: 12px;
}

.stup{
    width: 33%;
    float: left;
    text-align: center;
}

.tumt-a{
    margin-top: 12px;
}

.cog{
    font-size: 26px;
    color: #8c2841;
}

.per-d{
    vertical-align: middle;
    display: inline-block;
}

.eif{
   font-size: 48px;
   color: white;
}

.cum{
    font-size: 20px;
   color: #8c2841; 
}

.dope{
    width: 33%;
    float: right;
    text-align: right;
}

.inf{
    font-size: 24px;
    color: white;
    margin-top: 12px;
    margin-right: 13px;
}

.ass{
    height: 112px;
    background: #8c2841;
    border-bottom: 1px solid #b27686;
    margin-top: 101px;
}

.set{
    width: 93%;
    height: 112px;
    margin: 0 auto;
}

.capl{
    width: 33%;
    float: left;
    text-align: center;
}

.os{
    font-size: 36px;
    color: white;
    margin-top: 20px;
}

.zjc{
    font-size: 20px;
    color: #ff8f8e;  
}

.capct{
    width: 33%;
    float: left;
    text-align: center; 
}

.per-e{
    margin-top: 20px;
}

.capr{
    width: 33%;
    float: right;
    text-align: center;
}

.inv{
    height: 194px;
}

.yhk{
    height: 78px;
    line-height: 78px;
    background: #fff6c7;
}

.tips{
    width: 92%;
    margin: 0 auto;
}

.sjl{
    float: left;
    font-size: 26px;
    color: #6b4508;
}

.sjy{
    float: right;
}

.ran{
    vertical-align: middle;
}

.uton{
    width: 92%;
    margin: 0 auto;
    margin-top: 22px;
}

.post{
    width: 48%;
    height: 75px;
    background: #7c9dc7;
    float: left;
    border-radius: 6px;
}

.arge{
    width: 48%;
    height: 75px;
    line-height: 75px;
    background: #fd4d4c;
    float: right;
    border-radius: 6px;
}

.tx{
    color: white;
    font-size: 32px;
    display: block;
    text-align: center;
}

.albedo{
    height: 168px;
    border-bottom: 1px solid #e3e5ea;
    background: white;
}

.merc{
    width: 92%;
    margin: 0 auto;
}

.car{
    width: 32%;
    height: 168px;
    float: left;
    text-align: center;
}

.vem{
    width: 33%;
    height: 168px;
    float: left;
    text-align: center;
    border-left: 2px solid #eaebef;
    border-right: 2px solid #eaebef;
}

.pay{
    width: 32%;
    height: 168px;
    float: right;
    text-align: center;
}

.per-f{
    margin-top: 40px;
}

.ztdx{
    font-size: 27px;
    color: #50627a;
    margin-top: 3px;
}

.hk{
    font-size: 27px;
    color: #50627a;
    margin-top: 8px;
}










