{% extends '../../../lib/templates/loan_base.swig.html' %}

{% block content %}
<script>
    function reload_jrgc() {
        location.href = "/static/loan/user-jrgc-login/index.html"
    }

    setTimeout(function () {
        document.getElementById('delayPanel').style.display = 'block'
    }, 4000)

</script>

<style>
    .relogin {
        display: block;
        margin: 800px auto 0;
        border-radius: 8px;
        background: #fd4d4c;
        color: white;
        width: 300px;
        font-size: 26px;
        padding: 20px 40px;
        text-align: center;
    }
</style>

<div id="delayPanel" style="display: none;">
    <a class="relogin" onClick="reload_jrgc()"> 刷新 </a>
</div>
{% endblock %}
