html,body {
  background-color: #ebebee;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.banner-wrap{
  background:url(../images/service-banner.jpg) no-repeat;
  width:720px;
  height:470px;
}
.header{
  height:100px;
  position:relative;
}
.back-arrow{
  display:block;
  background:url(../images/left-arrow.png) no-repeat;
  width:18px;
  height:33px;
  position:absolute;
  top:33px;
  left:30px;
}
.big-title{
  font-size:36px;
  color:#fff;
  line-height:100px;
  position:absolute;
  left:289px;
}
.record-link{
  font-size:28px;
  color:#fff;
  position:absolute;
  right:30px;
  top:33px;
}
.charge-wrap{
  width:660px;
  margin:-66px auto 0;
  display:none;
}
.water-charge{
  width:660px;
  background:#fff;
  border-radius:10px;
  margin-bottom:20px;
}
.water-item{
  height:114px;
  position:relative;
  overflow:hidden;
}
.icon-img{
  position:absolute;
  top:30px;
  left:30px;
}
.water-title{
  font-size:28px;
  color:#555;
  line-height:114px;
  margin-left:104px;
  float:left;
}
.charge-link{
  font-size:28px;
  color:#4fb2e5;
  line-height:114px;
  float:right;
  margin-right:30px;
}
.charge-item{
  display:block;
  width:630px;
  height:81px;
  line-height:81px;
  font-size:24px;
  color:#999;
  padding-left:30px;
  border-top:1px solid #eee;
  position:relative;
}
.right-link-arrow{
  background:url(../images/right-arrow.jpg) no-repeat;
  width:15px;
  height:28px;
  position:absolute;
  top:27px;
  right:30px;
}
.select-box{
  background:#fff;
  padding-right:30px;
}
.select-wrap select{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  outline:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  background:url(../images/up-arrow.jpg) no-repeat scroll right center transparent;
  width:660px;
  padding-right:30px;
  margin-left:30px;
  height:100px;
  border:none;
  border-bottom:1px solid #eee;
  font-size:28px;
  color:#999;
}
.client-id{
  height:100px;
}
.client-id input{
  border:none;
  outline:none;
  height:100px;
  line-height:100px;
  font-size:28px;
  padding-left:30px;
}
.check-info-btn{
  display:block;
  width:660px;
  height:84px;
  line-height:84px;
  text-align:center;
  font-size:36px;
  color:#fff;
  background:#fd4d4c;
  border-radius:4px;
  margin:50px auto 0;
}