*{margin: 0; padding: 0;}
.clearfix{zoom:1}
.clearfix:after{content:"";display:block;clear:both}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{font-family:'微软雅黑'; font-weight: normal;list-style: none;}


.bank{
    width: 100%;
    height: 50px;
    background: white;
}

.bd{
    font-size: 40px;
    color: #333333;
    text-align: center;
}






















































































