html {
	height: 100%;
}
body {
	background: #4dac99 url(../images/back.png) no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #95dbcd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #95dbcd;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #95dbcd;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #95dbcd;
}
input{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout:none;
  background:transparent;
  outline:none;
  border:none;
}
.login-cnt {
	padding: 0 30px;
}


.top {
	position: relative;
	height: 50px;
	margin: 20px 0 50px;

	.icon {
		position: absolute;
		top: 0;
		left: 0;
		float: left;
		width: 50px;
		height: 50px;
		background: url(../images/arrow-icon.png) no-repeat center;
		background-size: 24px auto;
	}

	.title {
		display: block;
		font-size: 36px;
		line-height: 50px;
		color: #fff;
		text-align: center;
	}
}


.get-name-phone {
	padding: 30px 0;
	text-align: center;
	line-height: 30px;
	font-size: 28px;
	color: #fff;

	.phone-text {
		padding: 0 10px 0 0;
		color: #fce87c;
	}
}

.logo {
	margin: 0 auto;
	width: 214px;
	height: 214px;
	background-color: #fff;
	border-radius: 50%;
    overflow: hidden;
}


.from-cnt {
	margin: 22px 0 0 0;
	height: 88px;
	border: 1px solid #83d3c3;

	.from {
		width: 100.5%;
		margin: -12px 0 0 -1px;
		height: 78px;
		background-color: #4dac99;

		.icon {
			float: left;
			width: 40px;
			height: 88px;
			margin: 0 0 0 10px;
			background: url(../images/s-icon.png) no-repeat center;
			background-size: 24px auto;
		}

		.input {
			padding: 0 50px 0 70px;

			input {
				width: 100%;
				height: 48px;
				padding: 20px 0;
				font-size: 28px;
				line-height: 48px;
				border: none;
				color: #95dbcd;
				background: none;
			}
		}

		.pwd-icon {
			float: right;
			width: 50px;
			height: 88px;
			margin-top: -84px;
			background: url(../images/pwd-icon.png) no-repeat center;
			background-size: 29px auto;
		}
	}
}



.register-login-btn {
	margin: 40px 0 0 0;
}

.ui-btn {
	height: 74px;
	line-height: 74px;
	text-align: center;
	color: #50ad9a;
	font-size: 30px;
	background-color: #fff;
	border-radius: 5px;
}

.forget-pwd-link {
	padding: 20px 0;
	a {
		float: right;
		line-height: 30px;
		font-size: 26px;
		color: #a7e6d9;
	}
}
