body {
  margin: 0;
  padding: 0;
}

//总盒子
.totalBox {
  color: #333;
  font-family: PingFangSC-Regular, sans-serif;
  background-color: #ebebee;
  //没有任何优惠券时
  .empty-box {
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    position: absolute;
    background-color: #ebebee;
    img{
      margin-top: 30%;
      margin-bottom: 10px;
    }
  }
  //优惠礼包
  .giftbag_box {
    display: table;
    margin: 0px auto;
    .gift_box_title {
      font-size: 32px;
      color: #50627a;
      margin: 20px 0px;
      .icon_gift {
        vertical-align: middle;
        padding-right: 20px;
      }
      .gift_title {
        vertical-align: middle;
      }
    }
    .gift_item {
      width: 652px;
      margin: 20px auto;
      height: 175px;
      background: url("../images/coupon-orangebg.png") no-repeat center;
      .gift_item_left{
        width: 75%;
        height: 175px;
        float: left;
        .gift_one_title{
          width: 155px;
          padding: 40px 40px 40px 34px;
          height: 90px;
          float: left;
          .gift_amount{
            font-size: 54px;
            color: #fff;
            .amount_rmb{
              display: inline-block;
              font-size: 40px;
            }
          }
          .gift_type{
            font-size: 22px;
            color: #fff;
            margin-top: 10px;
          }
        }
        .gift_one_des{
          width: 200px;
          padding: 40px 40px 40px 20px;
          height: 90px;
          float: left;
          font-size: 20px;
          color: #fff;
          line-height: 34px;
          .space{
            display: inline-block;
            width: 20px;
          }
        }
      }
      .gift_item_right{
        float: left;
        width: 25%;
        height: 100%;
        text-align: center;
        canvas{
          display: block;
          margin: 0 auto;
        }
        .content_state_red{
          display: block;
          font-size: 24px;
          color: #fff;
          width: 124px;
          height: 36px;
          background-color: #fd4d4c;
          line-height: 36px;
          text-align: center;
          margin: 0px 0 0 22px;
          border-radius: 4px;
        }
        .gift_right_title{
          font-size: 24px;
          margin-top: 40px;
        }
        .gift_right_starttime{
          font-size: 26px;
          color: #fd4d4c;
          margin-top: 5px;
        }
        .get_state_red{
          display: block;
          font-size: 24px;
          color: #fff;
          width: 124px;
          height: 36px;
          background-color: #fd4d4c;
          line-height: 36px;
          text-align: center;
          margin: 20px 0 0 22px;
          border-radius: 4px;
        }
        .get_state_gray{
          font-size: 24px;
          color: #fff;
          width: 124px;
          height: 36px;
          background-color: #afafaf;
          line-height: 36px;
          text-align: center;
          margin: 20px 0 0 22px;
          border-radius: 4px;
        }
      }
    }

    //礼包弹窗
    #pop {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      position: fixed;
      z-index: 9;
      top: 0;
      left: 0;
      .pop_content{
        width: 595px;
        height: 790px;
        position: absolute;
        left: 50%;
        margin-left: -300px;
        top: 50%;
        margin-top: -395px;
        background-color: #fff;
        border-radius: 10px;
        overflow: auto;
        .close-btn{
          width: 530px;
          height: 68px;
          background-color: #fd4d4c;
          position: absolute;
          bottom: 0;
          margin-bottom: 20px;
          margin-left: 33px;
          border-radius: 4px;
          font-size: 28px;
          color: #fff;
          text-align: center;
          line-height: 68px;
          cursor: pointer;
        }
        .pop_title{
          height: 80px;
          border-bottom: 1px solid #eff0f3;
          font-size: 32px;
          color: #333;
          line-height: 80px;
          padding-left: 34px;
          background-color: #f9f9f9;
        }
        .pop_content_title{
          font-size: 32px;
          padding-left: 34px;
          color: #555;
          margin-top: 30px;
        }
      }

    }
  }
  .list_box {
    .list_box_title {
      font-size: 32px;
      color: #50627a;
      margin: 20px 30px;
      .icon_limit {
        vertical-align: middle;
        padding-right: 20px;
      }
      .limit_title {
        vertical-align: middle;
      }
    }
    .list_item {
      width: 652px;
      margin: 20px auto;
      height: 175px;
      background: url("../images/coupon-bluebg.png") no-repeat center;
      .item_left {
        width: 75%;
        float: left;
        height: 100%;
      }
      .item_right {
        width: 25%;
        float: right;
        height: 100%;
        text-align: center;
        #canvas {
          display: block;
          width: 120px;
          margin: 0 auto;
        }
        .content_title {
          font-size: 24px;
          margin-top: 40px;
        }
        .content_time {
          font-size: 26px;
          color: #fd4d4c;
          margin-top: 5px;

        }
        .content_state_gray {
          font-size: 24px;
          color: #fff;
          width: 124px;
          height: 36px;
          background-color: #afafaf;
          line-height: 36px;
          text-align: center;
          margin: 20px 0 0 22px;
          border-radius: 4px;
        }
        .content_state_red {
          display: block;
          font-size: 24px;
          color: #fff;
          width: 124px;
          height: 36px;
          background-color: #fd4d4c;
          line-height: 36px;
          text-align: center;
          margin: 0px 0 0 22px;
          border-radius: 4px;
        }
      }

    }

  }
  .none_box {
    .none_box_title {
      font-size: 32px;
      color: #50627a;
      margin: 20px 30px;
      .icon_end {
        vertical-align: middle;
        padding-right: 20px;
      }
      .end_title {
        vertical-align: middle;
      }

    }
    .none_item_box {
      width: 652px;
      height: 175px;
      margin: 20px auto;
      .none_item_left {
        width: 77%;
        height: 100%;
        //background-color: #f2f2f2;
        float: left;
      }
      .none_item_right {
        width: 23%;
        height: 100%;
        float: right;
        text-align: center;
        font-size: 30px;
        display: block;
        .gray_state {
          width: 100%;
          height: 108px;
          margin-top: 20px;
          background: url("../images/icon-get-gray.png") no-repeat 20px center;
        }
        .red_state {
          width: 100%;
          height: 108px;
          margin-top: 20px;
          background: url("../images/icon-get.png") no-repeat 20px center;
        }
        .state_button {
          width: 124px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          border-radius: 4px;
          font-size: 24px;
          color: #fff;
          display: block;
          margin: 10px 20px;
        }
        .gray_lq {
          background-color: #ccc;
        }
        .red_invest {
          background-color: #fd4d4c;
        }
      }
    }
    .none_noget {
      background: url("../images/none_nogetbg.png") no-repeat center;
    }
    .none_get {
      background: url("../images/none_getbg.png") no-repeat center;
    }
  }
  .detail_left{
    width: 155px;
    padding: 40px 40px 40px 34px;
    height: 90px;
    float: left;
    .list_amount{
      font-size: 54px;
      color: #fff;
      .list_rmb{
        font-size: 40px;
      }
    }
    .list_name{
      font-size: 24px;
      color: #fff;
      margin-top: 10px;
    }
  }
  .detail_right{
    width: 200px;
    padding: 20px 40px 40px 20px;
    height: 90px;
    float: left;
    font-size: 20px;
    color: #fff;
    line-height: 34px;
  }
  .myCoupon{
    width: 200px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 32px;
    color: #333;
    z-index: 9;
    line-height: 100px;
    display: block;
  }
}
