@colorBorder:#ebebee;
@color3:#333333;
@color5:#555555;
@colorRed:#fd4d4c;
@colorBlue:#50627a;
@colorWhite:#ffffff;
@colorGray:#afafaf;
@colorF9:#f9f9f9;
@colorBottom:#eff0f3;
@colorBackground:#afafaf;
@colorC:#cccccc;
