html,body{
  margin:0;
  padding:0;
  background-color: #7a81d7;
}
.game-banner{
  height: 260px;
}
.game-head-login{
  height:130px;
  padding:0 30px 0 25px;
  background-color:#fff;
}
.avatar{
  float: left;
  width:130px;
  height:130px;
  img{
    width:130px;
    height:130px;
  }
}
.name-box{
  float: left;
  width:300px;
  padding:25px 0 25px 15px;
  height:80px;
  overflow: hidden;
  .nickname-title{
    height:40px;
    line-height:40px;
    font-size:30px;
    color:#333;
    font-weight:bold ;
  }
  .nickname{
    height:40px;
    line-height:40px;
    font-size:30px;
    color:#333;
  }
}
.login-btn,.unlogin-btn{
  margin-top:35px;
  float: right;
  height:60px;
  line-height:60px;
  width:214px;
  color:#fff;
  font-size:30px;
  text-align: center;
  background-color:#fd4d3b;
  border:3px solid #ed2e1a;
  border-radius:20px;
}
.game-head-unlogin{
  height:130px;
  padding:0 30px 0 25px;
  background-color:#fff;
}
.new-game{
  display: table;
  padding:108px 8px 40px;
  background:#fff url("../images/bg-game-new.png") no-repeat center 0;
  background-size:100%  auto;
}
.new-game-li{
  float:left;
  width:176px;
  .new-game-a{
    display: block;
    img{
      display: block;
      width:146px;
      height:146px;
      margin:0 auto;
    }
  }
  .new-game-text{
    height:54px;
    line-height:54px;
    text-align: center;
    font-size:24px;
    color:#333;
  }
}
.all-game{
  padding:100px 0 20px 0;
  background:#7a81d7 url("../images/bg-game-all.png") no-repeat center 0;
  .all-game-li{
    float:left;
    position: relative;
    width:360px;
    height:278px;
    padding:23px 0 32px;
    border-bottom:4px dotted #6b72d1;
    &:nth-last-child(1),&:nth-last-child(2){
      border:none;
    }
    .game-img{

    }





  }

}


