* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #f0f0f0;
}

input,
button,
select,
textarea {
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
}

.main-panel {
    position: relative;
}

.field-item {
    height: 99px;
    border-bottom: 1px solid #ebeaea;
    background: white;
    padding: 0 0 0 30px;
    .name-text {
        float: left;
        font-size: 32px;
        line-height: 99px;
        color: #666;
    }
    .r {
        float: right;
        .text {
          float: left;
          max-width: 450px;
          height: 99px;
          line-height: 99px;
          font-size: 32px;
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .arrow-icon {
            float: right;
            width: 50px;
            height: 99px;
            margin: 0 10px 0 0;
            background: url(../images/arrow-icon.png) no-repeat center;
        }
        input {
            float: left;
            margin: 0 30px 0 0;
            height: 30px;
            padding: 34px 0;
            font-size: 30px;
            color: #333;
            line-height: 30px;
            border: none;
            text-align: right;
        }
        input {
          width: 420px;
        }
    }
    .no {
        .text {
            padding: 0 25px 0 0;
        }
    }
    &:last-child {
        border-bottom: none;
    }
}

.section-title, .option-label {
    padding: 0 30px;
    font-size: 28px;
    line-height: 64px;
    color: #999;
}

.btn-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 45px 5px #f0f0f0;

    .btn {
        margin: 22px 30px;
        height: 83px;
        color: #fff;
        font-size: 32px;
        line-height: 83px;
        text-align: center;
        background-color: #6aa4f0;
        border-radius: 5px;
    }
}

.field-edit-panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 1600px;
    padding-top: 20px;
    background: #f0f0f0;
    .option-item {
        background: white;
        padding-left: 30px;
        height: 99px;
        line-height: 99px;
        font-size: 32px;
        border-bottom: 1px solid #ebeaea;
        &.active {
            background: white url(../images/select-icon.png) no-repeat 650px center;
        }
    }
    .scroll-panel {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        overflow: scroll;
        .city-list {
            display: table;
            width: 100%;
            margin: 1px 0 180px 0;
        }
        .quick-select {
            position: fixed;
            top: 50%;
            -wekbit-transform:translateY(-50%);
            transform:translateY(-50%);
            right: 0;
            padding: 10px 0;
            width: 60px;
            div {
                display: block;
                font-size: 22px;
                text-align: center;
                color: #649cfe;
                line-height: 32px;
            }
        }
    }
}
.hot-city-title{
  font-size:28px;
  color:#999;
  padding-left:30px;
  margin:10px 0;
}
.hot-cities{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 24px;
  background-color: #fff;
}
.hot-city-item{
  width: 210px;
  height: 80px;
  line-height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #649cfe;
  border-radius: 4px;
  color: #649cfe;
  text-align: center;
  font-size:28px;
}

.input-field-container {
  margin-bottom: 153px;
}

.field-item .r .text .hasSuffix {
  width: 300px;
  margin-right: 12px;
}

.suffix {
  float: right;
  width: 50px;
  padding: 24px 0;
  margin: 0 30px 0 0;
  height: 30px;
  font-size: 30px;
  color: #333;
  line-height: 30px;
  border: none;
  text-align: right;
}

.input-field-container .suffix {
  margin-right: 0;
}

.suffix span {
  font-size: 24px;
  vertical-align: super;
}

.success-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.success-container {
  position: fixed;
  width: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
}

.close-icon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: #fff url('../images/close-icon.png') no-repeat center;
  z-index: 999;
}

.success-tip-1 {
  margin-bottom: 36px;
  color: #333;
  font-size: 48px;
}

.success-tip-2 {
  margin-top: 27px;
  color: #666;
  font-size: 32px;
  span {
    color: #6aa4f0;
  }
}
