{% extends '../../../lib/templates/loan_base.swig.html' %} {% block title %}借款协议双方{% endblock %} {% block content %}
<div id="header"></div>
<div id="cnt" class="protocol-article">
    <table>
        <tbody>
            <tr>
                <td colspan="2">
                    本双方协议（下称“本协议”）由以下各方于______年___月___日成立并生效： 协议编号：
                </td>
            </tr>
            <tr>
                <td class="td-title">甲方（出借人）姓名：</td>
                <td width=""> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
            </tr>
            <tr>
                <td>身份证号：</td>
                <td></td>
            </tr>
            <tr>
                <td>乙方（借款人）姓名：</td>
                <td></td>
            </tr>
            <tr>
                <td>身份证号：</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    鉴于：
                    <br>1、甲方已在深圳市众利财富管理有限公司（下简称"众利"）就"生蚝借款"（以下简称“生蚝借款”）进行用户注册，并达成《出借服务协议》，同意受到该协议的约束。甲方承诺对本协议涉及的出借资金具有完全的支配能力，为其合法所得；承诺其提供给众利的信息是完全真实的；
                    <br>2. 乙方已在众利就生蚝借款进行用户注册，并达成《借款服务协议》，同意受到该协议的约束。乙方承诺其提供给众利的信息是完全真实的；
                    <br>3、乙方有借款需求，甲方亦同意借款，双方同意成立借贷关系。据此，各方经协商一致，达成借款协议，以资共同遵照履行：
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <td colspan="2">
                    借款基本信息
                </td>
            </tr>
            <tr>
                <td class="td-title" width="50%">借款本金数额：</td>
                <td>￥0.00</td>
            </tr>
            <tr>
                <td class="td-title">实际打款金额：</td>
                <td></td>
            </tr>
            <tr>
                <td>逾期账户管理费</td>
                <td>1%</td>
            </tr>
            <tr>
                <td>借款期限</td>
                <td>21</td>
            </tr>
            <tr>
                <td>每日罚息费率</td>
                <td>0.5% - 0.75% (最高35%封顶）</td>
            </tr>
            <tr>
                <td>还款日</td>
                <td> 年 月 日</td>
            </tr>
            <tr>
                <td>币种</td>
                <td>人民币</td>
            </tr>
            <tr>
                <td>利息利率</td>
                <td>1.08%</td>
            </tr>
            <tr>
                <td>账户管理费</td>
                <td>0.8%</td>
            </tr>
            <tr>
                <td>快速信审费</td>
                <td>1.72%</td>
            </tr>
            <tr>
                <td>代收支付通道费</td>
                <td>0.7%</td>
            </tr>
            <tr>
                <td>质保服务专款</td>
                <td>1.7%</td>
            </tr>
            <tr>
                <td>用途</td>
                <td>消费</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table>
        <tr>
            <td>
                注：
                <br>1、甲乙双方均确认，本《借款协议》的达成是指众利将乙方的借款信息推荐给甲方，甲方确认同意借款后。本《借款协议》文本由众利统一在其后台自动确认生成。双方同意按照《出借服务协议》，《借款服务协议》的约定，委托众利保管本《借款协议》的书面文件或电子信息。
                <br>2、甲乙双方均同意根据《借款服务协议》、《出借服务协议》的约定，授权众利代表其行使相关权利、履行相应义务。因乙方逾期而发生债权转让时，甲方同意委托众利向乙方发出向指定帐户还款的通知，乙方同意在收到众利发出的还款通知时，将无条件履行还款义务，而无需甲方另行履行债权转让的通知义务。
                <br>3、本《借款协议》未尽事项，各方遵照其在《借款服务协议》、《出借服务协议》，生蚝借款平台通过页面点击确定或其他方式所约定的权利义务履行，与本协议具有同等法律效力。
                <br>4、本协议的成立、生效、履行、解释、争议解决均适用中华人民共和国法律。因签订和履行本协议所产生的纠纷，任一方均有权将其提交至合同签订地及合同履行地深圳市前海深港合作区人民法院通过诉讼的方式解决。
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div id="notice"></div>
<div id="bottom-nav-bar"></div>
{% endblock %}
