html,body {
  background-color: #477bed;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.bg1{
  width:720px;
  padding-top:377px;
  height:194px;
  background:url(../images/bg1.jpg) no-repeat;
  margin:0 auto;
  position:relative;
}
.bg1-intro{
  width:578px;
  margin:0 auto;
  font-size:24px;
  line-height:40px;
  color:#6e413a;
}
.title{
  text-align:center;
  margin-top:30px;
}
.bg2-box{
  width:668px;
  height:355px;
  background:url(../images/bg2.png) no-repeat;
  margin:0 auto;
  position:relative;
}
.bg2-item{
  position:absolute;
  top:27px;
}
.cash-coupon{
  width:238px;
  height:169px;
  background:url(../images/cash-return-bg.png) no-repeat;
  color:#fff;
  font-size:24px;
  position:relative;
}
.bg2-item1{
  left:66px;
}
.bg2-item2{
  left:373px;
}
.cash-top-num .cash-num{
  font-size:56px;
  line-height:56px;
}
.cash-coupon-wrap{
  position:absolute;
  top:55px;
  left:84px;
}
.bg2-tip{
  font-size:24px;
  color:#69433a;
  line-height:30px;
  text-align:center;
  margin-top:15px;
}
.bg2-tip span{
  color:#f45724;
}
.bg2-box-tip{
  font-size:24px;
  color:#f45724;
  position:absolute;
  left:211px;
  bottom:18px;
}
.bg3-box{
  width:668px;
  height:1152px;
  padding-top:43px;
  background:url(../images/bg3.png) no-repeat;
  margin:0 auto;
}
.sub-title-bg{
  width:333px;
  height:59px;
  padding-top:20px;
  background:url(../images/sub-title-bg.png) no-repeat;
  margin:0 auto 6px;
  text-align:center;
  font-size:24px;
  color:#da45a5;
}
.sub-title-bg span{
  color:#0db6e1;
}
.bg3-item-wrap{
  position:relative;
  height:295px;
}
.bg3-item{
  position:absolute;
  top:0;
  font-size:24px;
  color:#fea21f;
}
.bg3-item1{
  left:92px;
}
.bg3-item2{
  left:392px;
}
.coin-coupon{
  width:210px;
  height:193px;
  background:url(../images/golden-coin-bg.png) no-repeat;
}
.coin-num{
  font-size:56px;
  line-height:56px;
  color:#fea21f;
}
.coin-coupon-wrap{
  position:absolute;
  top:55px;
  left:50px;
}
.bg3-tip{
  margin-top:15px;
  font-size:24px;
  color:#69433a;
  margin-left:-12px;
}
.bg3-tip span{
  color:#f45724;
}
.bg3-eve-wrap{
  position:relative;
  height:625px;
}
.bg3-eve{
  position:absolute;
}
.eve-coupon{
  width:223px;
  height:215px;
  background:url(../images/eve-bg.png) no-repeat;
  background-size:100% 100%;
  font-size:24px;
  color:#fff;
}
.bg3-eve1{
  top:0;
  left:77px;
}
.bg3-eve2{
  top:0;
  left:377px;
}
.bg3-eve3{
  top:298px;
  left:77px;
}
.bg3-eve4{
  top:298px;
  left:377px;
}
.bg3-eve4 .eve-coupon{
  width:153px;
  padding-top:25px;
  padding-left:40px;
  padding-right:30px;
  height:185px;
  text-align:justify;
  background:url(../images/eve-bg2.png) no-repeat;
  background-size:100% 100%;
}
.bg3-eve4 .eve-coupon span{
  color:#ffea5b;
}
.eve-num{
  font-size:56px;
  line-height:56px;
}
.eve-coupon-wrap{
  position:absolute;
  top:90px;
  left:50px;
}
.bg3-eve-tip{
  font-size:24px;
  color:#69433a;
  text-align:center;
  margin-top:15px;
}
.bg3-eve-tip span{
  color:#f45724;
}
.bg3-btm-tip{
  font-size:24px;
  color:#bd2b89;
  text-align:center;
}
.bg3-btm-tip span{
  color:#f45724;
}
.bg4-box{
  width:670px;
  height:313px;
  padding-top:40px;
  background:url(../images/bg4.png) no-repeat;
  margin:0 auto 158px;
}
.bg4-tip{
  font-size:24px;
  color:#00969f;
  text-align:center;
}
.bg4-tip span{
  color:#f45724;
}
.btm-link{
  width:100%;
  height:106px;
  padding-top:22px;
  background:#fff;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}
.invite-btn{
  display:block;
  width:650px;
  height:84px;
  background:#6aa4f0;
  border-radius:4px;
  font-size:34px;
  color:#fff;
  line-height:84px;
  text-align:center;
  margin:0 auto;
}
.instruction-tap{
  width:120px;
  height:44px;
  background:url(../images/float.png) no-repeat;
  position:absolute;
  right:0;
  top:42px;
}
.mask{
  width:100%;
  height:100%;
  z-index:10;
  background:rgba(0,0,0,.7);
  position:fixed;
  top:0;
  left:0;
  display:none;
}
.pop{
  width:576px;
  height:694px;
  padding:105px 42px 0;
  background:url(../images/pop.png) no-repeat;
  position:absolute;
  left:50%;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  top:100px;
}
.pop-title{
  font-size:24px;
  line-height:32px;
  color:#ffea5b;
}
.pop-item{
  font-size:22px;
  line-height:32px;
  color:#fff;
  margin-bottom:30px;
}
.pop-contact{
  font-size:22px;
  line-height:32px;
  color:#fff;
}
.close{
  width:38px;
  height:38px;
  position:absolute;
  top:13px;
  right:13px;
}
