body {
    background-color: #ececec;
}

.main-panel {
    padding-bottom: 160px;
}

.banner {
    width:100%;
    height: 306px;
    background:#44adf0;
    display: block;
}

.top-info {
    display: block;
    position: relative;
    height: 484px;
    text-align: center;
    color: #fff;
    background-color: #44adf0;
    .logo {
        padding: 50px 0 0 0;
    }
    .title {
        padding: 10px 0 12px 0;
        font-size: 40px;
        line-height: 50px;
    }
    .subtitle {
        padding: 20px 0;
        font-size: 30px;
        line-height: 40px;
    }
    .tag {
        height: 30px;
        margin: 4px 0 0 0;
        img {
            margin-right: 10px;
        }
        img:last-child {
            margin-right: 0;
        }
    }
    .next {
        position: absolute;
        right: 10px;
        top: 50%;
        width: 60px;
        height: 60px;
        margin: -40px 0 0 0;
        background: url(../images/next.png) no-repeat center;
    }
}

.borrow-money-list {
    position: relative;
    height: 110px;
    margin: 0 0 20px 0;
    padding: 19px 30px;
    background-color: #fff;
    .icon-block {
        float: left;
        margin: 0 20px 0 0;
        img {
            width: 113px;
            height: 113px;
            float: left;
        }
    }
    .info {
        padding: 16px 0;
        .t {
            min-height: 36px;
            .title-text {
                float: left;
                padding: 0 10px 0 0;
                line-height: 36px;
                font-size: 32px;
                color: #333;
            }
            .tag {
                img {
                    float: left;
                    margin: 0 10px 0 0;
                }
                img:last-child {
                    margin-right: 0;
                }
            }
        }
        .b {
            padding-right: 70px;
            .text {
                font-size: 26px;
                color: #999;
                line-height: 60px;
            }
        }
    }
    .next {
        position: absolute;
        right: 10px;
        top: 50%;
        width: 60px;
        height: 60px;
        margin: -30px 0 0 0;
        background: url(../images/next-a.png) no-repeat center;
    }
}
