{% extends '../../../lib/templates/loan_base.swig.html' %}

{% block title %}代扣服务协议{% endblock %}

{% block content %}
<div id="header"></div>
<div id="cnt" class="protocol-article">

<div>《代扣服务协议》（以下简称“本协议”）是深圳市众利财富管理有限公司（以下简称“众利财富”）、北京掌众金融信息服务有限公司（以下简称“掌众”）与放心花借款用户（以下简称“用户”或“您”）就相关款项代扣服务（以下简称“代扣”）的使用等相关事项所订立的有效合约。用户在使用之前，均应仔细阅读本协议，用户通过页面点击确认或以其他方式选择接受本协议，即表示用户同意接受本协议的全部内容。
</div><div>如果您对本协议的条款有疑问的，请通过放心花客服渠道进行询问，放心花将向您解释条款内容。如果您不同意本协议的任意内容，或者无法准确理解放心花对条款的解释，请不要进行后续操作。
</div><div>您承诺自己在使用放心花提供的本项服务时，实施的所有行为均遵守国家法律、法规和放心花的相关规定以及各种社会公共利益或公共道德。您利用本服务从事非法活动或不正当交易产生的一切后果与责任，由您独立承担。 同时您在此授权，众利财富或掌众有权根据您设置的代扣信息，通过银行或相关服务机构，在一定的时间对您的银行账户进行扣款，以便完成您所选择的代扣服务内容。
</div><div>您保证您在使用本产品过程中提供的资料真实、准确、完整、有效。对于因您提供信息不真实或不完整所造成的损失由您自行承担。您必须正确填写相关页面信息，并且妥善保管验证信息，除在放心花办理业务时使用外，不要向任何其他人、其他网站、电话或短信的问询提供验证信息内容；您对通过以上信息完成的一切款项代扣行为负责。
</div><div>针对您选择的代扣服务，众利财富或掌众根据您设置的内容，可不需经用户同意，按约自您在第三方支付机构设立的放心花或掌众账户中扣款，或按约向相关银行或第三方支付机构发送代扣指令进行扣款，并根据银行及相关服务机构的执行情况，及时更新相关账务信息，不对相关款项的代扣执行情况承担任何保证责任，亦不承担因相关银行或服务机构未能及时执行相关代扣指令或执行信息反馈延迟、错误导致的所有责任；因此导致的所有责任均由您与相关银行或服务机构自行协商解决，但因众利财富或掌众的原因导致的错误情况除外。
</div><div>您在使用本服务的过程中，应确保您有足额的款项可用于众利财富或掌众执行相应扣款指令，针对扣款失败的情况，放心花可以将该失败信息通知您，但因此导致扣款失败及产生的后果、损失（包括但不限于利息、逾期利息、违约金、赔偿金等），须由您自行承担。
</div><div>请您根据相关服务页面提示的使用规则设置相关代扣内容并履行相关约定，因您未遵循本协议及相关页面附属规则或未尽到合理义务导致代扣失败的，放心花不承担任何责任。
</div><div>放心花有权基于为更好的向您提供服务之目的或向您推广其他产品/服务的需要，保留并使用您在使用本产品过程中产生的相关数据信息，包括但不限于向其他第三方提供该等信息。
</div><div>因战争、自然灾害等不可抗力原因或通讯、供电故障等非放心花过错原因导致众利财富或掌众无法代扣的，放心花不承担责任。因此导致的所有责任均由您或您与相关服务机构自行协商解决。
</div><div>您同意，本协议适用中华人民共和国大陆地区法律。因放心花与您就本协议的签订、履行或解释发生争议，双方应努力友好协商解决。如协商不成，众利财富、掌众和用户同意由掌众住所地法院管辖审理双方的纠纷或争议。
</div><div>本协议内容包括协议正文及所有放心花已经发布的或将来可能发布的放心花服务的使用规则。所有规则为本协议不可分割的一部分，与协议正文具有相同法律效力。您认可并同意若本服务协议中的某一部分条款或描述被相关司法机关判定为无效，该判定无效并不影响其他部分的有效性，您仍需依照本服务协议中的其他部分条款履行相关义务同时行使相关权利。若您在本协议内容或相关附属规则发生修订后，继续使用本服务的，则视为您同意最新修订的协议内容；否则您须立即停止使用本服务。
</div>

<br >
<br >
<br >
<br >
<br >
<br >

</div>
<div id="notice"></div>
<div id="bottom-nav-bar"></div>
{% endblock %}
