html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.loan-num{
  height:170px;
  padding-top:30px;
  background:#fff;
  margin-top:25px;
}
.loan-money{
  font-size:90px;
  text-align:center;
}
.overdue-color{
  color:#50ad9a;
}
.pay-back-color{
  color:#666;
}
.loan-status2{
  text-align:center;
  font-size:25px;
  color:#666;
}
.loan-detail-box{
  margin-top:20px;
  background:#fff;
  padding:0 32px;
  border-top:1px solid #f0f0f0;
}
.loan-detail-box div{
  height:99px;
  line-height:99px;
  font-size:32px;
  color:#333;
  border-bottom:1px solid #f0f0f0;
}
.payback-detail{
  color:#50ad9a;
}
.loan-detail-box div span:first-child{
  float:left;
}
.loan-detail-box div span:last-child{
  float:right;
  color:#666;
}
.pay-back-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:20px auto 0;
}
.pay-back-input{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout:none;
  background:transparent;
  outline:none;
  border:none;
  line-height:99px;
  font-size:32px;
  text-align:right;
}
.payback-tips{
  padding:0 32px;
  margin-top:15px;
}
.payback-tips div{
  font-size:25px;
  color:#999;
  line-height:45px;
}
.right-arrow{
  margin-top:-6px;
}
.mask{
  width:100%;
  height:100%;
  background:rgba(0,0,0,.7);
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:10000000000;
}
.popup{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.popup-wrap{
  width:495px;
  border:1px solid #c0c0c0;
  border-radius:10px;
  background:#fff;
  position:relative;
}
.popup-title{
  font-size:36px;
  color:#50ad9a;
  text-align:center;
  padding:32px 0;
}
.popup-close{
  display:block;
  background:url(../images/close.jpg) no-repeat;
  background-size:100% 100%;
  width:20px;
  height:20px;
  position:absolute;
  top: 23px;
  right:23px;
}
.bankcard-list{
  padding:0 68px;
}
.bank-name{
  font-size:27px;
  color:#333;
  float:left;
  line-height:36px;
  margin-left:10px;
}
.bankcard{
  margin-bottom:25px;
  overflow:hidden;
}
.checked{
  background:url(../images/checked.jpg) no-repeat;
  width:36px;
  height:36px;
  float:left;
}
.add-bank-card{
  width:495px;
  height:90px;
  line-height:90px;
  background:#fafafa;
  text-align:center;
  font-size:27px;
  color:#999;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.add-bank-card img{
  margin-right:23px;
  margin-top:-6px;
}

