body {
	background-color: #f0f0f0;
}

.my-cnt {
	margin-bottom: 120px;
}

.my-nav {
	height: 90px;
	font-size: 36px;
	line-height: 90px;
	text-align: center;
	background-color: #fff;
}


.my-info {
	height: 470px;
}

.my-info-cnt {
	height: 230px;
	padding: 50px 0 38px;
	background-color: #50ad9a;
	color: #fff;

	.loan-sum-text {
		height: 170px;
		text-align: center;

		.text {
			line-height: 42px;
			font-size: 22px;
		}

		.num-text {
			line-height: 90px;
			font-size: 80px;
		}
	}

	.loan-info {
		display: -webkit-flex;
		display: flex;
		height: 68px;

		.info {
			width: 100%;
			border-right: 1px solid #fff;
			text-align: center;

			&:last-child {
				border-right: none;
			}

			.text {
				display: block;
				line-height: 22px;
				font-size: 22px;
			}

			.num-text {
				display: block;
				font-size: 36px;
				line-height: 44px;
			}


		}
	}
}



.my-info-num {
	height: 80px;
	padding: 30px 30px;
	background-color: #fff;
	
	.quota-info {
		float: left;

		.num-text {
			display: block;
			color: #50ad9a;
			font-size: 50px;
			line-height: 50px;
		}

		.text {
			font-size: 22px;
			line-height: 28px;
			color: #999;
		}
	}

	.icon-r {
		float: right;

		width: 80px;
		height: 80px;
		background: url(../images/arrow-r-icon.png) no-repeat center;
		background-size: 30px auto;
	}
}


.my-settings {
	margin: 20px 0 0 0;
	padding: 0 0 0 30px;
	background-color: #fff;
	
	.list {
		.list-cnt {
			height: 36px;
			padding: 26px 0;

			border-bottom: 1px solid #ebeaea;

			.icon {
				float: left;
				width: 36px;
				height: 36px;
				margin: 0 10px 0 0 ;
				background-size: 38px auto;
			}

			.text {
				color: #333;
				font-size: 28px;
			}

			.back-icon {
				background: url(../images/card-icon.png) no-repeat center;
			}
			
			.huishang-icon {
				background: url(../images/back-icon.png) no-repeat center;
			}

			.pws-icon {
				background: url(../images/pws-icon.png) no-repeat center;
			}

			.feedback-icon {
				background: url(../images/info-icon.png) no-repeat center;
			}
		}	
	}
}



.my-btn {
	margin: 30px 0 0 0;
	padding: 0 30px;
}

.ui-btn {
	height: 74px;
	line-height: 74px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	background-color: #50ad9a;
	border-radius: 5px;
}




































