.turntable {
    position: relative;
    box-sizing: border-box;
}

.turntable * {
    box-sizing: border-box;
}

.stick-grp {
    width: 100%;
}

.stick {
    position: absolute;
    top: 0;
    left: 50%;
    width: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f9f9f9;
}

.amount-disk {
    position: relative;
    margin: auto;
    padding-top: 148px;
    border-radius: 50%;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 40px #f1f1f1;
    text-align: center;
}

.loan-amount {
    color: #a499f6;
    font-size: 80px;
    line-height: 1.05;
}

.loan-amount-tip {
    color: #666;
    font-size: 24px;
}

.glowing-tail {
    position: absolute;
    left: calc(50% - 194px);
    width: 194px;
    height: 116px;
    background: url('../../images/components/turntable/glow.png');
}