body {
  background-color: #ebebee;
}
a{
  text-decoration: none;
}
.account-wrap{
  background:#fff;
  padding-left:30px;
  margin-top:20px;
  border-top:1px solid #d8d8d8;
}
.account-first-item{
  height:99px;
  line-height:99px;
  border-bottom:1px solid #e3e5ea;
  overflow:hidden;
}
.account-item{
  display:block;
  height:88px;
  line-height:88px;
  border-bottom:1px solid #e3e5ea;
  overflow:hidden;
}
.item-title{
  font-size:28px;
  color:#555;
  float:left;
}
.item-right-info{
  font-size:28px;
  color:#555;
  float:right;
  margin-right:23px;
}
.right-arrow{
  display:block;
  background:url(../images/arrow.png) no-repeat;
  width:19px;
  height:31px;
  float:right;
  margin: 34px 30px 0 0;
}
.account-img{
  width:80px;
  height:80px;
  float:right;
  border-radius:50%;
  margin-right:23px;
  margin-top:10px;
}
