.info {
    width: 100%;
    height: auto;
    background: #fff;
    display: table;
    margin: 20px auto 40px;
}

.infoItem {
    width: 690px;
    margin-left: 30px;
    height: 87px;
    border-bottom: 1px solid #d8d8d8;
    line-height: 87px;
    font-size: 28px;
    color: #888888;
    display: table;
}

.infoItem:last-child {
    border-bottom: 0 none;
}

.itemLeft {
    float: left;
    width: 114px;
}

.itemRight {
    float: left;
    color: #555555;
    margin-left: 60px;
    padding: 27px 0;
    font-size: 28px;
    border: 0 none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #bbbbbb;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #bbbbbb;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bbbbbb;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #bbbbbb;
}

input:focus {
    outline: none;
}

.nextStep {
    width: 660px;
    height: 72px;
    border-radius: 36px;
    background-image: linear-gradient(to top, #cfcde0, #d2d0e2);
    box-shadow: 0px 8px 8px 0 rgba(207, 205, 224, 0.32);
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 72px;
    color: #ffffff;
}