html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size:50px;
}

#cnt {
  height: 100%;
}


.hide {
  display: none !important;
}

#red-cnt {
    height: 100%;
    overflow: hidden;
    position: relative;
      .bag-li {
        position: absolute;
        transform: scale(0);
        .bag-img {
          width: 200px;
          height: 100px;
        }
      }
}

