html,body{
  margin:0;
  padding:0;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height:100%;
}
.red-rain-box{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0);
  color:#fff;
.ready-go{
  text-align: center;
  .ready-go-text1{
    font-size:50px;
  }
  .ready-go-text2{
    font-size:30px;
  }
  .ready-go-num{
    font-size:50px;
    font-weight: bold;
  }
}
.red-cnt{
  text-align: center;
  .time-remain{
    display:inline-block;
    width:200px;
    height:60px;
    line-height:60px;
    text-align: center;
    margin:20px auto;
    border-radius: 20px;
    border:2px solid #fff;
    font-size:30px;
  }
  .red-bag-ul{
    position: relative;
    .red-bag-li{
      position: absolute;
      .red-bag-text{
        display: none;
        opacity:0;
        position:absolute ;
        top:0px;
        left:0;
        color:#f0b900;
        font-size:20px;
        height:30px;
        width:100%;
        text-align: center;
        line-height:30px;
        transition:0.2s;
      }
    }
    .red-bag-li.clicked{
      .red-bag-text{
        display: block;
        top:-30px;
        opacity:1;
      }
    }

  }
}




}
