html,body{
  margin:0;
  padding:0;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height:100%;
}
.red-rain-box{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0);
  color:#fff;
.ready-go{
  text-align: center;
  .ready-go-text1{
    font-size:50px;
  }
  .ready-go-text2{
    font-size:30px;
  }
  .ready-go-num{
    font-size:50px;
    font-weight: bold;
  }
}
.red-cnt{
  text-align: center;
  .time-remain{
    display:inline-block;
    width:200px;
    height:60px;
    line-height:60px;
    text-align: center;
    margin:20px auto;
    border-radius: 20px;
    border:2px solid #fff;
    font-size:30px;
  }
  .red-bag-ul{
    position: relative;
    .red-bag-li{
      position: absolute;
      width:0px;
      left:100px;
      top:100px;
      opacity: 0;
      animation:li linear 1.5s;
      @keyframes li{
        0%{
          width:0px;
          left:100px;
          top:100px;
          opacity:0;
        }
        50%{
          width:100px;
          left:50px;
          top:50px;
          opacity:1;
        }
        100%{
          width:0;
          left:100px;
          top:100px;
          opacity:0;
        }
      }
      .red-bag-text{
        display: none;
        opacity:0;
        position:absolute ;
        top:0px;
        left:0;
        color:#f0b900;
        font-size:20px;
        height:30px;
        width:100%;
        text-align: center;
        line-height:30px;
        transition:0.2s;
      }
      img{
        width:100%;
        height:auto;
      }
    }
    .red-bag-li0{
        left:50px;
        top:50px;
        animation:li0 linear 1.5s;
        @keyframes li0{
          0%{
            left:50px;
            top:50px;
            opacity:0;
          }
          50%{
            width:100px;
            left:0px;
            top:0px;
            opacity:1;
          }
          100%{
            width:0;
            left:50px;
            top:50px;
            opacity:0;
          }
        }
      }
    .red-bag-li1{
      left:450px;
      top:50px;
      animation:li1 linear 1.5s 0.5s;
      @keyframes li1{
        0%{
          left:450px;
          top:50px;
          opacity:0;
        }
        50%{
          width:100px;
          left:400px;
          top:0px;
          opacity:1;
        }
        100%{
          width:0;
          left:450px;
          top:50px;
          opacity:0;
        }
      }
    }
    .red-bag-li2{
      left:550px;
      top:150px;
      animation:li2 linear 1.5s 1s;
      @keyframes li2{
        0%{
          left:550px;
          top:150px;
          opacity:0;
        }
        50%{
          width:100px;
          left:500px;
          top:100px;
          opacity:1;
        }
        100%{
          width:0;
          left:500px;
          top:150px;
          opacity:0;
        }
      }
    }
    .red-bag-li3{
      left:150px;
      top:250px;
      animation:li3 linear 1.5s 1.5s;
      @keyframes li3{
        0%{
          left:150px;
          top:250px;
          opacity:0;
        }
        50%{
          width:100px;
          left:100px;
          top:200px;
          opacity:1;
        }
        100%{
          width:0;
          left:150px;
          top:250px;
          opacity:0;
        }
      }
    }
    .red-bag-li4{
      left:350px;
      top:250px;
      animation:li4 linear 1.5s 2s;
      @keyframes li4{
        0%{
          left:350px;
          top:250px;
          opacity:0;
        }
        50%{
          width:100px;
          left:300px;
          top:200px;
          opacity:1;
        }
        100%{
          width:0;
          left:350px;
          top:250px;
          opacity:0;
        }
      }
    }
    .red-bag-li5{
      left:150px;
      top:450px;
      animation:li5 linear 1.5s 2.5s;
      @keyframes li5{
        0%{
          left:150px;
          top:450px;
          opacity:0;
        }
        50%{
          width:100px;
          left:100px;
          top:400px;
          opacity:1;
        }
        100%{
          width:0;
          left:150px;
          top:450px;
          opacity:0;
        }
      }
    }
    .red-bag-li6{
      left:550px;
      top:450px;
      animation:li6 linear 1.5s 3s;
      @keyframes li6{
        0%{
          left:550px;
          top:450px;
          opacity:0;
        }
        50%{
          width:50px;
          left:500px;
          top:400px;
          opacity:1;
        }
        100%{
          width:0;
          left:550px;
          top:450px;
          opacity:0;
        }
      }
    }
    .red-bag-li7{
      left:350px;
      top:450px;
      animation:li7 linear 1.5s 3.5s;
      @keyframes li7{
        0%{
          left:350px;
          top:450px;
          opacity:0;
        }
        50%{
          width:100px;
          left:300px;
          top:400px;
          opacity:1;
        }
        100%{
          width:0;
          left:350px;
          top:450px;
          opacity:0;
        }
      }
    }
    .red-bag-li8{
      left:650px;
      top:550px;
      animation:li8 linear 1.5s 4s;
      @keyframes li8{
        0%{
          left:650px;
          top:550px;
          opacity:0;
        }
        50%{
          width:100px;
          left:600px;
          top:500px;
          opacity:1;
        }
        100%{
          width:0;
          left:650px;
          top:550px;
          opacity:0;
        }
      }
    }
    .red-bag-li9{
       left:50px;
       top:650px;
       animation:li9 linear 1.5s 4.5s;
       @keyframes li9{
         0%{
           left:50px;
           top:650px;
           opacity:0;
         }
         50%{
           width:100px;
           left:0px;
           top:600px;
           opacity:1;
         }
         100%{
           width:0;
           left:50px;
           top:650px;
           opacity:0;
         }
       }
     }
    .red-bag-li10{
      left:350px;
      top:350px;
      animation:li10 linear 1.5s 2.5s;
      @keyframes li10{
        0%{
          left:350px;
          top:350px;
          opacity:0;
        }
        50%{
          width:100px;
          left:300px;
          top:300px;
          opacity:1;
        }
        100%{
          width:0;
          left:350px;
          top:350px;
          opacity:0;
        }
      }
    }
    .red-bag-li11{
      left:550px;
      top:650px;
      animation:li11 linear 1.5s 3s;
      @keyframes li11{
        0%{
          left:550px;
          top:650px;
          opacity:0;
        }
        50%{
          width:100px;
          left:500px;
          top:600px;
          opacity:1;
        }
        100%{
          width:0;
          left:550px;
          top:650px;
          opacity:0;
        }
      }
    }
    .red-bag-li12{
      left:650px;
      top:250px;
      animation:li12 linear 1.5s 3.5s;
      @keyframes li12{
        0%{
          left:650px;
          top:250px;
          opacity:0;
        }
        50%{
          width:100px;
          left:600px;
          top:200px;
          opacity:1;
        }
        100%{
          width:0;
          left:650px;
          top:250px;
          opacity:0;
        }
      }
    }
    .red-bag-li13{
      left:50px;
      top:350px;
      animation:li13 linear 1.5s 4s;
      @keyframes li13{
        0%{
          left:50px;
          top:350px;
          opacity:0;
        }
        50%{
          width:100px;
          left:0px;
          top:300px;
          opacity:1;
        }
        100%{
          width:0;
          left:50px;
          top:650px;
          opacity:0;
        }
      }
    }
    .red-bag-li9{
      left:50px;
      top:650px;
      animation:li9 linear 1.5s 4.5s;
      @keyframes li9{
        0%{
          left:50px;
          top:650px;
          opacity:0;
        }
        50%{
          width:100px;
          left:0px;
          top:600px;
          opacity:1;
        }
        100%{
          width:0;
          left:50px;
          top:650px;
          opacity:0;
        }
      }
    }
    .red-bag-li9{
      left:50px;
      top:650px;
      animation:li9 linear 1.5s 4.5s;
      @keyframes li9{
        0%{
          left:50px;
          top:650px;
          opacity:0;
        }
        50%{
          width:100px;
          left:0px;
          top:600px;
          opacity:1;
        }
        100%{
          width:0;
          left:50px;
          top:650px;
          opacity:0;
        }
      }
    }
    .red-bag-li.clicked{
      animation:off linear 0.5s;
      @keyframes off{
      0%{
        width:100px;
        height:100px;
      }
      90%{
        opacity:1;
      }
        100%{
          width:0px;
          height:0px;
          opacity:0;
        }
    }
      .red-bag-text{
        display: block;
        top:-30px;
        opacity:1;
      }
    }

  }
}
}
