body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,b {
    margin: 0; padding: 0;}
body, html{position:relative;margin:0 auto;background-color:#ebebee;}
body{background-color:#ebebee;color: #555; min-height:100%;height:auto!important; height:100%;}
body,button,input,select,textarea,h1,h2,h3,h4,h5,h6{font-family:"Microsoft YaHei",Arial,Helvetica,simhei,sans-serif;}
input[type="submit"],input[type="text"],input[type="tel"],input[type="number"],input[type="button"],input[type="password"]{-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-tap-highlight-color:transparent;line-height:normal;}
input,label,button,textarea,select{border:medium none;font-family:"Microsoft YaHei",Arial,Helvetica,simhei,sans-serif;}
input:focus{outline:0;}
a:active,a:focus{outline:0;}
a{text-decoration: none;}
input[type=checkbox],input[type=radio] {
    vertical-align:middle;
}

.clearfix:after {
    content:'';
    display:block;
    height:0;
    clear:both;
}

.clearfix {
    *zoom:1;
}



.wrap{
    height: 494px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background: white;
    margin-top: 146px;
}

.name{
    width: 660px;
    height: 98px;
    line-height: 98px;
    margin: 0 auto;
}

.name img{
    display: inline-block;
    vertical-align: middle;
}

.knight{
    width: 598px;
    float: right;
}

.textbox{
    font-size: 32px;
    color: #999999;
    vertical-align: middle;
    display: inline-block;
}

.wire{
    width: 96%;
    height: 1px;
    border-top: 1px solid #d8d8d8;
    margin-left: 4%;
}

.sr{
    color: #cccccc;
}

.ope{
   height: 98px;
   line-height: 98px;
}

.khy{
    float: left;
    font-size: 32px;
    color: #555555;
}

.yzm{
    font-size: 32px;
    color: #555555;
}

.yzt{
    float: right;
    height: 95px;
}

.shang{
    font-size: 32px;
    color: #555555;
    margin-right: 15px;
}

.bf-d{
    margin-right: 19px;
}

.gry{
   font-size: 32px;
   color: #d8d8d8;
   margin-right: 46px; 
}

.zmy{
    color: #4aa1f9;
    font-size: 32px;
    margin-right: 55px;
}

.refer{
    width: 92%;
    height: 85px;
    line-height: 85px;
    text-align: center;
    background: #fd4d4c;
    color: white;
    font-size: 36px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
}

.phone{
    width: 660px;
    height: 74px;
    font-size: 28px;
    color: #999999;
    margin: 0 auto;
    margin-top: 12px;
}

.dot{
    color: #4aa1f9;
    text-decoration: none;
}




















