*{margin: 0; padding: 0;}
.clearfix{zoom:1}
.clearfix:after{content:"";display:block;clear:both}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{font-family:'微软雅黑'; font-weight: normal;list-style: none;}

body,html{
    background: #ebebee;
}


.wrap{
    height: 494px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background: white;
    margin-top: 146px;
}

.name{
    width: 660px;
    height: 98px;
    line-height: 98px;
    margin: 0 auto;
}

.name img{
    display: inline-block;
    vertical-align: middle;
}

.knight{
    width: 598px;
    float: right;
    font-size: 32px;
    color: #999999;
}

.wire{
    width: 96%;
    height: 1px;
    border-top: 1px solid #d8d8d8;
    margin-left: 4%;
}

.sr{
    color: #cccccc;
}

.ope{
   height: 98px;
   line-height: 98px;
}

.khy{
    float: left;
    font-size: 32px;
    color: #555555;
}

.yzt{
    float: right;
    height: 95px;
}

.shang{
    font-size: 32px;
    color: #555555;
    margin-right: 15px;
}

.bf-d{
    margin-right: 19px;
}

.gry{
   font-size: 32px;
   color: #d8d8d8;
   margin-right: 46px; 
}

.zmy{
    color: #4aa1f9;
    font-size: 32px;
    margin-right: 55px;
}

.refer{
    width: 92%;
    height: 85px;
    line-height: 85px;
    text-align: center;
    background: #fd4d4c;
    color: white;
    font-size: 36px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
}

.phone{
    width: 660px;
    height: 74px;
    font-size: 28px;
    color: #999999;
    margin: 0 auto;
    margin-top: 12px;
}

.dot{
    color: #4aa1f9;
    text-decoration: none;
}




















