.bg {
    padding-top: 135px;
    background: url('../images/home/head-bg.png') no-repeat top;
}

.bg * {
    box-sizing: border-box;
    text-align: center;
}

.slogan {
    height: 36px;
    line-height: 36px;
    margin-bottom: 54px;
    padding-left: 54px;
    background: url('../images/home/airplane.png') no-repeat 200px;
    color: #555;
    font-size: 36px;
}

.loan-info-grp {
    display: table;
    width: 100%;
    height: 84px;
    margin-top: -12px;
}

.loan-info {
    float: left;
    width: 340px;
    height: 84px;
    color: #888;
    font-size: 24px;
}

.loan-info:last-child {
    float: right;
}

.loan-info span {
    color: #555;
    font-size: 36px;
}

.loan-status-btn {
    width: 420px;
    height: 72px;
    line-height: 72px;
    margin: 64px auto 16px;
    border-radius: 36px;
    background-color: #fc4966;
    box-shadow: 0px 8px 8px 0 rgba(236, 45, 97, 0.26);
    color: #fff;
    font-size: 24px;
}

.registered-info {
    color: #555;
    font-size: 24px;
}

.registered-info span {
    color: #fc4966;
}

.service-time {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 228px;
    padding-top: 72px;
    background-image: url('../images/home/service-time-bg.png');
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: pre;
}