.container * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.logo {
    height: 415px;
    background: url('../images/login/logo.png') no-repeat center;
}

.input-item {
    display: table;
    width: 500px;
    height: 89px;
    margin: 0 auto 30px;
    border-bottom: 1px solid #e8e7f0;
}

.input-icon {
    float: left;
    width: 50px;
    height: 88px;
    background-repeat: no-repeat;
    background-position: center;
}

.input-icon-phone {
    composes: input-icon;
    background-image: url('../images/login/phone.png');
}

.input-icon-sms {
    composes: input-icon;
    background-image: url('../images/login/sms.png');
}

.input-item input {
    float: left;
    width: 240px;
    outline: none;
    border: none;
    padding: 30px 0 30px 10px;
    line-height: 28px;
    color: #333;
    font-size: 26px;
}

.sms-info {
    float: right;
    height: 44px;
    line-height: 42px;
    padding: 0 22px;
    margin: 22px 0;
    border-radius: 22px;
    border: solid 2px #fc4966;
    color: #fc4966;
    font-size: 21px;
}

.submit-btn {
    width: 420px;
    height: 72px;
    line-height: 72px;
    margin: 70px auto 34px;
    background-color: #fc4966;
    border-radius: 36px;
    box-shadow: 0px 8px 8px 0 rgba(236, 45, 97, 0.26);
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.agreement {
    height: 35px;
    line-height: 35px;
    color: #888;
    font-size: 22px;
    text-align: center;
}

.agreement i {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border: 1px solid #877be7;
    border-radius: 50%;
}

.agreement .checked {
    border: none;
    background-image: url('../images/login/checked.png');
}

.agreement span {
    color: #877be7;
}

.service-time {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 144px;
    padding-top: 72px;
    background-image: url('../images/login/service-time-bg.png');
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: pre;
}