body {
  font-size: 28px;
  background-color: #ebebeb;
}

a {
  text-decoration: none;
  &:active {
    outline: 0;
  }

  &:focus {
    outline: 0;
  }
}

ul, ol, li {
  list-style: none;
}

em, i {
  font-style: normal;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 5rem;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;

  .header-cont {
    position: relative;

    .up-btn {
      position: absolute;
      left: 1.9rem;
      top: 1.5rem;
      width: 2rem;
      height: 2rem;
      float: left;
      background: url(../images/ico-blue-back.png) no-repeat 0;
      background-size: auto 100%
    }

    .header-title {
      line-height: 5rem;
      text-align: center;
      color: #333;
      font-size: 1.8rem;
    }
  }

}

.top-info {
  height: 130px;
  padding: 20px 42px;
  background-color: #5b6993;
  color: #fff;
}

.top-info-l {
  float: left;

  .sum-block {
    font-size: 24px;
    line-height: 30px;
  }

  .money-block {
    margin: 10px 0;
    line-height: 50px;
    font-size: 42px;
  }

  .text-block {
    font-size: 26px;
    .text {
      line-height: 30px;
      margin: 0;
    }
  }
}

.top-info-r {
  float: right;

  .vip-block {
    width: 120px;
    text-align: center;

    .img {
      display: block;
      width: 64px;
      height: 32px;
      margin: 16px auto 0;
      line-height: 22px;
      text-align: center;
      font-size: 20px;

      img {
        width: 64px;
      }
    }

    .user-vip-text {
      display: block;
      margin: 40px 0 0 0;
      font-size: 20px;
      line-height: 26px;
    }

  }
}

.contribute-tab {
  height: 90px;
  background-color: #fff;
  border-bottom: 3px solid #ebebeb;

  ul {
    margin: 0;
    height: 93px;
    padding: 0;
    border-bottom: 1px solid #d8d8d8;

    li {
      float: left;
      width: 50%;
      background: url(../images/line-icon.png) no-repeat right 0;
      background-size: 2px 80px;

      .text {
        display: block;
        width: 162px;
        height: 90px;
        line-height: 90px;
        margin: 0 auto;
        text-align: center;
      }

      &:last-child {
        background: none;
      }
    }

    .select-li .text {
      color: #fd4d4c;
      border-bottom: 4px solid #fd4d4c;
    }
  }
}

.contribute-tab-cnt {
  margin: 16px 0 0 0;

  .cont-block {
    height: 172px;
    margin: 0 0 20px 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;

    .mark-c {
      color: #fd4d4c;
    }

    .top-block {
      height: 74px;
      padding: 0 30px;
      line-height: 74px;
      border-bottom: 1px solid #eff0f3;
      background-color: #f9f9f9;
      color: #555;

      .fl {
        float: left;
      }

      .rl {
        float: right;
      }
    }

    .cont-info {
      height: 77px;
      padding: 10px 30px;
      color: #999;
      background-color: #fff;

      .fl .text,
      .rl .text {
        display: block;
        line-height: 40px;
      }

      .fl {
        float: left;

        .text {
        }
      }

      .rl {
        float: right;

        .text {
          text-align: right;
        }
      }
    }
  }

  .invite-block {
    .cont-block {
      height: 135px;

      .cont-info {
        height: 40px;
      }
    }
  }
}

.loading-more,
.complete-btn {
  height: 80px;
  margin: -20px 0 0 0;
  line-height: 80px;
  text-align: center;
  color: #999;
}

.wulist-img {
  margin: 100px 0;
  text-align: center;

  .text {
    display: block;
    line-height: 80px;
    color: #999;
  }
}
