body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,b {
    margin: 0; padding: 0;}
body, html{margin:0 auto;background-color:#ebebee;}
body{background-color:#ebebee;color: #555; min-height:100%;height:auto!important; height:100%;}
body,button,input,select,textarea,h1,h2,h3,h4,h5,h6{font-family:"Microsoft YaHei",Arial,Helvetica,simhei,sans-serif;}
input[type="submit"],input[type="text"],input[type="tel"],input[type="number"],input[type="button"],input[type="password"]{-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-tap-highlight-color:transparent;line-height:normal;}
input,label,button,textarea,select{border:medium none;font-family:"Microsoft YaHei",Arial,Helvetica,simhei,sans-serif;}
input:focus{outline:0;}
a:active,a:focus{outline:0;}
a{text-decoration: none;}
input[type=checkbox],input[type=radio] {
    vertical-align:middle;
}

.clearfix:after {
    content:'';
    display:block;
    height:0;
    clear:both;
}

.clearfix {
    *zoom:1;
}


.masker{z-index:99;position:absolute;left:0;top:0;height:100%;width:100%;background:rgba(0,0,0,0.85);}

.taine{
    width: 600px;
    height: 849px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -397px;
    margin-left: -300px;
    background: white;
    z-index:100;
    border-radius: 8px;
}

.zunjz{
    font-size: 30px;
    color: #555555;
    margin-left: 33px;
    margin-top: 36px;
}

.ynin{
    width: 521px;
    height: 326px;
    margin: 0 auto;
    margin-top: 29px;
    font-size: 28px;
    color: #666666;
    text-indent: 41px;
    line-height: 43px;
}

.liueng{
    width: 530px;
    height: 214px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e8ed;
    border-top: 1px solid #e7e8ed;
}

.uic{
    font-size: 28px;
    color: #555555;
}

.ziu{
    font-size: 28px;
    color: #666666;
    margin-left: 39px;
    margin-top: 16px;
}

.ialix{
    width: 530px;
    margin: 0 auto;
    font-size: 28px;
    color: #666666;
    margin-top: 22px;
}

.ibguan{
    width: 534px;
    height: 83px;
    line-height: 83px;
    margin: 0 auto;
    background: #fd4d4c;
    font-size: 36px;
    color: white;
    border: 1px solid #feacab;
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
}

.stou{
    z-index: 1;
    height: 114px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    background: #fff;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.zhaoshang{
    float: left;
    margin-left: 41px;
}

.ico-zhaoshang{
     margin-top: 22px;
}

.wz{
    float: left;
    margin-left: 26px;
    margin-top: 22px;
}

.zh{
    font-size: 31px;
}

.nz{
    font-size: 27px;
}

.kuaijie{
    float: right;
    margin-right: 41px;
    margin-top: 35px;
}

.txt-a{
    width: 92%;
    margin: 0 auto;
    margin-top: 11px;
}

.nin{
    font-size: 30px;
    color: #999999;
}

.c-4aa1f9 {
    color: #4aa1f9;
}

.kx{
    font-size: 32px;
    margin-top: 57px;
}

.intex{
    height: 96px;
    line-height: 96px;
    background: white;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 21px;
}

.yel{
    padding-left: 40px;
}

.qing{
    width: 89%;
    margin: 0 auto;
    margin-top: 21px;
}

.shyan{
    float: left;
    width: 57%;
    height: 82px;
    line-height: 82px;
    background: white;
    border: 1px solid #d8d8d8;
    border-radius: 8px; 
}

.mzysq{
    padding-left: 21px;
}

.miaoh{
    float: right;
    width: 37%;
    height: 84px;
    line-height: 84px;
    background: #8296af;
    border-radius: 8px;
    text-align: center;
}

.xt{
    width: 89%;
    height: 83px;
    margin: 0 auto;
    background: #fd4d4c;
    color: white;
    font-size: 36px;
    line-height: 83px;
    border: 1px solid #f2acad;
    text-align: center;
    border-radius: 8px;
    margin-top: 54px;
}

.hsuo{
    font-size: 30px;
    color: #999999;
    margin-left: 40px;
    margin-top: 27px;
}

.danbi{
    width: 94%;
    margin: 0 auto;
}

.card-d{
    float: left;
    margin-top: 19px;
    margin-left: 25px;
    margin-right: 12px;
}

.online{
    width: 611px;
    line-height: 43px;
    display: inline-block;
    font-size: 28px;
    color: #999999;
}

.rsxte{
    font-size: 36px;
    color: #cccccc;
}

.ymxs{
   color: white; 
   font-size: 28px;
   vertical-align: middle; 
}

.zmy{
    color: white; 
   font-size: 28px;
}