*{padding:0;margin:0}
img{vertical-align: top;}
html,body{
  overflow-x:hidden;
}
.part1{
  width:720px;
  height:187px;
  padding-top:520px;
  background:url(../images/part1.jpg) no-repeat;
}
.part1-info{
  font-size:24px;
  line-height:36px;
  color:#fff;
  width:660px;
  margin:0 auto;
  tex-align:justify;
}
.part2{
  width:720px;
  background:#fff;
  height:905px;
  padding-top:70px;
}
.part3{
  width:720px;
  height:1171px;
  background:url(../images/part3.jpg) no-repeat;
}
.part4{
  width:720px;
  height:1155px;
  background:#f1f1f1;
  padding-top:95px;
}
.huishang-title{
  font-size:42px;
  line-height:54px;
  color:#333;
  text-align:center;
}
.huishang-title span{
  display:block;
}
.huishang-title span.btm-subtitle{
  padding-left:25px;
}
.huishang-intro{
  width:660px;
  margin:0 auto;
  font-size:24px;
  line-height:38px;
  color:#4b4c4d;
  margin-top:40px;
  margin-bottom:60px;
}
.checkOrig{
  display:block;
  background:url(../images/part2-btn.png) no-repeat;
  width:264px;
  height:63px;
  margin:30px auto 0;
}
.item-space{
  margin-bottom:68px;
}
.item{
  width:220px;
  height:340px;
  display:inline-block;
  margin-right:10px;
  margin-bottom:20px;
  position:relative;
}
.item1{
  background:url(../images/item1.png) no-repeat;
  margin-left:20px;
}
.item2{
  background:url(../images/item2.png) no-repeat;
}
.item3{
  background:url(../images/item3.png) no-repeat;
}
.item4{
  background:url(../images/item4.png) no-repeat;
  margin-left:135px;
}
.item5{
  background:url(../images/item5.png) no-repeat;
}
.item-get img{
  position:absolute;
  top:241px;
  left:72px;
}
.item-adjust img{
  position:absolute;
  top:254px;
  left:48px;
}
.part4-btn{
  display:block;
  width:450px;
  height:80px;
  line-height:80px;
  text-align:center;
  font-size:32px;
  color:#fff;
  border-radius:4px;
  margin:30px auto;
}
.open-account{
  background:#fb6456;
}
.more{
  background:#83b7fb;
}

body {
  background-color: #ebebee;
  color: #333;
}

.title {
  margin-top: 16px;
  line-height: 80px;
  padding-left: 32px;
  height: 80px;
  font-size: 32px;
  color: #333;
  background-color: #f9f9f9;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #eff0f3;
}

.desc {
  padding: 16px 24px;
  background-color: #fff;
  line-height: 40px;
  font-size: 14px;

  & > div {
    text-indent: 3em;
  }

  a {
    text-decoration: none;
    color: #4aa1f9;
  }
}

.app-download-link {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 129px;
}

.footer {
  table {
    text-align: center;
    width: 100%;

    td {
      padding: 20px 0;
    }

    a {
      font-size: 28px;
      text-decoration: none;
      color: #8296af;
      display: inline-block;
      line-height: 50px;
    }
  }
  .copyright {
    text-align: center;
    color: #999;
    font-size: 14px;
  }
}