body {
    background-color: #ebebee;
}

input {
    box-sizing: border-box;
}

.banner {
    width: 100%;
    display: block;
}

.hr {
    height: 18px;
}

.field-underline {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 680px;
    height: 1px;
    background: #ebebee;
}

.field {
    box-sizing: border-box;
    background-color: #fff;
    padding: 0 24px;
    height: 88px;
    line-height: 88px;
    position: relative;
    overflow: hidden;
}

.field-title {
    display: inline-block;
    color: #333;
    font-size: 30px;
}

.field-input-select {
    float: right;
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: right;
    font-size: 28px;
    line-height: 88px;
    height: 88px;
    -webkit-appearance: none;
    direction: rtl;
}

.field-input-text {
    float: right;
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: right;
    font-size: 28px;
    line-height: 88px;
    height: 88px;
    width: 240px;
}

.field-v-line {
    display: inline-block;
    width: 1px;
    height: 44px;
    float: right;
    background: rgb(227, 229, 234);
    margin: 22px 10px;
}

.select-placeholder {
    float: right;
    font-size: 24px;
    position: relative;
}

.select-placeholder select {
    padding-right: 40px;
}

.select-placeholder option {
    color: #333;
}

.icon-down-arrow {
    display: inline-block;
    right: 0;
    top: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    pointer-events: none;
    background: white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAMAAAA/D5+aAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAh1BMVEUAAAC1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vcYAAAAj65sFAAAAK3RSTlMAL8LKHCTf2kDq0g8V2/GGvQYKyHgBpAOxnoeOaeP8Ti3w9TdFRNTtNeg4JVC6tAAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAACjSURBVBjTbVBZFoIwEBsVrFCQTRCRHffc/34O+IBiyU/TSV8yKW22O4M0mHtxIAuw5b/iuMCRPAB+sFTCiIcnihM+klhVzimPLkwCn0mmStfJSNpM81nJMccbBVBWo1KVQDEtXTdA2/141wJNPXvc+KVlDoW4THlXk3t/1+FcscztkfEoCvVtGUO9VO9IY72Vn5nq4SFpBQYv9zRpFS/x/ijXL4NWExkZ0bKDAAAAAElFTkSuQmCC') no-repeat center;
}
