.box {
  box-sizing: border-box;
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 360px;
}

.status-tip {
  display: table-cell;
  color: #8591b3;
  font-size: 36px;
  vertical-align: middle;
  text-align: center;
}

.success {
  composes: box;

  background: url('../images/order-result/success.png') #ebebee no-repeat center;
}

.fail {
  composes: box;

  background: url('../images/order-result/fail.png') #ebebee no-repeat center;
}
