/* height of select-widget: 88px */

.select-widget {
  float: right;
  position: relative;
  height: 88px;
}

.select-mask {
  height: 88px;
  line-height: 88px;
  padding-right: 39px;
  background: url('../images/select/expand.png') #fff no-repeat right;
  font-size: 28px;
  text-align: right;
}

.native-select {
  position: absolute;
  top: 0;
  left: 0;
  height: 88px;
  padding-right: 24px;
  background-color: transparent;
  color: transparent;
  border: none;
  outline: none;
  text-align: right;
  font-size: 28px;
}

.native-option {
  color: #333;
  font-size: 28px;
}


/*----------------*/

.policy-class {
  height: 69px;
  line-height: 69px;
  margin-left: 24px;
  color: #5b6993;
  font-size: 28px;
}

.input-field-grp {
  margin-bottom: 21px;
  padding-left: 24px;
  background-color: #fff;
  color: #666;
  font-size: 30px;
}

.input-field {
  height: 88px;
  line-height: 88px;
  padding-right: 24px;
  border-bottom: 1px solid #e3e5ea;
  background-color: #fff;
}

.input-field:last-child {
  border: none;
}

.input-field-name {
  float: left;
  color: #666;
  font-size: 30px;
}

.left-els {
  float: left;
  height: 88px;
}

.right-els {
  float: right;
  width: 390px;
  height: 88px;
  text-align: right;
}

.input-area {
  height: 88px;
  line-height: 88px;
  border: none;
  outline: none;
  font-size: 28px;
  text-align: right;
}

.bujimian-input {
  position: relative;
  float: left;
  width: 160px;
  height: 88px;
  line-height: 88px;
  font-size: 28px;
  text-align: left;
}
