html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.loan-num{
  height:170px;
  padding-top:40px;
  background:#fff;
  margin-top:25px;
  position:relative;
}
.loan-money{
  font-size:90px;
  line-height:100%;
  text-align:center;
}
.overdue-color{
  color:#6aa4f0;
}
.pay-back-color{
  color:#666;
}
.loan-status1{
  text-align:center;
}
.loan-status2{
  text-align:center;
  font-size:25px;
  color:#666;
}
.loan-detail-box{
  margin-top:20px;
  background:#fff;
  padding-left:34px;
}
.loan-detail-box div{
  height:99px;
  line-height:99px;
  font-size:32px;
  color:#333;
  border-bottom:1px solid #f0f0f0;
}
.loan-detail-box div:last-child{
  border-bottom:none;
}
.loan-detail-box div span:nth-child(2){
  margin-right:34px;
  color:#333;
}
.loan-detail-box div span a{
  color:#6aa4f0;
}
.loan-detail-box div span:first-child{
  float:left;
  color: #666;
}
.loan-detail-box div span:last-child{
  float:right;
}
.pay-back-btn-box{
  display:block;
  width:100%;
  height:106px;
  padding-top:22px;
  background:#fff;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  box-shadow: 0 -5px 10px 0 rgba(50,50,50,.1);
}
.pay-back-btn-box a{
  display:block;
  width:654px;
  height:84px;
  line-height:84px;
  background:#639afb;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:6px;
  margin:0 auto;
}
.deposit-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#ccc;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:6px;
  margin:34px auto;
}
.loan-money-title{
  font-size:27px;
  color:#999;
  text-align:center;
}
.icon1{
  width:147px;
  height:147px;
  background:url(../images/icon1.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.icon2{
  width:147px;
  height:147px;
  background:url(../images/icon2.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.icon3{
  width:147px;
  height:147px;
  background:url(../images/icon3.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.icon4{
  width:147px;
  height:147px;
  background:url(../images/icon4.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.icon5{
  width:147px;
  height:147px;
  background:url(../images/icon5.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.icon6{
  width:147px;
  height:147px;
  background:url(../images/icon6.png) no-repeat;
  background-size:100% 100%;
  position:absolute;
  top:0;
  right:0;
}
.logo-box{
  width:100%;
  height:258px;
  padding-top:45px;
  background:#44acf0;
  position:relative;
  margin-top:100px;
}
.logo-img{
  display:block;
  width:158px;
  height:158px;
  margin:0 auto 20px;
}
.logo-brand{
  font-size:36px;
  line-height:100%;
  color:#fff;
  text-align:center;
}
.detail-items{
  padding-bottom:148px;
}
.header{
  width:100%;
  height:100px;
  background:#fff;
  position:fixed;
  z-index:10;
  top:0;
  left:0;
  right:0;
}
.page-name{
  font-size:40px;
  color:#333;
  text-align:center;
  line-height:100px;
}
.back-arrow{
  display:block;
  width:26px;
  height:47px;
  background:url(../images/arrow.jpg) no-repeat;
  position:absolute;
  top:26px;
  left:34px;
}
.bill-history-entry{
  font-size:34px;
  color:#6aa4f0;
  position:absolute;
  top:25px;
  right:34px;
}
.return-money, .return-date{
  width:50%;
  float:left;
}
.return-money-title, .return-date-title{
  font-size:28px;
  color:#999;
  display:block;
  text-align:center;
}
.return-money-num, .return-date-day{
  font-size:36px;
  line-height:100%;
  color:#333;
  display:block;
  text-align:center;
  margin-bottom:4px;
}
.loan-info{
  position:relative;
  padding:34px 0;
  height:72px;
  background:#fff;
}
.vertical-line{
  width:1px;
  height:77px;
  background:#f5f4f4;
  position:absolute;
  top:36px;
  left:50%;
}
