html, body {
  margin: 0;
}
a {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
.category-items{
  border-left:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
  overflow:hidden;
  box-sizing: border-box;
}
.category-items a{
  display:block;
  width:238.3px;
  height:178px;
  border-top:1px solid #d8d8d8;
  border-right:1px solid #d8d8d8;
  float:left;
  position:relative;
}
.category-name{
  font-size:24px;
  color:#555;
  position:absolute;
  top:112px;
  width:238.3px;
  text-align:center;
}
.category-img{
  position:absolute;
  top:40px;
  left:91px;
}