*{padding:0;margin:0}
img{vertical-align: top;}
//body {
//  background-color: #7582c3;
//}
html,body{
  overflow-x:hidden;
}

//body {
//  padding-bottom: 40px;
//}
//
//.header{
//  background:url(../images/bg1.jpg) no-repeat;
//  width:720px;
//  height:410px;
//}
//.part1{
//  background:url(../images/bg2.jpg) no-repeat;
//  width:680px;
//  height:125px;
//  margin-bottom:40px;
//  padding-top:375px;
//  padding-left:40px;
//}
//.part2{
//  background:url(../images/bg3.jpg) no-repeat;
//  width:523px;
//  height:416px;
//  margin-bottom:40px;
//  padding-top:138px;
//  padding-left:197px;
//}
//.part3{
//  background:url(../images/bg4.jpg) no-repeat;
//  width:686px;
//  height:1365px;
//  margin-bottom:40px;
//  padding-top:185px;
//  padding-left:34px;
//}
//.part4{
//  background:url(../images/bg5.jpg) no-repeat;
//  width:686px;
//  height:134px;
//  padding-top:220px;
//  padding-left:34px;
//}
//.part1 div{
//  display:inline-block;
//  width:280px;
//  height:80px;
//  font-size:24px;
//  line-height:36px;
//  color:#fff;
//  text-align:center;
//}
//.part1 div.part1-tip1{
//  margin-right:80px;
//}
//.invest-period{
//  font-size:0;
//}
//.invest-period-margin-top{
//  margin-top:42px;
//}
//.invest-period span{
//  display:inline-block;
//  width:163px;
//  height:80px;
//  line-height:80px;
//  text-align:center;
//  font-size:24px;
//  color:#8c8686;
//}
//.commision-formula{
//  font-size:24px;
//  color:#57476c;
//  margin-left:20px;
//}
//.invest-table{
//  font-size:0;
//  margin-top:157px;
//}
//.invest-table span{
//  display:inline-block;
//  width:140px;
//  height:80px;
//  line-height:80px;
//  font-size:24px;
//  color:#8c8686;
//  text-align:center;
//}
//.commision-data{
//  width:632px;
//  word-wrap:break-word;
//  font-size:24px;
//  color:#57476c;
//  margin-top:20px;
//  margin-left:20px;
//  line-height:36px;
//}
//.commision-data span{
//  color:#ff5f5f;
//}
//.invest-condition{
//  font-size:24px;
//  color:#57476c;
//  margin-left:20px;
//}
//.invest-margin-top1{
//  margin-top:100px;
//}
//.invest-margin-top2{
//  margin-top:28px;
//}
//.invest-formula{
//  width:632px;
//  text-align:justify;
//  font-size:24px;
//  color:#57476c;
//  margin-top:15px;
//  margin-left:20px;
//  line-height:36px;
//}
//.example-table{
//  font-size:0;
//  margin-top:151px;
//}
//.example-table span{
//  display:inline-block;
//  width:163px;
//  height:80px;
//  line-height:80px;
//  font-size:24px;
//  color:#8c8686;
//  text-align:center;
//}
//.standard-table{
//  font-size:0;
//}
//.standard-table span{
//  display:inline-block;
//  width:163px;
//  height:80px;
//  line-height:80px;
//  font-size:24px;
//  color:#8c8686;
//  text-align:center;
//}
//.warm-tip{
//  font-size:22px;
//  color:#fff;
//  width:676px;
//  height:60px;
//  line-height:60px;
//  text-align:center;
//  background:#5461a0;
//  border-radius:30px;
//  margin:40px auto;
//}