{% extends '../../../lib/templates/main_base.swig.html' %}

{% block title %}用户等级{% endblock %}

{% block head_javascripts %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block container %}{% endblock %}
{% block content %}


<script src="javascripts/jquery-2.1.4.min.js"></script>
<script src="javascripts/native-bridge-0.2.0.js"></script>

<div id="header" class="clearfix">
    <a class="back">返回</a>用户等级
</div>
<a class="level-notice" onclick="redirectToAppUserContribute()">
    <span>距一下等级还差A贡献值，加油呀~<i></i></span>
</a>
<div class="slider-block" style="display: none">
    <section class="center slider">
        <div>
            <div class="img-box" data-tab="0">
                <img id="vip0" src="images/banner-vip0.jpg"/>
                <div id="vip0-jindutiao" class="level-progress-box level-progress-box0"><!-- 变灰色的时候加gray-class-->
                    <div class="level-progress">
                        <div class="level-progress-bar"></div>
                        <div class="level-progress-red">
                            <div class="level-progress-ico"></div>
                        </div>
                        <div class="level-progress-line1 level-progress-line"></div>
                        <div class="level-progress-line2 level-progress-line"></div>
                        <div class="level-progress-line3 level-progress-line"></div>
                        <div class="level-progress-line4 level-progress-line"></div>
                    </div>
                    <div class="level-progress-text">贡献值：<span>10000</span></div>
                </div>
            </div>
        </div>
        <div>
            <div class="img-box" data-tab="1">
                <img id="vip1" src="images/banner-vip1.jpg"/>
                <div id="vip1-jindutiao" class="level-progress-box level-progress-box1"><!-- 变灰色的时候加gray-class-->
                    <div class="level-progress">
                        <div class="level-progress-bar"></div>
                        <div class="level-progress-red">
                            <div class="level-progress-ico"></div>
                        </div>
                        <div class="level-progress-line1 level-progress-line"></div>
                        <div class="level-progress-line2 level-progress-line"></div>
                        <div class="level-progress-line3 level-progress-line"></div>
                        <div class="level-progress-line4 level-progress-line"></div>
                    </div>
                    <div class="level-progress-text">贡献值：<span>10000</span></div>
                </div>
            </div>
        </div>
        <div>
            <div class="img-box" data-tab="2">
                <img id="vip2" src="images/banner-vip2.jpg"/>
                <div id="vip2-jindutiao" class="level-progress-box level-progress-box2"><!-- 变灰色的时候加gray-class-->
                    <div class="level-progress">
                        <div class="level-progress-bar"></div>
                        <div class="level-progress-red">
                            <div class="level-progress-ico"></div>
                        </div>
                        <div class="level-progress-line1 level-progress-line"></div>
                        <div class="level-progress-line2 level-progress-line"></div>
                        <div class="level-progress-line3 level-progress-line"></div>
                        <div class="level-progress-line4 level-progress-line"></div>
                    </div>
                    <div class="level-progress-text">贡献值：<span>10000</span></div>
                </div>
            </div>
        </div>
        <div>
            <div class="img-box" data-tab="3">
                <img id="vip3" src="images/banner-vip3.jpg"/>
                <div id="vip3-jindutiao" class="level-progress-box level-progress-box3"><!-- 变灰色的时候加gray-class-->
                    <div class="level-progress">
                        <div class="level-progress-bar"></div>
                        <div class="level-progress-red">
                            <div class="level-progress-ico"></div>
                        </div>
                        <div class="level-progress-line1 level-progress-line"></div>
                        <div class="level-progress-line2 level-progress-line"></div>
                        <div class="level-progress-line3 level-progress-line"></div>
                        <div class="level-progress-line4 level-progress-line"></div>
                    </div>
                    <div class="level-progress-text">贡献值：<span>10000</span></div>
                </div>
            </div>
        </div>
        <div>
            <div class="img-box" data-tab="4">
                <img id="vip4" src="images/banner-vip4.jpg"/>
                <div id="vip4-jindutiao" class="level-progress-box level-progress-box4"><!-- 变灰色的时候加gray-class-->
                    <div class="level-progress">
                        <div class="level-progress-bar"></div>
                        <div class="level-progress-red">
                            <div class="level-progress-ico"></div>
                            <div class="level-progress-ico1"></div>
                        </div>
                        <div class="level-progress-line1 level-progress-line"></div>
                        <div class="level-progress-line2 level-progress-line"></div>
                        <div class="level-progress-line3 level-progress-line"></div>
                        <div class="level-progress-line4 level-progress-line"></div>
                    </div>
                    <div class="level-progress-text">贡献值：<span>10000</span></div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="about_swiper_txt" class="about_swiper_txt">
    <div class="slide-txt show">
        <div class="level-img level-img0 clearfix">

        </div>
    </div>
    <div class="slide-txt">
        <div class="level-img level-img1 clearfix">

        </div>
    </div>
    <div class="slide-txt">
        <div class="level-img level-img2 clearfix">

        </div>
    </div>
    <div class="slide-txt">
        <div class="level-img level-img3 clearfix">

        </div>
    </div>
    <div class="slide-txt">
        <div class="level-img level-img4 clearfix">

        </div>
    </div>
</div>
<div class="leave-btn"><a href="#" class="btn-red">查看升级攻略</a></div>

<script src="javascripts/slick.js"></script>
<script src="javascripts/index.js"></script>
{% endblock %}
