body {
  background-color: #ebebee;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
.order-status{
  margin-top:20px;
}
.order-address{
  background:#fff;
  margin-top:20px;
  padding-left:30px;
}
.goods-address-cnt {
  background: #fff url('../images/icon-address.png') no-repeat center left;

  .address-wrap{
    display: block;
    padding: 15px 30px 20px 62px;
    color: #333;
  }
  .inf {
    display: table;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 32px;
    .receiver {
      float: left;
    }
    .phone {
      float: right;
    }
  }
  .detail {
    line-height: 40px;
    color: #555;
    font-size: 26px;
    text-align:justify;

  }
}
.pro-order {
  padding: 0 0 0 30px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  margin-top: 20px;
  .list {
    position: relative;
    height:180px;
    padding: 30px 30px 30px 200px;
    border-bottom: 1px solid #e3e5ea;
    .list-img {
      position: absolute;
      top: 30px;
      left: 0;
      height: 180px;
      width: 180px;
    }
    .title {
      max-height: 80px;
      line-height: 40px;
      overflow: hidden;
      color: #555;
      font-size: 28px;
      text-align:justify;
    }
    .mark {
      div {
        display: inline-block;
        height: 28px;
        line-height: 28px;
        color: #6280a8;
        font-size: 20px;
        margin: 10px 20px 0 0;
        padding: 0 10px;
        border: 2px solid #6280a8;
        border-radius: 4px;
      }
    }
    .price-box {
      position: absolute;
      bottom: 30px;
      left: 200px;
      width: 490px;
      height: 38px;
      line-height: 38px;
      color: #555;
      font-size: 28px;
      .num-modifyBox{
        position:absolute;
        right:30px;
        bottom:0;
      }
    }
  }
  .num-box {
    border-bottom: 1px solid #e3e5ea;
    display: table;
    padding: 19px 30px 0 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 99px;
    .num-text {
      float: left;
      height: 62px;
      line-height: 62px;
      color: #555;
      font-size: 30px;
      padding-left: 10px;
    }
    .num {
      float: right;
      //border: 2px solid #ddd;
      height: 58px;
      display: table;
      div {
        float: left;
        width: 58px;
        height: 58px;
        line-height: 58px;
        background-color: #fff;
      }
      .value {
        width: 100px;
        overflow: hidden;
        font-size: 26px;
        text-align: right;
        color: #555;
        //border-right: 2px solid #ddd;
        //border-left: 2px solid #ddd;
      }
    }
    .minus, .plus {
      background: transparent url('') no-repeat center center;
    }
  }
  .total-box {
    height: 83px;
    line-height: 83px;
    color: #999;
    font-size: 26px;
    padding: 0 30px 0 0;
    .total-text {
      float: left;
      padding-right: 54px;
    }
    .total-money {
      float: right;
    }
  }
}
.order-details{
  margin-bottom:20px;
}
.order-number {
  background-color: #fff;
  border-top: 1px solid #d8d8d8;
  padding: 10px 20px 20px 30px;
  margin-top: 20px;
}
.order-number .title {
  height: 80px;
  line-height: 80px;
  font-size:28px;
}
.order-number .sequence {
  line-height: 40px;
  color: #999;
  font-size:24px;
}
