body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,b {
    margin: 0; padding: 0;}
body, html{position:relative;margin:0 auto;}
/*reset
html,body,p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{margin:0;padding:0;}*/
html{height:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased;}
body{background-color:#ebebee;color: #555; min-height:100%; font-size:1.4rem;height:auto!important; height:100%;}
body,button,input,select,textarea,h1,h2,h3,h4,h5,h6{font-family:"Microsoft YaHei",Arial,Helvetica,simhei,sans-serif;}
table{border-collapse:collapse; border-spacing:0;}
strong,b{font-weight:normal;}
em,i{font-style:normal;}
iframe{display:block;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
s{text-decoration:none;}
img{height:auto;vertical-align:top;border:0 none;outline:none;}
input[type="submit"],input[type="text"],input[type="tel"],input[type="number"],input[type="button"],input[type="password"]{-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-tap-highlight-color:transparent;line-height:normal;}
input,label,button,textarea,select{border:medium none;font-family:"Microsoft YaHei",Arial,Helvetica,simhei,sans-serif;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {display:block;margin:0;padding:0;outline: 0;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight:normal;}
input:focus{outline:0;}
a:active,a:focus{outline:0;}
a{text-decoration: none;}
ul, ol, li { list-style: none outside none;}
input[type=checkbox],input[type=radio] {
	vertical-align:middle;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#ccc;
}
textarea {
	overflow:auto;
	font:100% tahoma,\5b8b\4f53,arial;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.tc{
	text-align: center;
}
.tl{
	text-align: left;
}
.tr{
	text-align: right;
}
.fl{float: left;	}
.fr{float: right;	}
.fn{float: none;	}
.cp{cursor: pointer;}

.clearfix:after {
    content:'';
    display:block;
    height:0;
    clear:both;
}
.dis{display:none}
.clearfix {
    *zoom:1;
}
.bl{display: inline-block;}
/*定位*/
.rel{position: relative;}
.abs{position: absolute;}
.vert *{vertical-align:middle}
/*margin*/
.mo{margin:0 auto;}
.fwb{font-weight:bold;}
html {
    font-size: 62.5%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}
html{-webkit-text-size-adjust: none;}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}
/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

