body{background-color:#23344a;}
img{width:100%;height:auto;}
.pageNum{z-index:20;position:absolute;bottom:2% ;left:0;padding:0 0 0 4%;font-size:15px;color:#4b607f;}
.masker-alert{z-index:9999;display:none;position:absolute;left:0;top:0;height:100%;width:100%;background:rgba(0,0,0,0.85);}
.pop-alert{display:none;z-index:10000;position:fixed;left:0;top:20%;width:60%;padding:10% 10% 5%;margin:0 10%;background:#fff;-webkit-border-radius:5px;border-radius:5px;}
.pop-alert p{overflow-x:hidden;padding:5% 0 8%;line-height:20px;font-size:16px;text-align: center;color:#333;}
.pop-alert a{display:block;width:80%;height:42px;margin:0 10% 0;margin-top:15px;line-height:42px;text-align:center;font-size:16px;-webkit-border-radius:3px;border-radius:3px;color:#fff;background:#fd4d4c;}

#touchStyleLoading {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 1;
}
#touchStyleLoading .spinner {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 999;
  margin-top: -32px;
  margin-left: -32px;
  width: 64px;
  height: 64px;
  -webkit-border-radius:50%;
  border-radius:50%;
  border:4px solid #888;
  border-top-color: #2297bc;
  background-color: #fff;
  -webkit-animation: loadingSpin .5s infinite linear;
  -ms-animation: loadingSpin .5s infinite linear;
  animation: loadingSpin .5s infinite linear;
  overflow:hidden;
}
#touchStyleLoading .percent {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 9999;
  margin-top: -32px;
  margin-left: -32px;
  width: 64px;
  height: 64px;
  font-size: 14px;
  line-height: 64px;
  text-align: center;
  color: #333;
}
@-webkit-keyframes loadingSpin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-ms-keyframes loadingSpin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@keyframes loadingSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.swiper-slide-active{-webkit-box-shadow: 0 0 15px #000;-webkit-backface-visibility:hidden;}
.main{position: relative;overflow: hidden;}
#audio-btn{overflow: hidden;z-index:99;position:absolute;top:0;right:0;margin:2% 0 0 0;width:60px;}
#audio-btn img{width:100%;height:auto;}
.up{z-index:99;position:absolute;bottom:0%;left:42.5%;width:15%;-webkit-animation:up 1.8s ease-in infinite;}
.masker{z-index:999;position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(4,4,18,0.7);}
.date{height:19px;line-height: 19px;font-size:12px;color:#4b607f;}
.btn-login{color:#ffe25c;}
.login{padding:3% 0 0;color:#4c7ec4;}
.page7-text,.page6-text,.page5-text{z-index:80;position: absolute;top:0;left:0;width:100%;}
@-webkit-keyframes up{
  0%{bottom:0%;opacity: 0;}
  60%{bottom:3%;opacity: 1;}
  100%{bottom:5%;opacity: 0;}
}
.up img{width:100%;}
.on{-webkit-animation:on 2s linear infinite;}
@-webkit-keyframes on{
  0%{-webkit-transform: rotate(0);}
  100%{-webkit-transform: rotate(360deg);}
}
.c-ffe25c{color:#ffe25c;}
.sharemasker{display:none;z-index:999;position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);}
.share{display:none;z-index:1000;position:absolute;top:0;left:0;width:100%;}
.share-text{text-align:right;padding:0 17.6% 0 0;color:#fff;font-size:16px;}
/*首页*/
.page0{background-color:#23344a;}
.page0-1{width:100%}
.page0-2{z-index:2;position: absolute;top:0;left:0;width:100%;padding:31.11% 0 0;}
.swiper-slide-active .page0-2 img{-webkit-animation:on 4s linear infinite;}
.swiper-slide-duplicate .page0-2 img{-webkit-animation:on 4s linear infinite;}

.swiper-slide-duplicate .page0-3 img{-webkit-animation:page0-3 1s;}
.swiper-slide-active .page0-3 img{-webkit-animation:page0-3 1s;}
@-webkit-keyframes page0-3 {
  0% {
    opacity: 0;

    -webkit-transform: rotate(-100deg);
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }
  100% {
    -webkit-transform-origin: right;
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }
}
.swiper-slide-duplicate .page0-4 img{-webkit-animation:page0-4 2s;}
.swiper-slide-active .page0-4 img{-webkit-animation:page0-4 2s;}
@-webkit-keyframes page0-4 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  40% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.swiper-slide-duplicate .page0-5 img{-webkit-animation:page0-5 2.5s;}
.swiper-slide-active .page0-5 img{-webkit-animation:page0-5 2.5s;}
@-webkit-keyframes page0-5 {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0);
    transform: scale3d(0);
  }

  60% {
    opacity: 0;
    -webkit-transform: scale3d(0);
    transform: scale3d(0);
  }

  75% {
    -webkit-transform: scale3d(.7, .7, .7);
    transform: scale3d(.7, .7, .7);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.page0-3{z-index:3;position: absolute;top:0;left:0;width:100%;padding:0 0 0;}
.page0-4{z-index:4;position: absolute;top:0;left:0;width:100%;padding:31.11% 0 0;}
.page0-5{z-index:3;position: absolute;top:0;left:0;padding:122% 19.44% 0}
/*第一页*/
.page1{background-color:#23344a;}
.swiper-slide-active .page1-01{-webkit-animation:page1-01 0.6s;}
@-webkit-keyframes page1-01 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page1-02{-webkit-animation:page1-02 1s;}
@-webkit-keyframes page1-02 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page1-03{-webkit-animation:page1-03 1.5s;}
@-webkit-keyframes page1-03 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.page1-1{position:absolute;top:0;left:-13%;padding:98% 0 0;width:40.8%}
.page1-1 img{width:100%;-webkit-animation:on 7s linear infinite;}
.page1-2{z-index:2;position:absolute;top:0;right:-4.58%;padding:75.27% 0 0;width:13.75%}
.page1-2 img{width:100%;-webkit-animation:on1 6s linear infinite;}
@-webkit-keyframes on1{
  0%{-webkit-transform: rotate(360deg);}
  100%{-webkit-transform: rotate(0);}
}
.page1-3{z-index:3;position:absolute;top:0;right:0;padding:59.17% 3.61% 0 0;width:22.5%}
.page1-3 img{width:100%;-webkit-animation:on 9s linear infinite;}
.page1-4{z-index:4;position:absolute;top:0;right:0;padding:66.6% 15.27% 0 15.27%;}
.page1-4 img{width:100%;}
.page1-5{z-index:5;position:absolute;top:0;right:0;padding:66.6% 15.27% 0 15.27%;}
.swiper-slide-active .page1-5 img{width:100%;-webkit-animation:on 4s ease-out 0.8s 1;}
.page1-6{z-index:6;position:absolute;top:0;right:0;padding:66.6% 15.27% 0 15.27%;}
.swiper-slide-active .page1-6 img{width:100%;-webkit-animation:on 4s ease-out 0.4s 1;}
.page1-7{z-index:7;position:absolute;top:0;right:0;padding:66.6% 15.27% 0 15.27%;}
.swiper-slide-active .page1-7 img{width:100%;-webkit-animation:on 4s ease-out 0s 1;}
.swiper-slide-active .page1-8{-webkit-animation:fadeInLeft 1s linear 1;}
.page1-8{z-index:8;position:absolute;top:0;left:0;padding:73% 0 0 17.36%;width:23.67%;}
.page1-9{z-index:9;position:absolute;top:0;right:0;padding:78% 12.77% 0 0;width:28.61%;}
.swiper-slide-active .page1-9{-webkit-animation:fadeInRight 1s;}
.page1-10{z-index:10;position:absolute;top:0;right:0;padding:87.5% 31.38% 0 33.33%;}
.swiper-slide-active .page1-10{-webkit-animation:zoomIn 1.5s;}
.page1-0{padding:21.77% 0 0;text-align: center;color:#9fc0ec;font-size:15px;line-height:24px;}
.page1-03{line-height:46px;}
.page1-03 span{color:#ffe25c ;font-size:30px;}
/*第二页*/
.swiper-slide{overflow: hidden;}
.page2{background-color:#233247;}
.swiper-slide-active .page2-text1{-webkit-animation:page2-text1 0.6s;}
@-webkit-keyframes page2-text1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page2-text2{-webkit-animation:page2-text2 1s;}
@-webkit-keyframes page2-text2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page2-text3{-webkit-animation:page2-text3 1.5s;}
@-webkit-keyframes page2-text3 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.page2-text{padding:27% 0 0;text-align: center;font-size:14px;color:#9fc0ec;line-height:24px;}
.page2-text2{line-height:44px;}
.page2-text2 span{color:#ffe25c;}
.page2-text2 em{font-size:30px;color:#ffe25c;}
.page2-text3 span{color:#ffe25c;}
.page2-text3 em{font-size:30px;color:#ffe25c;}
.page2-0{z-index:2;position:absolute;top:0;left:-100%;padding:0 0 0;width:75.27%;}
.swiper-slide-active .page2-0{-webkit-animation:none1 0;position:absolute;top:0;right:0%;padding:60% 2% 0 0;width:40%;}
@-webkit-keyframes none1{
  0%{	opacity:1 ;
    -webkit-transform:translate3d(0,0,0);
  }
  100%{	opacity:1 ;
    -webkit-transform:translate3d(0,0,0);
  }
}
.page2-1{z-index:2;position:absolute;top:0;left:-100%;padding:0 0 0;width:75.27%;}
.swiper-slide-active .page2-1{-webkit-animation:slideInLeftUp 4s linear 2s infinite;}
.page2-2{z-index:3;position:absolute;top:0;left:0%;padding:65% 0 0;width:100%;}
.page2-3{z-index:4;position:absolute;top:0;left:0%;padding:65% 0 0;width:100%;}
.swiper-slide-active .page2-3{-webkit-animation:page2-3 1.2s ease-in;}
.page2-4{z-index:4;position:absolute;top:0;left:0%;padding:65% 0 0;width:100%;}
.swiper-slide-active .page2-4{-webkit-animation:page2-3 1s ease-in;}
.page2-5{z-index:4;position:absolute;top:0;left:0%;padding:65% 0 0;width:100%;}
.swiper-slide-active .page2-5{-webkit-animation:page2-3 0.4s ease-in;}
.page2-6{z-index:4;position:absolute;top:0;left:0%;padding:65% 0 0;width:100%;}
.swiper-slide-active .page2-6{-webkit-animation:page2-3 0.8s ease-in;}
.page2-7{z-index:4;position:absolute;top:0;left:0%;padding:65% 0 0;width:100%;}
/*第三页*/
.page3{background-color:#233247;}
.swiper-slide-active .page3-text1{-webkit-animation:page3-text1 0.6s;}
@-webkit-keyframes page3-text1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page3-text2{-webkit-animation:page3-text2 1s;}
@-webkit-keyframes page3-text2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page3-text3{-webkit-animation:page3-text3 1.5s;}
@-webkit-keyframes page3-text3 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.page3-text{padding:27% 0 0;text-align: center;font-size:15px;color:#9fc0ec;line-height:24px;}
.page3-text3{line-height:46px;}
.page3-text3 span{color:#ffe25c;}
.page3-text3 em{font-size:30px;color:#ffe25c;}
.page3-1{position:absolute;top:0;right:0%;padding:58.89% 3.89% 0 0;width:19.72%;}
.swiper-slide-active .page3-1{-webkit-animation:page3-1 2s ease-in infinite alternate;}
.page3-2{position:absolute;top:0;left:-3%;padding:118.75% 0 0 0;width:30%;}
.swiper-slide-active .page3-2{-webkit-animation:page3-2 2s linear infinite alternate;}
.swiper-slide-active .page3-3 img{-webkit-animation:page3-3 1.5s ease-out 2s;}
@-webkit-keyframes page3-3 {
  0% {
    -webkit-transform:rotateY(-0deg);
  }

  50% {
    -webkit-transform: rotateY(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform:rotateY(-720deg);
    opacity: 0;
  }
}
.page3-3{position:absolute;top:0;left:17.78%;padding:62.77% 0 0 0;width:65.69%;}
.page3-4{position:absolute;top:0;left:0%;padding:89.44% 0 0 13.88%;width:12.77%;}
.swiper-slide-active .page3-4{-webkit-animation:page3-4 1.5s linear infinite alternate;}
.page3-5{position:absolute;top:0;left:0%;padding:90.9% 0 0 73%;width:12.77%;}
.swiper-slide-active .page3-5{-webkit-animation:page3-5 1.5s linear infinite alternate;}
/*第四页*/
.page4{background:#233247 url(../img/p4-1.png) no-repeat 0 bottom;-webkit-background-size:100% auto;}
.swiper-slide-active .page4-text1{-webkit-animation:page4-text1 0.6s;}
@-webkit-keyframes page4-text1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page4-text2{-webkit-animation:page4-text2 1s;}
@-webkit-keyframes page4-text2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page4-text3{-webkit-animation:page4-text3 1.5s;}
@-webkit-keyframes page4-text3 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.page4-text{padding:15.2% 0 0;font-size:15px;color:#9fc0ec;line-height:22px;text-align: center;}
.page4-text3{font-size:23px;padding:3% 0 0;line-height:30px;}
.btn-page4{position:absolute;bottom:0;left:0;padding: 0 23% 23.2%;width:54%;}
.btn-page4 a{display: block;width:100%;height:40px;line-height:40px;color:#fff;font-size:18px;text-align: center;-webkit-border-radius:4px;background-color:#6892e8;}
.btn-page4 .btn-page42{margin:20px 0 0;background-color:#fb4451;}
.btn-page42 span{color:#fffb87;}
.pop-page4{z-index:1001;position:absolute;top:0;left:0;width:100%;}
.pop-page41{padding:41.25% 20.69% 0 19.86%;width:59.45%;}
.pop-page42{position:absolute;top:0;left:0;padding:35.83% 17.08% 0 73.61%;}
.pop-page43{padding:2.77% 23.47% 0 22.36%;}
.pop-page431{height:36px;line-height:36px;padding:0 20px 0 34px;font-size:13px;color:#787b82;border-bottom:1px solid #afafaf;background:rgba(255,255,255,8.4) url(../img/ico-per.png) no-repeat 10px center;-webkit-background-size:15px auto;-webkit-border-radius:4px 4px 0 0 ;}
.pop-page431 input{height:36px;width:100%;background-color:rgba(255,255,255,0) ;font-size:13px;}
.pop-page432{height:36px;line-height:36px;padding:0 20px 0 34px;font-size:13px;color:#787b82;background:rgba(255,255,255,8.4) url(../img/ico-password.png) no-repeat 10px center;-webkit-background-size:15px auto;-webkit-border-radius:0 0 4px 4px;}
.pop-page432 input{height:36px;width:100%;background-color:rgba(255,255,255,0) ;font-size:13px;}
.pop-page44{padding:0 1% 0 0;width:99%;text-align: center;color:#fb4451;font-size:11px;height:31px;line-height:31px;}
.pop-page45{padding:0 23.47% 0 22.36%;}
.pop-page45 div{height:40px;line-height:40px;font-size:18px;text-align: center;color:#fff;background-color:#fb4451 ;-webkit-border-radius:4px ;}
.sign{position:absolute;bottom:0;left:0;width:100%;padding:0 0 12.7%}
.sign1{padding:0 22.78% 0;}
.sign1 div{text-align: center;font-size:18px;height:40px;line-height:40px;color:#fff;background-color:#28384e;-webkit-border-radius: 4px;}
.sign2{text-align:center;height:91px;line-height:91px;color:#9fc0ec;font-size:15px;}
.sign2 span{color:#ffe25c;}
/*第五页*/
.page5{background-color:#233247;}
.swiper-slide-active .page5-text1{-webkit-animation:page5-text1 0.6s;}
@-webkit-keyframes page5-text1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page5-text2{-webkit-animation:page5-text2 1s;}
@-webkit-keyframes page5-text2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page5-text3{-webkit-animation:page5-text3 1.5s;}
@-webkit-keyframes page5-text3 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page5-text4,.swiper-slide-active .page5-text5{-webkit-animation:page5-text4 2.4s;}
@-webkit-keyframes page5-text4 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page5-12{-webkit-animation:page5-12 3s;}
@-webkit-keyframes page5-12 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.page5-text{padding:12% 0 0;color:#9fc0ec;font-size:15px;text-align:center;}
.pageNum{font-size:15px;color:#4b607f;}
.page5-text1{height:19px;line-height:19px;}
.page5-text2{line-height:40px;}
.page5-text2 span{font-size:28px;color:#ffe25c;}
.page5-text3{margin-top:-10px;line-height:40px;}
.page5-text3 span{font-size:28px;color:#fff;}
.page5-text3 em{color:#fff;}
.page5-1{position:absolute;top:0;left:0;width:100%;padding:62.91% 0 0;}
.page5-11{padding:0 21.11% 0;}
.page5-2,.page5-3,.page5-4{position:absolute;top:0;left:0;width:17.79%;padding:66.8% 62.63% 0 19.58%;}
.page5-3{z-index:3;}
.page5-4{z-index:4;}
.swiper-slide-active .page5-3 img{-webkit-animation:on 5s linear infinite;}
.swiper-slide-active .page5-4 img{-webkit-animation:on 40s linear infinite;}
.page5-12{height:36px;line-height:36px;color:#9fc0ec;font-size:15px;text-align: center;}
.page5-12 span{color:#ffe25c;}
/*第六页*/
.page6{background-color:#233247;}
.swiper-slide-active .page6-text1{-webkit-animation:page6-text1 0.6s;}
@-webkit-keyframes page6-text1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page6-text2{-webkit-animation:page6-text2 1s;}
@-webkit-keyframes page6-text2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page6-text3{-webkit-animation:page6-text3 1.5s;}
@-webkit-keyframes page6-text3 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page6-text4,.swiper-slide-active .page6-text5{-webkit-animation:page6-text4 2.4s;}
@-webkit-keyframes page6-text4 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page6-4{-webkit-animation:page6-4 3s;}
@-webkit-keyframes page6-4 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.page6-text{padding:8% 0 0;color:#9fc0ec;font-size:15px;text-align:center;}
.page6-text1 em,.page6-text2 em{color:#ffe25c;font-size:30px;}
.page6-text3 span{color:#fff;}
.page6-text3 em{color:#fff;font-size:30px;}
.page6-1{position:absolute;top:0;left:0;width:100%;padding:54.72% 0 0;}
.page6-2{z-index:2;position:absolute;top:0;left:0;width:100%;padding:54.72% 0 0;}
.page6-3{z-index:3;position:absolute;top:0;left:0;width:100%;padding:54.72% 0 0;}
.swiper-slide-active .page6-3{-webkit-animation:rotateInDownRight 1s ;}
.swiper-slide-active .page6-2 img{-webkit-animation:page6-2 1s linear;}
.page6-4{width:100%;padding:3% 0 0;text-align: center;color:#9fc0ec;font-size:15px;}
.page6-4 span{color:#ffe25c;}
/*第七页*/
.page7{background-color:#233247;}
.swiper-slide-active .page7-text1{-webkit-animation:page7-text1 0.6s;}
@-webkit-keyframes page7-text1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page7-text2{-webkit-animation:page7-text2 1s;}
@-webkit-keyframes page7-text2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page7-text3{-webkit-animation:page7-text3 1.5s;}
@-webkit-keyframes page7-text3 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page7-text4{-webkit-animation:page7-text4 2.4s;}
@-webkit-keyframes page7-text4 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page7-text5{-webkit-animation:page7-text5 3s;}
@-webkit-keyframes page7-text5 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-slide-active .page7-12{-webkit-animation:page7-12 3.5s;}
@-webkit-keyframes page7-12 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  80% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.page7-text{line-height:30px;padding:10% 0 0;width:100%;font-size:15px;color:#9fc0ec;text-align: center;}
.page7-text2 span,.page7-text3 span{color:#ffe25c;font-size:30px;}
.page7-text4 em{color:#fff;font-size:30px;}
.page7-text4 span{color:#fff;}
.page7-1{position:absolute;top:0;left:0;width:100%;padding:63.61% 0 0;}
.page7-12{text-align:center;line-height:40px;color:#9fc0ec;font-size:15px;}
.page7-12 span{color:#ffe25c;}
.page7-2{z-index:2;position:absolute;top:0;left:0;width:29.8%;padding:61% 0 0 64.7%;}
.swiper-slide-active .page7-2{-webkit-animation:page7-2 1s linear;}
.page7-3{z-index:3;position:absolute;top:0;left:0;width:18.33%;padding:68.05% 0 0 15.69%;}
.swiper-slide-active .page7-3{-webkit-animation:page7-3 1s linear;}
.page7-4{z-index:4;position:absolute;top:0;left:0;width:100%;padding:63.61% 0 0;}
.page7-5{z-index:5;position:absolute;top:0;left:0;width:7.5%;padding:109.06% 0 0 64.5%;}
.page7-6{z-index:6;position:absolute;top:0;left:0;width:8%;padding:108.5% 0 0 20.2%;}
.swiper-slide-active .page7-5{-webkit-animation:page7-5 .5s linear infinite alternate;}
.swiper-slide-active .page7-6{-webkit-animation:page7-6 0.7s linear infinite alternate;}
/*第八页*/
.page8{background-color:#233247;}
.page8-2{padding:8% 0 0;}
.page8-3{z-index:3;position:absolute;top:0;left:0;width:100%;padding:70.8% 0 0;text-align: center;color:#fff;font-size:15px;}
.page8-4{z-index:4;position:absolute;top:0;left:0;width:54.2%;padding:88% 22.9% 0;text-align: center;}
.page8-4 a{display:block;text-align:center;line-height:40px;font-size:18px;background-color:#fb4451;-webkit-border-radius:4px;color:#fff;}
.page8-4 .btn-get{margin-bottom:20px;background-color:#6892e8;}
.page8-5{z-index:3;position:absolute;top:0;left:0;padding: 124% 19.44% 0;}
.swiper-slide-active .page8-3{-webkit-animation:page8-3 1s}
@-webkit-keyframes page8-3 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.swiper-slide-active .page8-4{-webkit-animation:page8-4 1.5s}
@-webkit-keyframes page8-4 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  50% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.swiper-slide-active .page8-5 img{-webkit-animation:page8-5 2s}
@-webkit-keyframes page8-5 {
  0% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
  50% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes page6-2 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 6deg);
    transform: rotate3d(0, 0, 1, 6deg);
  }

  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    transform:  scale(0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
/*@-webkit-keyframes slideInLeftUp {
  0% {
    left:-100%;
    top:100%;
  }

  100% {
    left:100%;
    top:0%;
  }*/@-webkit-keyframes slideInLeftUp {
       0% {
         -webkit-transform: translate(-100%, 100%);
         /*left:-100%;
         top:100%;*/
       }

       100% {
         -webkit-transform: translate(0%, 100%);
         /*left:100%;
         top:0%;*/
       }
     }
@-webkit-keyframes page2-3 {
  0% {
    opacity: 0;
    padding-top:80%;
  }

  100% {
    opacity: 1;
    padding-top:65%;
  }
}
@-webkit-keyframes page3-1{
  0% {
    opacity: 0.9;
    padding-right:3.89%;
  }

  100% {
    opacity: 1;
    padding-right:10%;
  }
}
@-webkit-keyframes page3-2{
  0% {
    opacity: 0.9;
    padding-left:0;
  }

  100% {
    opacity: 1;
    padding-left:10%;
  }
}
@-webkit-keyframes page3-4{
  0% {
    opacity: 1;
    padding-top:92%;
  }

  100% {
    opacity: 1;
    padding-top:88%;
  }
}
@-webkit-keyframes page3-5{
  0% {
    opacity: 1;
    padding-top:93%;
  }

  100% {
    opacity: 1;
    padding-top:95%;
  }
}
@-webkit-keyframes page7-2{
  0% {
    opacity: 0;
    padding-left:58%;
    padding-top:69%;
  }
  50% {
    opacity: 0;
    padding-left:58%;
    padding-top:69%;
  }

  100% {
    opacity: 1;
    padding-top:61%;
    padding-left:64.7%;
  }
}
@-webkit-keyframes page7-3{
  0% {
    opacity:0 ;
    padding-left:30%;
    padding-top:80%;
  }
  50% {
    opacity:0 ;
    padding-left:30%;
    padding-top:80%;
  }
  100% {
    opacity:1;
    padding-top:68.05%;
    padding-left:15.69%;
  }
}

@-webkit-keyframes page7-5{
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 8deg);
    -webkit-transform:scale(0.9);
    opacity: 0.2;
  }

  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes page7-6{
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 14deg);
    transform: rotate3d(0, 0, 1, 14deg);
    -webkit-transform:scale(0.9);
    opacity: 0.2;
  }

  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
