.bottom-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: white;
}

.btn {
  flex: 1;
  display: block;
  text-align: center;
  font-size: 24px;
  color: gray;
}
