.bg-logo {
    display: block;
    margin: 50px auto;
}

.form {
    display: block;
    margin: 80px auto 30px;
    width: 400px;
    box-sizing: border-box;
}

.input {
    margin: 20px 0 0 0;
    width: 100%;
    font-size: 20px;
    padding: 12px 12px;
    display: block;
    position: relative;
    border-radius: 8px;
    box-sizing: border-box;
    border: 0;
}

.btn-login {
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background: white;
    color: #58a1fa;
    box-sizing: border-box;
    font-size: 20px;
}
