.bg-logo {
    display: block;
    margin: 140px auto 30px;
    width: 480px;
    height: 277px;
}

.form {
    display: block;
    position: relative;
    margin: 50px auto 30px;
    width: 590px;
    box-sizing: border-box;
}

.input {
    margin: 20px 0 0 0;
    width: 100%;
    font-size: 28px;
    padding: 12px 12px 12px 70px;
    display: block;
    position: relative;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #fbf7fc;
    background: #65a9fa;
    color: white;
    height: 75px;
}

.countdown {
    height: 75px;
    line-height: 75px;
    position: absolute;
    display: block;
    top: 95px;
    right: 20px;
    color: white;
    z-index: 3;
    font-size: 26px;
}

.input::placeholder {
    color: white !important;
}

.btn-login {
    display: block;
    margin: 0 auto;
    width: 590px;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background: white;
    color: #58a1fa;
    box-sizing: border-box;
    font-size: 30px;
}

.icon-phone {
    width: 75px;
    height: 75px;
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background: transparent url('../images/login/icon-phone.png') no-repeat center center;
}

.icon-close {
    width: 75px;
    height: 75px;
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 520px;
    background: transparent url('../images/login/icon-close.png') no-repeat center center;
}

.icon-code {
    width: 75px;
    height: 75px;
    display: block;
    position: absolute;
    z-index: 3;
    top: 95px;
    left: 0;
    background: transparent url('../images/login/icon-code.png') no-repeat center center;
}
