.statis-register-panel {
    text-align: center;
    color: white;
}

.big-unit {
    margin: 60px auto 0px;
    font-size: 22px;
}

.big-count {
    font-size: 60px;
}

.classification {
    height: 110px;
    display: flex;
    background: #1e92f5;
}

.c-statis {
  flex: 1;
  float: left;
}

.c-unit {
  font-size: 22px;
}

.c-count {
  font-size: 28px;
}
