html,body {
  background-color: #ebebee;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
::-webkit-input-placeholder{color:#999;}
input[type="text"],input[type="password"]{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}
.phone-tip{
  font-size:28px;
  color:#999;
  margin-top:50px;
  margin-left:30px;
}
.phone-tip span{
  color:#4aa1f9;
}
.input-wrap{
  margin-top:20px;
  height:98px;
  border-top:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
  background:#fff;
  position:relative;
}
.input-wrap input{
  width:403px;
  border:0;
  padding-left:30px;
  font-size:30px;
  height:98px;
  line-height:normal;
}
.msg-tip{
  display:inline-block;
  width:287px!important;
  text-align:center;
  font-size:30px!important;
  color:#fff;
  background: #ccc;
  outline: none;
}
.vertical-line{
  display:block;
  width:1px;
  height:34px;
  background:#e3e5ea;
  position:absolute;
  top:32px;
  left:403px;
}
.next-step{
  display:block;
  width:660px;
  height:84px;
  line-height:84px;
  background:#d2d4d5;
  border-radius:4px;
  font-size:36px;
  color:#fff;
  text-align:center;
  line-height:84px;
  margin:20px auto 0;
}
.next-step.active{
  background: #fd4d4c;
}
