{% extends '../../../lib/templates/wap_base.swig.html' %}

{% block title %}邀请攻略{% endblock %}

{% block content %}
<div class="strategy-box">
    <div class="top-des">
        <div class="top-text">
            好友注册后30天内(含注册当天)用户最高等级达到VIP1及以上<br/>，最高再送邀请人2400元工豆，工豆有效期30天。
        </div>
    </div>
    <div class="tips-box">
        <div class="title-tone">
            <img src="images/invite-one.jpg" class="one-pic">
            <span class="one-text">好友达到不同等级，送邀请人：</span>
            <div class="one-content">
                <div class="content-title">
                    <div class="ct-item i-one">注册30天内被邀请人达到的等级</div>
                    <div class="ct-item i-two">邀请人可得工豆(元)</div>
                    <div class="ct-item i-three">各等级需投资年化(元)</div>
                </div>
                <div class="content-text">
                    <div class="a-line even">
                        <div class="row r-one">VIP1</div>
                        <div class="row r-two">50</div>
                        <div class="row r-three">1,000-29,999</div>
                    </div>
                    <div class="a-line">
                        <div class="row r-one">VIP2</div>
                        <div class="row r-two">150</div>
                        <div class="row r-three">30,000-99,999</div>
                    </div>
                    <div class="a-line even">
                        <div class="row r-one">VIP3</div>
                        <div class="row r-two">750</div>
                        <div class="row r-three">100,000-199,999</div>
                    </div>
                    <div class="a-line">
                        <div class="row r-one">VIP4</div>
                        <div class="row r-two">1500</div>
                        <div class="row r-three">200,000以上</div>
                    </div>
                </div>
            </div>
            <div class="prompt">
                温馨提示：工豆会在好友注册后30天内(含注册当日)，根据好<br/><span style="padding-left: 119px;">友当时达到的相应等级实时发放相应的工豆。</span>
            </div>
        </div>
        <div class="title-two">
            <img src="images/invite-two.png" class="two-pic">
            <span class="two-text">案例说明：</span>
            <div class="case-text">
                工友A在2017年3月12日邀请了工友B，若工友B在注册后第<br/>
                10天（3月21日）等级升为VIP1，则工友A会得到价值50元<br/>
                工豆，若在第15天等级升为VP2，可再获价值150元工豆，<br/>
                共获得累计价值200元工豆；若工友B在注册后1天内等级升<br/>
                为VIP4，则工友A会得到价值2400元工豆（价值50元工豆+<br/>
                价值150元工豆+价值700元工豆+价值1500元工豆）。
            </div>
        </div>
    </div>
</div>
{% endblock %}
