body {
    background-color: #ebebee;
}

.hui-bank-cart {
    width: 584px;
    height: 288px;
    margin: 0 auto;
    padding: 20px 30px;
    background: url(../images/bank-card-back.png) no-repeat;

    .bank-id {
        margin: 50px 0 40px;
        text-align: center;
        font-size: 50px;
        line-height: 50px;
        color: #555;
    }

    .info {
        font-size: 26px;
        line-height: 40px;
        color: #999;
    }
}


.hui-shang-earnings {
    height: 286px;
    margin: 40px 0 24px 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fff;
    text-align: center;

    .earnings-title {
        height: 134px;
        padding: 20px 0 0 0;

        .text {
            color: #555;
            font-size: 32px;
            line-height: 50px;
        }

        .number-text {
            font-size: 56px;
            line-height: 60px;
            color: #fb6455;
            font-family: "Helvetica-Light";
        }
    }

    .info {
        height: 99px;
        padding: 32px 0 0 0;
        border-top: 1px solid #eff0f3;
        background-color: #f9f9f9;

        .paragraph {
            float: left;
            width: 33.333%;
            height: 68px;
            margin-left: -1px;
            border-right: 1px solid #ccc;

            .number-text {
                padding: 2px 0 0 0;
                font-size: 32px;
                line-height: 40px;
                color: #555;
                font-family: "HelveticaNeue-UltraLight";
            }

            .text {
                line-height: 22px;
                font-size: 20px;
                color: #999;
            }

            .c-fb6455 {
                color: #fb6455;
            }
        }

        .last {
            border-right: none;
        }
    }
}


.funds-flow {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;

    .title {
        height: 68px;
        padding: 0 35px;
        line-height: 68px;
        border-bottom: 1px solid #ebebee;
        background-color: #f9f9f9;
        color: #333;
        font-size: 28px;
    }

    .info {
        .paragraph {
            height: 116px;
            margin: 0 0 0 35px;
            padding-right: 26px;
            border-bottom: 1px solid #e3e5ea;

            .l {
                float: left;

                .info-title {
                    margin: 28px 0 0 0;
                    font-size: 32px;
                    line-height: 40px;
                    color: #333;
                }

                .text {
                    display: block;
                }

                .data-text {
                    font-size: 22px;
                    line-height: 30px;
                    color: #c8c8c8;
                    font-family: "HelveticaNeue-UltraLight";
                }
            }

            .r {
                float: right;

                .money-text {
                    line-height: 116px;
                    font-size: 32px;
                    color: #fd4d4c;
                }

                .c-4db94f {
                    color: #4db94f;
                }
            }
        }
    }
}