body {
    background-color: #ebebee;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

.vip-msg {
    height: 70px;
    padding: 0 28px 0;
    line-height: 70px;
    color: #fff;
    background-color: #5b6993;
    position: relative;
    .text {
        margin: 0;
        font-size: 24px;
        em {
            color: #fee8b7;
            font-style: normal;
        }
    }
}

.content {
    margin: 14px 0 0 0;
}

.ui-tab {
    height: 88px;
    overflow: hidden;
    border-top: 1px solid #d8d8d8;
    margin-bottom: 20px;
    background: #fff;
    .ui-tab-block {
        width: 130%;
        height: 88px;
        border-bottom: 1px solid #d8d8d8;
        position: relative;
        .ui-tab-li {
            float: left;
            width: 120px;
            height: 84px;
            text-align: center;
            background: #fff url(../images/line-icon.png) no-repeat center right;
            .text {
                line-height: 84px;
                font-size: 30px;
            }
        }
        .ui-select-li {
            .text {
                display: block;
                width: 120px;
                margin: 0 auto;
                color: #fd4d4c;
                border-bottom: 4px solid #fd4d4c;
            }
        }
    }
}

.vip-commodity-area {
    margin: 24px 0 0 0;
    overflow: hidden;
    border-top: 1px solid #e3e5ea;
    border-bottom: 1px solid #e3e5ea;
    background-color: #fff;
}

.ui-commodity-list {
    float: left;
    background-color: #fff;
    .li {
        height: 180px;
        margin: 0 0 0 16px;
        padding: 18px 10px 18px 0;
        border-bottom: 1px solid #e3e5ea;
        position: relative;
        .l {
            float: left;
            width: 180px;
            height: 180px;
            background-color: red;
        }
        .r {
            padding: 0 20px 0 200px;
        }
        .ui-commodity-list-name {
            font-size: 30px;
            line-height: 32px;
        }
        .ui-commodity-list-tag {
            height: 68px;
            margin: 10px 0 8px;
            .tag-text {
                float: left;
                height: 28px;
                margin: 0 10px 4px 0;
                padding: 0 5px;
                line-height: 28px;
                border: 2px solid #6280a8;
                color: #6280a8;
                font-size: 20px;
                border-radius: 4px;
            }
        }
        .ui-commodity-vip-msg {
            width: 474px;
            position: absolute;
            bottom: 20px;
            left: 200px;
            .ui-commodity-vip-msg-wrap {
                position: relative;
                width: 474px;
                height: 30px;
                overflow: hidden;
            }
            .mark-text {
                float: left;
                line-height: 30px;
                font-size: 28px;
                color: #fd4d4c;
            }
            .sales-text {
                float: right;
                line-height: 30px;
                font-size: 28px;
                color: #999;
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.products-list {
    padding: 0 10px;
    background-color: #fff;
    .empty-list {
        text-align: center;
        padding: 15px;
        font-size: 5vw;
    }
    .list-img {
        position: absolute;
        top: 20px;
        left: 0;
        width: 180px;
        height: 180px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        img {
            width: 100%;
            height: 100%;
        }
    }
    a {
        border-bottom: 1px solid #e3e5ea;
        &:last-child {
            border-bottom: none;
        }
        display: block;
        position: relative;
        padding: 15px 20px 18px 200px;
        height: 185px;
        .list-label {
            position: absolute;
            left: -10px;
            top: 10px;
            height: 60px;
            line-height: 60px;
            width: 60px;
            text-align: center;
            border-radius: 30px;
            color: #fff;
            font-size: 30px;
            background-color: #fd4d4c;
        }
        .list-price-box {
            position: absolute;
            bottom: 8px;
            left: 200px;
            width: 480px;
            height: 55px;
            line-height: 50px;
            display: table;
            .list-price {
                float: left;
                height: 55px;
                line-height: 50px;
                color: #fd4d4c;
                font-size: 28px;
                .list-price-num {
                    font-size: 38px;
                }
                .list-price-scorehide {
                    display: none;
                }
            }
            .list-sold {
                float: right;
                height: 55px;
                line-height: 50px;
                color: #999;
                font-size: 24px;
            }
        }
        .list-name {
            line-height: 38px;
            max-height: 76px;
            margin-bottom: 14px;
            font-size: 30px;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 3px;
        }
        .list-mark {
            color: #6280a8;
            font-size: 20px;
            line-height: 28px;
            display: table;
            width: 100%;
            div {
                float: left;
                padding: 0 10px;
                margin: 0 10px 4px 0;
                border: 2px solid #6280a8;
                border-radius: 4px;
            }
        }
    }
}

.closeBtn {
    display: block;
    //background: url(../images/close.jpg) no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 25px;
    right: 30px;
}

.tab-line {
    display: block;
    width: 130%;
    height: 1px;
    background: #d8d8d8;
    position: absolute;
    left: 0;
    bottom: 0;
}
