.hjInfo {
    width: 660px;
    height: 192px;
    padding: 40px 30px;
    background: #c6815f;
    color: #fff;
}

.infoName {
    font-size: 28px;
}

.infoCount {
    font-size: 60px;
}

.unit-hj {
    font-size: 32px;
}

.infoLine {
    width: 100%;
    font-size: 24px;
    display: table;
    margin-top: 10px;
}

.line1 {
    color: #f3baa9;
}

.lineLeft {
    float: left;
}

.lineRight {
    float: right;
}

.line2 {
    margin-top: 5px;
}

.hjPrice {
    width: 660px;
    height: 65px;
    padding: 30px;
    background: #fff;
    display: table;
    font-size: 24px;
    color: #999;
}

.priceItem {
    width: 33.3%;
    height: 100%;
    float: left;
}

.itemLast {
    float: right;
    width: 25%;
}

.itemLineUp {
    margin-bottom: 10px;
}

.itemLineDown {
    font-size: 26px;
    color: #555;
}

.icon-question {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../images/investor/account-hj/icon-wh-gray.png") no-repeat center;
    vertical-align: middle;
}

.icon-refresh {
    display: inline-block;
    width: 27px;
    height: 25px;
    background: url("../../images/investor/account-hj/icon-refresh.png") no-repeat center;
    vertical-align: middle;
}

.itemName {
    vertical-align: middle;
    margin-right: 5px;
}

.colorRed {
    color: #fd4d4c;
}

.zxGold {
    width: 660px;
    height: 28px;
    padding: 30px;
    background: #fff;
    margin-top: 20px;
    display: table;
    font-size: 30px;
    color: #555;
}

.goldLeft {
    float: left;
    vertical-align: middle;
}

.goldRight {
    float: right;
    width: 17px;
    height: 40px;
    vertical-align: middle;
    background: url("../../images/investor/account-hj/arrow.png") no-repeat center;
}

.accont {
    width: 660px;
    height: 84px;
    padding: 0 30px;
    background: #f9f9f9;
    margin-top: 20px;
    font-size: 28px;
    color: #333;
    line-height: 84px;
}

.tips {
    font-size: 18px;
    color: #999;
}

.remain {
    width: 660px;
    height: 90px;
    padding: 0 30px;
    background: #fff;
    font-size: 30px;
    color: #555;
    line-height: 90px;
}

.number {
    vertical-align: middle;
}

.icon-question-up {
    width: 24px;
    height: 24px;
    background: url("../../images/investor/account-hj/icon-wh-yellow.png") no-repeat center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.pop-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.pop {
    width: 529px;
    height: 442px;
    background: url("../../images/investor/account-hj/pop.png") no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.pop-title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: #333333;
    position: absolute;
    top: 20px;
}

.remind {
    text-align: left;
    font-size: 24px;
    color: #555;
    position: absolute;
    left: 60px;
    top: 100px;
    line-height: 36px;
}

.formula {
    text-align: left;
    position: absolute;
    left: 60px;
    top: 180px;
    color: #555;
    font-size: 22px;
}

.formula div {
    color: #ccc;
    margin-top: 6px;
}

.pop-close {
    position: absolute;
    bottom: 0;
    left: 238px;
    width: 54px;
    height: 54px;
    background: transparent;
}