.totalIncome {
    width: 660px;
    height: 140px;
    padding: 50px 30px 0 30px;
    background: #c6815f;
    display: table;
    color: #fff;
}

.incomeLeft {
    float: left;
    font-size: 28px;
}

.incomeRight {
    float: right;
    margin-top: 24px;
}

.incomeCount {
    font-size: 60px;
}

.incomeInfo {
    width: 660px;
    height: 60px;
    padding: 30px;
    background: #fff;
    display: table;
    margin-bottom: 20px;
}

.inIofoItem {
    width: 329px;
    height: 60px;
    font-size: 24px;
    color: #999;
}

.inIofoLeft {
    float: left;
    border-right: 1px solid #e3e5ea;
}

.inIofoRight {
    float: right;
    padding-left: 30px;
    width: 300px;
}

.incomeNum {
    font-size: 32px;
    color: #555;
}

.incomeItem {
    width: 690px;
    height: 62px;
    padding: 25px 0 0 30px;
    background: #fff;
}

.itemDes {
    width: 660px;
    padding-right: 30px;
    height: 62px;
    display: table;
    border-bottom: 1px solid #eff0f3;
}
.itemDes:nth-child(2){
    border-bottom: transparent;
}

.desLeft {
    float: left;
    font-size: 30px;
    color: #555;
}

.desRight {
    float: right;
    font-size: 26px;
    color: #999;
    height: 100%;
    line-height: 42px;
}

.rightText {
    vertical-align: middle;
}

.icon-arrow {
    display: inline-block;
    width: 17px;
    height: 28px;
    background: url("../../images/investor/account-zx/arrow.png") no-repeat center;
    margin-left: 5px;
    vertical-align: middle;
}