{% extends '../../../lib/templates/main_base.swig.html' %}

{% block viewport %}
<meta name="viewport" content="target-desitydpi=device-dpi,width=720, user-scalable=no" />
<meta name="renderer" content="webkit">
{% endblock %}

{% block title %}绑定银行卡锁定状态{% endblock %}


{% block js %}
<script src="javascripts/jquery-1.8.2.min.js"></script>
<script src="javascripts/index.js"></script>
<script type="text/javascript">

</script>

{% endblock %}


{% block content %}
<div id="layer"></div>
<div id="box"></div>
<div id="invad"></div>
<div id="bind"></div>
<div id="support"></div>
<div id="bran"></div>
<div id="warm"></div>
{% endblock %}



