html,body {
  background-color: #00548c;

}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
#more{
  position:absolute;
  bottom:30px;
  left:50px;
  height:44px;
  line-height:44px;
  width:560px;
  text-align: center;
  background-color: #64cfeb;
  font-size:26px;
  color:#0885a5;
  border-radius:8px;
}
.show{
  display:block;
}
.hide{
  display:none;
}
.invite-bg{
  width:720px;
  height:242px;
  padding-top:263px;
  background:url(../images/invite-bg.jpg) no-repeat;
  margin:0 auto;
}
#tab-content{
  width:660px;
  padding-top:30px;
  margin:0 auto;
  background:#3abddf;
}
.get-btn{
  width:280px;
  height:66px;
  line-height:66px;
  background:#ffd840;
  border-radius:8px;
  font-size:28px;
  color:#9d3000;
  text-align:center;
  margin:0 auto;
}
.tabs{
  width:490px;
  margin:75px auto 0;
  overflow:hidden;
}
.rule-item{
  font-size:26px;
  color:#fff;
  line-height:40px;
  margin-bottom:40px;
  max-height:9999999999px;
}
.tab-content-item-wrap1{
  width:600px;
  margin:0 auto;
}
.tab-content-item-wrap2{
  position: relative;
  width:560px;
  padding:0 50px 80px;
  margin:0 auto;
  background-color:#3abddf;
}
.tabs span{
  display:inline-block;
  width:222px;
  height:81px;
  font-size:0;
}
.tabs span.rule-btn{
  background:url(../images/ruleBtn.png) no-repeat;
  margin-right:25px;
  float:left;
}
.tabs span.rule-btn.selected{
  background:url(../images/ruleBtn-selected.png) no-repeat;
  float:left;
}
.tabs span.invite-btn{
  background:url(../images/invite.png) no-repeat;
  float:right;
}
.tabs span.invite-btn.selected{
  background:url(../images/invite-selected.png) no-repeat;
  float:right;
}
.invite-item{
  width:560px;
  height:55px;
  line-height:55px;
  font-size:26px;
  color:#fff;
  border-radius:8px;
  overflow:hidden;
}
.phone-num{
  display:inline-block;
  float:left;
  margin-left:30px;
}
.invite-status{
  display:inline-block;
  float:left;
  margin-left:60px;
}
.invite-date{
  display:inline-block;
  float:left;
  margin-left:55px;
}
.invite-item:nth-child(odd){
  background:transparent;
}
.invite-item:nth-child(even){
  background:#0e95b8;
}
.mask{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,.7);
  display:none;
}
.mask img{
  position:fixed;
  top:0;
  right:0;
}
