body {
    margin: 0;
}

.bg {
    background-color: #fff4ea;
    color: #a6421a;
    font-size: 16px;
    text-align: center;
}

.theme {
    box-sizing: border-box;
    height: 318px;
    padding: 72px 83px;
    margin-bottom: 97px;
    background-color: #fbd5b2;
}

.theme-text-container {
    box-sizing: border-box;
    width: 980px;
    padding-left: 87px;
    margin: auto;
    color: #fff;
    font-size: 62px;
}

.theme-text-lt {
    text-align: left;
}

.theme-text-lb {
    float: left;
    font-size: 24px;
}

.theme-text-rb {
    float: left;
    margin: -8px 0 0 12px;
}

.content {
    width: 980px;
    margin: auto;
    padding-bottom: 57px;
}

.title-text {
    margin-bottom: 10px;
}

.sub-title {
    line-height: 3.8;
}

.reward-state {
    width: 838px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto 64px;
    background-color: #fde8d5;
    border-radius: 23px;
    font-size: 14px;
}

.reward-state span {
    color: #fd4d4c;
}

.blue-anchor {
    cursor: pointer;
    display: inline;
    color: #4aa1f9;
}

.blue-anchor::before {
    content: '     ';
    white-space: pre;
}

.blue-anchor::after {
    content: '>';
}

.reward-invite-grp {
    height: 263px;
    margin-bottom: 33px;
}

.reward-invite {
    display: table;
    width: 440px;
    height: 263px;
    float: left;
}

.reward-invite-1 {
    composes: reward-invite;
    margin: 0 53px 0 17px;
    background: url('../images/pc/env-1.png');
    background-size: 100%;
}

.reward-invite-2 {
    composes: reward-invite;
    background: url('../images/pc/env-2.png');
    background-size: 100%;
}

.reward-invite-value {
    height: 93px;
    margin: 20px 0 0 140px;
    color: #ec3654;
}

.reward-invite-1 .reward-invite-value {
    margin: 20px 0 0 155px;
}

.reward-invite-value-lt {
    float: left;
    font-size: 70px;
    font-weight: bold;
    margin-right: 3px;
}

.reward-invite-value-r {
    float: left;
}

.reward-invite-value-rt {
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: 19px 0 0 3px;
    border-radius: 50px;
    background-color: #ec3654;
    color: #fff;
    font-size: 20px;
}

.reward-invite-condition {
    clear: left;
    width: 230px;
    line-height: 1.8;
    margin: 30px 0 0 120px;
    color: #fff;
}

.reward-invite-2 .reward-invite-condition {
    width: 200px;
    margin: 30px 0 0 140px;
}

.reward-invite-more {
    margin-bottom: 15px;
    font-size: 14px;
}

.invite-tip {
    margin-bottom: 155px;
    font-size: 14px;
}

.invest-link {
    text-decoration: none;
}

.reward-invest-grp {
    margin-top: 72px;
}

.reward-invest {
    display: inline-block;
    width: 319px;
    height: 267px;
    margin-bottom: 60px;
    color: #fff;
}

.reward-invest-1 {
    composes: reward-invest;
    background: url('../images/pc/basket-1.png');
    background-size: 100%;
}

.reward-invest-2 {
    composes: reward-invest;
    background: url('../images/pc/basket-2.png');
    background-size: 100%;
}

.reward-invest-3 {
    composes: reward-invest;
    background: url('../images/pc/basket-3.png');
    background-size: 100%;
}

.reward-invest-4 {
    composes: reward-invest;
    background: url('../images/pc/basket-4.png');
    background-size: 100%;
}

.reward-invest-5 {
    composes: reward-invest;
    background: url('../images/pc/basket-5.png');
    background-size: 100%;
}

.reward-invest-condition {
    width: 236px;
    margin: 145px auto 0;
}

.reward-invest-value {
    font-size: 50px;
    font-weight: bold;
}

.reward-invest-value span {
    font-size: 30px;
}

.invest-tip {
    margin-bottom: 60px;
    font-size: 14px;
}

.tip-title {
    margin: 0 0 0 20px;
    width: 143px;
    height: 52px;
    line-height: 52px;
    margin-bottom: 16px;
    border-radius: 26px;
    background-color: #fde8d5;
    font-size: 23px;
}

.tip {
    margin-left: 46px;
    font-size: 14px;
    line-height: 2.1;
    text-align: left;
}