{% extends '../../../lib/templates/wap_base.swig.html' %}

{% block title %}升级攻略{% endblock %}

{% block content %}
<div id="header"></div>

<div class="content">

    <div class="section section-1">
        <img class="title-img" src="images/update-title4.png">

        <div class="level-gift">
            <img src="images/update-level.png">
            会员投资送加息
        </div>
        <div class="level-gift">
            <img src="images/update-birthday.png">
            生日当天有惊喜
        </div>
        <div class="level-gift">
            <img src="images/update-bag.png">
            等级UP拿好礼
        </div>
        <div class="level-gift">
            <img src="images/update-waiting.png">
            更多特权
        </div>

        <img class="gift-title" src="images/gift-title.jpg">

        <table class="table-gift">
            <tr>
                <td>等级</td>
                <td>年化加息</td>
                <td>生日大礼包</td>
                <td>升级大礼包</td>
                <td>更多特权</td>
            </tr>
            <tr>
                <td class="bg-a">普通会员</td>
                <td class="bg-b" id="add-interest-text-0">-</td>
                <td class="bg-a" id="birthday-text-0">-</td>
                <td class="bg-b" id="level-text-0">-</td>
                <td class="bg-a" rowspan="5">敬请期待</td>
            </tr>
            <tr>
                <td class="bg-c">VIP1</td>
                <td class="bg-d" id="add-interest-text-1">-</td>
                <td class="bg-c" id="birthday-text-1">-</td>
                <td class="bg-d" id="level-text-1">-</td>
            </tr>
            <tr>
                <td class="bg-a">VIP2</td>
                <td class="bg-b" id="add-interest-text-2">-</td>
                <td class="bg-a" id="birthday-text-2">-</td>
                <td class="bg-b" id="level-text-2">-</td>
            </tr>
            <tr>
                <td class="bg-c">VIP3</td>
                <td class="bg-d" id="add-interest-text-3">-</td>
                <td class="bg-c" id="birthday-text-3">-</td>
                <td class="bg-d" id="level-text-3">-</td>
            </tr>
            <tr>
                <td class="bg-a">VIP4</td>
                <td class="bg-b" id="add-interest-text-4">-</td>
                <td class="bg-a" id="birthday-text-4">-</td>
                <td class="bg-b" id="level-text-4"></td>
            </tr>
        </table>

        <div class="comments" style="display: none;"> 备注: 因活动而增加的等级福利, 不在上述描述范围内</div>

		<div class="comments">
            温馨提示：奖励工豆起息后发放至您的工豆账户；灵活期限标起息后先发锁定期内的奖励，回款时发放剩余奖励；仅投资按月/季等额还款项目，最终年化加息率为您的等级年化加息率乘以0.56，0.56为借款方占用投资方的资金使用率。​
		</div>
    </div>

    <div class="section section-2">

        <img class="title-img" src="images/update-title1.png">

        <div class="paragraph">
            贡献值是衡量用户等级的标准，用户可以通过投资或邀请好友投资来获取贡献值。
        </div>

        <div class="paragraph value-formula">贡献值 = 投资贡献值 &plus; 邀友贡献值</div>

        <div class="value-describe">
            <div>
                投资贡献值：用户<span>实时待收</span>年化投资额度。
            </div>
            <div>
                邀友贡献值：
                <span id="limitDays2">30</span><span>天内</span>
                ，每成功邀请一位好友首投
                <span id="firstInvestAmount2">5000</span><span>元</span>
                ，邀请人获得
                <span id="sendStore2">1000</span>
                贡献值
            </div>
        </div>
    </div>

    <div class="section section-3">
        <img class="title-img" src="images/update-title2.png">
        <img class="example-img" src="images/c.jpg">
        <img class="example-img" src="images/d.jpg">
    </div>

    <div class="section section-4">
        <img class="title-img" src="images/update-title3.png">
        <div class="table table-level">
            <div class="cell cell-title cell-left">等级</div>
            <div class="cell cell-title cell-right">所需贡献值</div>

            <div class="cell cell-left cell-odd">普通会员</div>
            <div class="cell cell-right cell-odd" id="vip-0">0-999</div>

            <div class="cell cell-left cell-even">VIP1</div>
            <div class="cell cell-right cell-even" id="vip-1">1,000-29,999</div>

            <div class="cell cell-left cell-odd">VIP2</div>
            <div class="cell cell-right cell-odd" id="vip-2">30,000-99,999</div>

            <div class="cell cell-left cell-even">VIP3</div>
            <div class="cell cell-right cell-even" id="vip-3">100,000-199,999</div>

            <div class="cell cell-left cell-odd">VIP4</div>
            <div class="cell cell-right cell-odd" id="vip-4">200,000以上</div>
        </div>
    </div>

    <div class="section section-5">
        <img class="title-img" src="images/update-title5.png">

        <div class="text text-1">用户自身投资或邀友投资都可获得贡献值，等级实时增长。</div>
        <div class="text text-2">投资贡献值:用户实时待收年化投资额度，用户投资的金额会自动折算成年化投资额度。
            <div class="formula">计算公式：投资贡献值=投资金额 &times; 投资期限/360</div>
        </div>
        <div class="text text-3">
            邀友贡献值：
            <span id="limitDays">30</span>
            天内，用户每邀请一位好友注册并首投
            <span id="firstInvestAmount">5000</span>
            元，即可获得
            <span id="sendStore">1000</span>
            贡献值。30天内最高可累计
            <span id="maxSendStore">100000</span>
            贡献值（100位好友）。<span class="red">(A码用户不获取邀友贡献值)</span>
        </div>
        <div class="text text-4">用户回款、债权转让、流标后，您对应产品的投资贡献值会减少。</div>
        <div class="text text-5">若贡献值减少，但距离上次等级变更时间在30天以内，则保持当前等级；若超出30天，则对应实际的等级。</div>
        <div class="text text-6">用户贡献值、会员等级相关最终解释权归金融工场所有。</div>
    </div>
</div>
{% endblock %}
