html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.banklist{
  overflow:hidden;
  margin-top:25px;
  background:#fff;
  margin-bottom:150px;
}
.bank-branch{
  box-sizing: border-box;
  height:99px;
  line-height:99px;
  border-bottom:1px solid #e7e8ed;
}
.bank-name{
  font-size:30px;
  color:#555;
  float:left;
}
.bank-icon{
  width:118px;
  height:99px;
  float:left;
  text-align: center;

  img {
  	width: 56px;
	height: 56px;

  }
}
.know-btn{
  display:block;
  width:654px;
  height:84px;
  line-height:84px;
  background:#6aa4f0;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:0 auto;
}
.know-btn-wrap{
  width:720px;
  height:106px;
  padding-top:22px;
  background:#fff;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  box-shadow: 0 -5px 10px 0 rgba(50,50,50,.1);
}
