html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.banklist{
  overflow:hidden;
  margin-top:25px;
  background:#fff;
}
.bank-branch{
  box-sizing: border-box;
  width:50%;
  height:99px;
  border-right:1px solid #e7e8ed;
  line-height:99px;
  border-bottom:1px solid #e7e8ed;
  float:left;
}
.bank-name{
  font-size:30px;
  color:#555;
  float:left;
}
.bank-icon{
  width:118px;
  height:99px;
  float:left;
  text-align: center;

  img {
  	width: 80px;
	height: 80px;

  }
}
.know-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:37px auto 0;
}
