.bg{
    width: 100%;
    height: 100%;
    background: #eee;
}
.birthdayList{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 20px;
}
.person{
    width: 100%;
    padding: 25px 0;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e3e5ea;
    display: table;
}
.person img{
    float: left;
    vertical-align: middle;

}
.name{
    float: left;
    font-size: 26px;
    color: #555;
    margin: 0 10px;
}
.date{
    float: left;
    font-size: 22px;
    color: #999;
}
.des{
    float: right;
    font-size: 24px;
    color: #999;
    margin-right: 10px;
}
.person .arrow{
    float: right;
    margin-top: 5px;
}
.load{
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #999;
    padding: 20px 0;
}