.bg{
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
}
.header {
    width: 100%;
    display: table;
    height: 88px;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 2;
}

.btnBack {
    display: block;
    float: left;
    width: 80px;
    height: 88px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAvCAMAAADKIyriAAAANlBMVEUAAAChZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV4laCSdAAAAEXRSTlMANVOWEcuHY/JDHq2sk24qBSwN9qcAAABOSURBVDjL7dQ5EoAwDMXQHyDOwur7XxaG2uoZJmpfL4V1yyWW5E8FxTOKG4p3lDTkk3KiaEdRRdH60rwE1JxtGvYLu9gOoWWhwb/aVk03h7wUJoaUshAAAAAASUVORK5CYII=') no-repeat center;
}
.tabs {
    height: 56px;
    border: 1px solid #9b5b54;
    float: left;
    position: absolute;
    top: 15px;
    left: 142px;
    border-radius: 8px;
    display: table;
    overflow: hidden;
}

.tab {
    width: 220px;
    height: 56px;
    border-right: 1px solid #9b5b54;
    float: left;
    text-align: center;
    line-height: 56px;
    font-size: 28px;
    color: #9b5b54;
}
.tabActive {
    color: #fff;
    background: #9b5b54;
}
.dueList{
    margin-top: 120px;
}
.dueItem{
    width: 100%;
    height: 100%;
}
.dueDate{
    width: 100%;
    height: 75px;
    line-height: 75px;
    background: #f9f9f9;
    font-size: 26px;
    color: #333;
    box-sizing: border-box;
    padding: 0 30px;
}
.investorList{
    border-top: 1px solid #eff0f3;
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
}
.investor{
    margin-left: 30px;
    border-bottom: 1px solid #eff0f3;
    position: relative;
    height: 130px;
}
.investorName{
    font-size: 32px;
    color: #555;
    position: absolute;
    left: 0;
    top: 20px;
}
.investorAmount{
    font-size: 28px;
    color: #fc8f0e;
    position: absolute;
    right: 30px;
    top: 20px;
}
.investorAmountRed{
    font-size: 28px;
    position: absolute;
    right: 30px;
    top: 20px;
    color: #fd4d4c;
}
.investorText{
    font-size: 24px;
    color: #999;
    position: absolute;
    left: 0;
    top: 80px;
}
.empty{
    width: 100%;
    height: 100%;
    text-align: center;
}
.empty img{
    display: inline-block;
    vertical-align: middle;
    margin-top: 200px;
}