.bg{
    width: 100%;
    height: 100%;
    background: #e9eaee;
    position: relative;
    padding-bottom: 100px;
}
.bar{
    width: 100%;
    height: 262px;
    background: url('../../images/investor/info/barBg.jpg') no-repeat;
    display: table;
    padding-top:54px;
    margin-bottom: 20px;
}
.leftBar{
    float: left;
    margin: 0 30px 42px 48px;
    position: relative;
}
.level{
    width: 80px;
    height: 30px;
    background: #fde143;
    color: #91453a;
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    position: absolute;
    bottom: -16px;
    left: 14px;
    z-index: 2;
}
.rightBar{
    float: left;
    width: 388px;
    text-align: left;
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
    line-height: 36px;
}
.name{
    font-size: 36px;
}
.name span{
    font-size: 24px;
    color: #57210f;
}
.amount span{
    color: #fde143;
}
.time{
    font-size: 22px;
    color: #f3baa9;
}
.bottomBar{
    width: 100%;
    display: table;
    height: 60px;
    background: #904438;
    padding: 20px 0;
}
.itemBar{
    float: left;
    width: 33%;
    border-right: 1px solid #a3635a;
    text-align: center;
}
.itemBar:nth-child(3){
    border-right: transparent;
}
.itemBarNum{
    font-size: 32px;
    color: #fff;
}
.itemBarText{
    font-size: 22px;
    color: #f3baa9;
}
.info{
    margin: 20px 0;
    width: 100%;
    height: 100%;
}
.infoBox{
    width: 100%;
    display: table;
    padding: 30px 0 32px 0;
    border-bottom: 1px solid #e3e5ea;
    background: #fff;
    margin-top: 20px;
}
.infoItem{
    width: 50%;
    text-align: center;
    height: 60px;
    float: left;
    background: #fff;
    border-right: 1px solid #e3e5ea;
}
.infoItem:last-child{
    border-right: none;
    width: 49%;
}
.infoText{
    font-size: 24px;
    color: #999;
}
.infoValue{
    font-size: 32px;
    color: #555;
}
.pie{
    width: 100%;
    height: 310px;
    background: #fff;
}
.total{
    margin-top: 20px;
    padding: 48px 30px;
    background: #fff;
    border-bottom: 1px solid #e3e5ea;
}
.totalTitle{
    font-size: 28px;
    color: #555;
    margin-bottom: 24px;
}
.totalAmount{
    font-size: 28px;
    color: #fd4d4c;
}
.totalAmount span{
    font-size: 48px;
}
.investBox{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0 24px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.invest{
    width: 100%;
    padding: 30px 0;
    height: 60px;
    border-bottom: 1px solid #e3e5ea;
}
.invest:last-child{
    border: transparent;
}
.investItem{
    width: 50%;
    text-align: left;
    border-right: 1px solid #e3e5ea;
    float: left;
}
.investItem:nth-child(2n){
    width: 44%;
    border: transparent;
    padding-left: 30px;
}
.investTitle{
    font-size: 24px;
    color: #999;
}
.investAmount{
    font-size: 32px;
    color: #555;
}
.red{
    color: #fd4d4c;
}
.remark{
    width: 100%;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    padding: 0 30px;
    border-bottom: 1px solid #eaeaea;
    background: #f9f9f9;
}
.remarkTitle{
    font-size: 28px;
    color: #333;
    float: left;
}
.remarkAmend{
    float: right;
    font-size: 24px;
    color: #999;
}
.remark img{
    margin: 20px 0 0 10px;
    float: right;
}
.remarkText{
    width: 100%;
    padding: 40px 30px;
    box-sizing: border-box;
    line-height: 36px;
    font-size: 24px;
    color: #999;
    position: relative;
    background: #fff;
    margin-bottom: 20px;
}
.remarkDes{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.more{
    position: absolute;
    right: 30px;
    bottom:36px;
    font-size: 24px;
    color: #4aa1f9;
}
.more img{
    margin: -10px 0 0 10px;
    vertical-align: middle;
}
.account{
    width: 100%;
    padding-left: 30px;
    height: 264px;
    background: #fff;
    box-sizing: border-box;
}
.accountItem{
    width: 100%;
    height: 88px;
    line-height: 88px;
    color: #555;
    font-size: 30px;
    border-bottom: 1px solid #e3e5ea;
    display: table;
    padding-right: 30px;
    box-sizing: border-box;
}
.accountName{
    float: left;
}
.accountText{
    float: right;
}
.accountText span{
    color: #fd4d4c;
}
.accountText img{
    margin: -4px 0 0 10px;
    vertical-align: middle;
}
.tabBar{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 100px;
    width: 100%;
    display: table;
    background: #fff;
    box-shadow: 0px -5px 0px 0px #eae9e9,0px -5px 0px 0px #edecec,0px -5px 0px 0px #eeeded,
}
.tabBarItem{
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    color: #9b5b54;
    font-size: 22px;
}