.accumulatedTitle {
    width: 660px;
    height: 30px;
    padding: 30px;
    background: #fff;
    font-size: 26px;
    color: #555;
    display: table;
    margin-top: 20px;
}

.accumulatedTitle:first-child {
    margin-top: 0;
}

.aTitleUp .titleRight {
    background: url("../../images/investor/overview/icon-arrow-up.png") no-repeat center;
}

.aTitleDown .titleRight {
    background: url("../../images/investor/overview/icon-arrow-down.png") no-repeat center;
}

.titleLeft {
    float: left;
}

.titleRight {
    float: right;
    width: 26px;
    height: 35px;
}

.accumulatedText {
    width: 100%;
    height: auto;
    background: #f9f9f9;
}

.accumulatedLine {
    width: 660px;
    margin-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #e3e5ea;
    display: table;
    height: 53px;
    line-height: 53px;
    font-size: 24px;
    color: #555;
}

.lineLeft {
    float: left;
}

.lineRight {
    float: right;
}