.area {
    width: 660px;
    height: 740px;
    padding: 30px;
    background: #fff;
    font-size: 26px;
    color: #999999;
    resize: none;
    border: none;
    margin-bottom: 40px;
    position: absolute;
    top: 88px;
}

.area::-webkit-input-placeholder {
    text-align: right;
    padding-top: 700px;
    color: #cdcdcd;
}

.btnKeep {
    width: 660px;
    height: 74px;
    margin: 0 auto;
    text-align: center;
    line-height: 74px;
    background: #c6815f;
    border-radius: 4px;
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: 935px;
    left: 30px;
}