.bg{
    width: 100%;
    height: 100%;
    background: #ebebee;
}
.header {
    width: 100%;
    display: table;
    height: 88px;
    background: #fff;
    border-bottom: 1px solid #e4e5ea;
    position: fixed;
    top: 0;
    z-index: 2;
}

.btnBack {
    display: block;
    float: left;
    width: 80px;
    height: 88px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAvCAMAAADKIyriAAAANlBMVEUAAAChZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV6hZV4laCSdAAAAEXRSTlMANVOWEcuHY/JDHq2sk24qBSwN9qcAAABOSURBVDjL7dQ5EoAwDMXQHyDOwur7XxaG2uoZJmpfL4V1yyWW5E8FxTOKG4p3lDTkk3KiaEdRRdH60rwE1JxtGvYLu9gOoWWhwb/aVk03h7wUJoaUshAAAAAASUVORK5CYII=') no-repeat center;
}
.tabs {
    height: 56px;
    border: 1px solid #9b5b54;
    float: left;
    position: absolute;
    top: 15px;
    left: 142px;
    border-radius: 8px;
    display: table;
    overflow: hidden;
}

.tab {
    width: 220px;
    height: 56px;
    border-right: 1px solid #9b5b54;
    float: left;
    text-align: center;
    line-height: 56px;
    font-size: 28px;
    color: #9b5b54;
}
.tabActive {
    color: #fff;
    background: #9b5b54;
}