{% extends '../../../lib/templates/mall_base.swig.html' %}
{% block title %}豆尔摩斯{% endblock %}
{% block content %}

<div id="touchStyleLoading">
    <div class="percent">0%</div>
    <div class="spinner"></div>
</div>
<div class="main">
    <!--音乐-->
    <div id="audio-btn" style="display: block;">
        <audio id="media" loop="true" autoplay="autoplay">
            <source src="http://10.105.6.217:8046/jrgc/100/bg1.mp3" type="audio/mpeg"/>
            请使用支持html5的浏览器。
        </audio>
        <img src="images/music.png" class="on">
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper" id="swiper-wrapper">
            <section class="swiper-slide page0">
                <div class="p0-0"><img src="images/p0-0.jpg"/></div>
                <div class="p0-1"><img src="images/p0-1.png"/></div>
                <div class="p0-2"><img src="images/p0-2.png"/></div>
                <div class="p0-3"><img src="images/p0-3.png"/></div>
                <div class="p0-4"><img src="images/p0-4.png"/></div>
            </section>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="up"><img src="images/up.png"></div>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{% endblock %}
