{% extends '../../../lib/templates/mall_base.swig.html' %}
{% block title %}豆尔摩斯年度大揭秘{% endblock %}
{% block content %}

<div id="touchStyleLoading">
    <div class="percent">0%</div>
    <div class="spinner"></div>
</div>
<div class="main">
    <!--音乐-->
    <div id="audio-btn" style="display: block;">
        <audio id="media" loop="true" autoplay="autoplay">
            <source src="https://static.9888.cn/audio/wap/1484533465588.mp3" type="audio/mpeg"/>
            请使用支持html5的浏览器。
        </audio>
        <img src="images/music1.png" class="music1 on">
        <img src="images/music2.png" class="music2">
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper" id="swiper-wrapper">
            <section class="swiper-slide page0">
                <div class="p0-1"><img src="images/p0-1.png"/></div>
                <div class="p0-2"><img src="images/p0-2.png"/></div>
                <div class="p0-3"><img src="images/p0-3.png"/></div>
                <div class="p0-3-1"><img src="images/p0-3.png"/></div>
                <div class="p0-4"><img src="images/p0-4.png"/></div>
            </section>
            <section class="swiper-slide page1">
                <div class="p1-masker"></div>
                <div class="p1-0"><img src="images/p1-1.png"/></div>
                <div class="p1-text">
                    <div class="p1-text1">一个致力于赚钱的组织</div>
                    <div class="p1-text1">他们的宗旨是解决钱生钱问题</div>
                    <div class="p1-text1">圆人民群众的财富梦想</div>
                </div>
                <div class="p1-num-box">
                    <div class="p1-num">截止至今已有<span id="p1-num">938934</span>名</div>
                    <div class="p1-num-text">优秀的豆尔摩斯加入了我们</div>
                </div>
                <div class="p1-1"><img src="images/p1-2.png"/></div>
                <div class="p1-2">
                    <a href="#" class="p1-2-1"><img src="images/p1-0.png"/></a>
                    <div class="p1-2-2">（登录个人账户后继续观看）</div>
                </div>
            </section>
            <section class="swiper-slide page2">
                <div class="p1-masker"></div>
                <div class="p2-0">
                    <img src="images/p2-0.png" class="p2-0-0"/>
                    <div class="p2-0-1">张**</div>
                    <div class="p2-2-2">2015年3月30日</div>
                    <div class="p2-2-3"><img src="images/p2-1.png"/><span id="p2-2-3">31523</span><img src="images/p2-3.png"/></div>
                </div>
            </section>
            <section class="swiper-slide page3">
                <div class="p1-masker"></div>
                <div class="p3-1">截止今日</div>
                <div class="p3-2">你已在组织累计投资 <span id="p3-2">206</span> 笔</div>
                <div class="p3-3">共计 <span id="p3-3">987261.28</span> 元</div>
                <div class="p3-4">组织共奖励你</div>
                <div class="p3-5"><span id="p3-5">987261.28</span>元<img src="images/p3-1.png" id="p3-5-img"/></div>
                <div class="p3-6"><img src="images/p3-2.png"></div>
                <div class="p3-7">
                    <img src="images/p3-3.png">
                    <div class="p3-7-text">这些奖励够买<span id="smoke-num">200</span>个烟斗，<span id="cloth-num">20</span>件风衣</div>
                </div>
            </section>
            <section class="swiper-slide page4">
                <div class="p1-masker"></div>
                <div class="p4-0">
                    <div class="p4-0-1">2016年</div>
                    <div class="p4-0-2">你一共进行了<span id="p4-0">39</span>次神秘投资</div>
                </div>
                <div class="p4-1">
                    <div class="p4-1-1">经分析</div>
                    <div class="p4-1-2">你对期限<span id="p4-1">12月以上</span>的项目情有独钟</div>
                </div>
                <div class="p4-2">
                    <div class="p4-2-1">你更喜欢</div>
                    <div class="p4-2-2">在<span id="p4-2">14:00-18:00</span>之间入手项目</div>
                </div>
                <div class="p4-3">
                    <div class="p4-3-1"><img src="images/p4-4.png"></div>
                    <div class="p4-3-2"><img src="images/p4-text1.png" id="p4-3-2"></div>
                </div>
            </section>
            <section class="swiper-slide page5">
                <div class="p1-masker"></div>
                <div class="p5-0">2016年，作为一名合格的豆尔摩斯</div>
                <div class="p5-1">你一共投资<span id="p5-1">123213.23</span>元</div>
                <div class="p5-2"><span>被组织评选为</span><img src="images/p5-level-1.png" id="p5-2"/></div>
                <div class="p5-3"><img src="images/p5-1.png"/></div>
                <div class="p5-4"><img src="images/p5-2.png"/></div>
                <div class="p5-5"><img src="images/p5-3.png"/></div>
            </section>
            <section class="swiper-slide page6">
                <div class="p1-masker"></div>
                <div class="p6-0"><img src="images/p6-0.png"/></div>
                <div class="p6-1"><img src="images/p6-1.png"/></div>
                <div class="p6-2"><img src="images/p6-2.png"/></div>
                <div class="p6-3"><img src="images/p6-3.png"/></div>
                <div class="p6-4"><img src="images/p6-4.png"/></div>
                <div class="p6-5"><img src="images/p6-5.png"/></div>
                <div class="p6-6"><img src="images/p6-6.png"/></div>
                <div class="p6-7"><img src="images/p6-7.png"/></div>
                <div class="p6-8"><img src="images/p6-8.png"/></div>
            </section>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="pop-detail-box">
        <div class="pop-detail">
            <div class="ul">
                <div class="li">
                    <div class="li-text">已收利息</div>
                    <div class="li-r" id="li-r1">2123.45元</div>
                </div>
                <div class="li">
                    <div class="li-text">待收利息</div>
                    <div class="li-r" id="li-r2">2123.45元</div>
                </div>
                <div class="li">
                    <div class="li-text">返现券</div>
                    <div class="li-r" id="li-r3">2123.45元</div>
                </div>
                <div class="li">
                    <div class="li-text">工豆收益</div>
                    <div class="li-r" id="li-r4">2123.45元</div>
                </div>
                <div class="li">
                    <div class="li-text">余额收益</div>
                    <div class="li-r"  id="li-r5">2123.45元</div>
                </div>
            </div>
            <div class="pop-close"></div>
        </div>
    </div>
    <div class="up"><img src="images/up.png" class="up-mark"><img src="images/up-text1.png" class="up-text"><img
        src="images/up.png" class="up-mark"></div>
    <div class="pop-share">
        <div class="share-img"><img src="images/share.png"/></div>
        <div class="share-text">fenxiang</div>
    </div>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{% endblock %}
