{% extends '../../../lib/templates/wap_base.swig.html' %}

{% block title %}注册协议{% endblock %}

{% block content %}

<div id="header"></div>

<div class="content">

    欢迎阅读工场尊享用户协议。本协议将详述您在域名为 www.gongchangzx.com/cn 的互联网网站（以下简称“工场尊享”）使用本公司服务所须遵守的条款和条件。
    <br/><br/>您成为工场尊享用户前，必须阅读、同意并接受本协议中所含的所有条款和条件，包括以下明示载明的及因被提及而纳入的文件、条款和条件。本公司强烈建议：您阅读本协议时，也应阅读本协议所提及的其他网页中所包含的资料，因为其可能包含对作为工场尊享用户的您适用的进一步条款和条件。请注意：点击划有底线的词句即可链接到相应网页。

    <br/><br/>您申请注册为工场尊享用户，表明您已经充分阅读、理解并无任何附加条件地接受了本协议中含有的所有条款和条件，包括本协议中载明的及因被提及而纳入的所有文件、条款和条件。
    <br/><br/>一、用户资格
    <br/><br/>1.1 本公司的服务仅向法律规定的能够签订有法律约束力文件的个人、企业及其他组织提供并由其使用。
    <br/><br/>1.2 尽管有前述的规定，但本公司的服务不向18周岁以下的个人及被本公司临时或无限期中止提供服务的工场尊享用户提供。
    <br/><br/>1.3 若您不符合本协议规定的用户资格，请您切勿使用本公司的服务。

    <br/><br/>二、用户账户和密码的使用、保管
    <br/><br/>2.1 您的工场尊享账户的用户名和密码仅限于您本人使用，不得向任何第三方转让或出售。您确认：通过您的用户名和密码进行的一切操作均代表您本人，您对使用该用户名和密码所进行的操作负完全责任。

    <br/><br/>2.2
    您的工场尊享账户的用户名和密码由您自行保管，因黑客、病毒或本人保管疏忽等非本公司原因导致用户名和密码泄露造成您的任何损失，本公司不承担任何责任。若您发现有第三人冒用或盗用您的用户名和密码，或其他任何未经合法授权使用的情形，您应立即以有效方式通知本公司暂停相关服务，否则由此产生的一切损失均由您本人承担。同时，您理解本公司对您的请求采取行动需要合理期限，在此之前，本公司对第三人使用该服务所导致的损失不承担任何责任。

    <br/><br/>三、服务和费用
    <br/><br/>3.1 服务
    <br/><br/>3.1.1 本公司所提供服务的宗旨：为所有有需求投资且合法的企业及个人提供投资的信息和金融服务的中介服务。
    <br/><br/>3.1.2 投融资双方自行确认发布的信息，本网站对于信息情况不承担任何责任；对于本公司未参与的合同，双方发生纠纷的，视为与本公司无任何关联，本公司不予以负责或赔偿任何损失。

    <br/><br/>3.1.3 对于本公司提供金融服务和中介服务的，当与客户另行签订合作协议。一切权利与义务以合作协议为准，与本服务条款不发生任何牵连关系。
    <br/><br/>3.1.4 在不违反适用法律的强制性规定的前提下，本公司向您提供的服务有可能会发生变更或者增加。

    <br/><br/>3.2 费用
    <br/><br/>3.2.1 除通过工场尊享在线签署的电子合同另有约定外，您注册为工场尊享网站用户并使用本公司所提供的服务是免费的。
    <br/><br/>3.2.2 尽管有3.2.1条款的约定，但本公司在适用法律许可的前提下，有权自行决定是否对本公司所提供的服务收取费用及收费方式等，惟该等关于费用收取的变更将至少提前于该等变更生效之日[ 7
    ]日并在工场尊享网站以发布公告的方式通知您，您对该等通知方式予以认可并接受。若您在该等变更后继续使用本公司所提供的服务，则表示您认可、接受并愿意执行变更后的收费标准和收费方式。
    <br/><br/>3.3 其他
    <br/><br/>3.3.1 您使用本公司所提供服务过程中的其他支出，包括但不限于网络使用费、通信费、资料快递费等，由您自行承担。
    <br/><br/>3.3.2 您因使用本公司所提供服务完成的交易而取得的收入，应当由您按照所适用法律规定承担相应的税费。
    <br/><br/>四、您的资料
    <br/><br/>4.1
    您的资料包括：您在注册、登录等使用本公司服务过程中、在任何公共信息区域（包括留言栏或反馈区）或通过任何电邮形式或手机短信等向本公司或其他用户提供的任何资料。您对您的资料负全责，而本公司及工场尊享网站仅作为您在网上分发及公布您的资料的渠道。
    <br/><br/>4.2
    您的资料不得：具有欺诈性、虚假、不准确或具误导性；侵犯任何第三方著作权、专利权、商标权、商业秘密或其他专有权利或发表权或隐私权；违反任何适用的法律或法规；有侮辱或者诽谤他人，侵害他人合法权益的内容；有淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的内容；包含可能破坏、改变、删除、不利影响、秘密截取、未经授权而接触或征用任何系统、数据或个人资料的任何病毒、特洛依木马、蠕虫、定时炸弹、删除蝇、复活节彩蛋、间谍软件或其他电脑程序；直接或间接链接至您无权链接或列入的任何网址或者内容。若您的资料具有上述情形之一的，本公司有权暂停或终止对您提供相关服务，由此导致的损失（包括直接和间接的）均由您本人承担。
    <br/><br/>4.3
    许可您为使本公司能够使用您向本公司提交的资料，使本公司不违反您可能在该资料中拥有的任何权利之目的，同意向本公司授予非独占、全球性、永久、不可撤消、免使用费、可分许可（通过多层许可的方式）的权利，以行使您在您的资料（在任何已知或目前为未知媒体中）享有的与您的资料有关的相关权利。本公司将根据《隐私政策》使用您的资料。
    <br/><br/>4.4 您有义务维持并更新您的基本资料（特别是银行账户信息），因您未及时更新相关资料导致本公司无法提供服务或提供服务时发生任何错误的，本公司不承担任何责任。
    <br/><br/>4.5 如您通过签署有关协议等方式获得其他用户的个人资料，您同意不将该等个人资料用于其他用途，除非该等信息根据适用的法律法规规定被政府部门或司法部门要求披露。
    <br/><br/>五、信用评价系统
    <br/><br/>您不得采取可能破坏信用评价系统真实性、完整性的任何行为。本公司有权按照《信用评价规则》中止或者终止您的用户资格，在这种情况下，您将无法登录或发布投资信息。
    <br/><br/>5.1
    您理解您的信用包含其他用户留下的意见和以此为依据所编制的综合信用评价数字，每次的信用评价都应有用户意见作为作出此次评价的说明，不带用户意见的综合数字不反映您的此次完整信用评价。鉴于信用评价仅为促进用户之间的交易之目的而设计，您同意您不得将您的信用评价在工场尊享以外的任何场所推销出售或以其他方式输出。
    <br/><br/>5.2 本公司不提供使您能够从其他网站向工场尊享输入信用评价的技术能力。
    <br/><br/>六、进入和干扰
    <br/><br/>6.1 未经本公司明示或者书面准许，您不能为了任何目的使用任何机器人、蜘蛛软件、刷屏软件或其他自动方式进入网站。
    <br/><br/>6.2 此外，您同意您将不会：
    <br/><br/>(i) 进行任何对本公司内部结构造成或可能造成（按本公司自行酌情确定）不合理或不合比例的重大负荷的行为；
    <br/><br/>(ii) 未经本公司和适当第三方（如适用）事先明示书面准许，对网站的任何内容（除您的资料以外）制作拷贝、进行复制、修改、制作衍生作品、分发或公开展示；
    <br/><br/>(iii) 干扰或试图干扰网站的正常工作或网站上进行的任何活动；
    <br/><br/>(iv) 越过本公司可能用于防止或限制进入网站的机器人排除探头或其他形式。
    <br/><br/>七、欺诈
    <br/><br/>在不限制所使用法律规定的或本协议约定的本公司可取得的任何其它救济的前提下，如本公司通过任何方式，包括但不限于本公司自行酌情决定的方式，怀疑您参与了与本公司及工场尊享有关的欺诈活动，本公司可全权酌情决定中止或终止您的账户。
    <br/><br/>八、违约
    <br/><br/>在不限制其它救济的前提下，如发生以下情形，本公司可能限制您的活动并立即删除您的投资需求信息，并在工场尊享网站上发出有关您的行为的警告、发出警告通知、暂时中止、无限期地中止或终止您的用户资格及拒绝向您提供服务：
    <br/><br/>8.1 您违反本协议或纳入本协议的文件；
    <br/><br/>8.2 本公司无法核证或验证您向本公司提供的任何资料；
    <br/><br/>8.3 本公司相信您的行为可能对您、本公司用户或本公司造成损失或法律责任。
    <br/><br/>九、隐私保护
    <br/><br/>工场尊享设有适用于所有用户并纳入用户协议的《隐私政策》。本公司现有的《隐私政策》可从网址为www.gongchangzx.com/cn的网页获取。您在作为工场尊享用户期间将受其规定（及本公司对隐私政策作出的任何修订）的约束。
    <br/><br/>十、不保证
    <br/><br/>10.1 本公司以“按现状”的方式提供本公司网站和服务，而不带有任何保证或条件，无论该等保证或条件是明示、默示或法定的。
    <br/><br/>10.2 本公司对本公司的服务商向用户提供的服务不提供任何形式的承诺或保证。
    <br/><br/>10.3 本公司不就持续地、不受影响地或安全地接触并接受本公司服务作出担保，且本公司网站的经营可能受本公司无法控制的多种外部因素影响。
    <br/><br/>十一、特别声明
    <br/><br/>11.1 本公司并不实质性介入您与其他用户之间的交易，对此，您充分理解并认可。
    <br/><br/>11.2
    你无任何附加条件的接受，本公司、本公司的关联公司和相关实体或本公司的服务商在任何情况下均不就因本公司的网站、本公司的服务或本协议而产生或与之有关的利润损失或任何特别、间接或直接性的损害（无论以何种方式产生，包括疏忽）承担任何责任。
    <br/><br/>11.3 您同意就您自身行为之合法性单独承担责任。您同意，本公司和本公司的所有关联公司和相关实体对本公司用户的行为的合法性及产生的任何结果不承担责任。
    <br/><br/>11.4 您同意并接受本服务条款，视同您同意并接受工场尊享以短信、彩信和邮件等形式的营销行为。
    <br/><br/>11.5
    工场尊享网站上所有的内容，包括但不限于著作、图片、档案、资讯、资料、平台架构、平台画面的安排、网页设计均由本公司或其他权利人依法拥有知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。任何未经本公司或其他权利人书面授权，擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表工场尊享网站的程序或内容的行为均是违法行为，本公司保留追究相关使用人法律责任的权利。

    <br/><br/>十二、补偿及责任免除
    <br/><br/>12.1
    就任何第三方提出的，由于您违反本协议或纳入本协议的条款和规则或您违反任何法律或侵犯第三方的权利而产生或引起的任一种类和性质的任何索赔、要求、诉讼、损失和损害（包括直接或间接的），无论是已知或未知的，包括合理的律师费，您同意就此对本公司和（如适用）本公司的母公司、子公司、关联公司、合作伙伴、高级职员、董事、代理人和雇员进行补偿并使其免受损害。
    <br/><br/>12.2 在任何情况下，对于您使用本公司服务过程中涉及由第三方提供相关服务的责任由该第三方承担，本公司不承担该等责任。本公司不承担责任的情形包括但不限于：
    <br/><br/>(i) 因银行未按照用户和/或本公司指令进行操作引起的任何损失或责任；
    <br/><br/>(ii) 因银行原因导致资金未能及时到账或未能到账引起的任何损失或责任；
    <br/><br/>(iii) 因银行对交易限额或次数等方面的限制而引起的任何损失或责任；
    <br/><br/>(iv) 因其他第三方的行为或原因导致的任何损失或责任。
    <br/><br/>12.3 因不可抗力或服务器死机、网络故障、数据库故障、软件升级等问题造成的服务中断和对用户数据及资料造成的损失，本公司不承担任何责任，亦不予赔偿，但将尽力减少因此给您造成的损失和影响。
    <br/><br/>十三、遵守法律
    <br/><br/>13.1 您使用本公司的服务及因此所进行的交易，应当遵守所有适用的国内及国际法律、法令、条例和法规。
    <br/><br/>13.2 仅仅是您，而非本公司，应负责确认您使用本公司及工场尊享期间的所有活动是合法的。您必须确保您遵守所有适用法律。您还必须确保您遵守本协议及纳入本协议的所有其它条款和规则的所有规定。
    <br/><br/>十四、无代理关系
    <br/><br/>用户和本公司是独立的合同方，本协议无意建立也没有创立任何代理、合伙、合营、雇员与雇主或特许经营关系。本公司也不对任何用户及其网上交易行为做出明示或默许的推荐、承诺或担保。上述性质不因任何事由而改变。
    <br/><br/>十五、通知
    <br/><br/>15.1 除非另行明示载明，任何通知将发往您在注册过程中向本公司提供的电邮地址。或者，本公司认为适当的其他方式。
    <br/><br/>15.2 任何通知应视为于以下时间送达：
    <br/><br/>(i) 如通过电邮发送，则电邮发送后24个小时，但发送方被告知电邮地址无效的，则属例外；
    <br/><br/>(ii) 如以预付邮资的信件发送，则投邮之日后三个营业日；
    <br/><br/>(iii) 如以挂号信发送，则在投邮后第七个营业日；
    <br/><br/>(iv) 如通过传真发送，则传真发出的该个营业日（只要发送人收到载明以上传真号码、发送页数和发送日期的确认报告）。
    <br/><br/>十六、协议的修改、补充和终止
    <br/><br/>16.1 您充分理解，本公司无法与所有的用户就本协议及本协议所纳入或被提及的文件、条款和条件进行逐一的协商。
    <br/><br/>16.2 您无任何附加条件的认可，本协议及本协议所纳入或被提及的文件、条款和条件可以由本公司自行酌情做出，惟本公司应当至少提前于该等修改和补充生效日前7日，在工场尊享公告栏内公布。
    <br/><br/>16.3 若您对于该等修改和补充不予接受的，您应当立即停止使用本公司的服务，而本公司亦有权终止您的用户资格。
    <br/><br/>16.4 本协议自您注销您的用户账户的申请被本公司审核通过之日，或者本公司依据本协议及本协议所纳入或被提及的文件、条款和条件终止您的用户资格之日终止。
    <br/><br/>十七、一般规定
    <br/><br/>17.1 本协议在所有方面均受中华人民共和国法律管辖。
    <br/><br/>17.2 任何争议，如协商不能解决，均应提交本公司注册地有管辖权的法院诉讼解决。
    <br/><br/>17.3 本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。
    <br/><br/>17.4 您同意，在发生并购时，本公司在本协议和所有纳入协议的条款和规则项下的所有或者部分权利和义务，可由本公司自行酌情决定向第三方自动转让。
    <br/><br/>17.5 标题仅为参考之用，在任何方面均不界定、限制、解释或描述该条的范围或限度。
    <br/><br/>17.6 本公司未就您或其他方的违约采取行动并不等于本公司放弃就随后或类似的违约采取行动的权利。
    <br/><br/>17.7 您同意，本协议不得仅由于系本公司制订而以对本公司不利的方式予以解释。
    <br/><br/>17.8 本协议和本协议所含条款和条件载明我们双方之间就本协议标注的全部予以理解和协议。
    <br/><br/>17.9 本协议在您提交的注册为工场尊享用户的申请获得本公司审核通过时生效。
    <br/><br/>17.10 第4.3条、第六条、第九条、第十一条和第十二条在本协议终止后继续有效。
</div>

{% endblock %}
