html, body {
  margin: 0;
  background-color: #ebebee;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

a, input {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
.back-factory{
  float: left;
  padding: 0 16px 0 44px;
  height:56px;
  line-height:56px;
  color:#fff;
  font-size:30px;
  background:url(../images/index-back-left.png) no-repeat 15px center;
  img{
    margin-top:7px;
  }
}
.head-wrap{
  position:relative;
  padding-bottom:103px;
}
.head-items{
  position:fixed;
  left:0;
  top:0px;
  width:100%;
  height:56px;
}
.head-items.head-images-ios{top:40px;}
.head-images {
  height: 410px;
  .dots {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    text-align: center;

    .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: hsla(0,0%,100%,.25);
      border-radius: 50%;
      margin-right: 18px;

      &.active {
        background-color: white;
      }
    }
  }
}
.head-images img{height:410px;}
.search-bar-a{
  float:left;
  height:56px;
  position:relative;
  .search-bar{
    width:380px;
    padding-left:48px;
    height:56px;
    background:#fff;
    border-radius:4px;
    font-size:26px;
    color:#999;
    line-height:56px;
  }
  .search-icon{
    width:48px;
    height:56px;
    position:absolute;
    top:0;
    left:0px;
  }
}
.index-avatar{
  display:block;
  width:38px;
  height:30px;
  position:absolute;
  right:20px;
  top:34px;
}
.index-avatar img{
  width:100%;
}
.head-nav{
  height:227px;
  padding-top:10px;
  background:#fff;
  padding-left:65px;
  border-bottom:1px solid #e1e1e1;
}
.head-nav a{
  display:block;
  float:left;
  width:88px;
  margin-right:75px;
  text-align:center;
  margin-bottom:20px;
  position:relative;
}
.head-nav a img{
  width: 60px;
  height:60px;
}
.head-nav a span{
  font-size:22px;
  color:#333;
  display:block;
  margin-top:12px;
}
.hot-tag{
  display:block;
  background:url(../images/hot.png) no-repeat;
  width:45px;
  height:24px;
  position:absolute;
  top:-8px;
  right:-25px;
}
.new-product-list{
  margin-top:10px;
  padding-top:26px;
  height:426px;
  background:#fff;
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
}
.new-img1{
  width:170px;
  height:170px;
}
.new-img2{
  width:100px;
  height:100px;
}
.new-title, .hot-title{
  text-align:center;
  margin-bottom:23px;
}
.new-title-img, .hot-title-img{
  width:400px;
  height:29px;
}
.new-bg-1{
  display:block;
  width:192px;
  height:306px;
  padding-top:47px;
  background:url(../images/new-bg-1.png) no-repeat;
  text-align:center;
}
.new-bg-2{
  display:block;
  width:223.5px;
  height:122px;
  padding-left:10px;
  padding-top:23px;
  background:url(../images/new-bg-2.png) no-repeat;
  background-size:100% 100%;

}
.new-bg-3{
  display:block;
  width:223.5px;
  height:122px;
  padding-left:10px;
  padding-top:23px;
  background:url(../images/new-bg-3.png) no-repeat;
  background-size:100% 100%;
}
.new-bg-4{
  display:block;
  width:152px;
  height:173px;
  padding-top:25px;
  background:url(../images/new-bg-4.png) no-repeat;
  text-align:center;
}
.new-bg-5{
  display:block;
  width:152px;
  height:173px;
  padding-top:25px;
  background:url(../images/new-bg-5.png) no-repeat;
  text-align:center;
}
.new-bg-6{
  display:block;
  width:152px;
  height:173px;
  padding-top:25px;
  background:url(../images/new-bg-6.png) no-repeat;
  text-align:center;
}
.new-product-wrap{
  padding-left:20px;
  overflow:hidden;
}
.new-left-product{
  width:192px;
  float:left;
}
.new-right-product{
  float:left;
  margin-left:10px;
}
.new-right-top-product{
  overflow:hidden;
  margin-bottom:10px;
}
.new-right-top-product a, .new-right-btm-product a{
  display:block;
  float:left;
  margin-right:10px;
}
.new-bg-1 .new-img1-title{
  display:block;
  font-size:24px;
  color:#ff5e5e;
  margin-top:16px;
}
.new-bg-1 .new-img1-price{
  display:block;
  font-size:20px;
  color:#666;
  margin-top:10px;
}
.new-bg-2 img, .new-bg-3 img{
  width:100px;
  float:left;
}
.new-bg-2 .new-right-top-product-info, .new-bg-3 .new-right-top-product-info{
  float:left;
  margin-left:10px;
}
.new-bg-2 .new-img2-title{
  display:block;
  font-size:24px;
  color:#18acc8;
  margin-top:20px;
  margin-bottom:10px;
}
.new-bg-3 .new-img2-title{
  display:block;
  font-size:24px;
  color:#a15017;
  margin-top:20px;
  margin-bottom:10px;
}
.new-bg-2 .new-img2-price, .new-bg-3 .new-img2-price{
  display:block;
  font-size:20px;
  color:#666;
}
.new-right-top-wrap{
  overflow:hidden;
}
.new-bg-4 .new-img2-title{
  display:block;
  font-size:24px;
  color:#e49140;
  margin-top:12px;
}
.new-bg-5 .new-img2-title{
  display:block;
  font-size:24px;
  color:#ed69a7;
  margin-top:12px;
}
.new-bg-6 .new-img2-title{
  display:block;
  font-size:24px;
  color:#5aa9e2;
  margin-top:12px;
}
.new-bg-4 .new-img2-price, .new-bg-5 .new-img2-price, .new-bg-6 .new-img2-price{
  display:block;
  font-size:20px;
  color:#666;
  margin-top:4px;
}
.hot-product-list{
  margin-top:10px;
  height:602px;
  padding-top:26px;
  background:#fff;
}
.hot-product-item{
  display:block;
  float:left;
  margin-right:8px;
  margin-bottom:8px;
  width:164px;
  height:240px;
  padding-top:20px;
  text-align:center;
}
.hot-product-item-bg-1{
  background:url(../images/hot-bg-1.png) no-repeat;
}
.hot-product-item-bg-2{
  background:url(../images/hot-bg-2.png) no-repeat;
}
.hot-product-item-bg-3{
  background:url(../images/hot-bg-3.png) no-repeat;
}
.hot-product-item-bg-4{
  background:url(../images/hot-bg-4.png) no-repeat;
}
.hot-product-item-bg-5{
  background:url(../images/hot-bg-5.png) no-repeat;
}
.hot-product-item-bg-6{
  background:url(../images/hot-bg-6.png) no-repeat;
}
.hot-product-item-bg-7{
  background:url(../images/hot-bg-7.png) no-repeat;
}
.hot-product-item-bg-8{
  background:url(../images/hot-bg-8.png) no-repeat;
}
.hot-img{
  width:128px;
  height:128px;
}
.hot-product-wrap{
  padding-left:20px;
}
.hot-img-title{
  display:block;
  font-size:24px;
  margin-top:16px;
}
.hot-img-title-color-1{
  color:#869610;
}
.hot-img-title-color-2{
  color:#a15017;
}
.hot-img-title-color-3{
  color:#5e5f61;
}
.hot-img-title-color-4{
  color:#ff5e5e;
}
.hot-img-title-color-5{
  color:#0073bd;
}
.hot-img-title-color-6{
  color:#ff5e5e;
}
.hot-img-title-color-7{
  color:#18acc8;
}
.hot-img-title-color-8{
  color:#0073bd;
}
.hot-img-price{
  display:block;
  font-size:20px;
  color:#666;
  margin-top:10px;
}
.theme-product-item{
  display:block;
  width:179px;
  height:212px;
  padding-top:20px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
  text-align:center;
}
.theme-product-item:nth-child(4){
  border-right:none;
}
.theme-product-item:nth-child(8){
  border-right:none;
}
.theme-1{
  height:585px;
  padding-top:20px;
  margin-top:10px;
  background:#fff;
  border-top:1px solid #e1e1e1;
}
.activity-theme{
  display:block;
  width:680px;
  margin:0 20px;
}
.activity-theme img{
  width:680px;
  height:123px;
}
.theme-product-wrap{
  overflow:hidden;
}
.theme-product-item-name{
  display:block;
  font-size:24px;
  color:#333;
  margin-top:18px;
}
.theme-1-img{
  width:140px;
  height:140px;
}
.theme-2{
  margin-top:10px;
  height:904px;
  padding-top:20px;
  background:#fff;
}
.product-img2{
  width:150px;
  height:150px;
  margin-left:24px;
}
.theme2-product-img{
  width:140px;
  height:140px;
  float:left;
}
.theme2-top-product-list{
  overflow:hidden;
}
.theme2-top-product-item{
  display:block;
  float:left;
  width:219px;
  height:244px;
  padding-left:20px;
  padding-top:30px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
}

.theme2-top-product-title{
  display:block;
  font-size:26px;
}
.theme2-top-product-title-color1{
  color:#e64267;
}
.theme2-top-product-title-color2{
  color:#d54016;
}
.theme2-top-product-title-color3{
  color:#67ad14;
}
.theme2-top-product-price{
  display:block;
  font-size:20px;
  color:#333;
  margin:10px 0 15px;
}
.theme2-btm-product-list{
  font-size:0;
  overflow:hidden;
}
.theme2-btm-product-item{
  display:block;
  width:339px;
  height:155px;
  padding-top:15px;
  padding-left:20px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
}
.theme2-btm-product-wrap{
  overflow:hidden;
}
.theme2-btm-product-info{
  float:left;
  margin-left:10px;
}
.theme2-btm-product-title{
  display:block;
  font-size:24px;
  color:#333;
  margin-top:42px;
  margin-bottom:10px;
}
.theme2-btm-product-price{
  font-size:20px;
  color:#999;
}
.theme-3, .theme-4{
  margin-top:10px;
  padding-top:20px;
  background:#fff;
}
.theme3-top-product-list, .theme3-btm-product-list{
  overflow:hidden;
}
.theme3-top-product-item{
  display:block;
  width:319px;
  height:186px;
  padding-top:23px;
  padding-left:20px;
  padding-right:20px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
}
.theme3-top-product-info{
  float:left;
}
.theme3-product-img{
  width:150px;
  height:150px;
  float:right;
}
.theme3-top-product-title{
  font-size:26px;
  color:#0072c1;
  display:block;
  margin-top:20px;
  margin-bottom:10px;
}
.theme3-top-product-price{
  font-size:20px;
  color:#333;
  display:block;
}
.product-purchase{
  display:block;
  width:107px;
  height:40px;
  line-height:40px;
  padding-left:13px;
  border-radius:20px;
  border-width:1px;
  border-style:solid;
  border-color:#d74718;
  font-size:20px;
  color:#d74718;
  margin-top:10px;
  position:relative;
}
.product-purchase .tri{
  display:block;
  width:0;
  height:0;
  border-width:6px 0 6px 6px;
  border-style:solid;
  border-color:transparent transparent transparent #d54016;
  position:absolute;
  top:14px;
  right:14px;
}
.theme3-btm-product-item{
  width:179px;
  padding-top:12px;
  height:216px;
  float:left;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  text-align:center;
}
.theme3-btm-product-img, .theme4-top-product-img{
  width:150px;
  height:150px;
}
.theme3-btm-product-title{
  font-size:24px;
  color:#333;
  display:block;
  margin-top:10px;
}
.theme4-top-product-list{
  overflow:hidden;
}
.theme4-top-product-item{
  display:block;
  width:164px;
  padding-left:15px;
  padding-top:23px;
  padding-bottom:23px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
}
.theme4-top-product-title{
  display:block;
  font-size:26px;
  color:#ff597e;
}
.theme4-top-product-price{
  display:block;
  font-size:20px;
  color:#333;
  padding-top:10px;
  padding-bottom:10px;
}
.horizon-line{
  display:block;
  width:43px;
  height:2px;
  background:#d54016;
  margin-bottom:10px;
}
.theme4-btm-product-list{
  overflow:hidden;
}
.theme4-btm-left-product-item{
  width:179px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
}
.theme4-btm-product-img{
  width:150px;
  height:150px;
}
.theme4-btm-product-title{
  font-size:26px;
  color:#7e3d2e;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
}
.theme4-btm-product-price{
  font-size:20px;
  color:#333;
  display:block;
  margin-bottom:10px;
}
.theme4-btm-left-product-wrap{
  display:block;
  padding-top:14px;
  padding-left:18px;
  height:342px;
}
.theme4-btm-middle-top-product-wrap{
  overflow:hidden;
}
.theme4-btm-img-wrap{
  width:150px;
  float:left;
  margin-left:15px;
}
.theme4-btm-middle-top-info{
  float:left;
  margin-left:20px;
  margin-top:15px;
}
.theme4-btm-middle-product-wrap{
  float:left;
}
.theme4-btm-middle-product-item{
  display:block;
  width:359px;
  padding-top:14px;
  padding-bottom:14px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
}
.theme4-btm-right-product-wrap{
  float:left;
}
.theme4-btm-right-product-wrap a{
  display:block;
  text-align:center;
  width:179px;
  height:164px;
  padding-top:14px;
  text-align:center;
  border-bottom:1px solid #eee;
  border-right:1px solid #eee;
}
.hot-sales-title{
  margin-top:7px;
  margin-bottom:7px;
  text-align:center;
}
.hot-sales-title img{
  width:586px;
  height:24px;
}
.product-wrap{
  display:block;
  width:254px;
  height:346px;
  padding-top:30px;
  padding-left:45px;
  padding-right:45px;
  margin-right:10px;
  margin-bottom:10px;
  text-align:center;
  background:#fff;
  float:left;
}
.product-wrap img{
  width:224px;
  height:224px;
}
.product-name{
  display:block;
  font-size:24px;
  color:#555;
  margin-top:20px;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow:hidden;
  text-align:left;
}
.product-price{
  display:block;
  font-size:24px;
  color:#fe585a;
  margin-top:5px;
  text-align:left;
}
.product-list{
  margin-left:12px;
  overflow:hidden;
}
.fixed-nav{
  background:url(../images/fixed-nav.png) no-repeat;
  width:720px;
  height:143px;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
}
.fixed-nav a.fixed-nav-link{
  display:block;
  background:url(../images/nav.png) no-repeat;
  position:absolute;
}
.fixed-nav a.fixed-nav-link1{
  width:42px;
  height:70px;
  background-position:0 0;
  top:60px;
  left:51px;
}
.fixed-nav a.fixed-nav-link1.active{
  background-position:0 -70px;
}
.fixed-nav a.fixed-nav-link2{
  width:42px;
  height:70px;
  background-position:-145px 0;
  top:60px;
  left:195px;
}
.fixed-nav a.fixed-nav-link2.active{
  background-position:-145px -70px;
}
.fixed-nav a.fixed-nav-link3{
  width:65px;
  height:70px;
  background-position:-422px 0;
  top:60px;
  left:472px;
}
.fixed-nav a.fixed-nav-link3.active{
  background-position:-422px -70px;
}
.fixed-nav a.fixed-nav-link4{
  width:87px;
  height:70px;
  background-position:-560px 0;
  top:60px;
  left:610px;
}
.fixed-nav a.fixed-nav-link4.active{
  background-position:-560px -70px;
}
.backToIndex{
  display:block;
  width:96px;
  height:96px;
  position:absolute;
  top:31px;
  left:312px;
}
