html, body {
  margin: 0;
  background-color: #ebebee;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

a, input {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
.m-logo{
  width:136px;
  height:41px;
  float:left;
  margin-left:20px;
  margin-right:20px;
  margin-top:10px;
}
.back-factory{
  float: left;
  padding: 0 16px 0 44px;
  height:56px;
  line-height:56px;
  color:#fff;
  font-size:30px;
  background:url(../images/index-back-left.png) no-repeat 15px center;
  img{
    margin-top:7px;
  }
}
.head-wrap{
  position:relative;
  padding-bottom:103px;
}
.head-items{
  position:fixed;
  left:0;
  top:0px;
  width:100%;
  height:56px;
  z-index:10000;
}
.head-items.head-images-ios{top:40px;}
.head-images {
  height: 410px;
  .dots {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    text-align: center;

    .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: hsla(0,0%,100%,.25);
      border-radius: 50%;
      margin-right: 18px;

      &.active {
        background-color: white;
        width: 13px!important;
        height: 13px!important;
      }
    }
  }
}
.head-images img{height:410px;}
.search-bar-a{
  float:left;
  height:56px;
  position:relative;
  .search-bar{
    width:415px;
    padding-left:48px;
    height:56px;
    background:rgba(255,255,255,.9);
    border-radius:28px;
    font-size:26px;
    color:#999;
    line-height:56px;
    border:1px solid #ddd;
  }
  .search-icon{
    width:48px;
    height:56px;
    position:absolute;
    top:0;
    left:0px;
  }
}
.index-avatar{
  display:block;
  width:38px;
  height:30px;
  position:absolute;
  right:20px;
  top:34px;
}
.index-avatar img{
  width:100%;
}
.head-nav{
  height:230px;
  padding-top:10px;
  background:#fff;
  padding-left:65px;
  border-bottom:1px solid #e1e1e1;
}
.head-nav a{
  display:block;
  float:left;
  width:88px;
  margin-right:75px;
  text-align:center;
  margin-bottom:20px;
  position:relative;
}
.head-nav a img{
  width: 60px;
  height:60px;
}
.head-nav a span{
  font-size:22px;
  color:#333;
  display:block;
  margin-top:12px;
}
.hot-tag{
  display:block;
  background:url(../images/hot.png) no-repeat;
  width:45px;
  height:24px;
  position:absolute;
  top:-8px;
  right:-25px;
}

.hot-sales-title{
  margin-top:20px;
  margin-bottom:20px;
  text-align:center;
}
.hot-sales-title img{
  width:586px;
  height:24px;
}
.product-wrap{
  display:block;
  width:254px;
  height:346px;
  padding-top:30px;
  padding-left:45px;
  padding-right:45px;
  margin-right:10px;
  margin-bottom:10px;
  text-align:center;
  background:#fff;
  float:left;
}
.product-wrap img{
  width:224px;
  height:224px;
}
.product-name{
  display:block;
  font-size:24px;
  color:#555;
  margin-top:20px;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow:hidden;
  text-align:left;
}
.product-price{
  display:block;
  font-size:24px;
  color:#fe585a;
  margin-top:5px;
  text-align:left;
}
.product-list{
  margin-left:12px;
  overflow:hidden;
}
.fixed-nav{
  background:url(../images/fixed-nav.png) no-repeat;
  width:720px;
  height:143px;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
}
.fixed-nav a.fixed-nav-link{
  display:block;
  background:url(../images/nav.png) no-repeat;
  position:absolute;
}
.fixed-nav a.fixed-nav-link1{
  width:42px;
  height:70px;
  background-position:0 0;
  top:60px;
  left:51px;
}
.fixed-nav a.fixed-nav-link1.active{
  background-position:0 -70px;
}
.fixed-nav a.fixed-nav-link2{
  width:42px;
  height:70px;
  background-position:-145px 0;
  top:60px;
  left:195px;
}
.fixed-nav a.fixed-nav-link2.active{
  background-position:-145px -70px;
}
.fixed-nav a.fixed-nav-link3{
  width:65px;
  height:70px;
  background-position:-422px 0;
  top:60px;
  left:472px;
}
.fixed-nav a.fixed-nav-link3.active{
  background-position:-422px -70px;
}
.fixed-nav a.fixed-nav-link4{
  width:87px;
  height:70px;
  background-position:-560px 0;
  top:60px;
  left:610px;
}
.fixed-nav a.fixed-nav-link4.active{
  background-position:-560px -70px;
}
.backToIndex{
  display:block;
  width:96px;
  height:96px;
  position:absolute;
  top:31px;
  left:312px;
}
