.new-product-list{
  margin-top:10px;
  padding-top:26px;
  height:426px;
  background:#fff;
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
}
.new-img1{
  width:170px;
  height:170px;
}
.new-img2{
  width:100px;
  height:100px;
}
.new-title, .hot-title{
  text-align:center;
  margin-bottom:23px;
}
.new-title-img, .hot-title-img{
  width:400px;
  height:29px;
}
.new-bg-1{
  display:block;
  width:192px;
  height:306px;
  padding-top:47px;
  background:url(../images/new-bg-1.png) no-repeat;
  text-align:center;
}
.new-bg-2{
  display:block;
  width:223.5px;
  height:122px;
  padding-left:10px;
  padding-top:23px;
  background:url(../images/new-bg-2.png) no-repeat;
  background-size:100% 100%;

}
.new-bg-3{
  display:block;
  width:223.5px;
  height:122px;
  padding-left:10px;
  padding-top:23px;
  background:url(../images/new-bg-3.png) no-repeat;
  background-size:100% 100%;
}
.new-bg-4{
  display:block;
  width:152px;
  height:173px;
  padding-top:25px;
  background:url(../images/new-bg-4.png) no-repeat;
  text-align:center;
}
.new-bg-5{
  display:block;
  width:152px;
  height:173px;
  padding-top:25px;
  background:url(../images/new-bg-5.png) no-repeat;
  text-align:center;
}
.new-bg-6{
  display:block;
  width:152px;
  height:173px;
  padding-top:25px;
  background:url(../images/new-bg-6.png) no-repeat;
  text-align:center;
}
.new-product-wrap{
  padding-left:20px;
  overflow:hidden;
}
.new-left-product{
  width:192px;
  float:left;
}
.new-right-product{
  float:left;
  margin-left:10px;
}
.new-right-top-product{
  overflow:hidden;
  margin-bottom:10px;
}
.new-right-top-product a, .new-right-btm-product a{
  display:block;
  float:left;
  margin-right:10px;
}
.new-bg-1 .new-img1-title{
  display:block;
  font-size:24px;
  color:#ff5e5e;
  margin-top:16px;
}
.new-bg-1 .new-img1-price{
  display:block;
  font-size:20px;
  color:#666;
  margin-top:10px;
}
.new-bg-2 img, .new-bg-3 img{
  width:100px;
  float:left;
}
.new-bg-2 .new-right-top-product-info, .new-bg-3 .new-right-top-product-info{
  float:left;
  width: 120px;
  text-align: center;
}
.new-bg-2 .new-img2-title{
  display:block;
  font-size:24px;
  color:#18acc8;
  line-height:100px;
}
.new-bg-3 .new-img2-title{
  display:block;
  font-size:24px;
  color:#a15017;
  line-height:100px;
}
.new-bg-2 .new-img2-price, .new-bg-3 .new-img2-price{
  display:block;
  font-size:20px;
  color:#666;
}
.new-right-top-wrap{
  overflow:hidden;
}
.new-bg-4 .new-img2-title{
  display:block;
  font-size:24px;
  color:#e49140;
  margin-top:22px;
}
.new-bg-5 .new-img2-title{
  display:block;
  font-size:24px;
  color:#ed69a7;
  margin-top:22px;
}
.new-bg-6 .new-img2-title{
  display:block;
  font-size:24px;
  color:#5aa9e2;
  margin-top:22px;
}
.new-bg-4 .new-img2-price, .new-bg-5 .new-img2-price, .new-bg-6 .new-img2-price{
  display:block;
  font-size:20px;
  color:#666;
  margin-top:4px;
}