html,body {
  background-color: #f0f0f0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.header{
  height:100px;
  line-height:100px;
  background:#fff;
  text-align:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.title{
  font-size:36px;
  color:#333;
}
.arrow-left{
  background:url(../images/arrow-left.jpg) no-repeat;
  width:19px;
  height:34px;
  position:absolute;
  top:34px;
  left:33px;
}
.history-bill{
  font-size:32px;
  color:#6aa4f0;
  position:absolute;
  top:0px;
  right:33px;
  display: block;
}
.transfer-box{
  width:100%;
  margin-bottom:20px;
}
.transfer-title{
  font-size:27px;
  color:#fff;
  text-align:center;
}
.transfer-money{
  font-size:112px;
  color:#fff;
  text-align:center;
}
.transfer-lines{
  overflow:hidden;
}
.return-money, .return-date{
  width:50%;
  float:left;
}
.return-money-title, .return-date-title{
  font-size:24px;
  color:#999;
  display:block;
  text-align:center;
}
.return-money-num, .return-date-day{
  font-size:36px;
  line-height:40px;
  color:#333;
  display:block;
  text-align:center;
  margin-bottom:4px;
}
.loan-info{
  position:relative;
  background:#fff;
  padding:34px 0;
  height:72px;
  overflow:hidden;
}
.vertical-line{
  width:1px;
  height:72px;
  background:#f6f5f5;
  position:absolute;
  top:34px;
  left:50%;
}
.bill-item-wrap{
  position:relative;
  padding-left:34px;
  background:#fff;
}
.bill-item{
  height:158px;
  overflow:hidden;
  display: block;
  border-bottom:1px solid #ebeaea;
}
.bill-detail{
  float:left;
  margin-top:30px;
}
.pay-back-btn-wrap{
  position:absolute;
  right:34px;
  top:44px;
  z-index:10;
}
.bill-detail-wrap{
  overflow:hidden;
}
.bill-money{
  font-size:56px;
  line-height:60px;
  color:#6aa4f0;
  display:inline-block;
  float:left;
}
.bill-status{
  display:inline-block;
  background:url(../images/overdue.jpg) no-repeat;
  width:102px;
  height:46px;
  float:left;
  margin-top:7px;
  margin-left:22px;
}
.bill-deadline{
  font-size:25px;
  color:#999;
}
.pay-back-btn-status1{
  width:148px;
  height:66px;
  line-height:66px;
  border:1px solid #ccc;
  font-size:30px;
  color:#fff;
  background:#ccc;
  border-radius:4px;
  text-align:center;
}
.pay-back-btn-status2{
  width:148px;
  height:66px;
  line-height:66px;
  border:1px solid #6aa4f0;
  background:#fff;
  font-size:30px;
  color:#6aa4f0;
  border-radius:4px;
  text-align:center;
  display: block;
}
.data-box{
  margin-bottom:133px;
  margin-top:100px;
}
.no-data-img{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.loan-headline-money{
  padding-top:85px;
  height:273px;
  background:#42d1f5;
}
