// vars and mixins
@input-field-width: 582 / 40rem;
@input-field-height: 76 / 40rem;
@placeholder-color: rgb(139, 183, 254);
@input-type-icon-width: 64 / 40rem;

// containing block should better be a positioned element
.center-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.right-align-element {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.font-style-default {
  color: rgb(255, 255, 255);
  font-size: 28 / 40rem;
  font-family: "PingFang";
}

.small-icon-pattern {
  position: relative;
  width: 75 / 40rem;
  height: 100%;
  img {
    .center-element;
  }
}

// main style
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // no highlight when tapping
}

html {
  height: 100%;
  min-height: 1000 / 40rem;
}

body {
  height: 100%;
  background: #4a86e8 url("../images/bg.png") no-repeat;
  background-position: 0 -136 / 40rem;
  background-size: 100% auto;
}

.interact-wrap {
  position: relative;
  top: 623 / 40rem;
  width: @input-field-width;
  margin: 0 auto;
}

.input-wrap {
  position: relative;
  width: 100%;
  height: @input-field-height;
  margin-bottom: 28 / 40rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8 / 40rem;
  background-color: rgba(254, 254, 255, 0.08);

  .input-type-icon {
    position: absolute;
    width: @input-type-icon-width;
    height: 100%;

    img {
      width: 0.6rem;
      .center-element;
    }
  }

  input {
    display: block;
    width: @input-field-width - @input-type-icon-width;
    height: 100%;
    border: none;
    outline: none;
    margin-left: @input-type-icon-width;
    padding-left: 0;
    background-color: transparent;
    .font-style-default;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: @placeholder-color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: @placeholder-color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: @placeholder-color;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: @placeholder-color;
    }
  }
}

.phone {
  .clear-btn {
    .small-icon-pattern;
    .right-align-element;

    img {
      width: 1.1rem;
    }
  }
}

.veri-code {
  .input-type-icon {
    img {
      width: 0.65rem;
    }
  }
}

.veri-code-info {
  display: inline-flex;
  .right-align-element;
  padding-right: 24 / 40rem;
  .font-style-default;
  line-height: @input-field-height;
  color: #d6e2ff;

  .clear-btn {
    .small-icon-pattern;

    img {
      width: 1.1rem;
    }
  }
}

.password-opts-wrap {
  display: inline-flex;
  .right-align-element;

  .toggle-password-display, {
    .small-icon-pattern;

    img {
      width: 0.8rem;
    }
  }

  .clear-btn {
    .small-icon-pattern;
    width: 45 / 40rem;

    img {
      width: 1.1rem;
    }
  }
}

.register-button {
  width: 100%;
  height: @input-field-height;
  margin-bottom: 32 / 40rem;
  border: none;
  border-radius: 8 / 40rem;
  background-color: rgb(255, 95, 154);
  .font-style-default;
  text-align: center;
}

.jump-login {
  width: 100%;
  margin: 40 / 40rem auto 28 / 40rem;
  .font-style-default;
  text-align: center;
}
