@colorRed: #fa4f51;
@colorWhite: #fff;
@color5: #555;
@colorEb: #ebebee;
@colorE3: #e3e5ea;
@colorD8: #d8d8d8;
@fontSize32: 32px;
@fontSize28: 28px;
body {
  width: 100%;
  height: 100%;
  background: @colorEb;
}

.policy-box {
  .line {
    width: 100%;
    height: 19px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
  }
  .gap {
    width: 660px;
    margin: 0 30px;
    height: 18px;
    border-top: 1px solid #d8d8d8;

  }
  .policy-link {
    width: 690px;
    height: 90px;
    padding-left: 30px;
    line-height: 90px;
    font-size: 30px;
    background-color: #fff;
  }
  .link-detail {
    display: block;
    width: 100%;
    height: 89px;
    border-bottom: 1px solid #d8d8d8;
    color: #555;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
}

