.bg {
    background: #f0f0f0;
}

.protocol-article {
    padding: 34px;
}

.protocol-article div {
    max-height: 9999999px;
    text-indent: 2em;
    font-size: 30px;
    line-height: 45px;
    text-align: justify;
}

.protocol-article .title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-indent: 0;
}

.protocol-article .weight {
    font-weight: 900;
    margin: 10px 0;
}