html, body {
    margin: 0;
    background-color:#ebebee;
}
img {
    width:100%;
    height:auto;
}
a:active,a:focus{
    outline:0;
}
a{
    text-decoration: none;
    &:active{outline:0;}
    &:focus{outline:0;}
}
ul, ol, li { 
    list-style: none outside none;
    padding:0;
    margin:0;
}    
.header {
    height: 80px;
    text-align: center;
    font-size: 40px;
    
    .btn-back {
        width: 60px;
        height: 60px;
        
    }
}
.index-actList-wrap{
    width:100%;
    margin-top:20px;    
}
.index-actList-box{
    margin-bottom:20px;
    border-top:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
}
.index-actList-h{
    position:relative;
    height:84px;
    line-height:84px;
    background-color:#fff;       
    .index-actList-htext{
        font-size:32px;
        color:#333;
        text-align:center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .index-actList-hmore{
        display: block;
        position:absolute;
        top:0;
        right:21px;
        padding-right:18px;
        height:84px;
        line-height:84px;
        color:#4aa1f9;
        font-size:28px;
    }
}
.index-actList-list{
    padding:0 0 0 20px;
    background-color:#fff;
    li{  
        border-bottom:1px solid #e3e5ea;
        &:last-child{
               border-bottom:none;
        }      
        a{
            display: block;
            position:relative;
            padding:15px 20px 18px 200px;            
            height:185px;
            .list-img{
                position:absolute;
                top:20px;
                left:0px;
                width:180px;
                height:180px;
            }
            .list-label{
                position: absolute;
                left:-10px;
                top:10px;
                height:60px;
                line-height:60px;
                width:60px;
                text-align: center;
                border-radius:30px ;
                color:#fff;
                font-size:30px;
                background-color:#fd4d4c ;
            }
            .list-price-box{
                position: absolute;
                bottom:1px;
                left:220px; 
                
                height:55px;
                line-height:50px;
                *zoom:1;
                &:after {
                    content:'';
                    display:block;
                    height:0;
                    clear:both;
                }
                .list-price{
                    float:left;
                    height:55px;
                    line-height:50px;
                    color:#fd4d4c;
                    font-size:28px;
                    .list-price-num{
                       font-size:38px; 
                    }
                }
                .list-sold{
                    float:right;
                    height:55px;
                    line-height:50px;
                    color:#999;
                    font-size:24px;
                }
                
            }           
        }
    }  
}

.banner-carousel {

  position: relative;

  .wrap {
    & > div {
      height: 150px;
      background: #f2f2f2;
    }
  }

  .points {
    list-style: none;
    position: absolute;
    bottom: 30px;
    width: 80px;
    left: 50%;
    margin-left: -40px;

    div {
      float: left;
      width: 10px;
      height: 10px;
      background: gray;
      border-radius: 50%;
      margin-right: 10px;

      &.on {
        background: black;
      }

    }
  }
}
