html, body {
  margin: 0;
  background-color: #ebebee;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

ul, ol, li {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

.index-actList-wrap {
  width: 100%;
  margin-top: 20px;

  .empty {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
  }
}

.index-actList-box {
  margin-bottom: 20px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.index-actList-h {
  position: relative;
  height: 84px;
  line-height: 84px;
  background-color: #fff;
  .index-actList-htext {
    font-size: 32px;
    color: #333;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .index-actList-hmore {
    display: block;
    position: absolute;
    top: 0;
    right: 21px;
    padding-right: 18px;
    height: 84px;
    line-height: 84px;
    color: #4aa1f9;
    font-size: 28px;
  }
}

.index-actList-list {
  padding: 0 0 0 20px;
  background-color: #fff;

  & > div {
    border-bottom: 1px solid #e3e5ea;
    &:last-child {
      border-bottom: none;
    }
  }

  .list-img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 180px;
    height: 180px;

    img {
      width: 180px;
      height: 180px;
    }
  }

  .list-label {
    position: absolute;
    left: -10px;
    top: 10px;
    height: 60px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    font-size: 30px;
    background-color: #fd4d4c;
  }

  a {
    display: block;
    position: relative;
    padding: 15px 20px 18px 200px;
    height: 185px;

    .list-price-box {
      position: absolute;
      bottom: 1px;
      left: 200px;
      width: 480px;
      height: 55px;
      line-height: 50px;
      display: table;
      .list-price {
        float: left;
        height: 55px;
        line-height: 50px;
        color: #fd4d4c;
        font-size: 28px;
        .list-price-num {
          font-size: 38px;
        }
        .list-price-scorehide {
          display: none;
        }
      }
    }
    .list-sold {
      float: right;
      height: 55px;
      line-height: 50px;
      color: #999;
      font-size: 24px;
    }

  }
  .list-name {
    line-height: 38px;
    max-height: 76px;
    margin-bottom: 14px;
    font-size: 30px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .list-mark {
    color: #6280a8;
    font-size: 20px;
    line-height: 28px;
    display: table;
    width: 100%;

    div {
      float: left;
      padding: 0 10px;
      margin: 0 10px 4px 0;
      border: 2px solid #6280a8;
      border-radius: 4px;
    }
  }
}

.no-banner {
  height: 225px;
  text-align: center;
  font-size: 5vw;
  background: transparent url() no-repeat center center;
}

.banner-carousel {
  position: relative;
  height: 225px;
  overflow: hidden;

  .wrap {
    & > div {
      background: #f2f2f2;
    }
  }

  .points {
    list-style: none;
    position: absolute;
    bottom: 23px;
    width: 720px;
    left: 0;
    text-align: center;

    div {
      display: inline-block;
      width: 18px;
      height: 18px;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 50%;
      margin-right: 18px;
      border: 1px solid #979797;
      &:last-child {
        margin-right: 0;
      }
      &.on {
        background: #fff;
      }

    }
  }
}

.header-nav {
  height: 140px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  display: table;
  text-align: center;

  a {
    float: left;
    color: #555;
    font-size: 26px;
    padding: 95px 0 0;
    div {
      text-align: center;
      line-height: 44px;
    }
  }

  .vip {
    width: 33%;
    background: transparent url() no-repeat center 23px;
  }
  .goods {
    //width: 242px;
    width: 33%;
    background: transparent url() no-repeat center 23px;
  }
  .mine {
    //width: 240px;
    width: 33%;
    background: transparent url() no-repeat center 23px;
  }
}
