body {
  background: white;
  text-align: center;
  color: #333;
}

img {
  display: block;
  width: 100%;
}

a {
  img {
    width: 70%;
    margin: 35px auto 0;
  }
}

.hr {
  height: 1px;
  background: gray;
  margin: 15px;
  opacity: 0.3;
}

.big-text {
  text-align: center;
  font-size: 40px;
  margin: 15px auto 25px;
}

.small-text {
  text-align: center;
  font-size: 18px;
  margin: 15px;
}