{% extends '../../../lib/templates/wap_base.swig.html' %}

{% block title %}新手福利{% endblock %}

{% block content %}

<script>
//    // hack, 如果app内, 页面被强制进行了比例调整, 那就再调整一次页面缩放级别
//    if (window.innerWidth < 600) {
//        var ss = document.getElementsByTagName('meta');
//        var meta;
//        for (var i = 0; i < ss.length; i++) {
//            if (ss[i].getAttribute('name') == 'viewport') meta = ss[i];
//        }
//        if (meta) meta.setAttribute('content', 'initial-scale=0.5');
//        document.getElementsByTagName('body')[0].style.zoom = 0.5
//    }
</script>

<div id="header"></div>
<img src="images/1.png">

<div class="summary">
    金融工场是由香港上市公司——中国信贷科技控股有限公司（Credit China，股票代码：08207.HK）战略控股，由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的，专注于网络借贷信息撮合的互联网金融平台。
</div>

<img src="images/2.png">

<div class="section">
    <div class="tips">新工友注册好福利
        <div class="cover"></div>
    </div>
    <a class="link"
       href="http://mp.weixin.qq.com/s?__biz=MjM5MjQwMjcyNA==&mid=507798032&idx=1&sn=6593ce9f7358486685b84006fa3c2fff&scene=0#wechat_redirect">完整新手秘笈
        &gt; </a>
    <img src="images/3.png">
    <img onClick="register()" src="images/4.png">

    <div class="text">
        <div class="text-title">如何才能正确的投资赚更多的钱呢？</div>

        <div>新手必学 → 首投2千稳赚50元（20元新手返现现金+30元首投返现券奖励）！</div>
        <div>想赚更多 → 首投5千立获200元（20元+30元新手返现现金，再送150元返现券礼包哟~）</div>
        <div>最高挑战 → 首投1.2万新手120返现全到手，再投1.5万首投150返现立即领走，加收益小1千啦！</div>
    </div>
</div>

<div class="section">
    <div class="tips">邀请好友礼上礼
        <div class="cover"></div>
    </div>
    <a class="link"
       href="http://mp.weixin.qq.com/s?__biz=MjM5MjQwMjcyNA==&mid=507798032&idx=1&sn=6593ce9f7358486685b84006fa3c2fff&scene=0#wechat_redirect">完整邀友返利攻略
        &gt;</a>
    <img src="images/5.png">

    <div class="text">
        <div>温馨提示：</div>
        <div>邀请了N名好友首投5000元，邀请人获50*N元返现券，邀越多赚越多，看看你人脉有多广！</div>
        <div>好友达VIP2及以上所赠返现券在好友注册后的第30天10:00（注册当天算第1天），按好友注册30天内最高等级发放。</div>
        <div>相应好友投资返利可去 个人中心>工场码 中查看 。</div>
    </div>
</div>

<div class="section">
    <div class="tips">VIP会员，享专属特权
        <div class="cover"></div>
    </div>
    <img src="images/6.png">

    <div class="text">
        <div>根据会员贡献值不同，工友将荣升为不同的VIP等级，级别越高享有的权益越多哦~~</div>
        <div>贡献值包括投资贡献值和邀友贡献值。</div>
        <div>还不明白，豆哥这里还有更详细的哦，
            <a href="http://m.9888.cn/static/wap/vip-prerogative/index.html
">查看升级攻略 &gt;</a>
        </div>
    </div>
</div>

<div class="section">
    <div class="tips">豆哥商城免费换豪礼
        <div class="cover"></div>
    </div>
    <img src="images/7.png">

    <div class="text">
        <div>去豆哥商城兑换前，别忘了赚工分哦~~</div>
        <div>工分是金融工场给工友的回馈奖励，签到、投资、参加论坛活动都能领取哦~~，在豆哥商城兑换后扣减相应工分。</div>
        <div>更详细的赚工分秘笈在这里，<a href="http://m.9888.cn/mpwap/upgradeStategy/scoreDetail.shtml">点击查看 &gt;</a></div>
    </div>
</div>

<div class="section">
    <div class="tips">投资好伙伴，有他们赚更多
        <div class="cover"></div>
    </div>
    <img src="images/8.png">

    <div class="text">
        <div>返现券和返息券可同时使用哦，千万别忘选啦！</div>
        <div>返息券的额外收益是以工豆形式发放；且投资灵活收益项目，使用返息券后仅发锁定天数内产生的额外收益~</div>
        <div>好伙伴们都有一定的有效期，请尽快使用呢~</div>
    </div>
</div>

<img id="apple-limit" src="images/9.png"/>
{% endblock %}