{% extends '../../../lib/templates/loan_base.swig.html' %}
{% block title %}下载APP{% endblock %}
{% block content %}
 <div id="cnt">
     <div class="download-box">
         <div class="up">
             <div class="logo"><img src="images/logo.png"/></div>
         </div>
         <div class="down">
             <div class="text">上放心花借款，圆财富梦想</div>
             <a id="download-btn"></a>
         </div>
         <div id="mask">
             <img src="images/download-guid.png"/>
         </div>
     </div>
 </div>
{% endblock %}
