{% extends '../../../lib/templates/loan_base.swig.html' %}
{% block title %}下载APP{% endblock %}
{% block content %}
 <div id="cnt">
         <div class="bg">
             <div class="big-title">借钱不求人</div>
             <div class="small-title">关注服务号或下载APP借款更方便</div>
             <div class="qr-img">
                 <img src="images/qr.png"/>
             </div>
         </div>
         <div class="logo"><img src="images/logo.png"/></div>
         <a class="download-btn" id="android-download">Android客户端下载</a>
         <a class="download-btn" id="ios-download">iOS客户端下载</a>
         <div id="mask">
             <img src="images/download-guid.png"/>
         </div>
 </div>
{% endblock %}
