body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,b {
    margin: 0; padding: 0; list-style: none;}
body, html{position:relative;margin:0 auto;background-color:#ebebee;}
body{background-color:#ebebee;color: #555; min-height:100%;height:auto!important; height:100%;}
body,button,input,select,textarea,h1,h2,h3,h4,h5,h6{font-family:"Microsoft YaHei",Arial,Helvetica,simhei,sans-serif;}
input[type="submit"],input[type="text"],input[type="tel"],input[type="number"],input[type="button"],input[type="password"]
{-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-tap-highlight-color:transparent;line-height:normal;}
input,label,button,textarea,select{border:medium none;font-family:"Microsoft YaHei",Arial,Helvetica,simhei,sans-serif;}
input:focus{outline:0;}
a:active,a:focus{outline:0;}
a{text-decoration: none;}
input[type=checkbox],input[type=radio] {
    vertical-align:middle;
}

.clearfix:after {
    content:'';
    display:block;
    height:0;
    clear:both;
}

.clearfix {
    *zoom:1;
}




.masker{z-index:99;position:absolute;left:0;top:0;height:100%;width:100%;background:rgba(0,0,0,0.85);}

.taine{
    width: 596px;
    height: 410px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -300px;
    background: white;
    z-index:100;
    border-radius: 8px;
}

.his{
    height: 82px;
    line-height: 82px;
    color: #333333;
    font-size: 32px;
    text-indent: 31px;
    background: #f9f9f9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #eff0f3;
}

.fact{
    width: 530px;
    margin: 0 auto;
    margin-top: 32px;
}

.acti{
    font-size: 32px;
    color: #555555;
}

.san{
    font-size: 36px;
    color: #fd4d4c;
    margin-left: 10px;
}

.iner{
    font-size: 27px;
    color: #555555;
}

.zeor{
    font-size: 27px;
    color: #fd4d4c;
    margin-left: 10px;
}

.pot-a{
    margin-top: 28px;
}

.pot-b{
    margin-top: 15px;
}

.ton{
    width: 530px;
    height: 74px;
    line-height: 74px;
    margin: 0 auto;
    margin-top: 30px;
}

.xiaoqu{
    width: 248px;
    float: left;
    background: #8296af;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-size: 31px;
}

.ding{
    width: 248px;
    float: right;
    background: #fd4d4c;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-size: 31px;
}




.kunag{
    height: 96px;
    line-height: 96px;

}

.ing{
    padding-left: 39px;
    float: left;
}

.stou{
    z-index: 1;
    height: 114px;
    position: relative;
    margin: 0 auto;
    margin-top: 130px;
    box-sizing: border-box;
    background: #fff;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.zhaoshang{
    float: left;
    margin-left: 41px;
}

.ico-zhaoshang{
     margin-top: 20px;
     width:80px;
     height:80px;
}

.wz{
    float: left;
    margin-left: 26px;
    margin-top: 18px;
}

.zh{
    font-size: 31px;
}

.nz{
    font-size: 27px;
}

.kuaijie{
    float: right;
    margin-right: 41px;
    margin-top: 35px;
}

.txt-a{
    width: 92%;
    margin: 0 auto;
    margin-top: 11px;
}

.nin{
    font-size: 30px;
    color: #999999;
}

.c-4aa1f9 {
    color: #4aa1f9;
}

.kx{
    font-size: 32px;
    margin-top: 57px;
}

.intex{
    height: 96px;
    line-height: 96px;
    background: white;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 21px;
}

.yel{
    padding-left: 40px;
    font-size: 36px;
    color: #cccccc;
    float: left;
}

.atler{
    float: right;
    font-size: 32px;
    color: #4aa1f9;
    margin-right: 40px;
    cursor: pointer;
}

.qing{
    height: 96px;
    border-top: 1px solid #d8d8d8;
    margin-left: 4%;
}

.shyan{
    float: left;
    width: 57%;
    height: 82px;
    line-height: 82px;
    background: white;
    border: none;
    border-radius: 8px; 
}

.mzysq{

}

.odec{
    font-size: 36px;
    color: #cccccc;
    vertical-align: middle;
    width: 100%;
}

.miaoh{
    float: right;
    width: 37%;
    height: 84px;
    line-height: 84px;
    border-radius: 8px;
    text-align: right;
    font-size: 28px;
    margin-right: 30px;
    color: #4aa1f9;

    .zmy {
        display: inline-block;
        height: 84px;

        .text {
            line-height: 38px;
            padding-left: 20px;
            border-left: 1px solid #ccc;
        }
    }
}

.miaoh.c {
  color: #ccc;
}

.xt{
    width: 89%;
    height: 83px;
    margin: 0 auto;
    background: #fd4d4c;
    color: white;
    font-size: 36px;
    line-height: 83px;
    border: 1px solid #f2acad;
    text-align: center;
    border-radius: 8px;
    margin-top: 54px;
}

.hsuo{
    font-size: 30px;
    color: #999999;
    margin-left: 40px;
    margin-top: 27px;
}

.danbi{
    width: 94%;
    margin: 0 auto;
}

.card-d{
    float: left;
    margin-top: 19px;
    margin-left: 25px;
    margin-right: 12px;
}

.online{
    width: 611px;
    line-height: 43px;  
    display: inline-block;
    font-size: 28px;
    color: #999999;
}

.online .c-b {
    color: #4aa1f9;
}

.modify{
    height: 98px;
    margin-top: -2px;
    background: white;
}

.pure{
    height: 99px;
    line-height: 99px;
}

.xuanwu{
    float: left;
    width: 400px;
    font-size: 36px;
    margin-left: 30px;
    color: #555555;
    height: 90px;
    overflow:hidden;

    white-space:nowrap;

    text-overflow:ellipsis;

    text-overflow: ellipsis;/* IE/Safari */

    -ms-text-overflow: ellipsis;

    -o-text-overflow: ellipsis;/* Opera */

    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/

    input {
        height: 60px;
        line-height: 60px;
    }
}

.choice{
    float: right;
    font-size: 32px;
    margin-right: 30px;
}

.wire{
    width: 96%;
    height: 1px;
    border-top: 1px solid #d8d8d8;
    float: right;
}

.pleas{
    color: #4aa1f9;
}

.slip{
    width: 86%;
    margin: 0 auto;
    height: 61px;
    line-height: 61px;
}

.peno{
    float: right;
    color: #4aa1f9;
    font-size: 30px;
    display: block;
    position: relative;
    right: -166px;
}

.songfa{
    font-size: 24px;
    color: #999999;
    height: 54px;
    line-height: 54px;
    margin-top: 14px;
    margin-left: 46px;
}

.moneyTxt{
    font-size: 30px;
    height: 30px;
    color: #000;
    width: 98%;
    display: inline-block;
}

.input-text {
  font-size: 30px;
  height: 30px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {

  color: #ccc;
}

.bank-height {
  height: 100px;
}


.select-bank{
    width: 100%;
    margin: 120px 0 0 0;
    background: #ebebee;
    
    .search{
       width: 90%;
       height: 81px;
       margin: 10px auto 0;
       line-height: 81px;
       border:1px solid #dddddd;
       border-radius: 6px;
       background: white;
       z-index: 10;
    }
    
    img{
        display: inline-block;
        vertical-align: middle;
    }
    
    .suo{
         margin-left: 26px;
    }
    
    .hunt{
        width: 80%;
        display: inline-block;
        vertical-align: middle;
        font-size: 32px;
        color: #cccccc;
        text-indent: 30px;
    }
    
    .list{
        width: 100%;
        margin-top: 40px;
        background: white;
    }
  
    .list li{
        width: 95%;
        height: 98px;
        line-height: 98px;
        border-bottom: 1px solid #e3e5ea;
        margin-left: 4%;
        color: #555555;
        font-size: 32px;

        span {
            display: inline-block;
            width: 88%;
            padding: 28px 0;
        }
    }
    
    .list img{
        float: right;
        margin-top: 36px;
        margin-right: 35px;
    }
    
    .false{
        float: right;
        margin: 19px 10px 0 0;        
    }
    
}

.forget-open-bank-link {
    margin: 20px 0 0;
    height: 50px;

    a {
        float: right;
        color: #4aa1f9;
        font-size: 30px;
        line-height: 50px;
        height: 50px;
    }
}

.pop-open-bank {
  position: fixed;;
  top: 0;
  left:0;
  background: #ebebee;
  width: 100%;
  height: 100%;
  z-index: 1000000;
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100px;

  .info {
      position: fixed;
      width: 100%;
      height: 100px;
      background-color: #fff;

      .back-btn {
          position: absolute;
          left: 0;
          right: 0;
          width: 80px;
          height: 100px;

          img {
              margin: 27px 0 0 14px;
          }
      }

      .title {
          line-height: 100px;
          text-align: center;
          font-size: 40px;
          color: #333;
      }

      .r-text {
          position: absolute;
          top: 0;
          right: 20px;
          min-width: 80px;
          color: #999;
          font-size: 28px;
          line-height: 100px;
          text-align: center;
      }
  }

}

.promptBankNo {
    margin: 310px 0 0 0;
    padding: 0 150px;
    font-size: 26px;
    line-height: 44px;
    text-align: center;
    color: #ccc;

    .number-text {
        color: #4aa1f9;
    }
}

.order-processing, .order-success, .order-fail {
  position: fixed;
  top: 0px;
  bottom: 0;
  width: 100%;

  background: #ebebee;

  img {
    display: block;
    margin: 200px auto 0;
  }

  .text {
    text-align: center;
    font-size: 36px;
    color:#8591b3;
    margin-top:70px;
  }
}
.success-btn{
  width:660px;
  margin:70px auto 0;
  overflow:hidden;
}
.continue-charge{
  display:inline-block;
  width:309px;
  height:83px;
  line-height:83px;
  text-align:center;
  background:#7c9dc7;
  font-size:36px;
  color:#fff;
  border-radius:4px;
  float:left;
}
.continue-invest{
  display:inline-block;
  width:309px;
  height:83px;
  line-height:83px;
  text-align:center;
  background:#fd4b4c;
  font-size:36px;
  color:#fff;
  border-radius:4px;
  float:right;
}
.fail-tip{
  text-align:center;
  font-size:30px;
  color:#a9b1b5;
  margin-top:20px;
}
.fail-continue-charge{
  display:block;
  width:660px;
  margin:70px auto 0;
  height:83px;
  line-height:83px;
  text-align:center;
  background:#fd4b4c;
  font-size:36px;
  color:#fff;
  border-radius:4px;
}


.old-user-prompt-text {
    padding: 10px 35px 30px;
    color: #999;
    line-height: 40px;
    font-size: 28px;


    .c {
        color: #4aa1f9;
    }
}


.select-bank-area {
   
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fff;
}


.cash-method-block {
    margin: 20px 0 0 0;

    .title {
        padding: 0 0 5px 30px;
        line-height: 40px;
        font-size: 28px;
    }

    .info {
        border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
        background-color: #fff;

        .info-list {
            height: 150px;
        
            .info-select-btn {
                float: left;
                width: 98px;

                .select-icon {         
                    float: left;           
                    width: 38px;
                    height: 38px;
                    margin: 44px 0 0 29px;
                    background-color: #fff;
                    border: 1px solid #d8d8d8;
                    border-radius: 50%;
                }

                .select-btn {
                    width: 40px;
                    height: 40px;
                    border: 0;
                    background: #6892cd url(../images/select-icon.png);
                }
            }
            
            .info-text {
                height: 128px;
                margin: 0 0 0 98px;
                padding: 30px 0 0;
                line-height: 30px;                    
                border-bottom: 1px solid #d8d8d8;

                .subhead-text {
                    line-height: 40px;
                    font-size: 28px;
                    color: #555;
                }

                .detail-text {                    
                    font-size: 24px;
                    color: #999;
                }                
            }

            &:last-child .info-text {
                border-bottom: none;
            }
        }

    }
}