html, body {
  margin: 0;
  background-color: #ebebee;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

ul, ol, li {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

.auth-info{
  font-size:24px;
  color:#999;
  margin:20px 0;
  text-align: center;
}

.products-list {
  padding: 207px 0 0;
  .index-actList-list {
    display: none;
  }
  .on {
    display: block;
  }
}

.index-actList-list {
  padding: 0 0 0 20px;
  background-color: #fff;

  .list-img {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 180px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  a {
    display: block;
    position: relative;
    padding: 15px 20px 18px 200px;
    height: 185px;
    border-bottom: 1px solid #e3e5ea;
    &:last-child {
      border-bottom: none;
    }

    .list-label {
      position: absolute;
      left: -10px;
      top: 10px;
      height: 60px;
      line-height: 60px;
      width: 60px;
      text-align: center;
      border-radius: 30px;
      color: #fff;
      font-size: 30px;
      background-color: #fd4d4c;
    }
    .list-price-box {
      position: absolute;
      bottom: 1px;
      left: 200px;
      width: 480px;
      height: 55px;
      line-height: 50px;
      display: table;

      .list-price {
        float: left;
        height: 55px;
        line-height: 50px;
        color: #fd4d4c;
        font-size: 28px;
        .list-price-num {
          font-size: 38px;
        }
        .list-price-scorehide {
          display: none;
        }
      }
      .list-sold {
        float: right;
        height: 55px;
        line-height: 50px;
        color: #999;
        font-size: 24px;
      }

    }
    .list-name {
      line-height: 38px;
      max-height: 76px;
      margin-bottom: 14px;
      font-size: 30px;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .list-mark {
      color: #6280a8;
      font-size: 20px;
      line-height: 28px;
      display: table;
      width: 100%;

      div {
        float: left;
        padding: 0 10px;
        margin: 0 10px 4px 0;
        border: 2px solid #6280a8;
        border-radius: 4px;
      }

    }
  }
}

.act-img-detail {
  display: block;
  width: 100%;
}

.act-explain-box {
  margin: 20px 0;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  .act-explain-head {
    position: relative;
    height: 83px;
    line-height: 83px;
    background-color: #f9f9f9;
    .act-explain-h {
      padding: 0 0 0 34px;
      color: #333;
      font-size: 32px;
    }
    .act-explain-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 90px;
      background: url(images/ico-grap-down.png) no-repeat center;
      height: 83px;
    }
    .on {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }
  .act-explain-cont {
    display: none;
    padding: 23px 30px;
    background-color: #fff;
    font-size: 26px;
    color: #555;
    line-height: 40px;
    border-top: 1px solid #efefef;
  }
  .show {
    display: block;
  }
}
.products-act{
  border-top:1px solid #d8d8d8;
  margin-bottom:20px;
}
