{% extends '../../../lib/templates/wap_base.swig.html' %}
{% block title %}工友会{% endblock %}
{% block content %}
<!--<div class="workerBox">-->
        <!--<div class="banner">-->
            <!--<img src="./images/banner.png" alt=""/>-->
        <!--</div>-->
        <!--<div class="question">-->
            <!--<div class="questionTitle">什么是工友汇？</div>-->
            <!--<div class="questionText">-->
                <!--“工友汇”是金融工场与用户面对面、零距离交流活动。在这里，能认识同城投资伙伴，还可以直面工场管理层；在这里，你的财富愿景与专业指导、透明信息交流汇聚分享。金融工场是香港上市金融公司中国信贷（08207.HK）旗下互联网金融平台。成立四年以来，坚持严格自律，并以最真诚的态度面向所有用户。“工友汇”，将与全国各地的工友们零距离接触，面对面走近您身边！-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="wealth">-->
            <!--<div class="wealthTitle">-->
                <!--<span>自律创造财富</span>-->
                <!--<img src="./images/city.png" alt=""/>-->
            <!--</div>-->
            <!--<div class="wealthContent">-->
                <!--<div class="wealthContentPerson">-->
                    <!--<img src="./images/pic1.png" alt=""/>-->
                    <!--<div class="name">魏薇</div>-->
                    <!--<div class="job">董事长</div>-->
                <!--</div>-->
                <!--<div class="wealthContentPerson">-->
                    <!--<img src="./images/pic2.png" alt=""/>-->
                    <!--<div class="name">崔海晨</div>-->
                    <!--<div class="job">CEO</div>-->
                <!--</div>-->
                <!--<div class="wealthContentPerson">-->
                    <!--<img src="./images/pic3.png" alt=""/>-->
                    <!--<div class="name">邹晓东</div>-->
                    <!--<div class="job">首席风控</div>-->
                <!--</div>-->
                <!--<div class="wealthContentPerson">-->
                    <!--<img src="./images/pic4.png" alt=""/>-->
                    <!--<div class="name">李建光</div>-->
                    <!--<div class="job">副总裁</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="wealthText">-->
                <!--<div>10月29日，工场“工友汇”第一站在北京正式启动。50多位工友齐聚一堂，与金融工场高级管理人员面对面交流探讨。金融工场董事长魏薇、CEO崔海晨、首席风控官邹晓东、副总裁李建光出席活动，并对金融工场上线银行存管、风控体系、监管政策、行业发展以及日常服务，进行交流答疑。</div>-->
                <!--<div> 在会上，魏薇从“金融”、“科技”、“安全”、“服务”四个方面分析了行业未来的发展趋势，并阐述了金融工场未来的发展方向。此后，金融工场CEO崔海晨就金融工场的发展作出总结，“成立四年累计完成158亿的交易额，为近百万用户赚取了超过4亿元的收益”。首席风险官邹晓东则从资产结构、流程与制度、资金交易保障和合规化调整四个方面，详细介绍了金融工场风险控制体系。副总裁李建光对于近期上线的徽商银行资金存管系统做出最后精彩分享。-->
                    <!--期间，四位高管还对诸如公司背景、产品逻辑、安全保障、用户体验和信息安全等用户关心的话题与到场用户进行了面对面的交流。</div>-->
            <!--</div>-->
            <!--<div class="wealthImg">-->
                <!--<img src="./images/img1.png" alt=""/>-->
                <!--<img src="./images/img1.png" alt=""/>-->
                <!--<img src="./images/img1.png" alt=""/>-->
            <!--</div>-->
            <!--<a href="#" class="moreBtn">了解更多现场情况</a>-->
        <!--</div>-->
        <!--<div class="northEast">-->
            <!--<div class="northEastTitle">大连站、哈尔滨站——走进东北</div>-->
            <!--<div class="northTitle">12月8日，“工友汇”第二站走进美丽的海港城市——大连。</div>-->
            <!--<div class="northImg">-->
                <!--<img src="./images/img1.png" alt=""/>-->
                <!--<img src="./images/img1.png" alt=""/>-->
                <!--<img src="./images/img1.png" alt=""/>-->
            <!--</div>-->
            <!--<a href="#" class="moreBtn">了解更多现场情况</a>-->
            <!--<div class="northTitle">12月10日，工友汇”第三站走进童话的冰雪之城——哈尔滨。</div>-->
            <!--<div class="northImg">-->
                <!--<img src="./images/img1.png" alt=""/>-->
                <!--<img src="./images/img1.png" alt=""/>-->
                <!--<img src="./images/img1.png" alt=""/>-->
            <!--</div>-->
            <!--<a href="#" class="moreBtn">了解更多现场情况</a>-->
        <!--</div>-->
        <!--<div class="aboutMe">-->
            <!--<div class="aboutTitle">关于我们</div>-->
            <!--<img src="./images/logo.png" alt=""/>-->
            <!--<div class="aboutText">-->
                <!--金融工场是由香港上市公司——中国信贷科技控股有限公司(Credit China，股票代码：08207.HK)战略控股，由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的，专注于网络借贷信息撮合的互联网金融平台。-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div id="cnt"></div>
{% endblock %}