*{margin: 0; padding: 0;}
.clearfix{zoom:1}
.clearfix:after{content:"";display:block;clear:both}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{font-family:'微软雅黑'; font-weight: normal;list-style: none;}

body,html{
    background: #ebebee;
}


.bank{
    width: 644px;
    height: 318px;
    background: url(../images/bind-a.png) no-repeat;
    margin: 0 auto;
    margin-top: 186px;
}

.name{
    font-size: 34px;
    color: #555555;
    padding-top: 194px;
    text-indent: 40px;
}

.num{
   font-size: 45px;
   color: #555555;
   text-indent: 40px; 
}

.port{
    width: 643px;
    font-size: 28px;
    color: #999999;
    margin: 0 auto;
    margin-top: 17px;
}

.blue{
    color: #4aa1f9;
}

.modify{
    width: 92%;
    height: 406px;
    margin: 0 auto;
    margin-top: 53px;
}

.money{
    height: 82px;
    line-height: 82px;
    border: 1px solid #d8d8d8;
    background: white;
    border-radius: 12px;
    font-size: 32px;
    color: #cccccc;
    text-indent: 19px;
}

.hao{
    margin-top: 20px;
}

.form{
    margin-top: 20px;
}

.srcode{
    float: left;
    width: 64%;
    height: 82px;
    line-height: 82px;
    border: 1px solid #d8d8d8;
    background: white;
    border-radius: 12px;
    font-size: 32px;
    color: #cccccc;
    text-indent: 19px;
}

.gqm{
    float: right;
    width: 32%;
    height: 84px;
    line-height: 84px;
    background: #8296af;
    border-radius: 12px;
    font-size: 32px;
    color: white;
    text-align: center;
}

.credit{
    height: 83px;
    line-height: 83px;
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
    background: #fd4d4c;
    color: white;
    border-radius: 12px;
    margin-top: 31px;
}

.rmd{
    width: 92%;
    height: 280px;
    margin: 0 auto;
}

.remin{
    font-size: 30px;
    color: #999999;
    margin-top: 33px;
    padding-bottom: 22px;
}

.atpr{
    font-size: 28px;
    color: #999999;  
    padding-bottom: 10px;
}

.card-d{
    float: left;
    margin-top: 19px;
    margin-left: 3px;
    margin-right: 12px;
}

.online{
    width: 611px;
    line-height: 43px;
    display: inline-block;
}

.colr{
    color: #4aa1f9;
}






























































