html, body {
  margin: 0;
  background-color: #ebebee;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
#cnt{
  margin-top: -100px;
}
._style_header_fixed{
  transform: translate3d(0px, 0px, 0px);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  z-index: 9;
  text-shadow: white 0px 0px 8px;
  font-size: 36px;
  background: transparent!important;
  border-bottom: none!important;
  transition: 1s all
}

.no_clarity {
  background: rgba(255, 255, 255, 1) !important
}
.clarity{
  background:transparent!important
}
._style_buy_cart{
  position: fixed;
  width: 100px;
  height: 100px;
  right: 0px;
  background-image:url(../images/buy-cart.png );
  background-repeat:no-repeat;
  background-position:center;
  top:0
}
._style_buy_cart_span {
  background: #fd4d4c;
  width:40px;
  display: block;
  position: absolute;
  right: 11px;
  top: 12px;
  border-radius: 40%;
  color: #fff;
  line-height: 31px;
  height: 31px;
  font-size: 21px;
  text-align: center;
}
.auth-info {
  font-size: 24px;
  color: #999;
  margin: 20px 0;
  text-align: center;
}

.act-explain-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 83px;
  background: url(../images/ico-grap-down.png) no-repeat center;
}

.head-images.global-banner-group {
  height: 720px;
  .dots {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: center;

    .dot {
      display: inline-block;
      height: 18px;
      width: 18px;
      margin-left: 18px;
      border-radius: 50%;
      background-color: #ebebeb;
      &.active {
        background-color: #fd4d4c;
      }
    }
  }
}

.on {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.act-explain-head {
  position: relative;
}

.no-head-images {
  height: 400px;
  line-height: 400px;
  font-size: 5vw;
  text-align: center;
  background: transparent url('../images/empty.png') no-repeat center center;
}

.banner-carousel-detail {
  position: relative;
  width: 100%;
  height: 720px;
  border-bottom: 1px solid #d8d8d8;
  img {
    height: 720px;
  }
  .points {
    position: absolute;
    top: 660px;
    left: 0;
    display: table;
    width: 100%;
    text-align: center;
    div {
      display: inline-block;
      height: 18px;
      width: 18px;
      margin-left: 18px;
      border-radius: 50%;
      background-color: #ebebeb;
    }
    &:last-child {
      margin: 0;
    }
    .on {
      background-color: #fd4d4c;
    }
  }
}

.detail-inf {
  margin-top: 20px;
  padding: 25px 30px 21px;
  background-color: #fff;
  border-top: 1px solid #d8d8d8;
  .detail-inf-name {
    font-size: 30px;
    line-height: 40px;
    max-height: 80px;
    overflow: hidden;
    color: #333;
    margin-bottom: 11px;
  }
  .detail-inf-des {
    font-size: 24px;
    line-height: 36px;
    max-height: 72px;
    overflow: hidden;
    color: #6280a8;
    margin-bottom: 7px;
  }
  .detail-inf-price {
    height: 63px;
    line-height: 63px;
    color: #fd4d4c;
    font-size: 28px;
    .price {
      font-size: 46px;
    }
  }
  .detail-inf1 {
    width: 100%;
    display: table;
    div {
      color: #999;
      font-size: 24px;
      height: 41px;
      line-height: 41px;
    }
    .market-price {
      float: left;
      .market-price-num {
        text-decoration: line-through;
      }
    }
    .total {
      float: right;
      .total-num {
        display: inline-block;
        padding-left: 10px;
      }
    }
    .stock-div{
      margin-left: 110px;
      float: left;
    }
  }
}

.detail-mark {
  width: 100%;
  box-sizing: border-box;
  padding: 25px 30px 25px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 20px;
  div {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin: 0 20px 0px 0;
    padding: 0 10px;
    font-size: 24px;
    border-radius: 4px;
    color: #6280a8;
    background-color: #fff;
  }
}
.expl{
    width: 100%;
    box-sizing: border-box;
    padding: 24px 30px 24px;
    background-color: #fff;
    font-size: 24px;
    color: #999;
    line-height: 34px;
    letter-spacing: 1px;
  .expl-info{
    width: 100%;
    display: table;
    .operators {
      float: left;
    }
    .operators-name {
      float: left;
      text-align: right;
      max-width: 500px;
      overflow: hidden;
    }
  }
}

.detail-explain {
  margin-top: 20px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  .detail-explain-h {
    height: 83px;
    line-height: 83px;
    padding: 0 30px;
    font-size: 32px;
    color: #333;
    background-color: #f9f9f9;
  }
  .detail-explain-cont {
    border-top: 1px solid #efefef;
    padding: 23px 30px;
    background-color: #fff;
    line-height: 40px;
    font-size: 26px;
    color: #555;
  }
}

.detail-des {
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  .remin{
  background: #fff;
  padding: 30px 30px 0px;
  font-size: 24px;
  color: #999;
  line-height: 23px;
    hr{
      margin-top: 35px;
      margin-bottom: 0;
    }
  }
  .title {
    height: 83px;
    line-height: 83px;
    padding: 0 30px;
    font-size: 32px;
    color: #333;
    background-color: #f9f9f9;
  }
  .product-content {
    padding: 18px 30px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    font-size: 26px;
    line-height: 40px;
    color: #555;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
  }
  .desc {
    padding: 15px 0;
  }
  img {
    width: 100%;
    display: block;
    float: left;
  }
}

.detail-box {
  padding: 0 0 148px;
}

.detail-foot {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 22px 30px;
  box-shadow: 0 -5px 10px 0 rgba(50, 50, 50, 0.1);

  background-color: #fff;
  .detail-num-change {
    float: left;
    display: table;
    padding: 6px 0 0;
    div {
      float: left;
      height: 58px;
      width: 58px;
      line-height: 58px;
      text-align: center;
      border-bottom: 2px solid #ddd;
      border-top: 2px solid #ddd;
      font-size: 34px;
      color: #a0aab6;
    }
    .plus {
      border-left: 2px solid #ddd;
      border-right: 2px solid #ddd;
      background-image: url(../images/blue-plus.png);
      background-size: 58px;

      &.gray {
        background-image: url(../images/gray-plus.png);
        background-size: 58px;
      }
    }
    .minus {
      border-left: 2px solid #ddd;
      border-right: 2px solid #ddd;
      background-image: url(../images/blue-minus.png);
      background-size: 58px;

      &.gray {
        background-image: url(../images/gray-minus.png);
        background-size: 58px;
      }
    }
    .input-num {
      height: 58px;
      line-height: 58px;
      width: 85px;
      text-align: center;
      input {
        display: block;
        height: 64px;
        line-height: 64px;
        width: 100px;
        border: none;
        background-color: #fff;
        text-align: center;
        color: #333;
        font-size: 32px;
      }
    }
  }
  .stock-box {
    float: left;
    width: 176px;
    height: 74px;
    line-height: 74px;
    font-size: 26px;
    color: #999;
    text-align: center;
    margin-top: 3px;
  }
  .btn-buy {
    float: left;
    width: auto;
    height: 74px;
    line-height: 74px;
    font-size: 32px;
    color: #fff;
    background-color: #fd4d4c;
    border-radius: 4px;
    padding: 0 28px;
    margin-left: 20px;
  }
  .btn-buy-dis {
    background-color: #d4d4d4;
  }
  .btn-buy-card {
    background-color: #7c9dc7;
    margin-left: 30px;
  }
}
.vip-tag{
    display:inline-block;
    padding:0 10px;
    height:32px;
    line-height:32px;
    text-align:center;
    font-size:24px;
    color:#fff;
    background:#ffa811;
    border-radius:4px;
    margin-left:10px;
    vertical-align: top;
    margin-top:14px;
}
.ui-ios-overlay{
    z-index: 99999;
    position: fixed;
    _position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 100px;
    margin-left: -250px;
    margin-top: -100px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    background: rgba(0,0,0,0.7);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 26px;
    letter-spacing: 1px;
}
.ios-overlay-show{
  -webkit-animation-name:ios-overlay-show;
  -webkit-animation-duration:750ms;
  -moz-animation-name:ios-overlay-show;
  -moz-animation-duration:750ms;
  -ms-animation-name:ios-overlay-show;
  -ms-animation-duration:750ms;
  -o-animation-name:ios-overlay-show;
  -o-animation-duration:750ms;
  animation-name:ios-overlay-show;
  animation-duration:750ms;
}

@-webkit-keyframes ios-overlay-show{
  0%{opacity:0;}
  100%{opacity:1;}
}
@-moz-keyframes ios-overlay-show{
  0%{opacity:0;}
  100%{opacity:1;}
}
@-ms-keyframes ios-overlay-show{
  0%{opacity:0;}
  100%{opacity:1;}
}
@-o-keyframes ios-overlay-show{
  0%{opacity:0;}
  100%{opacity:1;}
}
@keyframes ios-overlay-show{
  0%{opacity:0;}
  100%{opacity:1;}
}

.ios-overlay-hide{
  -webkit-animation-name:ios-overlay-hide;
  -webkit-animation-duration:750ms;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-name:ios-overlay-hide;
  -moz-animation-duration:750ms;
  -moz-animation-fill-mode:forwards;
  -ms-animation-name:ios-overlay-hide;
  -ms-animation-duration:750ms;
  -ms-animation-fill-mode:forwards;
  -o-animation-name:ios-overlay-hide;
  -o-animation-duration:750ms;
  -o-animation-fill-mode:forwards;
  animation-name:ios-overlay-hide;
  animation-duration:750ms;
  animation-fill-mode:forwards;
}

@-webkit-keyframes ios-overlay-hide{
  0%{opacity:1;}
  100%{opacity:0;}
}
@-moz-keyframes ios-overlay-hide{
  0%{opacity:1;}
  100%{opacity:0;}
}
@-ms-keyframes ios-overlay-hide{
  0%{opacity:1;}
  100%{opacity:0;}
}
@-o-keyframes ios-overlay-hide{
  0%{opacity:1;}
  100%{opacity:0;}
}
@keyframes ios-overlay-hide{
  0%{opacity:1;}
  100%{opacity:0;}
}
