body {
  font-size: 32px;
  background-color: #ebebee;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

input {
  outline: none;
  border: none;
  box-sizing: border-box;
}

.new-deliver-address {
  margin-top: 25px;
  padding: 0 40px;

  .deliver {
    background: #fff url(../images/ico-person.png) no-repeat 24px center;
  }

  .phone {
    background: #fff url(../images/ico-phone.png) no-repeat 27px center;
  }

  .address {
    background: #fff url(../images/ico-blue-location.png) no-repeat 26px center;
  }

  .input-div {
    margin-bottom: 30px;
    padding: 0 30px 0 79px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    height: 82px;
    line-height: 82px;
    border-radius: 8px;

    input {
      width: 100%;
      height: 80px;
      color: #555;
      font-size: 34px;
    }
  }
  .default {
    height: 42px;
    padding: 0 0 0 56px;
    line-height: 42px;
    color: #999;
    font-size: 32px;
    background: url(../images/ico-noset-default.png) no-repeat 2px 1px;

    &.checked {
      background-image: url(../images/ico-set-default.png);
    }
  }
  .btn {
    padding: 30px 0 0;
    a {
      display: block;
      height: 84px;
      line-height: 84px;
      text-align: center;
      color: #fff;
      font-size: 36px;
      border-radius: 4px;
      background-color: #fd4d4c;
    }
  }
}

.deliver-info{
  font-size:34px;
  margin-bottom:20px;
  color:#999;
}
ul{margin:0;padding:0;}
li{list-style: none;}
.new-deliver-address ul > li .b select{
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background: #fff url(../images/arrow.jpg) no-repeat scroll right center;
}
.clearfix:after{content:" "; display:block; height:0; clear:both; visibility:hidden;}
:focus{outline: none;}
::-moz-focus-inner{ border: 0;}
input[type="button"], input[type="submit"], input[type="reset"] , input[type="disabled"]{-webkit-appearance: none;}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none !important;}
.fl{float: left;}
.fr{float: right;}
.new-deliver-address ul > li{
   width:638px;
   height:82px;
   border:1px solid #d8d8d8;
  -webkit-border-radius:8px;
   border-radius:8px;
   margin-bottom:30px;
   background:#fff;
}
.new-deliver-address ul > li:last-child{
  height:182px;
}
.new-deliver-address ul > li .a {
  width: 24.9%;
  box-sizing: border-box;
  padding-left: 10px;
  line-height: 39px;
}

.new-deliver-address ul > li .b {
  width: 100%;
  height:100%;
  box-sizing: border-box;
  -webkit-border-radius:8px;
  border-radius:8px;
}

.new-select-wp{
  width:100%;
  height:100%;
  font-size:34px;
  -webkit-border-radius:8px;
  border-radius:8px;
}
.new-deliver-address ul > li .b > input,
.new-deliver-address ul > li .b select{
  width: 96%;
  height:100%;
  box-sizing: border-box;
  padding: 20px;
  border: none;
  font-size:34px;
  color:#555;
  -webkit-border-radius:8px;
  border-radius:8px;
}
.new-deliver-address ul > li .b > textarea {
  width: 96%;
  height:182px;
  box-sizing: border-box;
  padding: 20px;
  border: none;
  font-size:34px;
  color:#555;
  -webkit-border-radius:8px;
  border-radius:8px;
}