// vars and mixins
@info-tab--height: 72px;
@input-wrap--height: 100px;
@input-wrap--margin-left: 35px;
@placeholder--color: #999;
@select-option--height: 90px;
@select-option--margin-left: 70px;

.right-align-container {
  position: absolute;
  right: 42px;
  top: 0;
  height: 100%;
}

// main style
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // no highlight when tapping
}

html {
  height: 100%;
  min-height: 1000px;
}

body {
  height: 100%;
  background-color: #f0f0f0;
  font-size: 30px;
}

.info-tab {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  height: @info-tab--height;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #999;
  font-size: 27px;

  .info-tab-item {
    display: inline-block;
    height: 100%;
    line-height: @info-tab--height;
    borderBottom: 3px solid transparent;
    borderTop: 3px solid transparent;
    listStyle: none;
  }
}

.info-display-block {
  width: 100%;
  margin: 21px 0;
  background-color: #fff;

  .user-info-item-wrap {

    .input-wrap {
      display: inline-flex;
      position: relative;
      margin-left: @input-wrap--margin-left;
      width: ~"calc(100% - @{input-wrap--margin-left})";
      height: @input-wrap--height;
      background-color: #fff;
      border-bottom: 1px solid #ebeaea;
      vertical-align: middle;

      &:last-child {
        border: none;
      }

      .info-name {
        display: inline-block;
        height: 100%;
        color: #666;
        line-height: @input-wrap--height;
      }

      .right-align-container {
        display: inline-flex;

        .info-text-input {
          display: inline-block;
          width: 420px;
          height: 100%;
          border: none;
          outline: none;
          padding: 0;
          background-color: transparent;
          color: #333;
          font-size: 32px;
          line-height: @input-wrap--height;
          text-align: right;

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: @placeholder--color;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: @placeholder--color;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: @placeholder--color;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: @placeholder--color;
          }
        }

        .select-label {
          display: inline-block;
          width: 420px;
          height: 100%;
          background-color: transparent;
          font-size: 32px;
          line-height: @input-wrap--height;
          text-align: right;
        }

        .right-arrow-container {
          display: inline-block;
          position: relative;
          width: 36px;
          height: 100%;

          .fake-arrow {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 25px;
            height: 25px;
            margin: auto;
            border-top: 3px solid #ccc;
            border-left: 3px solid #ccc;
            transform: rotate(135deg);
          }
        }
      }
    }

    .select-option-wrap {
      background-color: #f9f9f9;
      overflow-y: hidden;

      .select-option {
        position: relative;
        width: ~"calc(100% - @{select-option--margin-left})";
        height: @select-option--height;
        margin-left: @select-option--margin-left;
        background-color: #f9f9f9;
        border-bottom: 1px solid #e6e6e6;
        color: #888;
        font-size: 30px;
        line-height: @select-option--height;

        &:last-child {
          border: none;
        }

        .selected-icon {
          position: absolute;
          top: 30px;
          right: 40px;
        }

      }
    }
  }
}

.submit-btn {
  width: 582px;
  height: 100px;
  line-height: 100px;
  margin: 60px auto;
  background-color: #649cfe;
  border-radius: 12px;
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.city-select-mask {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;

  .city-select-label {
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    font-size: 32px;
    text-align: center;

    img {
      position: fixed;
      top: 33px;
      right: 30px;
    }
  }
}

.city-select-wrap {
  margin-top: 100px;
}

.city-division {
  height: 40px;
  line-height: 40px;
  padding-left: 24px;
  font-size: 30px;
  background-color: #f9f9f9;
  color: #999;
}

.city-option {
  height: 80px;
  line-height: 80px;
  margin-left: 24px;
  font-size: 30px;
  border-bottom: 1px solid #e6e6e6;
  color: #333;
}

.city-divisions-wrap {
  position: fixed;
  right: 15px;

  li {
    width: 36px;
    height: 36px;
    line-height: 36px;
    list-style: none;
    padding: 0;
    color: #333;
    text-align: center;
  }
}
