html, body {
  margin: 0;
  background-color: #ebebee;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

.fail-text{
    font-size:40px;
    color:#8591b3;
    text-align: center;
    line-height:212px;
}
