{% extends '../../../lib/templates/wap_base.swig.html' %}

{% block title %}人脉总动员{% endblock %}

{% block content %}
<div class="connection-box">
    <div class="top">
        <img src="images/top.png">
    </div>
    <div class="step">
        <div class="step-item">
            <img src="images/step-one.png">
            <div class="step-text">好友填写邀请码<br/><span class="colorRed font28">成功注册</span></div>
        </div>
        <div class="step-item">
            <img src="images/step-two.png">
            <div class="step-text">好友30天内投资<br/><span  class="colorRed font28">满足升级条件</span></div>
        </div>
        <div class="step-item">
            <img src="images/step-three.png">
            <div class="step-text">邀请人立获<br/><span  class="colorRed font28">相应工豆奖励</span></div>
        </div>
    </div>
    <div class="earn-box">
        <img src="images/title-earn.png">
        <img src="images/content-earn.png">
        <div class="case-box">
            <span class="case-title">举个例子：</span>工友A在2017年3月12日邀请了工友B，若工友B在注册后第10天
            (3月21日)等级升为VIP1，则工友A会得到价值50元工豆，若在第15天等级升为VP2，可再获价值150元工豆，共获得
            累计价值200元工豆；若工友B在注册后1天内等级升为VIP4，则工友A会得到价值2400元工豆（价值50元工豆+价值150
            元工豆+价值700元工豆+价值1500元工豆）。
        </div>
    </div>
    <div class="vip-box">
        <img src="images/title-invite.png" class="title-invite">
        <img src="images/title-vip.png" class="vip-pic">
        <div class="vip-text">
            <div class="text-item">
                邀请人获<br/>
                50元工豆
            </div>
            <div class="text-item">
                邀请人获<br/>
                150元工豆
            </div>
            <div class="text-item">
                邀请人获<br/>
                700元工豆
            </div>
            <div class="text-item">
                邀请人获<br/>
                1500元工豆
            </div>
        </div>
    </div>
    <div class="mj-box">
        <div class="mj-text">
            工豆会在好友注册后30天内(含注册当日)，根据<br/>
            好友当时达到的相应等级实时发放相应的工豆。
        </div>
        <img src="images/xj.png" class="mj-pic">
    </div>
    <div class="footer">
        <img src="images/footerbg.png">
    </div>
</div>
{% endblock %}
