html,body {
  background-color: #ebebee;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.product-info{
  margin-top:20px;
  height:198px;
  background:#fff;
  border-top:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
  padding-left:30px;
  padding-top:20px;
  overflow:hidden;
}

.logistics-info{
  margin-left: 20px;
}
.logistics-item{
  font-size:26px;
  color:#555;
  line-height:50px;
}
.logistics-margin-top-space{
  margin-top:15px;
}
.logistics-wrap{
  margin-top:20px;
  margin-bottom:20px;
  background:#fff;
  border-top:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
}
.logistics-li{
  padding:20px 30px 20px 0;
  margin-left:82px;
  border-bottom:1px solid #e3e5ea;
  position:relative;
}
.grey{
  color:#999;
}
.green{
  color:#4db94f;
}
.logistics-title{
  font-size:26px;
  line-height:35px;
  max-height:9999999999px;
}
.logistics-date{
  font-size:20px;
  margin-top:10px;
  max-height:9999999999999px;
}
.logistics-vertical-line{
  height:100%;
  width:1px;
  background:#ddd;
  position:absolute;
  top:0;
  left:-40px;
}
.mark-status{
  display:block;
  width:7px;
  height:7px;
  border-radius:50%;
  background:#ddd;
  position:absolute;
  left:-43px;
  top:28.6%;
}
.first-mark-status{
  display:block;
  width:25px;
  height:25px;
  background:url(../images/highlight.jpg) no-repeat;
  position:absolute;
  left:-52px;
  top:28.6%;
  z-index:1000;
}