body {
	background-color: #ececec;
}

.list {
	margin: 22px 0 0 0;
	padding: 0 0 0 34px;
	background-color: #fff;
	
	.li {
		height: 156px;
		border-bottom: 1px solid #ebeaea;

		&:last-child {
			border-bottom: none;
		}
	}
}
