html {
	height: 100%;
}
body {
	background: #4dac99 url(../images/back.png) no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #95dbcd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #95dbcd;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #95dbcd;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #95dbcd;
}
input{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-appearance: none;
  // -webkit-user-select: none; 不能添加这个属性, 会导致输入框无法输入
  -webkit-text-size-adjust: none;
  -webkit-touch-callout:none;
  background:transparent;
  outline:none;
  border:none;
}

.top {
	margin: 20px 0 50px;
	.title {
		display: block;
		font-size: 36px;
		line-height: 50px;
		color: #fff;
		text-align: center;
	}
}

.logo {
	margin: 0 auto;
	width: 214px;
	height: 214px;
	background-color: #fff;
	border-radius: 50%;
  overflow: hidden;
}


.register-login-cnt {
	padding: 0 30px;

	.from-cnt {
		margin: 92px 0 0 0;
		height: 88px;
		border: 1px solid #83d3c3;

		.from {
			width: 100.5%;
			margin: -12px 0 0 -1px;
			height: 78px;
			background-color: #4dac99;

			.icon {
				float: left;
				width: 40px;
				height: 88px;
				margin: 0 0 0 10px;
				background: url(../images/phone-icon.png) no-repeat center;
				background-size: 24px auto;
			}

			.input {
				padding: 0 50px 0 70px;

				input {
					width: 100%;
					height: 48px;
					padding: 20px 0;
					font-size: 28px;
					line-height: 48px;
					border: none;
					color: #95dbcd;
					background: none;
				}
			}

			.pwd-icon {
				float: right;
				width: 50px;
				height: 88px;
				margin-top: -84px;
				background: url(../images/pwd-icon.png) no-repeat center;
				background-size: 29px auto;
        display:none;
			}
		}
	}
}



.register-login-btn {
	margin: 40px 0 0 0;
	padding: 0 30px;
}

.ui-btn {
	height: 74px;
	line-height: 74px;
	text-align: center;
	color: #50ad9a;
	font-size: 30px;
	background-color: #fff;
	border-radius: 5px;
}
