.market-app {
    background: #ececec;
    padding-bottom: 150px;
}

.banner {
    position: relative;
    height: 200px;
    background-color: #40a4ef;
    color: white;
}

.banner-logo {
    display: block;
    position: absolute;
    width: 136px;
    height: 136px;
    top: 33px;
    left: 33px;
    border-radius: 50%;
}

.banner-name {
    position: absolute;
    left: 200px;
    top: 30px;
    line-height: 42px;
    font-size: 38px;
}

.banner-range {
    position: absolute;
    left: 200px;
    top: 80px;
    line-height: 42px;
    font-size: 26px;
}

.banner-tag-list {
    position: absolute;
    left: 200px;
    top: 130px;
    font-size: 16px;
    height: 30px;
    width: 400px;
    font-style: normal;
}

.describe {
    display: -webkit-box;
    display: box;
    width: 100%;
    height: 136px;
    background: white;
}

.des-item {
    box-flex: 1;
    -webkit-box-flex: 1;
    position: relative;
    float: left;
    text-align: center;
    padding: 24px 0;
    border-right: 1px solid #ececec;
}

.des-item:last-child {
    border-right: 0;
}

.des-v {
    font-size: 26px;
    line-height: 40px;
    color: #333;
}

.des-t {
    font-size: 26px;
    line-height: 40px;
    color: #999;
}

.cnt-item {
    margin-top: 20px;
    background-color: #fff;
}

.cnt-list-title {
    padding: 0 15px;
    height: 76px;
    background-color: #f9f9f9;
    line-height: 76px;
    font-size: 32px;
    color: #333;
}

.cnt-item-detail {
    padding: 20px 30px;
    font-size: 22px;
    line-height: 40px;
    color: #666;
}

.cnt-icon {
    float: left;
    width: 50px;
    height: 76px;
    margin: 0 8px 0 0;
    background-repeat: no-repeat;
    background-position: 50%;
}

.cnt-icon-0 {
    background-image: url('../images/market-app/icon-0.png');
}

.cnt-icon-1 {
    background-image: url('../images/market-app/icon-1.png');
}

.cnt-icon-2 {
    background-image: url('../images/market-app/icon-2.png');
}

.cnt-icon-3 {
    background-image: url('../images/market-app/icon-3.png');
}

.cnt-icon-4 {
    background-image: url('../images/market-app/icon-4.png');
}

.btn-download-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.btn-download-panel a {
    display: block;
    margin: 22px 30px;
    height: 83px;
    color: #fff;
    font-size: 30px;
    line-height: 83px;
    text-align: center;
    background-color: #6aa4f0;
    border-radius: 5px;
}

.weixin-cover {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.weixin-cover img {
    position: absolute;
    top: 120px;
    right: 20px;
}