html, body {
  margin: 0;
}
a, input {
  text-decoration: none;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

.search-page-box{
  width:100%;
  height:114px;
  position:relative;
  border-bottom:1px solid #d8d8d8;
}
.back-arrow{
  display:block;
  background:url(../images/back-arrow.png) no-repeat;
  width:30px;
  height:54px;
  position:absolute;
  left:34px;
  top:38px;
}
.search-page-box input{
  width:465px;
  height:62px;
  border:1px solid #ddd;
  border-radius:10px;
  background:#f3f3f3;
  font-size:28px;
  padding-left:53px;
  position:absolute;
  top:31px;
  left:83px;
}
.search-page-icon{
  display:block;
  background:url(../images/search-icon.png) no-repeat;
  width:36px;
  height:35px;
  position:absolute;
  top:46px;
  left:94px;
}
.search-cancel{
  font-size:32px;
  color:#4aa1f9;
  height:64px;
  line-height:64px;
  position:absolute;
  top:31px;
  left:629px;
}
.search-history{
  box-sizing: border-box;
  border:1px solid #e3e5ea;
  padding-left:30px;
}
.search-history-input{
  width:690px;
  height:88px;
  line-height:88px;
  font-size:28px;
  border:none;
  border-bottom:1px solid #e3e5ea;
}
.history-item{
  width:690px;
  height:88px;
  line-height:88px;
  font-size:28px;
  border-bottom:1px solid #e3e5ea;
}
.clear-history{
  font-size:28px;
  color:#4aa1f9;
  line-height:88px;
  text-align:center;
  margin-left:-15px;
}