html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.transfer-box{
  width:100%;
  height:325px;
  padding-top:102px;
  background:#50ad9a;
}
.transfer-title{
  font-size:25px;
  color:#fff;
  text-align:center;
}
.transfer-money{
  font-size:102px;
  color:#fff;
  text-align:center;
}
.transfer-lines{
  overflow:hidden;
  margin-top:35px;
}
.return-money, .return-date{
  width:50%;
  float:left;
}
.return-money-title, .return-date-title{
  font-size:24px;
  color:#fff;
  display:block;
  text-align:center;
  margin-bottom:15px;
}
.return-money-num, .return-date-day{
  font-size:40px;
  color:#fff;
  display:block;
  text-align:center;
}
.loan-info{
  position:relative;
}
.vertical-line{
  width:1px;
  height:77px;
  background:#8ec5ba;
  position:absolute;
  top:3px;
  left:50%;
}

