html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.transfer-box{
  width:100%;
  height:325px;
  padding-top:102px;
  background:#50ad9a;
}
.transfer-title{
  font-size:25px;
  color:#fff;
  text-align:center;
}
.transfer-money{
  font-size:102px;
  color:#fff;
  text-align:center;
}
.transfer-lines{
  overflow:hidden;
  margin-top:35px;
}
.return-money, .return-date{
  width:50%;
  float:left;
}
.return-money-title, .return-date-title{
  font-size:24px;
  color:#fff;
  display:block;
  text-align:center;
  margin-bottom:15px;
}
.return-money-num, .return-date-day{
  font-size:40px;
  color:#fff;
  display:block;
  text-align:center;
}
.loan-info{
  position:relative;
}
.vertical-line{
  width:1px;
  height:77px;
  background:#8ec5ba;
  position:absolute;
  top:3px;
  left:50%;
}
.transfer-tip{
  height:70px;
  line-height:70px;
  font-size:27px;
  color:#999;
  padding-left:32px;
}
.transfer-tip a{
  color:#50ad9a;
}
.loan-fee{
  height:100px;
  line-height:100px;
  background:#fff;
  padding-left:32px;
  font-size:32px;
  color:#666;
  position:relative;
}
.loan-right-arrow{
  display:block;
  width:18px;
  height:34px;
  background:url(../images/right-arrow.jpg) no-repeat;
  position:absolute;
  top:32px;
  right:32px;
}
.agreement-issue{
  overflow:hidden;
  width:654px;
  margin:20px auto 0;
}
.check-box{
  display:block;
  background:url(../images/checked.png) no-repeat;
  width:36px;
  height:36px;
  float:left;
  margin-top:5px;
}
.check-item{
  width:606px;
  float:right;
  font-size:27px;
  line-height:46px;
  color:#999;
}
.check-item a{
  color:#50ad9a;
}
.confirm-btn{
  width:654px;
  height:84px;
  line-height:84px;
  background:#50ad9a;
  text-align:center;
  font-size:34px;
  color:#fff;
  border-radius:8px;
  margin:37px auto 0;
}

