.circle {
  float: left;
  box-sizing: border-box;
  position: relative;
  top: calc(50% - 17px);
  display: block;
  margin: 0 5px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.disabled {
  composes: circle;

  border: 1px solid #d8d8d8;
  background-color: #ebebee;
}

.checked {
  composes: circle;

  background: #4aa1f9 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAMAAAAlM38UAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAtFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AAADolZgzAAAAOnRSTlMAaNfALoPSh+uMfBmarj8BkYa9+VGVgfP6VXue/FkDdwe1XqP+cgawZadtrASo/WSkX59bAo777VMItZo79QAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAACXSURBVBjTbdDXFoIwDAbgoOLEvRGDAwH3Xnn/B7OJwEFqbvr3Oz1NUwCtjFy+oKtJREVNS0qpnNUKK1WhZtUbCTZbom2ADlG3F2tfdKDiUK2j8VctUZvzhJMzVQklkitHZnPxBeCSg7eKLvQD8XAtukna+1uKyzNSb93tIz0cf2bAk6hzzsyGF9ar9hO3++P5gj/1xvTuA9dPGmyzEQ/BAAAAAElFTkSuQmCC') no-repeat center;
}

.unchecked {
  composes: circle;

  border: 1px solid #d8d8d8;
  background-color: #fff;
}
