html,body {
  background-color: #f0f0f0;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.data-list{
    width:100%;
    height:auto;
    background:#fff;
}
.list-item{
    margin-left:32px;
    padding:24px 26px 24px 0;
    border-bottom:1px solid #f0f0f0;
    &:last-child{
        border-bottom:none;
    }
}
.red-status{
    margin-bottom:24px;
    overflow: hidden;
    .status-text{
        color:#000;
        font-size:32px;
        float:left;
    }
    .status-num{
        float:right;
        font-size: 30px;
    }
}
.sub-red-status{
    overflow: hidden;
        color:#999;
    
    .sub-status-text{
        font-size:24px;
        float:left;
    }
    .status-time{
        float:right;
        font-size: 20px;
    }
}
.data-completion{
  font-size:25px;
  color:#999;
  text-align:center;
  line-height:80px;
}
.refresh{
    width: 440px;
    margin: 0 auto;
    overflow: hidden;
}
.logo-container{
    float: left;
    margin-right: 10px;
}
.right-text{
    margin-top: 14px;
    color:#aaa;    
}
.refresh-text{
    font-size: 32px;
}
.refresh-time{
    font-size: 24px;
}
