html, body {
  height: 100%;
}

#cnt {
  background-color: #fff;
  height: 100%;
  #download-btn {
    display: block;
    width:648px;
    height:82px;
    line-height:82px;
    text-align: center;
    font-size:34px;
    color:#fff;
    border-radius:8px ;
    margin:30px auto;
    background-color:#6ba3f0;
  }
  .text {
    text-align: center;
    font-size:36px;
    line-height:46px;
    color:#6ba3f0;
  }
  #mask {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    img {
      display: block;
    }
  }
}
.bg{
  width:720px;
  height:777px;
  background:url(../images/bg.jpg) no-repeat;
  margin-bottom:85px;
}
