html,body {
  background-color: #fff;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.download-bg{
  width:720px;
  height:777px;
  background:url(../images/download_bg.jpg) no-repeat;
}
.promote-slogan{
  font-size:34px;
  color:#65cae4;
  margin-top:115px;
  text-align:center;
}
#download-btn{
  display:block;
  width:648px;
  height:83px;
  background:#65cae4;
  font-size:34px;
  color:#fff;
  line-height:83px;
  text-align:center;
  border-radius:7px;
  margin:40px auto 0;
}
#mask{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,.7);
  display:none;
}
#mask img{
  position:absolute;
  top:50px;
  right:50px;
}
