body {
    background: #218a75;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #32d1a7;
}

input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    background: transparent;
    outline: none;
    border: none;
}

.content {
    background: url(../images/banner.jpg) no-repeat;
    width: 100%;
    padding-top: 790px;
    height: 342px;
}

.input {
    color: #045d4c;
}

.from {
    .li {
        .input {
            margin: 0 60px 30px;
            height: 72px;
            border: 1px solid #54d1bb;
            border-radius: 5px;
            .i {
                padding: 0 30px 0 50px;
                input {
                    width: 100%;
                    height: 30px;
                    padding: 0;
                    margin: 21px 0 21px 0;
                    font-size: 30px;
                    line-height: 30px;
                    border: none;
                    background: none;
                }
            }
        }
    }
    .phone-li {
        .input {
            color: #045d4c;
            background: url(../images/phone-icon.png) no-repeat 12px center;
        }
    }
    .verification-code-li {
        .input {
            .i {
                padding-right: 190px;
            }
            background: url(../images/code-icon.png) no-repeat 12px center;
        }
        .btn {
            float: right;
            height: 72px;
            padding: 0 20px 0 0;
            line-height: 72px;
            font-size: 30px;
            margin: -72px 0 0 0;
            .text {
                color: #62dfff;
            }
            .countdown-text {
                color: #999;
            }
        }
    }
    .apply-btn {
        margin: 20px 60px;
        height: 74px;
        line-height: 74px;
        font-size: 30px;
        color: #fff;
        text-align: center;
        background-color: #f26052;
        border-radius: 5px;
    }
}

.apply-btn-forbid {
    margin: 20px 60px;
    height: 74px;
    line-height: 74px;
    font-size: 30px;
    color: #0d5c4c;
    text-align: center;
    background-color: #1e8570;
    border-radius: 5px;
}
