.bg {
    background: #f0f0f0;
    height: 100%;
}

.banner {
    display: block;
    width: 100%;
    height: 625px;
    padding-top: 55px;
    background: url(../images/about-us/about-us-bg.jpg) no-repeat;
}

.banner img {
    display: block;
    width: 202px;
    height: 203px;
    margin: 0 auto 40px;
}

.banner-intro {
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    text-indent: 2em;
    padding: 0 30px;
}

.wexin-panel {
    height: 90px;
    line-height: 90px;
    background-color: #fff;
    font-size: 28px;
    padding: 0 30px;
}

.pull-right {
    float: right;
}

.icon-wexin {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: 10px;
    width: 45px;
    height: 45px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAjCAMAAADVEmihAAAAgVBMVEUAAABqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPBqpPA37PM9AAAAK3RSTlMA/vD59/OdFAqEBbKSpq2Xh1LTzS/n4NjDD7+LgRu2X0lBKdy5jSS7N3Nljun5wgAAAeVJREFUOMt9VFeiozAMzKjQe2jpPdnd+x9wMYT3aMl8YCzG8ngkvBogP+2scPf37Ky+42kRKRowceV+IdpHBZNU9TYrQBAOPjFdgAo3f88uFouU9iLTIinSUSQWsLvIpHCmKGOacxOieL7e2zJPNTjg0HyK5GZ3Cdfycpr4Dbfp9kxeM0QMVG2gANgyS0STMRVdIAMg7S4M4N4lKUfMlOC1finehwsJ3YmuSvmQGmDdvRzc3q+zcTgNSyWhdfDL3sJaOL4FAhORgqm6vKNr7GbMXFmwddPL+V9QEujufMoaEMvjZ3b1iQu71zrGjvToTDvE7hyYdKNqOK2ydvl4YnSGunluwqPdsmrLa9xRMqSYxRn5LIdmuHNXEIB9QxIy1VG+D6gv1GaoAG2WXAnIzCZMxrI9DcWJnlZtkOO2uCjtztN2GgyObAv9Wex+1L2R2Tt0EL0uUXe9p4lwU/qnUW5ELcCH373UiB5CKpkfgZMlKknTbF0qaUAKg3KBuTcWGpwUjNjOT48oCpX2804rEPVVR+z9qGLZzJQy+ljqDX7LArcJN1Javpo2gIw01Eqf7qUNMVX790a5nRI9Vp/g+ARCdbT8TEisxQIOWh8EA1VlQrD6Bu+cRFs/OD0TlqHV3xfFeJnxP9FVFjwtzZqPAAAAAElFTkSuQmCC') no-repeat center;
}