.bg {
    background: #f0f0f0;
    height: 100%;
}
.info-title{
    font-size:28px;
    color:#333;
    line-height:70px;
    background:#f9f9f9;
    padding:0 34px 0 80px;
    position:relative;
}
.info-title img{
    position:absolute;
    left:34px;
    top:18px;
}
.info-content{
    padding:30px 34px;
    background:#fff;
}
.info-content div{
    font-size:24px;
    color:#666;
    line-height:40px;
}
.info-panel{
    margin-bottom:20px;
}