.bank-item {
    display: block;
    margin-top: 24px;
    font-size: 22.5px;
}

.bank-item:last-child {
    margin-bottom: 48px;
}

.bank-logo-container {
    position: relative;
    height: 99px;
    padding-left: 36px;
    background-color: #fff;
}

.bank-logo-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.bank-open-area {
    padding: 10px 35px;
    background-color: #fafafa;
    color: #999;
    line-height: 1.55;
}