.bg {
    min-height: 100%;
    background: #f0f0f0;
}

.faq-panel {
    display: table;
    width: 100%;
    margin-top: 20px;
}

.item {
    position: relative;
    border-bottom: 1px solid #ebeaea;
    font-size: 28px;
}

.item .q {
    background: white;
    padding: 20px 30px;
}

.item .a {
    padding: 15px 30px;
    text-indent: 2em;
    color: #555;
    font-size: 24px;
    background: #fafafa;
}

.icon-a {
    display: inline-block;
    float: right;
    position: relative;
    top:-55px;
    right:30px;
    width: 40px;
    height: 40px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAmCAMAAADkx9tQAAAAb1BMVEUAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMyM8SaVAAAAJHRSTlMABvneiH5VOxoK9fPkqiEUD+/q2tTQysW/ubOQdm9mYEtFlypRxEQuAAAAiUlEQVQ4y83TWRaCMAyF4QrUCYeCiso83P2vkWygP6/k9Ts9bZobt4vyeUZcSg1wIwnOH+7mnl0teG3egf/N+7hffuYD+Nf8GPdQSQn482M+gr+l6xT388v8BJ5KOfjjJqUbjFosfDU/nNpOom0H/LRQwUhoYDxuDgtHbTuoM8e8xCVxvsjcrmoF02EPOLPSv1kAAAAASUVORK5CYII=') no-repeat center;
}

.icon-a-d {
    transform: rotate(-90deg);
}

.icon-a-u {
    transform: rotate(90deg);
}