html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'San Francisco', 'PingFang SC', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    outline: 0;
}