.bg {
    height: 100%;
    background-color: #ebebeb;
}

.img {
    display: block;
    margin: 0px auto;
    padding-top: 180px;
    padding-bottom: 30px;
    max-width: 70%;
}

.txt {
    text-align: center;
    font-size: 36px;
    color: rgb(133, 145, 179);
}