body {
  background-color: #ebebee;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.header{
  width:720px;
  height:104px;
  background:#ff3a38;
  text-align:center;
  position:relative;
}
.user-back-arrow{
  display:block;
  background:url(../images/left-arrow.png) no-repeat;
  width:18px;
  height:33px;
  position:absolute;
  top:40px;
  left:30px;
}
.user-title{
  font-size:40px;
  color:#fff;
  line-height:104px;
}
.notification{
  display:block;
  background:url(../images/clock.png) no-repeat;
  width:40px;
  height:43px;
  position:absolute;
  top:37px;
  right:32px;
}
.news-tip{
  display:block;
  width:10px;
  height:10px;
  background:#fff048;
  border-radius:50%;
  position:absolute;
  top:31px;
  right:27px;
}
.user-info{
  background:url(../images/banner.jpg) no-repeat;
  width:720px;
  height:276px;
}

.profile-img{
  width:116px;
  height:116px;
}