{% extends '../../../lib/templates/main_base.swig.html' %}

{% block title %}首页{% endblock %}

{% block content %}
<div class="header">
    <div class="header-panel">
        <img class="logo" src="images/ico-logo.png"/>

        <a href="/mpwap/orderuser/toLogin.shtml" class="login">登录</a>
        <div class="ver-line"></div>
        <a href="/mpwap/orderuser/toRegister.shtml?source=0" class="register">注册</a>
        <div class="ver-line"></div>
        <a href="/static/wap/app-download/index.html" class="download-app">下载APP</a>

    </div>
</div>

<div id="cnt"></div>

<div class="app-download-bar">
    <a href="/static/wap/app-download/index.html">
        <img src="images/ico-loadapp.png">
    </a>
    <a class="back2top"></a>
</div>
{% endblock %}